{% extends "base.html" %}
{% load static %}
{% load markdownify %}
{% load linkify %}
{% load crispy_forms_tags %}
{% load url_filters %}
{% block title %}{{ object.title }}{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class='col-12 col-md-8'>
                <h2>{{ object.title }}</h2>
                <div class="mb-3">{{ object.notes | markdownify }}</div>
                
                <div class='mt-3'>
                    {% for content_in_collection in object.contents.all %}                  
                        <div class="bg-light p-3 mb-3">
                            <span class="sticky-note">{{ content_in_collection.order }}</span>
                            <div class="bg-white p-3 d-flex">
                                <div class="mb-3 mb-md-0 flex-shrink-0 checkin-cover">
                                    {% if user.pure_text_mode %}
                                        <div class="cover-placeholder bg-light">{{ object.title }}</div>
                                    {% else %}
                                        {% if content_in_collection.content_object.poster %}
                                            {% if content_in_collection.content_object.poster_sens %}
                                                <img src="{{ content_in_collection.content_object.poster.url }}"
                                                    alt="{{ content_in_collection.content_object.title }} poster"
                                                    class="blur img-fluid cover-border"
                                                    onclick="this.classList.toggle('blur')">
                                            {% else %}
                                                <img src="{{ content_in_collection.content_object.poster.url }}"
                                                    alt="{{ content_in_collection.content_object.title }} poster"
                                                    class="img-fluid cover-border"
                                                    onerror="this.onerror=null; this.parentNode.innerHTML='<div class=\'cover-placeholder\'>{{ content_in_collection.content_object.title }}</div>';">
                                            {% endif %}
                                        {% else %}
                                            <div class="cover-placeholder bg-light">{{ content_in_collection.content_object.title }}</div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                
                                <div class="flex-grow-1 ms-3">
                                    {% if content_in_collection.content_type.model == 'movie' %}
                                        <a href="{% url 'watch:movie_detail' content_in_collection.content_object.pk %}"
                                           class="text-decoration-none hover-username">
                                            <h5>{{ content_in_collection.content_object.title }}</h5>
                                        </a>
                                    {% elif content_in_collection.content_type.model == 'series' %}
                                        <a href="{% url 'watch:series_detail' content_in_collection.content_object.pk %}"
                                           class="text-decoration-none hover-username">
                                            <h5>{{ content_in_collection.content_object.title }}</h5>
                                        </a>
                                    {% endif %}
                                    <div>
                                        {% if content_in_collection.content_object.release_date %}
                                            <div>Release Date: {{ content_in_collection.content_object.release_date }}</div>
                                        {% endif %}
                                        {% if content_in_collection.content_object.region_release_dates.all %}
                                            <div>
                                                <span class="text-muted">Release Date:</span>
                                                {% for region_release_date in content_in_collection.content_object.region_release_dates.all %}                                           
                                                    {{ region_release_date.release_date }} ({{ region_release_date.region }})
                                                    {% if not forloop.last %}/{% endif %}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="bg-light p-3 mb-3">
                            <div class="bg-white p-3">
                                <div class="flex-grow-1">
                                    <p>No contents in this collection yet.</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
            <div class="col-12 col-md-4">
                {% if user.is_authenticated and not object.locked %}
                    <div class="bg-light p-3">
                        <a href="{% url 'watch:collection_update' object.id %}"
                           class='fs-6 text-secondary'>Edit Collection</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <style>
    .sticky-note {
        position: relative;
        top: -1em;
        display: inline-block;
        padding: 0 10px;
        background: #e3e3e3;
        color: #a1a1a1;
        line-height: 18px;
        border-radius: 0 0 4px 4px;
      }
    </style>
{% endblock %}
