{% load crispy_forms_tags %}
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">{{ form.title|as_crispy_field }}</div>
        <div class="col-md-12">{{ form.description|as_crispy_field }}</div>
    </div>
    <h2>Contents in Collection</h2>
    {{ contents.management_form }}
    <div id="contentInCollectionDiv">
        {% for form in contents %}
            {{ form.id }}
            <div class="row{% if forloop.last %} empty-form{% endif %}"
                 {% if forloop.last %}style="display: none;"{% endif %}>
                <div class="col-md-8">{{ form.content_url|as_crispy_field }}</div>
                <div class="col-md-4">{{ form.order|as_crispy_field }}</div>
            </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button id="addMoreContents" type="button" class="btn btn-outline-secondary">Add More Contents</button>
    </div>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let formsetNumContents = {{ contents|length }};
        let emptyFormContents = document.querySelector('#contentInCollectionDiv .empty-form').cloneNode(true);
    
        function updateNewFormIndices(newForm, index) {
            newForm.querySelectorAll('input, select, textarea, label').forEach(element => {
                if (element.name) {
                    element.name = element.name.replace(/contentincollection_set-\d+-/, `contentincollection_set-${index}-`);
                }
                if (element.id) {
                    element.id = element.id.replace(/contentincollection_set-\d+-/, `contentincollection_set-${index}-`);
                }
                if (element.htmlFor) {
                    element.htmlFor = element.htmlFor.replace(/contentincollection_set-\d+-/, `contentincollection_set-${index}-`);
                }
            });
        }
    
        document.querySelector('#addMoreContents').addEventListener('click', function(e) {
            e.preventDefault();
    
            let newForm = emptyFormContents.cloneNode(true);
            newForm.classList.remove('empty-form');
            newForm.style.display = '';
    
            document.querySelector('#contentInCollectionDiv').appendChild(newForm);
    
            formsetNumContents++;
            document.querySelector('#id_contentincollection_set-TOTAL_FORMS').value = formsetNumContents;
            
            // Update the indices of the newly appended form only
            updateNewFormIndices(newForm, formsetNumContents-1);
        });
    
        // Append a new empty form on page load
        document.querySelector('#addMoreContents').click();
    });
    
</script>

