{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load markdownify %}
{% load linkify %}
{% load parse_activity_type %}
{% block title %}{{ object.title }} - {{ object.series.title }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <!--Left columns-->
            <div class="col-12 col-md-8">
                <!-- movie-card -->
                <div class="movie-card justify-content-start">
                    <!--movie-meta-->
                    <div class="col-12">
                        <div class="card-body">
                            <div>
                                <h3>{{ object.title }}</h3>
                                <div class="mb-3">
                                    <a href="{% url "watch:series_detail" episode.series.id %}">{{ episode.series.title }}</a>
                                    S{{ episode.season|stringformat:"02d" }}E{{ episode.episode|stringformat:"02d" }}
                                </div>
                            </div>
                            {% if object.other_titles %}<p class='text-muted'>{{ object.other_titles }}</p>{% endif %}
                            <div class="movie-meta">
                                {% if object.release_date %}
                                    <div>
                                        <span class="text-muted">Release Date:</span>
                                        {{ object.release_date }}
                                    </div>
                                {% endif %}
                                {% if object.length %}
                                    <div>
                                        <span class="text-muted">Length:</span>{{ object.length }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="fs-3">Episode Metadata</div>
                            <div class="mt-3">
                                <div class="fs-4">Crew</div>
                                <ul>
                                    {% for role, roles_list in episoderoles.items %}
                                        <li>
                                            <span class="text-muted">{{ role.name }}:</span>
                                            {% for episoderole in roles_list %}
                                                <a href="{% url 'entity:creator_detail' episoderole.creator.id %}">{{ episoderole.creator.name }}</a>
                                                {% if not forloop.last %}/{% endif %}
                                            {% endfor %}
                                        </li>
                                    {% empty %}
                                        <li>No crew for this episode yet.</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="mt-3">
                                <div class="fs-4">Cast</div>
                                <ul>
                                    {% for episodecast in episodecasts %}
                                        <li>
                                            <a href="{% url 'entity:creator_detail' episodecast.creator.id %}">{{ episodecast.creator.name }}</a>
                                            as
                                            {{ episodecast.character_name }}
                                        </li>
                                    {% empty %}
                                        <li>No cast for this episode yet.</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- End of movie-card -->
                    </div>
                </div>

                <div class="fs-3 mb-2">Episode Check-ins</div>
                <div class="col-sm-11 mb-3">
                    {% for checkin in episode_checkins %}
                        {% if checkin.user.is_public or request.user.is_authenticated %}
                            <div class="d-flex justify-content-start align-items-center mb-2">
                                <span class='me-2'>
                                    <a href="{% url 'accounts:detail' checkin.user.username %}">
                                        {{ checkin.user.display_name|default:checkin.user.username }}
                                    </a>
                                </span>
                                <span class="badge {{ checkin.status|get_status_class }} me-1">{{ checkin.get_status_display }}</span>
                            </div>
                            {% if checkin.content %}
                                <div class="checkin bg-light p-3 mb-2">{{ checkin.content | linkify_tags |  markdownify }}</div>
                            {% endif %}
                            <div class="d-flex justify-content-start align-items-start">
                                <a href="{% url 'watch:series_checkin_list' checkin.content_object.id checkin.user.username %}"
                                    class="text-decoration-none text-secondary">
                                    {{ checkin.timestamp|date:"Y.m.d H:i"}}
                                </a>
                                {% if checkin.comments_enabled %}
                                    <span class="ms-2 me-2">
                                        <a href="{% url 'write:watch_checkin_detail' checkin.user.username checkin.id %}"
                                        class="text-decoration-none">Reply</a>
                                    </span>
                                {% endif %}
                                {% if checkin.get_activity_id %}
                                    <span class="ms-2 me-2"><a href="{% url 'write:watch_checkin_detail' checkin.user.username checkin.id %}?repost=true"
                                        class="text-decoration-none">Repost</a></span>
                                {% endif %}
                                {% if checkin.user == request.user %}
                                    <span class="ms-2 me-2"><a href="{% url 'write:watch_checkin_update' checkin.user.username checkin.id %}"
                                        class="text-decoration-none">Edit</a></span>
                                    <span class="ms-2 me-2"><a href="{% url 'write:watch_checkin_delete' checkin.user.username checkin.id %}"
                                        class="text-decoration-none">Delete</a></span>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% empty %}
                        <li>No checkins for this episode yet.</li>
                    {% endfor %}
                </div>
            </div>
            <!--right columns-->
            <div class="col-12 col-md-4">
                <!--Related works / Edit -->
                {% if user.is_authenticated and not object.locked %}
                <div class="bg-light p-3 mb-3">
                    <a href="{% url 'watch:episode_update' object.series.id object.id %}"
                               class='fs-6 text-secondary'>Edit Episode</a>
                </div>
                {% endif %}
                <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                    <div class="fs-5">Episode List</div>
                    {% for episode in episodes %}
                        <div class="mt-3">
                            S{{ episode.season|stringformat:"02d" }}E{{ episode.episode|stringformat:"02d" }}
                            <a href="{% url 'watch:episode_detail' object.series.id episode.id %}"
                               class='fs-6'>{{ episode.title }}</a>
                            <span>({{ episode.release_date }})</span>
                        </div>
                    {% endfor %}
                    <hr>
                    {% if user.is_authenticated %}
                        <div>
                            <a href="{% url 'watch:episode_create' object.id %}"
                               class='fs-6 text-secondary'>Add episode</a>
                        </div>
                    {% endif %}
                </div>
                <div class="bg-light p-3 mb-3 order-1 order-sm-3">
                    <div class="d-flex justify-content-start align-items-center flex-wrap">
                        <div class="me-1 fs-5">Contributors</div>
                        <div>(<a href="{% url 'watch:episode_history' object.series.id object.pk %}" class="fs-6 text-secondary">Changelog</a>)</div>
                    </div>
                    <div>
                        {% for contributor in contributors %}
                            <span>
                                <a href="{% url 'accounts:detail' contributor.username %}">
                                    {% if contributor == contributors.0 %}
                                        <b>         
                                            {{ contributor.display_name|default:contributor.username }}
                                        </b>
                                    {% else %}
                                        {{ contributor.display_name|default:contributor.username }}
                                    {% endif %}
                                </a>
                            </span>
                            {% if not forloop.last %} / {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
