{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>{{ episode.title }} Cast</h1>
        <ul>
            {% for episodecast in episodecasts %}
                <li>
                    <a href="{% url 'entity:creator_detail' episodecast.creator.id %}">{{ episodecast.creator.name }}</a>
                    as
                    {{ episodecast.character_name }}
                </li>
            {% empty %}
                <li>No cast for this episode yet.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
