{% extends "pages/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}New Episode{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 left-column">
                <h3>Create a new Episode entry</h3>
                {% include "watch/episode_form.html" %}
            </div>
        </div>
    </div>
    <script type="text/javascript"
            src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'js/generalFormsetHandler.js' %}"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
    
        window.handleFormset('#episode-role-formset', 'add-episode-role');
        window.handleFormset('#episode-cast-formset', 'add-episode-cast');
    });
    
    $(document).ready(function() {
        $('select:not([name="model"], [id="id_series"])').removeClass('form-select');
    });
    </script>
    {{ episoderoles.media }}
    {{ episodecasts.media }}
{% endblock content %}
