{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ object.title }} | LʌvDB{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!--Left columns-->
        <div class="col-12 col-md-8">
            <!-- movie-card -->
            <div class="movie-card justify-content-start">
                <div class="row">
                    <!--poster-box-->
                    <!--movie-meta-->
                    <div class="col-md-8">
                        <div class="card-body">
                            <div>
                                <h4> {{ object.title }} </h4>
                                <div class="text-muted">
                                    <a href="{% url "watch:series_detail" episode.series.id %}">{{episode.series.title}} </a>
                                    S{{ episode.season|stringformat:"02d" }}E{{ episode.episode|stringformat:"02d" }}</div>
                            </div>

                            {% if object.romanized_title %}
                            <p class='text-muted'>{{ object.romanized_title }} </p>
                            {% endif %}
                            <div class="movie-meta">
                                {% if object.release_date %}
                                    <p><strong>Release Date:</strong> {{ object.release_date }}</p>
                                {% endif %}
                            </div>
                            <div class="row mt-3">
                                <h4>Crew</h4>
                                <ul>
                                    {% regroup episoderoles by role as roles_grouped %}
                                    {% for role_group in roles_grouped %}
                                        <li>
                                            <strong>{{ role_group.grouper.name }}:</strong>
                                            {% for episoderole in role_group.list %}
                                                <a href="{% url 'entity:person_detail' episoderole.person.id %}">{{ episoderole.person.name }} </a>
                                                {% if not forloop.last %} / {% endif %}
                                            {% endfor %}
                                        </li>
                                    {% empty %}
                                    <li>No staff for this movie yet.</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="row mt-3">
                                <h4>Cast</h4>
                                <ul>
                                {% for episodecast in episodecasts %}
                                    <li>
                                        <a href="{% url 'entity:person_detail' episodecast.person.id %}">{{ episodecast.person.name }} </a>
                                        as 
                                        {{ episodecast.character_name }}</li>
                                    {% empty %}
                                    <li>No cast for this episode yet.</li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- End of movie-card -->
                    </div>
                </div>       
            </div>
        </div>


        <!--right columns-->
        <div class="col-12 col-md-4">
            <!--Related works / Edit -->
            <div class="bg-light p-3">
                {% if user.is_authenticated %}
                    <div>
                        <a href="{% url 'watch:episode_update' object.series.id object.id%}" class='fs-6 text-secondary'>Edit episode data</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
