{% load static %}
{% load crispy_forms_tags %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.series|as_crispy_field }}
    {{ form.title|as_crispy_field }}
    {{ form.other_titles|as_crispy_field }}
    <div class="form-wrapper row">
        <div class="col-6 mb-1">{{ form.season|as_crispy_field }}</div>
        <div class="col-6 mb-1">{{ form.episode|as_crispy_field }}</div>
    </div>
    <div class="form-wrapper row">
        <div class="col-6 mb-1">{{ form.release_date|as_crispy_field }}</div>
        <div class="col-6 mb-1">{{ form.length|as_crispy_field }}</div>
    </div>
    {{ episoderoles.management_form|crispy }}
    <div id="episode-role-formset" class="bg-light p-3 mb-3">
        <strong>Creators related to this Episode</strong>
        <p class='text-muted'>E.g. Directors, Writers, Designers, etc.</p>
        <div id="episoderoles">
            {% for form in episoderoles %}
                <div class="form-wrapper row">
                    {{ form.id }}
                    {% for error in form.non_field_errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
                    <div class="col-md-4 mb-3">
                        {{ form.creator | as_crispy_field }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.role | as_crispy_field }}
                        {{ form.domain | as_crispy_field }}
                    </div>
                    <div class="col-md-4 mb-3">{{ form.alt_name | as_crispy_field }}</div>
                </div>
            {% endfor %}
        </div>
        <button type="button" id="add-episode-role-formset" class="btn btn-sm btn-secondary mt-2">Add More</button>
    </div>
    {{ episodecasts.management_form|crispy }}
    <div id="episode-cast-formset" class="bg-light p-3 mb-3">
        <strong>Casts related to this Episode</strong>
        <p class='text-muted'>E.g. Actors, Actresses, Charactor Voices, etc.</p>
        <div id="episodecasts">
            {% for form in episodecasts %}
                <div class="form-wrapper row">
                    {{ form.id }}
                    <div class="col-md-6 mb-3">
                        {{ form.creator | as_crispy_field }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.role | as_crispy_field }}
                        {{ form.domain | as_crispy_field }}
                    </div>
                    <div class="col-md-2">
                        <div class="d-flex flex-column">
                            <div>{{ form.is_star | as_crispy_field }}</div>
                            <div>{{ form.order | as_crispy_field }}</div>
                        </div>
                    </div>
                    <div class="col-md-5 mb-3">{{ form.alt_name | as_crispy_field }}</div>
                    <div class="col-md-5 mb-3">{{ form.character_name | as_crispy_field }}</div>

                </div>
                <hr>
            {% endfor %}
        </div>
        <button type="button" id="add-episode-cast-formset" class="btn btn-sm btn-secondary mt-2">Add More</button>
    </div>

    <div class="bg-light p-3 mb-3">
        <strong>Cross-reference</strong>
        <div class="accordion mt-3 mb-3">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <strong>Based on</strong>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="text-muted">The original sources that the episode is based on.</p>
                        {{ form.based_on_litworks|as_crispy_field }}
                        {{ form.based_on_games|as_crispy_field }}
                        {{ form.based_on_movies|as_crispy_field }}
                        {{ form.based_on_series|as_crispy_field }}
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFourth">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourth" aria-expanded="false" aria-controls="collapseFourth">
                        <strong>Locations</strong>
                    </button>
                </h2>
                <div id="collapseFourth" class="accordion-collapse collapse" aria-labelledby="headingFourth" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="text-muted">The locations realted to this episode.</p>
                        {{ form.filming_locations|as_crispy_field}}
                        {{ form.setting_locations|as_crispy_field}}
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <strong>Mentioned / Featured</strong>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="text-muted">Media that mentioned or featured in this episode.</p>
                        <div class="fw-bold mb-2">Read</div>
                        {{ form.mentioned_litworks|as_crispy_field }}
                        {{ form.mentioned_litinstances|as_crispy_field }}
                        {{ form.mentioned_books|as_crispy_field }}
                        <hr class="mt-2 mb-2">
                        <div class="fw-bold mb-2">Watch</div>
                        {{ form.mentioned_movies|as_crispy_field }}
                        {{ form.mentioned_series|as_crispy_field }}
                        <hr class="mt-2 mb-2">
                        <div class="fw-bold mb-2">Listen</div>
                        {{ form.mentioned_musicalworks|as_crispy_field }}
                        {{ form.mentioned_tracks|as_crispy_field }}
                        {{ form.mentioned_releases|as_crispy_field }}
                        <hr class="mt-2 mb-2">
                        <div class="fw-bold mb-2">Play</div>
                        {{ form.mentioned_gameworks|as_crispy_field }}
                        {{ form.mentioned_games|as_crispy_field }}
                        <hr class="mt-2 mb-2">
                        <div class="fw-bold mb-2">Visit</div>
                        {{ form.mentioned_locations|as_crispy_field }}
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <strong>Soundtracks</strong>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="text-muted">The music featured in this episode.</p>
                        {{ form.tracks|as_crispy_field }}
                        {{ form.theme_songs|as_crispy_field }}
                        {{ form.ending_songs|as_crispy_field }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light p-3 mb-3">
        <strong>Links</strong>
        {{ form.imdb|as_crispy_field }}
        {{ form.wikipedia|as_crispy_field }}
    </div>
    {{ form.notes|as_crispy_field}}

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% if form.errors %}
    <div class="alert alert-danger mt-5">
        <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}<li>{{ field }}: {{ error }}</li>{% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
<script type="text/javascript"
    src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript"
    src="{% static 'js/FormsetHandler.js' %}"></script>
<script>
    initFormset('add-episode-role-formset', 'episoderoles');
    initFormset('add-episode-cast-formset', 'episodecasts');
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Function to adjust margin classes
        function adjustCastForms() {
            // Select all the divs that match the pattern for "is_star"
            document.querySelectorAll("[id^='div_id_episodecasts-'][id$='-is_star']").forEach(function (element) {
                // Change the class from "mb-3" to "mb-2"
                element.classList.remove("mb-3");
                element.classList.add("mb-2");

                // Get the parent div that has the extra "mb-3" class and remove it
                const parentDiv = element.closest(".mb-3");
                if (parentDiv) {
                    parentDiv.classList.remove("mb-3");
                }
            });
        }

        // Run the adjustment on initial load
        adjustCastForms();

        // Attach an event listener to adjust new forms added dynamically
        document.addEventListener("click", function (e) {
            if (e.target && e.target.id === "add-episode-cast-formset") {
                // Delay the adjustment slightly to ensure new forms are added to DOM
                setTimeout(adjustCastForms, 100);
            }
        });
    });
</script>
{{ episoderoles.media }}