{% load static %}
{% load crispy_forms_tags %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.series|as_crispy_field }}
    {{ form.title|as_crispy_field }}
    {{ form.other_titles|as_crispy_field }}
    {{ form.season|as_crispy_field }}
    {{ form.episode|as_crispy_field }}
    {{ form.release_date|as_crispy_field }}
    {{ form.length|as_crispy_field }}
    {{ form.filming_locations|as_crispy_field }}
    {{ form.setting_locations|as_crispy_field }}
    {{ episoderoles.management_form|crispy }}
    <div id="episode-role-formset" class="bg-light p-3 mb-3">
        <strong>Creators related to this Episode</strong>
        <p class='text-muted'>E.g. Directors, Writers, Designers, etc.</p>
        <div id="episoderoles">
            {% for form in episoderoles %}
                <div class="form-wrapper row">
                    {{ form.id }}
                    {% for error in form.non_field_errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
                    <div class="col-md-4 mb-3">
                        {{ form.creator | as_crispy_field }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.role | as_crispy_field }}
                        {{ form.domain | as_crispy_field }}
                    </div>
                    <div class="col-md-3 mb-3">{{ form.alt_name | as_crispy_field }}</div>
                </div>
            {% endfor %}
        </div>
        <button type="button" id="add-episode-role-formset" class="btn btn-sm btn-secondary mt-2">Add More</button>
    </div>
    {{ episodecasts.management_form|crispy }}
    <div id="episode-cast-formset" class="bg-light p-3 mb-3">
        <strong>Casts related to this Episode</strong>
        <p class='text-muted'>E.g. Actors, Actresses, Charactor Voices, etc.</p>
        <div id="episodecasts">
            {% for form in episodecasts %}
                <div class="form-wrapper row">
                    {{ form.id }}
                    <div class="col-md-4 mb-3">
                        {{ form.creator | as_crispy_field }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.role | as_crispy_field }}
                        {{ form.domain | as_crispy_field }}
                    </div>
                    <div class="col-md-3 mb-3">{{ form.character_name | as_crispy_field }}</div>
                </div>
            {% endfor %}
        </div>
        <button type="button" id="add-episode-cast-formset" class="btn btn-sm btn-secondary mt-2">Add More</button>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% if form.errors %}
    <div class="alert alert-danger mt-5">
        <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}<li>{{ field }}: {{ error }}</li>{% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
<script type="text/javascript"
    src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript"
    src="{% static 'js/FormsetHandler.js' %}"></script>
<script>
    initFormset('add-episode-role-formset', 'episoderoles');
    initFormset('add-episode-cast-formset', 'episodecasts');
</script>
{{ episoderoles.media }}