{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>
        <a href="{% url 'watch:movie_detail' movie.id %}"> {{ movie.title }} </a>
        Staff and Cast
    </h1>
    
    <h2>Staff</h2>
    <ul>
        {% regroup moviestaffs by role as roles_grouped %}
        {% for role_group in roles_grouped %}
            <li>
                <strong>{{ role_group.grouper.name }}:</strong>
                {% for movierole in role_group.list %}
                    <a href="{% url 'entity:person_detail' movierole.person.id %}">{{ movierole.person.name }} </a>
                    {% if not forloop.last %} / {% endif %}
                {% endfor %}
            </li>
        {% empty %}
        <li>No staff for this movie yet.</li>
        {% endfor %}
    </ul>

    
    <h2>Cast</h2>
    <ul>
        {% for moviecast in moviecasts %}
        <li>
            <a href="{% url 'entity:person_detail' moviecast.person.id %}">{{ moviecast.person.name }} </a>
            as 
            {{ moviecast.character_name }}
        </li>
        {% empty %}
        <li>No cast for this movie yet.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
