{% extends "base.html" %}

{% block content %}
<div class="container">

    <h3>
        <a href="{% url 'watch:series_detail' series.id %}">{{ series.title }} </a>
        Staff and Cast
    </h3>
    <h4>Staff</h4>
    <ul>
        {% for role in series.seriesroles.all %}
            {% if not role.role.is_cast %}
                <li>
                    <strong>{{ role.role.name }}:</strong> 
                    <a href="{% url 'entity:person_detail' role.person.id %}">{{ role.person.name }} </a>
                    
                    {% if role.alt_name %}
                        ({{ role.alt_name }})
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <h4>Cast</h4>
    <ul>
        {% for person, roles in series_casts.items %}
            <li>
                <a href="{% url 'entity:person_detail' person.id %}">{{ person.name }} </a>
                as  
                {% regroup roles by character_name as character_roles %}
                {% for character_role in character_roles %}
                    {% if not forloop.first %} / {% endif %}
                    {{ character_role.grouper }}
                {% endfor %}
                <a href="#" class="text-muted" data-bs-toggle="collapse" data-bs-target="#episodeList{{ forloop.counter }}">
                    ({{ roles|length }} episodes)
                </a>
            </li>
            <ul id="episodeList{{ forloop.counter }}" class="collapse">
            {% for role in roles %}
                <li>
                    <a href="{% url 'watch:episode_detail' series.id role.episode_id %}">{{ role.episode_title }} </a>
                    ({{ role.release_date }}) {{ role.character_name }}
                </li>
            {% endfor %}
            </ul>            
        {% endfor %}
    </ul>
</div>
{% endblock %}
