{% extends "base.html" %}

{% block content %}
<div class="container">

    <h3>
        <a href="{% url 'watch:series_detail' series.id %}">{{ series.title }} </a>
        Crew and Cast
    </h3>
    <h4>Crew</h4>
    <ul>
        {% regroup series_crew by role as roles_grouped %}
        {% for role_group in roles_grouped %}
            <li>
                <span class="text-muted">{{ role_group.grouper.name }}:</span>
                {% for seriesrole in role_group.list %}
                    <a href="{% url 'entity:person_detail' seriesrole.person.id %}">{{ seriesrole.person.name }} </a>
                    {% if not forloop.last %} / {% endif %}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

    <h4>Cast</h4>
    <ul>
        {% for person, roles in series_cast.items %}
            <li>
                <a href="{% url 'entity:person_detail' person.id %}">{{ person.name }} </a>
                as  
                {% regroup roles by character_name as character_roles %}
                {% for character_role in character_roles %}
                    {% if not forloop.first %} / {% endif %}
                    {{ character_role.grouper }}
                {% endfor %}
                <a href="#" class="text-muted" data-bs-toggle="collapse" data-bs-target="#episodeList{{ forloop.counter }}">
                    ({{ roles|length }} episodes)
                </a>
            </li>
            <ul id="episodeList{{ forloop.counter }}" class="collapse">
            {% for role in roles %}
                <li>
                    <a href="{% url 'watch:episode_detail' series.id role.episode_id %}">{{ role.episode_title }} </a>
                    ({{ role.release_date }})
                </li>
            {% endfor %}
            </ul>            
        {% endfor %}
    </ul>
</div>
{% endblock %}
