{% load crispy_forms_tags %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.title|as_crispy_field }}
    {{ form.romanized_title|as_crispy_field }}    
    {{ form.poster|as_crispy_field}}
    <div class="mb-3">
        {{ form.studios|as_crispy_field }}
        <a href="{% url 'watch:studio_create' %}?next={{ request.path }}" class="text-secondary" target="_blank">Add a new studio?</a>                   
    </div>

    {{ form.description|as_crispy_field }}
    {{ form.release_date|as_crispy_field }}

    {{ seriesroles.management_form|crispy }}
    <div id="series-role-formset" class="bg-light p-3 mb-3">
        <strong>Persons related to this Series</strong>
        <p class='text-muted'>E.g. Directors, Writers, Designers, etc.</p>
        {% for form in seriesroles %}
        <div class="form-wrapper">
            <div class="row">
                {{ form.id }}
                <div class="col-md-4 mb-3">
                    {{ form.person | as_crispy_field}}
                    <a href="{% url 'entity:person_create' %}?next={{ request.path }}" class="text-secondary" target="_blank">Add a new person?</a>
                </div>
                <div class="col-md-4 mb-3">
                    {{ form.role | as_crispy_field}}
                    {{ form.domain | as_crispy_field }}
                    <a href="{% url 'entity:role_create' %}?next={{ request.path }}" class="text-secondary" target="_blank">Add a new role?</a>
                </div>
                <div class="col-md-3 mb-3">
                    {{ form.alt_name | as_crispy_field}}
                </div>
            </div>
        </div>  
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
</form>
{% if form.errors %}
<div class="alert alert-danger mt-5">
    <ul>
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <li>{{ field }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}


