{% load crispy_forms_tags %}
<form method="post" id="checkinForm">
    {% csrf_token %}
    {{ checkin_form.content_type }}
    {{ checkin_form.object_id }}
    {{ checkin_form.user }}
    <div class="row">
        <div class="col-md-7 col-sm-12 mb-2">
            <!--Status-->
            <div class="btn-group" role="group" aria-label="Status">
                <button type="button"
                        class="btn btn-sm btn-outline-secondary status-button"
                        id="status-to-watch"
                        onclick="setStatus(event, 'to_watch')">To Watch</button>
                <button type="button"
                            class="btn btn-sm btn-outline-secondary status-button"
                            id="status-watching"
                            onclick="setStatus(event, 'watching')">Watching</button>
                <button type="button"
                        class="btn btn-sm btn-outline-secondary status-button"
                        id="status-watched"
                        onclick="setStatus(event, 'watched')">Watched</button>
                <div class="btn-group" role="group">
                    <button id="status-more"
                            type="button"
                            class="btn btn-sm btn-outline-secondary dropdown-toggle status-button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">More</button>
                    <ul class="dropdown-menu" aria-labelledby="status-more">
                        <li>
                            <a class="dropdown-item status-dropdown-item"
                                id="status-rewatching"
                                href="#"
                                onclick="setStatus(event,'rewatching')">Rewatching</a>
                        </li>
                        <li>
                            <a class="dropdown-item status-dropdown-item"
                               id="status-rewatched"
                               href="#"
                               onclick="setStatus(event,'rewatched')">Rewatched</a>
                        </li>
                        <li>
                            <a class="dropdown-item status-dropdown-item"
                               id="status-paused"
                               href="#"
                               onclick="setStatus(event, 'paused')">Paused</a>
                        </li>
                        <li>
                            <a class="dropdown-item status-dropdown-item"
                               id="status-abandoned"
                               href="#"
                               onclick="setStatus(event,'abandoned')">Abandoned</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <!-- Progress and Progress Type -->
            <div class="input-group input-group-sm mb-3">
                {% if model_name == "movie" %}
                    <input type="text"
                           class="form-control"
                           id="progressInput"
                           name="progress"
                           placeholder="Watched more than once?">
                {% endif %}
                {% if model_name == "series" %}
                    <input type="text"
                           class="form-control"
                           id="progressInput"
                           name="progress"
                           placeholder="S00E00">
                {% endif %}
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        id="progressTypeBtn"></button>
                <ul class="dropdown-menu dropdown-menu-end">
                    {% if model_name == "movie" %}
                        <li>
                            <a class="dropdown-item" href="#" onclick="setProgressType(event,'TM')">Times</a>
                        </li>
                    {% endif %}
                    {% if model_name == "series" %}
                        <li>
                            <a class="dropdown-item" href="#" onclick="setProgressType(event,'EP')">Episode</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <!-- Hidden input fields to hold status and progress_type values -->
    <input type="hidden" id="statusInput" name="status">
    <input type="hidden" id="progressTypeInput" name="progress_type">
    <div class="col-md-11 col-sm-12">{{ checkin_form.content | as_crispy_field }}</div>
    <div class="d-flex justify-content-between align-items-start col-11">
        <button type="submit"
                class="btn btn-sm btn-primary me-2 mb-2 mb-md-0"
                id="submitButton">Add Check-In</button>
        <div class="d-flex justify-content-start flex-wrap">
            <div class="form-check me-5 me-md-0 mb-2 mb-md-0">
                <input class="form-check-input"
                       type="checkbox"
                       id="shareToFeedInput"
                       name="share_to_feed"
                       {% if request.user.enable_share_to_feed_by_default %}checked{% endif %}
                       >
                <label class="form-check-label small" for="shareToFeedInput">Share to feed</label>
            </div>
            <div class="form-check ms-md-3">
                <input class="form-check-input"
                       type="checkbox"
                       id="commentsEnabledInput"
                       name="comments_enabled"
                       {% if request.user.enable_replies_by_default %}checked{% endif %}
                       >
                <label class="form-check-label small" for="commentsEnabledInput">Enable replies</label>
            </div>
        </div>
    </div>
</form>
<script>
    var status_mapping = {
        "to_watch": "status-to-watch",
        "watching": "status-watching",
        "watched": "status-watched",
        "paused": "status-paused",
        "abandoned": "status-abandoned",
        "rewatching": "status-rewatching",
        "rewatched": "status-rewatched",
    };

    function setStatus(event, status) {
        event.preventDefault();
        document.getElementById('statusInput').value = status;
        updateStatusButton(status);
    }
    
    function setProgressType(event, type) {
        event.preventDefault();
        document.getElementById('progressTypeInput').value = type;
        document.getElementById('progressTypeBtn').textContent = type == 'TM' ? 'Times' : 'Episode';
    }
    
    function updateStatusButton(status) {
        // Get all status buttons and dropdown items
        const statusButtons = document.querySelectorAll('.status-button');
        const statusDropdownItems = document.querySelectorAll('.status-dropdown-item');
    
        // Remove 'selected-button' class from all status buttons and dropdown items
        statusButtons.forEach(button => button.classList.remove('selected-button'));
        statusDropdownItems.forEach(item => item.classList.remove('selected-button'));
    
        // If the status exists in the mapping, update the corresponding button
        if (status_mapping[status]) {
            const buttonId = status_mapping[status];
            const button = document.getElementById(buttonId);
    
            if (button) {
                // Add 'selected-button' class to the button
                button.classList.add('selected-button');
    
                // If the button is a dropdown item, also update the main dropdown button
                if (button.classList.contains('dropdown-item')) {
                    const moreButton = document.getElementById('status-more');
                    moreButton.classList.add('selected-button');
                }
            }
        }
    }

    document.addEventListener("DOMContentLoaded", function() {
        // Set default status and progress type values

        model_name = "{{ model_name }}";
        var default_status = '{{ latest_user_status }}' || 'to_watch';

        setStatus(event, default_status);
        if (model_name == "movie") {
            setProgressType(event, 'TM');
        } else if (model_name == "series") {
            setProgressType(event, 'EP');
        }
    });
</script>
