{% extends "base.html" %}
{% block title %}Watch{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class='col-12 col-md-8'>
                {% if movies or series %}
                    <div>
                        {% if movies %}
                            <div class="fs-4">Movies</div>
                            <div class="row ps-2 pe-2">
                                {% for movie in movies %}
                                    <div class="col-3 col-sm-3 col-md-2 col-lg-2 mb-4 p-1">
                                        <a href="{% url 'watch:movie_detail' movie.pk %}">
                                            {% if movie.poster %}
                                                {% if movie.poster_sens %}
                                                    <img src="{{ movie.poster.url }}"
                                                         alt="{{ movie.title }} poster"
                                                         class="poster-image blur"
                                                         onclick="this.classList.toggle('blur')"
                                                         loading="lazy">
                                                {% else %}
                                                    <img src="{{ movie.poster.url }}"
                                                         alt="{{ movie.title }}"
                                                         class="img-fluid cover-border"
                                                         loading="lazy">
                                                {% endif %}
                                            {% else %}
                                                <div class="poster-placeholder"
                                                     style="background: grey;
                                                            width: 100%;
                                                            height:100%;
                                                            color:white;
                                                            text-align: center">{{ movie.title }}</div>
                                            {% endif %}
                                        </a>
                                    </div>
                                {% empty %}
                                    <p>No recent movies to display.</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if series %}
                            <div class="fs-4">Series</div>
                            <div class="row ps-2 pe-2">
                                {% for serie in series %}
                                    <div class="col-3 col-sm-3 col-md-2 col-lg-2 mb-4 p-1">
                                        <a href="{% url 'watch:series_detail' serie.pk %}">
                                            {% if serie.poster %}
                                                {% if serie.poster_sens %}
                                                    <img src="{{ serie.poster.url }}"
                                                         alt="{{ serie.title }} poster"
                                                         class="poster-image blur"
                                                         onclick="this.classList.toggle('blur')"
                                                         loading="lazy">
                                                {% else %}
                                                    <img src="{{ serie.poster.url }}"
                                                         alt="{{ serie.title }}"
                                                         class="img-fluid cover-border"
                                                         loading="lazy">
                                                {% endif %}
                                            {% else %}
                                                <div class="poster-placeholder"
                                                     style="background: grey;
                                                            width: 100%;
                                                            height:100%;
                                                            color:white;
                                                            text-align: center">{{ serie.title }}</div>
                                            {% endif %}
                                        </a>
                                    </div>
                                {% empty %}
                                    <p>No recent series to display.</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class='col-12 col-md-4'>
                <div class="bg-light p-3 mb-3">
                    <div class="fs-5">Add New</div>
                    <div>
                        <a href="{% url "watch:movie_create" %}" class="text-muted">Movie</a>
                    </div>
                    <div>
                        <a href="{% url "watch:series_create" %}" class="text-muted">Series</a>
                    </div>
                    <div>
                        <a href="{% url "watch:collection_create" %}" class="text-muted">Collection</a>
                    </div>
                </div>
                <div class="bg-light p-3 mb-3">
                    <div class="fs-5">Statistics</div>
                    <div>
                        <span class="text-muted">Movies</span>: {{ movies_count }}
                    </div>
                    <div>
                        <span class="text-muted">Series</span>: {{ series_count }}
                    </div>
                    <div>
                        <span class="text-muted">Episodes</span>: {{ episodes_count }}
                    </div>
                </div>
                {% if genres %}
                    <div class="bg-light p-3 mb-3">
                        <div class="fs-5">Genres</div>
                        <div class='d-flex flex-wrap'>
                            {% for genre in genres %}
                                <a href="{% url 'watch:genre_detail' genre.name %}" class="me-2">{{ genre.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
