{% extends "base.html" %}

{% block title %}Delete CheckIn{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Delete CheckIn</h1>
            <p>Are you sure you want to delete this CheckIn?</p>
            <form method="POST">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">Delete</button>
                <a href="{% url 'watch:watch_checkin_detail' object.id %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}