{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class='col-sm-8'>
                <h2>Recently Added</h2>
                <h4>Movies</h4>
                <div class="row">
                    {% for movie in movies %}
                        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                            <a href="{% url 'watch:movie_detail' movie.pk %}">
                                {% if movie.poster %}
                                    {% if movie.poster_sens %}
                                        <img src="{{ movie.poster.url }}" alt="{{ movie.title }} poster" class="poster-image blur" onclick="this.classList.toggle('blur')">
                                    {% else %}
                                        <img src="{{ movie.poster.url }}" alt="{{ movie.title }}" class="img-fluid">
                                    {% endif %}
                                {% else %}
                                    <div class="poster-placeholder" style="background: grey; width: 100%; padding-top: 100%;"></div>
                                {% endif %}
                            </a>
                        </div>
                    {% empty %}
                        <p>No recent movies to display.</p>
                    {% endfor %}
                </div>
                <h4>Series</h4>
                <div class="row">
                    {% for serie in series %}
                        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                            <a href="{% url 'watch:series_detail' serie.pk %}">
                                {% if serie.poster %}
                                    {% if serie.poster_sens %}
                                        <img src="{{ serie.poster.url }}" alt="{{ serie.title }} poster" class="poster-image blur" onclick="this.classList.toggle('blur')">
                                    {% else %}
                                        <img src="{{ serie.poster.url }}" alt="{{ serie.title }}" class="img-fluid">
                                    {% endif %}
                                {% else %}
                                    <div class="poster-placeholder" style="background: grey; width: 100%; padding-top: 100%;"></div>
                                {% endif %}
                            </a>
                        </div>
                    {% empty %}
                        <p>No recent series to display.</p>
                    {% endfor %}
                </div>
            </div>
            <div class='col-sm-4'>
                <div class="bg-light p-3">
                    <h5>Add New</h5>
                    <div>
                        <a href="{% url "watch:movie_create" %}" class="text-muted">Movie</a>
                    </div>
                    <div>
                        <a href="{% url "watch:series_create" %}" class="text-muted">Series</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
