{% extends "base.html" %}
{% load static %}
{% load markdownify %}
{% load linkify %}
{% load crispy_forms_tags %}
{% load parse_activity_type %}
{% block meta %}
    <meta property="og:title" content="{{ object.user.display_name | default:object.user.username }}'s Check-in on {{ object.content_object.title }}">
    {% if object.notes %}
        <meta property="og:description" content="{{ object.notes|truncatewords:150 }}">
    {% else %}
        <meta property="og:description" content="Check out {{ object.user.display_name | default:object.user.username }}'s Check-in on {{ object.content_object.title }} on luvdb.com">
    {% endif %}
    <meta property="og:image" content="{{ object.content_object.poster.url }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="book">
{% endblock meta %}
{% block title %}Watch Check In{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 left-column">
                <div class="d-flex align-items-center">
                    <a href="{% url 'accounts:detail' object.user.username %}" class='me-1'>
                        {{ object.user.display_name | default:object.user.username }}
                    </a>
                    <span class="me-2">checked in</span>
                    <!--badge: checkin status-->
                    <span class="badge {{ object.status|get_status_class }} me-1">{{ object.get_status_display }}</span>
                    {% if object.progress %}
                        <span class="badge text-bg-warning me-2">
                            {{ object.progress }}
                            {% if object.progress_type == "TM" %}
                                Times
                            {% endif %}
                        </span>
                    {% endif %}
                </div>
                <div class="mt-2">{{ object.content | linkify_tags | linkify_mentions | markdownify }}</div>
                <div class="bg-light p-3 mt-2">
                    <div class="d-flex flex-row bg-light mt-2">
                        <div class="mb-3 mb-md-0 flex-shrink-0 checkin-cover">
                            {% if user.pure_text_mode %}
                                <div class="cover-placeholder bg-light">{{ object.content_object.title }}</div>
                            {% else %}
                                {% if object.content_object.poster %}
                                    {% if object.content_object.poster_sens %}
                                        <img src="{{ object.content_object.poster.url }}"
                                            alt="{{ object.content_object.title }} poster"
                                            class="img-fluid blur cover-border"
                                            onclick="this.classList.toggle('blur')">
                                    {% else %}
                                        <img src="{{ object.content_object.poster.url }}"
                                            alt="{{ object.content_object.title }} poster"
                                            class="img-fluid cover-border"
                                            onerror="this.onerror=null; this.parentNode.innerHTML='<div class=\'cover-placeholder\'>{{ object.content_object.title }}</div>';">
                                    {% endif %}
                                {% else %}
                                    <div class="cover-placeholder bg-light">{{ object.content_object.title }}</div>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="flex-grow-1 ms-3">
                            {% if object.content_type.model == 'movie' %}
                                <a href="{% url 'watch:movie_detail' object.content_object.id %}"
                                   class="text-decoration-none hover-username">
                                    <div class="fs-5">{{ object.content_object.title }}</div>
                                </a>
                            {% elif object.content_type.model == 'series' %}
                                <div class="fs-4">{{ object.content_object.series.title }}</div>
                                <a href="{% url 'watch:series_detail' object.content_object.id %}"
                                   class="text-decoration-none hover-username">
                                    <div class="fs-5">{{ object.content_object.title }}</div>
                                </a>
                            {% endif %}
                            {% if object.content_type.model == 'movie' %}
                                {% regroup object.content_object.movieroles.all by role as roles_list %}
                                {% for role in roles_list %}
                                    <div>
                                        {# djlint:off #}
                                        <span class="text-muted">{{ role.grouper.name }}{% if role.list|length > 1 %}s{% endif %}:</span>
                                        {# djlint:on #}
                                        {% for movie_role in role.list %}
                                            {% if not forloop.first %}/{% endif %}
                                            <a href="{% url 'entity:creator_detail' movie_role.creator.id %}">
                                                {{ movie_role.alt_name | default:movie_role.creator.name }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            {% elif object.content_type.model == 'series' %}
                                {% regroup object.content_object.seriesroles.all by role as roles_list %}
                                {% for role in roles_list %}
                                    <div>
                                        {# djlint:off #}
                                        <span class="text-muted">{{ role.grouper.name }}{% if role.list|length > 1 %}s{% endif %}:</span>
                                        {# djlint:on #}
                                        {% for series_role in role.list %}
                                            {% if not forloop.first %}/{% endif %}
                                            <a href="{% url 'entity:creator_detail' series_role.creator.id %}">
                                                {{ series_role.alt_name | default:series_role.creator.name }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% if object.content_object.studios.exists %}
                            <div>
                                {# djlint:off #}
                                <span class="text-muted">Studio{% if object.content_object.studios.count > 1 %}s{% endif %}:</span>
                                {# djlint:on #}
                                {% for studio in object.content_object.studios.all %}
                                    {% if not forloop.first %}/{% endif %}
                                    <a href="{% url 'entity:company_detail' studio.id %}">{{ studio.name }}</a>
                                {% endfor %}
                            </div>
                            {% endif %}
                            {% if object.content_object.distributors.exists %}
                            <div>
                                {# djlint:off #}
                                <span class="text-muted">Distributor{% if object.content_object.distributors.count > 1 %}s{% endif %}:</span>
                                {# djlint:on #}
                                {% for distributor in object.content_object.distributors.all %}
                                    {% if not forloop.first %}/{% endif %}
                                    <a href="{% url 'entity:company_detail' distributor.id %}">{{ distributor.name }}</a>
                                {% endfor %}
                            </div>
                            {% endif %}
                            {% if object.content_object.release_date %}
                            <div>
                                <span class="text-muted">Date:</span>{{ object.content_object.release_date }}
                            </div>
                            {% endif %}
                            {% if object.content_object.region_release_dates.all %}
                            <div>
                                <span class="text-muted">Release Date:</span>
                                {% with earliest_region_release_date=object.content_object.region_release_dates.all|first %}
                                    {{ earliest_region_release_date.release_date }} ({{ earliest_region_release_date.region }})
                                {% endwith %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="d-flex mt-2">
                    <p class='me-2 text-secondary mb-2'>
                        {% if object.content_type.model == "movie" %}
                            <a href="{% url 'watch:movie_checkin_list' object.content_object.id object.user.username %}"
                                class="text-muted">
                                {% if checkin_count > 0 %}
                                    {{ object.timestamp|date:"Y.m.d H:i" }} ({{checkin_count}} more)
                                {% else %}
                                    {{ object.timestamp|date:"Y.m.d H:i" }}
                                {% endif %}
                            </a>
                        {% else %}
                            <a href="{% url 'watch:series_checkin_list' object.content_object.id object.user.username %}"
                                class="text-muted">
                                {% if checkin_count > 0 %}
                                    {{ object.timestamp|date:"Y.m.d H:i" }} ({{checkin_count}} more)
                                {% else %}
                                    {{ object.timestamp|date:"Y.m.d H:i" }}
                                {% endif %}
                            </a>
                        {% endif %}
                    </p>
                    {% if object.user == request.user %}
                        <a href="{% url "watch:watch_checkin_update" object.id %}" class="me-2">Edit</a>
                        <a href="{% url "watch:watch_checkin_delete" object.id %}" class="me-2">Delete</a>
                    {% endif %}
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <button id="show-comments"
                                class="btn btn-primary btn-sm mx-auto toggle-button">Comments</button>
                        <button id="show-reposts"
                                class="btn btn-secondary btn-sm mx-auto toggle-button">Reposts</button>
                    </div>
                    <div>
                        <a href="{% url 'discover:vote' 'watchcheckin' checkin.id 'up' %}" 
                            class="me-2 btn btn-sm {% if has_voted %}btn-outline-danger active{% else %}btn-outline-danger{% endif %}" 
                            title="Like this check-in">
                            ♡
                        </a>
                    </div>
                </div>
                <hr>
                <div id="comments-section">
                    {% include 'write/comment_in_details.html' with comments=comments object=object comment_form=comment_form object_type='watchcheckin' %}
                </div>
                <div id="reposts-section" style="display: none;">
                    {% include 'write/repost_in_details.html' with object=object repost_form=repost_form reposts=object.reposts %}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/toggle-button.js' %}"></script>
{% endblock content %}
