{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Update Check-In{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>Update Check-In</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.content_type }}
                    {{ form.object_id }}
                    {{ form.user }}
                    {{ form.status|as_crispy_field }}
                    {{ form.progress|as_crispy_field }}
                    {{ form.progress_type|as_crispy_field }}
                    <div class="col-12 textarea-wrapper">
                        {{ form.content|as_crispy_field }}
                        <div id="photoUploadSection" class="border border-secondary p-4 text-center" style="cursor: pointer; border: 4px dashed !important;">
                            <div id="upload-area" style="width: 100%; height: 100%;">
                                Drag & Drop photos here
                                <input type="file" id="photo-upload" name="photo" accept="image/*" multiple style="display: none" />
                            </div>
                        </div>
                    </div>         
                    {{ form.visibility }}           
                    {{ form.comments_enabled|as_crispy_field }}
                    {{ form.share_to_feed|as_crispy_field }}
                    <button class="btn btn-primary" type="submit">Update</button>
                    <button type="button" id="image-upload-button" class="btn btn-outline-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-images mb-1" viewBox="0 0 16 16">
                            <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"></path>
                            <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2M14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1M2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1z"></path>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
