{% extends "base.html" %}
{% load static %}
{% load markdownify %}
{% load linkify %}
{% load crispy_forms_tags %}

{% block title %}Check In{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-7 left-column">
      <div class="d-flex align-items-center"> 
        <a href="{% url 'accounts:detail' object.user.username %}" class='me-1'>
          {{ object.user.display_name | default:object.user.username }}
        </a> 
         <span class="me-2">checked in </span>
          <!--badge: checkin status-->
          {% if object.status == "to_watch" %}
          <span class="badge text-bg-info me-2">
          {% elif object.status == "watching" %}
          <span class="badge text-bg-primary me-2">
          {% elif object.status == "watched" %}
          <span class="badge text-bg-success me-2">
          {% elif object.status == "paused" %}
          <span class="badge text-bg-warning me-2">
          {% elif object.status == "abandoned" %}
          <span class="badge text-bg-danger me-2">
          {% elif object.status == "rewatching" %}
          <span class="badge text-bg-primary me-2">
          {% elif object.status == "rewatched" %}
          <span class="badge text-bg-success me-2">
          {% endif %}
               {{ object.get_status_display }}
          </span>
          {% if object.progress %}
          <span class="badge text-bg-warning me-2">
              Progress: {{ object.progress }} 
              {% if object.progress_type == "TM" %}
                  Times
              {% else %}
                  Episode
              {% endif %}
          </span>
          {% endif %}
      </div>
      <div class="mt-3 mb-3">
        {{ object.content | linkify_tags | linkify_mentions | markdownify }}
      </div>
      <div class="bg-light p-3 mt-2">
        <div class="d-flex flex-row bg-light mt-2">
          <div class="mb-3 mb-md-0 flex-shrink-0 checkin-cover">
                {% if object.content_object.poster %}
                    {% if object.content_object.poster_sens %}
                      <img src="{{ object.content_object.poster.url }}" alt="{{ object.content_object.title }} poster" style="width: 100%;" class="img-fluid blur" onclick="this.classList.toggle('blur')">
                    {% else %}
                      <img src="{{ object.content_object.poster.url }}" alt="{{ object.content_object.title }} poster" style="width: 100%;">
                    {% endif %}
                {% else %}
                    <p class="no-cover-text">No Poster</p>
                {% endif %}
            </div>
                    
            <div class="flex-grow-1 ms-3">
                {% if object.content_type.model == 'movie' %}
                <a href="{% url 'watch:movie_detail' object.content_object.id %}" class="text-decoration-none hover-username">
                    <h5>{{ object.content_object.title }}</h5>
                </a>
                {% elif object.content_type.model == 'series' %}
                <h4>{{ object.content_object.series.title }}</h4>
                <a href="{% url 'watch:series_detail' object.content_object.id %}" class="text-decoration-none hover-username">
                  <h5>{{ object.content_object.title }}</h5>
                </a>
                {% endif %}

                {% if object.content_type.model == 'movie' %}
                    {% regroup object.content_object.movierole_set.all by role as roles_list %}
                    {% for role in roles_list %}
                        <div>
                            {{ role.grouper.name }}{% if role.list|length > 1 %}s{% endif %}:
                            {% for movie_role in role.list %}
                                {% if not forloop.first %} / {% endif %}
                                <a href="{% url 'entity:person_detail' movie_role.person.id %}">
                                    {{ movie_role.alt_name | default:movie_role.person.name }}
                                </a>
                            {% endfor %}
                        </div>
                    {% endfor %}                        
                {% endif %}
                
                <div>
                    {% if object.content_object.release_date %}
                        Year: {{ object.content_object.release_date|slice:":4" }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


      <div class='mt-4'>
        <span class="d-flex mt-2">
          <p class='me-2 text-secondary mb-2'>
            {% if object.content_type.model == "movie" %}
            <a href="{% url 'watch:movie_checkin_list' object.content_object.id object.user.username%}" class="text-muted">{{ object.timestamp|date:"Y.m.d H:i" }}</a>
            {% else %}
            <a href="{% url 'watch:series_checkin_list' object.content_object.id object.user.username%}" class="text-muted">{{ object.timestamp|date:"Y.m.d H:i" }}</a>
            {% endif %}
          </p>
          {% if object.user == request.user %}
          <a href="{% url "watch:watch_checkin_update" object.id %}" class="me-2">Edit</a>
          <a href="{% url "watch:watch_checkin_delete" object.id %}" class="me-2">Delete</a>
          {% endif %}
        </span>
      </div>

      <button id="show-comments" class="btn btn-primary btn-sm mx-auto toggle-button">Comments ({{ comments|length }})</button>
      <button id="show-reposts" class="btn btn-secondary btn-sm mx-auto toggle-button">Reposts ({{ object.reposts.count }})</button>
      
      <hr>

      <div id="comments-section">
        {% include 'write/comment_in_details.html' with comments=comments object=object comment_form=comment_form object_type='watchcheckin' %}
      </div>

      <div id="reposts-section" style="display: none;">
        {% include 'write/repost_in_details.html' with object=object repost_form=repost_form reposts=object.reposts %}
      </div>

    </div>
  </div>
</div>
 
<script type="text/javascript" src="{% static 'js/toggle-button.js' %}"></script>

{% endblock content %}
