django
django-admin-csvexport
django-crispy-forms
django-markdownx
django-mathfilters
crispy-bootstrap5
black
isort
whitenoise
environs[django]
psycopg2-binary
psycopg[binary]
gunicorn
djangorestframework
Pillow
unique_names_generator