annotated-types==0.6.0
anyio==4.2.0
anytree==2.12.1
asgiref==3.7.2
asn1crypto==1.5.1
autopep8==2.0.4
beautifulsoup4==4.12.3
black==24.1.1
bleach==6.1.0
blurhash==1.1.4
boto3==1.34.34
botocore==1.34.34
cbor2==5.6.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
crispy-bootstrap5==2023.10
cryptography==42.0.2
cssbeautifier==1.14.11
decorator==5.1.1
defusedxml==0.7.1
diff-match-patch==20230430
distro==1.9.0
dj-database-url==2.1.0
dj-email-url==1.0.6
Django==5.0.1
django-admin-csvexport==2.2
django-auto-prefetch==1.8.0
django-autocomplete-light==3.9.7
django-autoslug==1.9.9
django-cache-url==3.4.5
django-cors-headers==4.3.1
django-crispy-forms==2.1
django-debug-toolbar==4.3.0
django-hosts==6.0
django-import-export==3.3.7
django-keyboard-shortcuts==0.0.7
django-markdownify==0.9.3
django-markdownx==4.0.7
django-mathfilters==1.0.0
django-modeltree==0.5
django-ratelimit==4.1.0
django-reversion==5.0.12
django-silk==5.1.0
django-simple-history==3.4.0
django-storages==1.14.2
django-subdomains==2.1.0
django-webmention==3.0.0
django-wm==4.0.4
djangorestframework==3.14.0
djlint==1.34.1
EditorConfig==0.12.3
environs==10.3.0
et-xmlfile==1.1.0
exceptiongroup==1.2.0
feedparser==6.0.11
fido2==1.1.2
future==0.18.3
gprof2dot==2022.7.29
gunicorn==21.2.0
h11==0.14.0
html-tag-names==0.1.2
html-void-elements==0.1.0
html5lib==1.1
http-message-signatures==0.4.4
http_sfv==0.9.9
httpcore==1.0.2
httpx==0.25.2
idna==3.6
ipaddress==1.0.23
isort==5.13.2
jmespath==1.0.1
jsbeautifier==1.14.11
json5==0.9.14
langcodes==3.3.0
language-data==1.1
marisa-trie==1.1.0
Markdown==3.5.2
MarkupPy==1.14
marshmallow==3.20.2
Mastodon.py==1.8.1
memory-profiler==0.61.0
mf2py==2.0.1
mypy-extensions==1.0.0
numpy==1.26.3
oauthlib==3.2.2
odfpy==1.4.1
ollama==0.1.6
openai==1.11.1
openpyxl==3.1.2
packaging==23.2
pandas==2.2.0
pathspec==0.12.1
pillow==10.2.0
pip-review==1.3.0
platformdirs==4.2.0
psutil==5.9.8
psycopg==3.1.18
psycopg-binary==3.1.18
psycopg2-binary==2.9.9
pycodestyle==2.11.1
pycountry==23.12.11
pycparser==2.21
pydantic==2.6.0
pydantic_core==2.16.1
pygeoip==0.3.2
Pygments==2.17.2
pymdown-extensions==10.7
Pympler==1.0.1
pyOpenSSL==24.0.0
pypng==0.20220715.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-magic==0.4.27
pytz==2024.1
PyYAML==6.0.1
qrcode==7.4.2
regex==2023.12.25
requests==2.31.0
requests-http-signature==0.7.1
requests-oauthlib==1.3.1
s3transfer==0.10.0
sgmllib3k==1.0.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
sqlparse==0.4.4
tablib==3.5.0
tinycss2==1.2.1
tomli==2.0.1
tqdm==4.66.1
typing_extensions==4.9.0
tzdata==2023.4
ua-parser==0.18.0
unique-names-generator==1.0.2
urllib3==2.0.7
user-agents==2.2.0
webauthn==2.0.0
webencodings==0.5.1
whitenoise==6.6.0
xlrd==2.0.1
xlwt==1.3.0
