django
django-admin-csvexport
django-crispy-forms
django-markdownify
django-mathfilters
crispy-bootstrap5
django-reversion
django-autocomplete-light
black
isort
whitenoise
environs[django]
psycopg2-binary
psycopg[binary]
gunicorn
djangorestframework
Pillow
django-storages[boto3]
boto3 
python-dotenv