{% extends "base.html" %}

{% block content %}
<h2>Activity Feed</h2>

{% for activity in object_list %}
    <div>
        {% if activity.activity_type == 'say' %}
            <a href="{% url 'accounts:detail' activity.user.username %}">
                {% if activity.user.display_name %}
                    {{ activity.user.display_name }}
                {% else %}
                    {{ activity.user.username }}
                {% endif %}
            </a> said:
            <div style="background-color:#f9f9f9; padding: 0.5em">
                {{ activity.content_object.content }}
            </div>
            <a href="{% url 'write:say_detail' activity.content_object.id %}">{{ activity.timestamp |date:"Y.m.d H:i" }}</a>
        {% elif activity.activity_type == 'post' %}
            <a href="{% url 'accounts:detail' activity.user.username %}">
                {% if activity.user.display_name %}
                    {{ activity.user.display_name }}
                {% else %}
                    {{ activity.user.username }}
                {% endif %}
            </a> posted:
            <div style="background-color:#f9f9f9; padding: 0.5em">
                <a href="{% url 'write:post_detail' activity.content_object.id %}"></a>
            </div>
            {{ activity.timestamp |date:"Y.m.d H:i" }}
        {% elif activity.activity_type == 'follow' %}
            <a href="{% url 'accounts:detail' activity.user.username %}">
                {% if activity.user.display_name %}
                    {{ activity.user.display_name }}
                {% else %}
                    {{ activity.user.username }}
                {% endif %}
            </a> followed 
            <a href="{% url 'accounts:detail' activity.content_object.followed.username %}">
                {% if activity.content_object.followed.display_name %}
                    {{ activity.content_object.followed.display_name }}
                {% else %}
                    {{ activity.content_object.followed.username }}
                {% endif %}
            </a>
            {{ activity.timestamp |date:"Y.m.d H:i" }}
        {% endif %}
    </div>
    <br/>
{% endfor %}
{% endblock %}
