{% load url_filters %}
{% load markdownify %}
{% load linkify %}
{% load past_tense %}


{% if activity.activity_type == 'say' %}  
<!--Say-->  
<div class="activity-item mb-3" data-activity-type="{{ activity.activity_type }}">
    <p>
        <a href="{% url 'accounts:detail' activity.user.username %}" class="text-decoration-none hover-username">
            {{ activity.user.display_name | default:activity.user.username }}
            <span class="username">@{{activity.user.username}}</span>
        </a> 
        {{ activity.activity_type | past_tense}}:
    </p>
    <p>
        {{ activity.content_object.content | linkify_tags | linkify_mentions | markdownify }}
    </p>
    <div class="d-flex mt-3">
        <p class="me-2">
            <a href="{% url 'write:say_detail' activity.content_object.id %}" class="text-decoration-none text-secondary">{{ activity.timestamp |date:"Y.m.d H:i" }}</a>
        </p>
        {% if activity.content_object.comments_enabled %}
            <p class="ms-2 me-2">
                <a href="{% url 'write:say_detail' activity.content_object.id %}" class="text-decoration-none">Reply</a>
            </p>
        {% endif %}
        <p class="ms-2 me-2"><a href="{% url 'write:repost_create' activity.id %}" class="text-decoration-none">Repost</a></p>
        {% if activity.user == request.user %}
            <p class="ms-2 me-2"><a href="{% url 'write:say_update' activity.content_object.id %}" class="text-decoration-none">Edit</a></p>
            <p class="ms-2 me-2"><a href="{% url 'activity_feed:activity_delete' activity.id %}" class="text-decoration-none">Delete</a></p>
        {% endif %}
    </div>
</div>


{% elif activity.activity_type == 'post' %}
<!--Post-->
<div class="activity-item mb-3" data-activity-type="{{ activity.activity_type }}">
    <p>
        <a href="{% url 'accounts:detail' activity.user.username %}" class="text-decoration-none hover-username">
            {{ activity.user.display_name | default:activity.user.username }}
            <span class="username">@{{activity.user.username}}</span>
        </a> 
        {{ activity.activity_type | past_tense}}:
    </p>
    <div class="bg-light p-3">
        <a href="{% url 'write:post_detail' activity.content_object.id %}" class="text-decoration-none">{{activity.content_object.title}}</a>
        <div>{{ activity.content_object.content | linkify_tags | linkify_mentions | markdownify | truncatewords:30 }}</div>
    </div>
    <div class="d-flex mt-2">
        <p class="me-2">
            <a href="{% url 'write:post_detail' activity.content_object.id %}" class="text-decoration-none text-secondary">{{ activity.timestamp |date:"Y.m.d H:i" }}</a>
        </p>
        {% if activity.content_object.comments_enabled %}
            <p class="ms-2 me-2"><a href="{% url 'write:post_detail' activity.content_object.id %}" class="text-decoration-none">Reply</a></p>
        {% endif %}
        <p class="ms-2 me-2"><a href="{% url 'write:repost_create' activity.id %}" class="text-decoration-none">Repost</a></p>
        {% if activity.user == request.user %}
            <p class="ms-2 me-2"><a href="{% url 'write:post_update' activity.content_object.id %}" class="text-decoration-none">Edit</a></p>
            <p class="ms-2 me-2"><a href="{% url 'activity_feed:activity_delete' activity.id %}" class="text-decoration-none">Delete</a></p>
        {% endif %}
    </div>
</div>

{% elif activity.activity_type == 'pin' %}
<!--Pin-->
<div class="activity-item mb-3" data-activity-type="{{ activity.activity_type }}">
    <p>
        <a href="{% url 'accounts:detail' activity.user.username %}" class="text-decoration-none hover-username">
            {{ activity.user.display_name | default:activity.user.username }}
            <span class="username">@{{activity.user.username}}</span>
        </a> 
        {{ activity.activity_type | past_tense}}:
    </p>
    <div class="bg-light p-3">
        <a href="{{ activity.content_object.url }}" class="text-decoration-none">{{activity.content_object.title}}</a> 
        (<a href="{% url 'write:pins_from_url' activity.content_object.url|root_url %}" class="text-decoration-none text-secondary">{{activity.content_object.url|root_url}}</a>)
        {% if activity.content_object.content %}
        <blockquote>{{ activity.content_object.content | linkify_tags | linkify_mentions | markdownify | truncatewords:200 }}</blockquote>
        {% endif %}
    </div>
    <div class="d-flex mt-2">
        <p class="me-2">
            <a href="{% url 'write:pin_detail' activity.content_object.id %}" class="text-decoration-none text-secondary">{{ activity.timestamp |date:"Y.m.d H:i" }}</a>
        </p>
        {% if activity.content_object.comments_enabled %}   
            <p class="ms-2 me-2"><a href="{% url 'write:pin_detail' activity.content_object.id %}" class="text-decoration-none">Reply</a></p>
        {% endif %}
            <p class="ms-2 me-2"><a href="{% url 'write:repost_create' activity.id %}" class="text-decoration-none">Repost</a></p>
        {% if activity.user != request.user %}
            <p class="ms-2 me-2"><a href="{% url 'write:pin_copy' activity.content_object.id %}" class="text-decoration-none">Copy</a></p>
        {% endif %}
        {% if activity.user == request.user %}
            <p class="ms-2 me-2"><a href="{% url 'write:pin_update' activity.content_object.id %}" class="text-decoration-none">Edit</a></p>
            <p class="ms-2 me-2"><a href="{% url 'activity_feed:activity_delete' activity.id %}" class="text-decoration-none">Delete</a></p>
        {% endif %}
    </div>
</div>

{% elif activity.activity_type == 'follow' %}
<!--Follow-->
<div class="activity-item mb-3" data-activity-type="{{ activity.activity_type }}">
    <p>
        <a href="{% url 'accounts:detail' activity.user.username %}" class="text-decoration-none hover-username">
            {{ activity.user.display_name | default:activity.user.username }}
            <span class="username">@{{activity.user.username}}</span>
        </a> 
        followed 
        <a href="{% url 'accounts:detail' activity.content_object.followed.username %}" class="text-decoration-none hover-username">
            {{ activity.content_object.followed.display_name | default:activity.content_object.followed.username }}
            <span class="username">@{{activity.content_object.followed.username}}</span>
        </a> 
    </p>
    <div class="d-flex mt-2 text-secondary">
        <p class="me-2">{{ activity.timestamp |date:"Y.m.d H:i" }}</p>
        {% if activity.user == request.user %}
        <p class="ms-2 me-2"><a href="{% url 'activity_feed:activity_delete' activity.content_object.id %}" class="text-decoration-none">Delete</a></p>
        {% endif %}
    </div>
</div>

{% elif activity.activity_type == 'repost' %}
<!--Repost--> 
<div class="activity-item mb-3" data-activity-type="{{ activity.activity_type }}">
    <p>
        <a href="{% url 'accounts:detail' activity.user.username %}" class="text-decoration-none hover-username">
            {{ activity.user.display_name | default:activity.user.username }}
            <span class="username">@{{activity.user.username}}</span>
        </a> 
        {{ activity.activity_type | past_tense}}:
    </p>
    {% if activity.content_object.content %}
        <p>{{ activity.content_object.content | linkify_tags | linkify_mentions | markdownify | truncatewords:30  }}</p>
    {% endif %}
    <div class="bg-light p-3">
        {% if activity.content_object.original_activity %}
            <!-- Display the reposted activity -->
            <p>
                <a href="{% url 'accounts:detail' activity.content_object.original_activity.user.username %}" class="text-decoration-none hover-username">
                    {{ activity.content_object.original_activity.user.display_name | default:activity.content_object.original_activity.user.username }}
                    <span class="username">@{{activity.content_object.original_activity.user.username}}</span>
                </a> 
                {{ activity.content_object.original_activity.activity_type | past_tense }}:
            </p>

            {% if activity.content_object.original_activity.activity_type == "post" %}
            <p><a href="{% url 'write:post_detail' activity.content_object.original_activity.content_object.id %}" class="text-decoration-none">{{ activity.content_object.original_activity.content_object.title }}</a></p>
            {% elif activity.content_object.original_activity.activity_type == "pin" %}
            <p><a href="{{ activity.content_object.original_activity.content_object.url }}" class="text-decoration-none">{{ activity.content_object.original_activity.content_object.title }}</a> ({{  activity.content_object.original_activity.content_object.url | root_url }})</p>
            {% endif %}
            <div class="bg-light">
                <div class="mb-3">{{ activity.content_object.original_activity.content_object.content  | linkify_tags | linkify_mentions | markdownify | truncatewords:30 }}</div>
                <p><a href="{{ activity.content_object.original_activity.content_object.get_absolute_url }}" class="text-decoration-none text-secondary">{{ activity.content_object.original_activity.content_object.timestamp |date:"Y.m.d H:i" }}</a></p>
            </div>
        {% else %}
            <p>The original content has been deleted.</p>
        {% endif %}    
    </div>
    <div class="d-flex mt-2">
        <p class="me-2">
            <a href="{% url 'write:repost_detail' activity.content_object.id %}" class="text-decoration-none text-secondary">{{ activity.timestamp |date:"Y.m.d H:i" }}</a>
        </p>
        {% if activity.content_object.content %}
            <p class="ms-2 me-2"><a href="{% url 'write:repost_detail' activity.content_object.id %}" class="text-decoration-none">Reply</a></p>
            <p class="ms-2 me-2"><a href="{% url 'write:repost_create' activity.id %}" class="text-decoration-none">Repost</a></p>
        {% endif %}
        {% if activity.user == request.user %}
            <p class="ms-2 me-2"><a href="{% url 'write:repost_update' activity.content_object.id %}" class="text-decoration-none">Edit</a></p>
            <p class="ms-2 me-2"><a href="{% url 'activity_feed:activity_delete' activity.id %}" class="text-decoration-none">Delete</a></p>
        {% endif %}
    </div> 
</div>


{% elif activity.activity_type == 'check-in' %}
<!--Check-in-->
<div class="activity-item mb-3" data-activity-type="{{ activity.activity_type }}">
    <p>
        <a href="{% url 'accounts:detail' activity.user.username %}" class="text-decoration-none hover-username">
            {{ activity.user.display_name | default:activity.user.username }}
            <span class="username">@{{activity.user.username}}</span>
        </a>
        {{ activity.activity_type | past_tense}} on a book
        <a href="{% url 'read:book_detail' activity.content_object.book.id %}" class="text-decoration-none hover-username">
            {{ activity.content_object.book.book_title }}
        </a>
    </p>
    <p>
        Status: {{ activity.content_object.status }}<br>
        Progress: {{ activity.content_object.progress }}<br>
        Comments: {{ activity.content_object.content | linkify_tags | linkify_mentions | markdownify }}
    </p>
    <div class="d-flex mt-3">
        <p class="me-2">
            <a href="{% url 'read:book_checkin_detail' activity.content_object.id %}" class="text-decoration-none text-secondary">{{ activity.timestamp |date:"Y.m.d H:i" }}</a>
        </p>
        {% if activity.content_object.comments_enabled %}
            <p class="ms-2 me-2">
                <a href="{% url 'read:book_checkin_detail' activity.content_object.id %}" class="text-decoration-none">Reply</a>
            </p>
        {% endif %}
        <p class="ms-2 me-2"><a href="{% url 'write:repost_create' activity.id %}" class="text-decoration-none">Repost</a></p>
        {% if activity.user == request.user %}
            <p class="ms-2 me-2"><a href="{% url 'read:book_checkin_update' activity.content_object.id %}" class="text-decoration-none">Edit</a></p>
            <p class="ms-2 me-2"><a href="{% url 'activity_feed:activity_delete' activity.id %}" class="text-decoration-none">Delete</a></p>
        {% endif %}
    </div>
</div>

    <!--Watch-->
    <!--Listen-->
    <!--Play-->
    <!--Visit-->

{% endif %}