{% extends "pages/base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-7 left-column">
                {% if object.activity_type == "repost" or object.activity_type == "say" %}
                    <h3>Delete this {{ object.content_type.model|title }}</h3>
                    <p>Are you sure you want to delete this {{ object.content_type.model|title }} ?</p>
                    <p class="text-secondary">
                        This will delete the {{ object.content_type.model|title }} from your public feed <strong>and also the {{ object.content_type.model|title }} itself</strong>.
                    </p>
                    <p class="text-secondary">
                        All comments you received in this {{ object.content_type.model|title }} will also be deleted.
                    </p>
                {% else %}
                    <h3>Delete this activity</h3>
                    <p>Are you sure you want to delete this activity?</p>
                    <p class="text-secondary">
                        This will <strong>only</strong> delete the activity from your public feed. The {{ object.content_type.model|title }} per se will not be deleted.
                    </p>
                    <p class="text-secondary">
                        If what you want is to delete the {{ object.content_type.model|title }}, please delete it from its own page</a>.
                    </p>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-sm btn-danger" value="Confirm">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
