{% extends "base.html" %}
{% load url_filters %}
{% load markdownify %}
{% load linkify %}
{% load past_tense %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            {% if feed_type == "public" %}
                <span style='display: flex;'>
                    <p style='padding-right:0.5em'>Say</p> | 
                    <a href="{% url 'write:post_create' %}"><p style='padding: 0 0.5em'>Post</p></a> | 
                    <a href="{% url 'write:pin_create' %}"><p style='padding: 0 0.5em'>Pin</p></a>
                </span>
                <form method="POST">
                    {% csrf_token %}
                    {{ say_form.content|as_crispy_field }}
                    {{ say_form.comments_enabled|as_crispy_field }}
                    <button type="submit" class="btn btn-primary btn-sm ">Add Say</button>
                </form>
                <hr>
            {% elif feed_type == "personal"%}
                <h3>{{  user.display_name | default:user.username }}'s Feed</h3>
                <hr>
            {% endif %}

            {% include "activity_feed/activity_filter.html" %}

            {% for activity in page_obj %}
                {% include "activity_feed/activity_item.html" %}
            {% endfor %}

            {% if page_obj.paginator.num_pages > 1 %}
            <hr>
            <div class="pagination">
                <span class="step-links">
                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <span class="current">{{ i }}</span>
                        {% else %}
                            <a href="?page={{ i }}">{{ i }}</a>
                        {% endif %}
                    {% endfor %}
                </span>
            </div>
            {% endif %}
            
        </div>
    </div>
</div>
{% endblock %}
