{% load url_filters %}
{% load markdownify %}
{% load linkify %}
{% load parse_activity_type %}
{% if activity.activity_type == 'say' %}
    {% if not activity.content_object.is_direct_mention or request.user in activity.content_object.visible_to.all or request.user == activity.user %}
        <!--Say-->
        <div class="activity-item mb-3"
            data-activity-type="{{ activity.activity_type }}">
            <div class="d-flex align-items-center">
                <a href="{% url 'accounts:detail' activity.user.username %}"
                class="text-decoration-none">
                    {{ activity.user.display_name | default:activity.user.username }}
                    
                </a>
                <span class="ms-1 text-muted align-items-center d-flex">{{ activity.activity_type | parse_activity_type }}{% if activity.content_object.is_direct_mention %}<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" title="direct message" aria-label="direct message">
                    <path d="M 12 1 C 8.6761905 1 6 3.6761905 6 7 L 6 8 C 4.9 8 4 8.9 4 10 L 4 20 C 4 21.1 4.9 22 6 22 L 18 22 C 19.1 22 20 21.1 20 20 L 20 10 C 20 8.9 19.1 8 18 8 L 18 7 C 18 3.6761905 15.32381 1 12 1 z M 12 3 C 14.27619 3 16 4.7238095 16 7 L 16 8 L 8 8 L 8 7 C 8 4.7238095 9.7238095 3 12 3 z M 12 13 C 13.1 13 14 13.9 14 15 C 14 16.1 13.1 17 12 17 C 10.9 17 10 16.1 10 15 C 10 13.9 10.9 13 12 13 z"></path>
                </svg>{% endif %}:</span>
            </div>
            <div class="mt-2 truncatable-text">
                {{ activity.content_object.content | linkify_tags | linkify_mentions | markdownify }}
            </div>
            <div class="d-flex mt-2">
                <p class="me-2">
                    <a href="{% url 'write:say_detail' activity.content_object.id %}"
                    class="text-decoration-none text-secondary">{{ activity.timestamp |date:"Y.m.d H:i" }}</a>
                </p>
                {% if activity.content_object.comments_enabled %}
                    <p class="ms-2 me-2">
                        <a href="{% url 'write:say_detail' activity.content_object.id %}?reply=true"
                        class="text-decoration-none">Reply</a>
                    </p>
                {% endif %}
                <p class="ms-2 me-2">
                    <a href="{% url 'write:say_detail' activity.content_object.id %}?repost=true"
                    class="text-decoration-none">Repost</a>
                </p>
                {% if activity.user == request.user %}
                    <p class="ms-2 me-2">
                        <a href="{% url 'write:say_update' activity.content_object.id %}"
                        class="text-decoration-none">Edit</a>
                    </p>
                    <p class="ms-2 me-2">
                        <a href="{% url 'activity_feed:activity_delete' activity.id %}"
                        class="text-decoration-none">Delete</a>
                    </p>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% elif activity.activity_type == 'post' %}
    <!--Post-->
    <div class="activity-item mb-3"
         data-activity-type="{{ activity.activity_type }}">
        <div>
            <a href="{% url 'accounts:detail' activity.user.username %}"
               class="text-decoration-none">
                {{ activity.user.display_name | default:activity.user.username }}
            </a>
            <span class="text-muted">{{ activity.activity_type | parse_activity_type }}:</span>
        </div>
        <div class="bg-light mt-2 p-3">
            <div class="fs-5">
                <a href="{% url 'write:post_detail' activity.content_object.id %}"
                   class="text-decoration-none">{{ activity.content_object.title }}</a>
            </div>
            <div>{{ activity.content_object.content | linkify_tags | linkify_mentions | truncatechars:300 | markdownify }}</div>
        </div>
        <div class="d-flex mt-2">
            <p class="me-2">
                <a href="{% url 'write:post_detail' activity.content_object.id %}"
                   class="text-decoration-none text-secondary">{{ activity.timestamp |date:"Y.m.d H:i" }}</a>
            </p>
            {% if activity.content_object.comments_enabled %}
                <p class="ms-2 me-2">
                    <a href="{% url 'write:post_detail' activity.content_object.id %}?reply=true"
                       class="text-decoration-none">Reply</a>
                </p>
            {% endif %}
            <p class="ms-2 me-2">
                <a href="{% url 'write:post_detail' activity.content_object.id %}?repost=true"
                   class="text-decoration-none">Repost</a>
            </p>
            {% if activity.user == request.user %}
                <p class="ms-2 me-2">
                    <a href="{% url 'write:post_update' activity.content_object.id %}"
                       class="text-decoration-none">Edit</a>
                </p>
                <p class="ms-2 me-2">
                    <a href="{% url 'activity_feed:activity_delete' activity.id %}"
                       class="text-decoration-none">Delete</a>
                </p>
            {% endif %}
        </div>
    </div>
{% elif activity.activity_type == 'pin' %}
    <!--Pin-->
    <div class="activity-item mb-3"
         data-activity-type="{{ activity.activity_type }}">
        <div>
            <a href="{% url 'accounts:detail' activity.user.username %}"
               class="text-decoration-none">
                {{ activity.user.display_name | default:activity.user.username }}
                
            </a>
            <span class="text-muted">{{ activity.activity_type | parse_activity_type }}:</span>
        </div>
        <div class="mt-2">
            <div class="bg-light p-3">
                <a href="{{ activity.content_object.url }}" class="text-decoration-none">{{ activity.content_object.title }}</a>
                (<a href="{% url 'write:pins_from_url' activity.content_object.url|root_url %}"
   class="text-decoration-none text-secondary">{{ activity.content_object.url|root_url }}</a>)
            </div>
            {% if activity.content_object.content %}
                <div class="mt-2 truncatable-text">
                    {{ activity.content_object.content | linkify_tags | linkify_mentions | markdownify }}
                </div>
            {% endif %}
        </div>
        <div class="d-flex mt-2">
            <p class="me-2">
                <a href="{% url 'write:pin_detail' activity.content_object.id %}"
                   class="text-decoration-none text-secondary">{{ activity.timestamp |date:"Y.m.d H:i" }}</a>
            </p>
            {% if activity.content_object.comments_enabled %}
                <p class="ms-2 me-2">
                    <a href="{% url 'write:pin_detail' activity.content_object.id %}"
                       class="text-decoration-none">Reply</a>
                </p>
            {% endif %}
            <p class="ms-2 me-2">
                <a href="{% url 'write:pin_detail' activity.content_object.id %}?repost=true"
                   class="text-decoration-none">Repost</a>
            </p>
            {% if activity.user != request.user %}
                <p class="ms-2 me-2">
                    <a href="{% url 'write:pin_copy' activity.content_object.id %}"
                       class="text-decoration-none">Copy</a>
                </p>
            {% endif %}
            {% if activity.user == request.user %}
                <p class="ms-2 me-2">
                    <a href="{% url 'write:pin_update' activity.content_object.id %}"
                       class="text-decoration-none">Edit</a>
                </p>
                <p class="ms-2 me-2">
                    <a href="{% url 'activity_feed:activity_delete' activity.id %}"
                       class="text-decoration-none">Delete</a>
                </p>
            {% endif %}
        </div>
    </div>
{% elif activity.activity_type == 'follow' %}
    <!--Follow-->
    <div class="activity-item mb-3"
         data-activity-type="{{ activity.activity_type }}">
        <div>
            <a href="{% url 'accounts:detail' activity.user.username %}"
               class="text-decoration-none">
                {{ activity.user.display_name | default:activity.user.username }}
            </a>
            <span class="text-muted">followed</span>
            <a href="{% url 'accounts:detail' activity.content_object.followed.username %}"
               class="text-decoration-none">
                {{ activity.content_object.followed.display_name | default:activity.content_object.followed.username }}
            </a>
        </div>
        <div class="d-flex text-secondary">
            <p class="me-2 mb-3">{{ activity.timestamp |date:"Y.m.d H:i" }}</p>
            {% if activity.user == request.user %}
                <p class="ms-2 me-2">
                    <a href="{% url 'activity_feed:activity_delete' activity.content_object.id %}"
                       class="text-decoration-none">Delete</a>
                </p>
            {% endif %}
        </div>
    </div>
{% elif activity.activity_type == 'repost' %}
    {% include "activity_feed/activity_item_repost.html" %}
{% elif activity.activity_type == 'read-check-in' %}
    <!--Read-Check-in-->
    <div class="activity-item mb-3"
         data-activity-type="{{ activity.activity_type }}">
        <div class="d-flex flex-wrap align-items-center">
            <a href="{% url 'accounts:detail' activity.user.username %}"
               class="text-decoration-none me-1">
                {{ activity.user.display_name | default:activity.user.username }}
                
            </a>
            <span class="me-1 text-muted">checked in</span>
            <!--badge: checkin status-->
            <span class="badge {{ activity.content_object.status|get_status_class }} me-1">
                {{ activity.content_object.get_status_display }}
            </span>
            {% if activity.content_object.progress %}
                <span class="badge text-bg-warning me-1">
                    {% if activity.content_object.progress_type == "PG" %}
                        On page {{ activity.content_object.progress }}
                    {% else %}
                        At {{ activity.content_object.progress }}%
                    {% endif %}
                </span>
            {% endif %}
        </div>
        <div class="mt-2 truncatable-text">
            {{ activity.content_object.content | linkify_tags | linkify_mentions | markdownify }}
        </div>
        <div class="d-flex flex-row bg-light p-3 mt-2">
            <div class="mb-3 mb-md-0 flex-shrink-0 checkin-cover">
                {% if user.pure_text_mode %}
                    <div class="cover-placeholder bg-light">{{ activity.content_object.content_object.title }}</div>
                {% else %}
                    {% if activity.content_object.content_object.cover %}
                        {% if activity.content_object.content_object.cover_sens %}
                            <img src="{{ activity.content_object.content_object.cover.url }}"
                                alt="{{ activity.content_object.content_object.title }} cover"
                                style="width: 100%"
                                class="img-fluid blur cover-border"
                                onclick="this.classList.toggle('blur')">
                        {% else %}
                            <img src="{{ activity.content_object.content_object.cover.url }}"
                                alt="{{ activity.content_object.content_object.title }} cover"
                                class="img-fluid cover-border"
                                onerror="this.onerror=null; this.parentNode.innerHTML='<div class=\'cover-placeholder\'>{{ activity.content_object.content_object.title }}</div>';">
                        {% endif %}
                    {% else %}
                        <div class="cover-placeholder">{{ activity.content_object.content_object.title }}</div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="flex-grow-1 ms-3">
                {% if activity.content_object.content_type.model == 'book' %}
                    <a href=" {% url 'read:book_detail' activity.content_object.content_object.id %} "
                       class="text-decoration-none">
                        <div class="fs-5">{{ activity.content_object.content_object.title }}</div>
                    </a>
                {% elif activity.content_object.content_type.model == 'issue' %}
                    <div class="fs-5">{{ activity.content_object.content_object.periodical.title }}</div>
                    <a href=" {% url 'read:issue_detail' activity.content_object.content_object.periodical.id activity.content_object.content_object.id %} "
                       class="text-decoration-none">
                        <div class="fs-6">{{ activity.content_object.content_object.title }}</div>
                    </a>
                {% endif %}
                {% if activity.content_object.content_type.model == 'book' %}
                    {% regroup activity.content_object.content_object.bookrole_set.all by role as roles_list %}
                    {% for role in roles_list %}
                        <div>
                            {# djlint:off #}
                            <span class="text-muted">{{ role.grouper.name }}{% if role.list|length > 1 %}s{% endif %}:</span>
                            {# djlint:on #}
                            {% for book_role in role.list %}
                                {% if not forloop.first %}
                                    /
                                {% endif %}
                                <a href="{% url 'entity:creator_detail' book_role.creator.id %}">
                                    {{ book_role.alt_name | default:book_role.creator.name }}
                                </a>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endif %}
                {% if activity.content_object.content_object.publisher %}
                <div>
                    <span class="text-muted">Publisher:</span>
                    <a href="{% url 'entity:company_detail' activity.content_object.content_object.publisher.id %}">
                        {{ activity.content_object.content_object.publisher.name }}
                    </a>
                </div>
                {% endif %}
                {% if activity.content_object.content_object.publication_date %}
                <div>
                    <span class="text-muted">Date:</span>
                    {{ activity.content_object.content_object.publication_date }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="d-flex mt-2">
            <p class="me-2">
                <a href="{% url 'read:read_checkin_detail' activity.content_object.id %}"
                   class="text-decoration-none text-secondary">{{ activity.timestamp |date:"Y.m.d H:i" }}</a>
            </p>
            {% if activity.content_object.comments_enabled %}
                <p class="ms-2 me-2">
                    <a href="{% url 'read:read_checkin_detail' activity.content_object.id %}"
                       class="text-decoration-none">Reply</a>
                </p>
            {% endif %}
            <p class="ms-2 me-2">
                <a href="{% url 'read:read_checkin_detail' activity.content_object.id %}?repost=true"
                   class="text-decoration-none">Repost</a>
            </p>
            {% if activity.user == request.user %}
                <p class="ms-2 me-2">
                    <a href="{% url 'read:read_checkin_update' activity.content_object.id %}"
                       class="text-decoration-none">Edit</a>
                </p>
                <p class="ms-2 me-2">
                    <a href="{% url 'activity_feed:activity_delete' activity.id %}"
                       class="text-decoration-none">Delete</a>
                </p>
            {% endif %}
        </div>
    </div>
    <!--Watch-->
{% elif activity.activity_type == 'watch-check-in' %}
    <!--Watch-Check-in-->
    <div class="activity-item mb-3"
         data-activity-type="{{ activity.activity_type }}">
        <div class="d-flex flex-wrap align-items-center">
            <a href="{% url 'accounts:detail' activity.user.username %}"
               class="text-decoration-none me-1">
                {{ activity.user.display_name | default:activity.user.username }}
                
            </a>
            <span class="me-1 text-muted">checked in</span>
            <!--badge: checkin status-->
            <div class="d-flex align-items-center me-1">
                <span class="badge {{ activity.content_object.status|get_status_class }} me-1">
                    {{ activity.content_object.get_status_display }}
                </span>
            </div>
            {% if activity.content_object.progress %}
                <span class="badge text-bg-warning me-1">
                    {{ activity.content_object.progress }}
                    {% if activity.content_object.progress_type == "TM" %}Times{% endif %}
                </span>
            {% endif %}
        </div>
        <div class="mt-2 truncatable-text">
            {{ activity.content_object.content | linkify_tags | linkify_mentions | markdownify }}
        </div>
        <div class="d-flex flex-row bg-light p-3 mt-2">
            <div class="mb-3 mb-md-0 flex-shrink-0 checkin-cover">
                {% if user.pure_text_mode %}
                    <div class="cover-placeholder bg-light">{{ activity.content_object.content_object.title }}</div>
                {% else %}
                    {% if activity.content_object.content_object.poster %}
                        {% if activity.content_object.content_object.poster_sens %}
                            <img src="{{ activity.content_object.content_object.poster.url }}"
                                alt="{{ activity.content_object.content_object.title }} cover"
                                style="width: 100%"
                                class="img-fluid blur cover-border"
                                onclick="this.classList.toggle('blur')">
                        {% else %}
                            <img src="{{ activity.content_object.content_object.poster.url }}"
                                alt="{{ activity.content_object.content_object.title }} cover"
                                class="img-fluid cover-border"
                                onerror="this.onerror=null; this.parentNode.innerHTML='<div class=\'cover-placeholder\'>{{ activity.content_object.content_object.title }}</div>';">
                        {% endif %}
                    {% else %}
                        <div class="cover-placeholder">{{ activity.content_object.content_object.title }}</div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="flex-grow-1 ms-3">
                {% if activity.content_object.content_type.model == 'movie' %}
                    <a href=" {% url 'watch:movie_detail' activity.content_object.content_object.id %} "
                       class="text-decoration-none">
                        <div class="fs-5">{{ activity.content_object.content_object.title }}</div>
                    </a>
                {% elif activity.content_object.content_type.model == 'series' %}
                    <a href=" {% url 'watch:series_detail' activity.content_object.content_object.id %} "
                       class="text-decoration-none">
                        <div class="fs-5">{{ activity.content_object.content_object.title }}</div>
                    </a>
                {% endif %}
                {% if activity.content_object.content_type.model == 'movie' %}
                    {% regroup activity.content_object.content_object.movieroles.all by role as roles_list %}
                    {% for role in roles_list %}
                        <div>
                            {# djlint:off #}
                            <span class="text-muted">{{ role.grouper.name }}{% if role.list|length > 1 %}s{% endif %}:</span>
                            {# djlint:on #}
                            {% for movie_role in role.list %}
                                {% if not forloop.first %}/{% endif %}
                                <a href="{% url 'entity:creator_detail' movie_role.creator.id %}">
                                    {{ movie_role.alt_name | default:movie_role.creator.name }}
                                </a>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% elif activity.content_object.content_type.model == 'series' %}
                    {% regroup activity.content_object.content_object.seriesroles.all by role as roles_list %}
                    {% for role in roles_list %}
                        <div>
                            {# djlint:off #}
                            <span class="text-muted">{{ role.grouper.name }}{% if role.list|length > 1 %}s{% endif %}:</span>
                            {# djlint:on #}
                            {% for series_role in role.list %}
                                {% if not forloop.first %}/{% endif %}
                                <a href="{% url 'entity:creator_detail' series_role.creator.id %}">
                                    {{ series_role.alt_name | default:series_role.creator.name }}
                                </a>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endif %}
                {% if activity.content_object.content_object.studios.exists %}
                <div>
                    {# djlint:off #}
                    <span class="text-muted">Studio{% if activity.content_object.content_object.studios.count > 1 %}s{% endif %}:</span>
                    {# djlint:on #}
                    {% for studio in activity.content_object.content_object.studios.all %}
                        {% if not forloop.first %}/{% endif %}
                        <a href="{% url 'entity:company_detail' studio.id %}">{{ studio.name }}</a>
                    {% endfor %}
                </div>
                {% endif %}
                {% if activity.content_object.content_object.distributors.exists %}
                <div>
                    {# djlint:off #}
                    <span class="text-muted">Distributor{% if activity.content_object.content_object.distributors.count > 1 %}s{% endif %}:</span>
                    {# djlint:on #}
                    {% for distributor in activity.content_object.content_object.distributors.all %}
                        {% if not forloop.first %}/{% endif %}
                        <a href="{% url 'entity:company_detail' distributor.id %}">{{ distributor.name }}</a>
                    {% endfor %}
                </div>
                {% endif %}
                {% if activity.content_object.content_object.release_date %}
                    <div>
                        <span class="text-muted">Date:</span>
                        {{ activity.content_object.content_object.release_date }}
                    </div>
                {% endif %}
                {% if activity.content_object.content_object.region_release_dates.all %}
                    <div>
                        <span class="text-muted">Date:</span>
                        {% with earliest_region_release_date=activity.content_object.content_object.region_release_dates.all|first %}
                            {{ earliest_region_release_date.release_date }} ({{ earliest_region_release_date.region }})
                        {% endwith %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="d-flex mt-2">
            <p class="me-2">
                <a href="{% url 'watch:watch_checkin_detail' activity.content_object.id %}"
                   class="text-decoration-none text-secondary">{{ activity.timestamp |date:"Y.m.d H:i" }}</a>
            </p>
            {% if activity.content_object.comments_enabled %}
                <p class="ms-2 me-2">
                    <a href="{% url 'watch:watch_checkin_detail' activity.content_object.id %}"
                       class="text-decoration-none">Reply</a>
                </p>
            {% endif %}
            <p class="ms-2 me-2">
                <a href="{% url 'watch:watch_checkin_detail' activity.content_object.id %}?repost=true"
                   class="text-decoration-none">Repost</a>
            </p>
            {% if activity.user == request.user %}
                <p class="ms-2 me-2">
                    <a href="{% url 'watch:watch_checkin_update' activity.content_object.id %}"
                       class="text-decoration-none">Edit</a>
                </p>
                <p class="ms-2 me-2">
                    <a href="{% url 'activity_feed:activity_delete' activity.id %}"
                       class="text-decoration-none">Delete</a>
                </p>
            {% endif %}
        </div>
    </div>
    <!--Listen-->
{% elif activity.activity_type == 'listen-check-in' %}
    <div class="activity-item mb-3"
         data-activity-type="{{ activity.activity_type }}">
        <div class="d-flex flex-wrap align-items-center">
            <a href="{% url 'accounts:detail' activity.user.username %}"
               class="text-decoration-none me-1">
                {{ activity.user.display_name | default:activity.user.username }}
                
            </a>
            <span class="me-1 text-muted">checked in</span>
            <!--badge: checkin status-->
            <div class="d-flex align-items-center me-1">
                <span class="badge {{ activity.content_object.status|get_status_class }} me-1">
                    {{ activity.content_object.get_status_display }}
                </span>
            </div>
            {% if activity.content_object.progress %}
                {% if activity.content_object.content_type.model == "release" %}
                    <span class="badge text-bg-warning me-1">
                        Loop: {{ activity.content_object.progress }}
                        {% if activity.content_object.progress_type == "LT" %}
                            Times
                        {% elif activity.content_object.progress_type == "TT" %}
                            Minutes
                        {% endif %}
                    </span>
                {% elif activity.content_object.content_type.model == "podcast" %}
                    <span class="badge text-bg-warning me-1">
                        {{ activity.content_object.progress }}
                    </span>
                {% elif activity.content_object.content_type.model == "audiobook" %}
                    <span class="badge text-bg-warning me-1">
                        At {{ activity.content_object.progress }}
                    </span>
                {% endif %}
            {% endif %}

        </div>
        <div class="mt-2 truncatable-text">
            {{ activity.content_object.content | linkify_tags | linkify_mentions | markdownify }}
        </div>
        <div class="d-flex flex-row bg-light p-3 mt-2">
            <div class="mb-3 mb-md-0 flex-shrink-0 checkin-cover">
                {% if user.pure_text_mode %}
                    <div class="listen-cover-placeholder bg-light">{{ activity.content_object.content_object.title }}</div>
                {% else %}
                    {% if activity.content_object.content_object.cover %}
                        {% if activity.content_object.content_object.cover_sens %}
                            <img src="{{ activity.content_object.content_object.cover.url }}"
                                alt="{{ activity.content_object.content_object.title }} cover"
                                style="width: 100%"
                                class="img-fluid blur cover-border"
                                onclick="this.classList.toggle('blur')">
                        {% else %}
                            <img src="{{ activity.content_object.content_object.cover.url }}"
                                alt="{{ activity.content_object.content_object.title }} cover"
                                class="img-fluid cover-border"
                                onerror="this.onerror=null; this.parentNode.innerHTML='<div class=\'listen-cover-placeholder\'>{{ activity.content_object.content_object.title }}</div>';">
                        {% endif %}
                    {% else %}
                        <div class="listen-cover-placeholder">{{ activity.content_object.content_object.title }}</div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="flex-grow-1 ms-3">
                {% if activity.content_object.content_type.model == "release" %}
                    <a href="{% url 'listen:release_detail' activity.content_object.content_object.id %}"
                       class="text-decoration-none">
                        <div class="fs-5">{{ activity.content_object.content_object.title }}</div>
                    </a>
                {% elif activity.content_object.content_type.model == "podcast" %}
                    <a href="{% url 'listen:podcast_detail' activity.content_object.content_object.id %}"
                       class="text-decoration-none">
                        <div class="fs-5">{{ activity.content_object.content_object.title }}</div>
                    </a>
                    <div class="text-muted">{{ activity.content_object.content_object.notes|truncatechars:600 }}</div>
                {% elif activity.content_object.content_type.model == "audiobook" %}
                    <a href="{% url 'listen:audiobook_detail' activity.content_object.content_object.id %}"
                       class="text-decoration-none">
                        <div class="fs-5">{{ activity.content_object.content_object.title }}</div>
                    </a>
                {% endif %}
                {% regroup activity.content_object.content_object.releaserole_set.all by role as roles_list %}
                {% for role in roles_list %}
                    <div>
                        {# djlint:off #}
                        <span class="text-muted">{{ role.grouper.name }}{% if role.list|length > 1 %}s{% endif %}:</span>
                        {# djlint:on #}
                        {% for release_role in role.list %}
                            {% if not forloop.first %}/{% endif %}
                            <a href="{% url 'entity:creator_detail' release_role.creator.id %}">
                                {{ release_role.alt_name | default:release_role.creator.name }}
                            </a>
                        {% endfor %}
                    </div>
                {% endfor %}
                {% regroup activity.content_object.content_object.audiobookrole_set.all by role as roles_list %}
                {% for role in roles_list %}
                    <div>
                        {# djlint:off #}
                        <span class="text-muted">{{ role.grouper.name }}{% if role.list|length > 1 %}s{% endif %}:</span>
                        {# djlint:on #}
                        {% for audiobook_role in role.list %}
                            {% if not forloop.first %}/{% endif %}
                            <a href="{% url 'entity:creator_detail' audiobook_role.creator.id %}">
                                {{ audiobook_role.alt_name | default:audiobook_role.creator.name }}
                            </a>
                        {% endfor %}
                    </div>
                {% endfor %}
                {% if activity.content_object.content_object.label %}
                <div>
                    {# djlint:off #}
                    <span class="text-muted">Label{% if activity.content_object.content_object.label.list|length > 1 %}s{% endif %}:</span>
                    {# djlint:on #}
                    {% for label in activity.content_object.content_object.label.all %}
                        {% if not forloop.first %},{% endif %}
                        <a href="{% url 'entity:company_detail' label.id %}">{{ label.name }}</a>
                    {% endfor %}
                </div>
                {% endif %}
                {% if activity.content_object.content_object.publisher %}
                <div>
                    {# djlint:off #}
                    <span class="text-muted">Publisher{% if activity.content_object.content_object.publisher.list|length > 1 %}s{% endif %}:</span>
                    {# djlint:on #}
                    <a href="{% url 'entity:company_detail' activity.content_object.content_object.publisher.id %}">{{ activity.content_object.content_object.publisher.name }}</a>
                </div>
                {% endif %}
                {% if activity.content_object.content_object.catalog_number %}
                <div>
                    <span class="text-muted">Catalog Number:</span>
                    {{activity.content_object.content_object.catalog_number}}
                </div>
                {% endif %}
                {% if activity.content_object.content_object.release_date %}
                <div>
                    <span class="text-muted">Date:</span>
                    {{ activity.content_object.content_object.release_date }}
                </div>
                {% endif %}

            </div>
        </div>
        <div class="d-flex mt-2">
            <p class="me-2">
                <a href="{% url 'listen:listen_checkin_detail' activity.content_object.id %}"
                   class="text-decoration-none text-secondary">{{ activity.timestamp |date:"Y.m.d H:i" }}</a>
            </p>
            {% if activity.content_object.comments_enabled %}
                <p class="ms-2 me-2">
                    <a href="{% url 'listen:listen_checkin_detail' activity.content_object.id %}"
                       class="text-decoration-none">Reply</a>
                </p>
            {% endif %}
            <p class="ms-2 me-2">
                <a href="{% url 'listen:listen_checkin_detail' activity.content_object.id %}?repost=true"
                   class="text-decoration-none">Repost</a>
            </p>
            {% if activity.user == request.user %}
                <p class="ms-2 me-2">
                    <a href="{% url 'listen:listen_checkin_update' activity.content_object.id %}"
                       class="text-decoration-none">Edit</a>
                </p>
                <p class="ms-2 me-2">
                    <a href="{% url 'activity_feed:activity_delete' activity.id %}"
                       class="text-decoration-none">Delete</a>
                </p>
            {% endif %}
        </div>
    </div>
    <!--Play-->
{% elif activity.activity_type == 'game-check-in' %}
    <!--Game-Check-in-->
    <div class="activity-item mb-3"
         data-activity-type="{{ activity.activity_type }}">
        <div class="d-flex flex-wrap align-items-center">
            <a href="{% url 'accounts:detail' activity.user.username %}"
               class="text-decoration-none me-1">
                {{ activity.user.display_name | default:activity.user.username }}
                
            </a>
            <span class="me-1 text-muted">checked in</span>
            <!--badge: checkin status-->
            <div class="d-flex align-items-center me-1">
                <span class="badge {{ activity.content_object.status|get_status_class }} me-1">
                    {{ activity.content_object.get_status_display }}
                </span>
            </div>
            {% if activity.content_object.progress %}
                <span class="badge text-bg-warning me-1">
                    At {{ activity.content_object.progress }}
                    {% if activity.content_object.progress_type == "TT" %}
                        {# djlint:off #}
                        Hour{% if checkin.progress != 1 %}s{% endif %}
                        {# djlint:on #}
                    {% endif %}
                </span>
            {% endif %}
        </div>
        <div class="mt-2 truncatable-text">
            {{ activity.content_object.content | linkify_tags | linkify_mentions | markdownify }}
        </div>
        <div class="d-flex flex-row bg-light p-3 mt-2">
            <div class="mb-3 mb-md-0 flex-shrink-0 checkin-cover">
                {% if user.pure_text_mode %}
                    <div class="cover-placeholder bg-light">{{ activity.content_object.game.title }}</div>
                {% else %}
                    {% if activity.content_object.game.cover %}
                        {% if activity.content_object.game.cover_sens %}
                            <img src="{{ activity.content_object.game.cover.url }}"
                                alt="{{ activity.content_object.game.title }} cover"
                                style="width: 100%"
                                class="img-fluid blur cover-border"
                                onclick="this.classList.toggle('blur')">
                        {% else %}
                            <img src="{{ activity.content_object.game.cover.url }}"
                                alt="{{ activity.content_object.game.title }} cover"
                                class="img-fluid cover-border"
                                onerror="this.onerror=null; this.parentNode.innerHTML='<div class=\'cover-placeholder\'>{{ activity.content_object.game.title }}</div>';">
                        {% endif %}
                    {% else %}
                        <div class="cover-placeholder">{{ activity.content_object.game.title }}</div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="flex-grow-1 ms-3">
                <a href="{% url 'play:game_detail' activity.content_object.game.id %}"
                   class="text-decoration-none">
                    <div class="fs-5">{{ activity.content_object.game.title }}</div>
                </a>
                {% regroup activity.content_object.game.gamerole_set.all by role as roles_list %}
                {% for role in roles_list %}
                    <div>
                        {# djlint:off #}
                        <span class="text-muted">{{ role.grouper.name }}{% if role.list|length > 1 %}s{% endif %}:</span>
                        {# djlint:on #}
                        {% for game_role in role.list %}
                            {% if not forloop.first %}/{% endif %}
                            <a href="{% url 'entity:creator_detail' game_role.creator.id %}">
                                {{ game_role.alt_name | default:game_role.creator.name }}
                            </a>
                        {% endfor %}
                    </div>
                {% endfor %}
                <div>
                    {% if activity.content_object.game.developers.exists %}
                        {# djlint:off #}
                        <span class="text-muted">Developer{% if activity.content_object.game.developers.count > 1 %}s{% endif %}:</span>
                        {# djlint:on #}
                        {% for developer in activity.content_object.game.developers.all %}
                            {% if not forloop.first %}/{% endif %}
                            <a href="{% url 'entity:company_detail' developer.id %}">{{ developer.name }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
                <div>
                    {% if activity.content_object.game.publishers.exists %}
                        {# djlint:off #}
                        <span class="text-muted">Publisher
                            {% if activity.content_object.game.publishers.count > 1 %}s{% endif %}:</span>
                        {# djlint:on #}
                        {% for publisher in activity.content_object.game.publishers.all %}
                            {% if not forloop.first %}/{% endif %}
                            <a href="{% url 'entity:company_detail' publisher.id %}">{{ publisher.name }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
                <div>
                    {% if activity.content_object.game.platforms.exists %}
                        {# djlint:off #}
                        <span class="text-muted">Platform{% if activity.content_object.game.platforms.list|length > 1 %}s{% endif %}:</span>
                        {# djlint:on #}
                        {% for platform in activity.content_object.game.platforms.all %}
                            {% if not forloop.first %},{% endif %}
                            <a href="{% url 'play:platform_detail' platform.id %}">{{ platform.name }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
                {% if activity.content_object.game.region_release_dates.all %}
                    <div>
                        <span class="text-muted">Date:</span>
                        {% with earliest_region_release_date=activity.content_object.game.region_release_dates.all|first %}
                            {{ earliest_region_release_date.release_date }} ({{ earliest_region_release_date.region }})
                        {% endwith %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="d-flex mt-2">
            <p class="me-2">
                <a href="{% url 'play:game_checkin_detail' activity.content_object.id %}"
                   class="text-decoration-none text-secondary">{{ activity.timestamp |date:"Y.m.d H:i" }}</a>
            </p>
            {% if activity.content_object.comments_enabled %}
                <p class="ms-2 me-2">
                    <a href="{% url 'play:game_checkin_detail' activity.content_object.id %}"
                       class="text-decoration-none">Reply</a>
                </p>
            {% endif %}
            <p class="ms-2 me-2">
                <a href="{% url 'play:game_checkin_detail' activity.content_object.id %}?repost=true"
                   class="text-decoration-none">Repost</a>
            </p>
            {% if activity.user == request.user %}
                <p class="ms-2 me-2">
                    <a href="{% url 'play:game_checkin_update' activity.content_object.id %}"
                       class="text-decoration-none">Edit</a>
                </p>
                <p class="ms-2 me-2">
                    <a href="{% url 'activity_feed:activity_delete' activity.id %}"
                       class="text-decoration-none">Delete</a>
                </p>
            {% endif %}
        </div>
    </div>
{% endif %}
