{% load url_filters %}
{% load markdownify %}
{% load linkify %}
{% load parse_activity_type %}


    {% if activity.activity_type == 'say' %}  
    <!--Say-->  
    <div class="activity-item mb-3" data-activity-type="{{ activity.activity_type }}">
        <div>
            <a href="{% url 'accounts:detail' activity.user.username %}" class="text-decoration-none hover-username">
                {{ activity.user.display_name | default:activity.user.username }}
                <span class="username">@{{activity.user.username}}</span>
            </a> 
            <span class="text-muted">{{ activity.activity_type | parse_activity_type}}:</span>
        </div>
        <div class="mt-2">
            {{ activity.content_object.content | linkify_tags | linkify_mentions | markdownify | truncatechars:600}}
        </div>
        <div class="d-flex mt-2">
            <p class="me-2">
                <a href="{% url 'write:say_detail' activity.content_object.id %}" class="text-decoration-none text-secondary">{{ activity.timestamp |date:"Y.m.d H:i" }}</a>
            </p>
            {% if activity.content_object.comments_enabled %}
                <p class="ms-2 me-2">
                    <a href="{% url 'write:say_detail' activity.content_object.id %}" class="text-decoration-none">Reply</a>
                </p>
            {% endif %}
            <p class="ms-2 me-2"><a href="{% url 'write:say_detail' activity.content_object.id %}?repost=true" class="text-decoration-none">Repost</a></p>
            {% if activity.user == request.user %}
                <p class="ms-2 me-2"><a href="{% url 'write:say_update' activity.content_object.id %}" class="text-decoration-none">Edit</a></p>
                <p class="ms-2 me-2"><a href="{% url 'activity_feed:activity_delete' activity.id %}" class="text-decoration-none">Delete</a></p>
            {% endif %}
        </div>
        
    </div>
    
    


    {% elif activity.activity_type == 'post' %}
    <!--Post-->
    <div class="activity-item mb-3" data-activity-type="{{ activity.activity_type }}">
        <div>
            <a href="{% url 'accounts:detail' activity.user.username %}" class="text-decoration-none hover-username">
                {{ activity.user.display_name | default:activity.user.username }}
                <span class="username">@{{activity.user.username}}</span>
            </a> 
            <span class="text-muted">{{ activity.activity_type | parse_activity_type}}:</span>
        </div>
        <div class="bg-light mt-2 p-3">
            <div><a href="{% url 'write:post_detail' activity.content_object.id %}" class="text-decoration-none">{{activity.content_object.title}}</a></div>
            <div>{{ activity.content_object.content | linkify_tags | linkify_mentions | markdownify | truncatechars:300 }}</div>
        </div>
        <div class="d-flex mt-2">
            <p class="me-2">
                <a href="{% url 'write:post_detail' activity.content_object.id %}" class="text-decoration-none text-secondary">{{ activity.timestamp |date:"Y.m.d H:i" }}</a>
            </p>
            {% if activity.content_object.comments_enabled %}
                <p class="ms-2 me-2"><a href="{% url 'write:post_detail' activity.content_object.id %}" class="text-decoration-none">Reply</a></p>
            {% endif %}
            <p class="ms-2 me-2"><a href="{% url 'write:post_detail' activity.content_object.id %}?repost=true" class="text-decoration-none">Repost</a></p>
            {% if activity.user == request.user %}
                <p class="ms-2 me-2"><a href="{% url 'write:post_update' activity.content_object.id %}" class="text-decoration-none">Edit</a></p>
                <p class="ms-2 me-2"><a href="{% url 'activity_feed:activity_delete' activity.id %}" class="text-decoration-none">Delete</a></p>
            {% endif %}
        </div>
        
    </div>
    

    {% elif activity.activity_type == 'pin' %}
    <!--Pin-->
    <div class="activity-item mb-3" data-activity-type="{{ activity.activity_type }}">
        <div>
            <a href="{% url 'accounts:detail' activity.user.username %}" class="text-decoration-none hover-username">
                {{ activity.user.display_name | default:activity.user.username }}
                <span class="username">@{{activity.user.username}}</span>
            </a> 
            <span class="text-muted">{{ activity.activity_type | parse_activity_type}}:</span>
        </div>
        <div class="bg-light mt-2 p-3">
            <div>
                <a href="{{ activity.content_object.url }}" class="text-decoration-none">{{activity.content_object.title}}</a>
                (<a href="{% url 'write:pins_from_url' activity.content_object.url|root_url %}" class="text-decoration-none text-secondary">{{activity.content_object.url|root_url}}</a>)
            </div>
            {% if activity.content_object.content %}
            <div>{{ activity.content_object.content | linkify_tags | linkify_mentions | markdownify | truncatechars:300 }}</div>
            {% endif %}
        </div>
        <div class="d-flex mt-2">
            <p class="me-2">
                <a href="{% url 'write:pin_detail' activity.content_object.id %}" class="text-decoration-none text-secondary">{{ activity.timestamp |date:"Y.m.d H:i" }}</a>
            </p>
            {% if activity.content_object.comments_enabled %}   
                <p class="ms-2 me-2"><a href="{% url 'write:pin_detail' activity.content_object.id %}" class="text-decoration-none">Reply</a></p>
            {% endif %}
                <p class="ms-2 me-2"><a href="{% url 'write:pin_detail' activity.content_object.id %}?repost=true" class="text-decoration-none">Repost</a></p>
            {% if activity.user != request.user %}
                <p class="ms-2 me-2"><a href="{% url 'write:pin_copy' activity.content_object.id %}" class="text-decoration-none">Copy</a></p>
            {% endif %}
            {% if activity.user == request.user %}
                <p class="ms-2 me-2"><a href="{% url 'write:pin_update' activity.content_object.id %}" class="text-decoration-none">Edit</a></p>
                <p class="ms-2 me-2"><a href="{% url 'activity_feed:activity_delete' activity.id %}" class="text-decoration-none">Delete</a></p>
            {% endif %}
        </div>
        
    </div>
    

    {% elif activity.activity_type == 'follow' %}
    <!--Follow-->
    <div class="activity-item mb-3" data-activity-type="{{ activity.activity_type }}">
        <p>
            <a href="{% url 'accounts:detail' activity.user.username %}" class="text-decoration-none hover-username">
                {{ activity.user.display_name | default:activity.user.username }}
                <span class="username">@{{activity.user.username}}</span>
            </a> 
            <span class="text-muted">followed</span>
            <a href="{% url 'accounts:detail' activity.content_object.followed.username %}" class="text-decoration-none hover-username">
                {{ activity.content_object.followed.display_name | default:activity.content_object.followed.username }}
                <span class="username">@{{activity.content_object.followed.username}}</span>
            </a> 
        </p>
        <div class="d-flex mt-2 text-secondary">
            <p class="me-2">{{ activity.timestamp |date:"Y.m.d H:i" }}</p>
            {% if activity.user == request.user %}
            <p class="ms-2 me-2"><a href="{% url 'activity_feed:activity_delete' activity.content_object.id %}" class="text-decoration-none">Delete</a></p>
            {% endif %}
        </div>
    </div>
    

    {% elif activity.activity_type == 'repost' %}
        
        {% include "activity_feed/activity_item_repost.html" %}
        

    {% elif activity.activity_type == 'read-check-in' %}
    <!--Read-Check-in-->
    <div class="col-sm-12">
        <div class="activity-item mb-3" data-activity-type="{{ activity.activity_type }}">
            <div class="d-flex flex-wrap align-items-center">
                    <a href="{% url 'accounts:detail' activity.user.username %}" class="text-decoration-none hover-username me-1">
                        {{ activity.user.display_name | default:activity.user.username }}
                        <span class="username">@{{activity.user.username}}</span>
                    </a> 
                    <span class="me-1 text-muted">checked in</span>
                    <!--badge: checkin status-->
                    {% if activity.content_object.status == "to_read" %}
                    <span class="badge text-bg-info me-1">
                    {% elif activity.content_object.status == "reading" %}
                    <span class="badge text-bg-primary me-1">
                    {% elif activity.content_object.status == "finished_reading" %}
                    <span class="badge text-bg-success me-1">
                    {% elif activity.content_object.status == "paused" %}
                    <span class="badge text-bg-warning me-1">
                    {% elif activity.content_object.status == "abandoned" %}
                    <span class="badge text-bg-danger me-1">
                    {% elif activity.content_object.status == "rereading" %}
                    <span class="badge text-bg-primary me-1">
                    {% elif activity.content_object.status == "reread" %}
                    <span class="badge text-bg-success me-1">
                    {% endif %}
                        {{ activity.content_object.get_status_display }}
                    </span>
                    {% if activity.content_object.progress %}
                    <span class="badge text-bg-warning me-1">
                        Progress: {{ activity.content_object.progress }} 
                        {% if activity.content_object.progress_type == "PG" %}
                            Page
                        {% else %}
                            %
                        {% endif %}
                    </span>
                    {% endif %}
            </div>
            <div class="mt-2">
                {{ activity.content_object.content | linkify_tags | linkify_mentions | markdownify | truncatechars:300 }}
            </div>
            <div class="d-flex flex-row bg-light p-3 mt-2">
                <div class="mb-3 mb-md-0 flex-shrink-0 checkin-cover">
                    {% if activity.content_object.content_object.cover %}
                        {% if activity.content_object.content_object.cover_sens %}
                            <img src="{{ activity.content_object.content_object.cover.url }}" alt="{{ activity.content_object.content_object.title }} cover" style="width: 100%;" class="img-fluid blur" onclick="this.classList.toggle('blur')">
                        {% else %}
                            <img src="{{ activity.content_object.content_object.cover.url }}" alt="{{ activity.content_object.content_object.title }} cover" style="width: 100%;">
                        {% endif %}
                    {% else %}
                        <p class="no-cover-text">No Cover</p>
                    {% endif %}
                </div>
                <div class="flex-grow-1 ms-3">
                    
                    {% if activity.content_object.content_type.model == 'book' %}
                        <a href=" {% url 'read:book_detail' activity.content_object.content_object.id %} " class="text-decoration-none hover-username">
                            <h5>{{ activity.content_object.content_object.title }}</h5>
                        </a>
                    {% elif activity.content_object.content_type.model == 'issue' %}
                        <h5>{{ activity.content_object.content_object.periodical.title }}</h5>
                        <a href=" {% url 'read:issue_detail' activity.content_object.content_object.periodical.id activity.content_object.content_object.id %} " class="text-decoration-none hover-username">
                            <h6>{{ activity.content_object.content_object.title }}</h6>
                        </a>
                    {% endif %}

                    {% if activity.content_object.content_type.model == 'book' %}
                        {% regroup activity.content_object.content_object.bookrole_set.all by role as roles_list %}
                        {% for role in roles_list %}
                            <div>
                                {{ role.grouper.name }}{% if role.list|length > 1 %}s{% endif %}:
                                {% for book_role in role.list %}
                                    {% if not forloop.first %} / {% endif %}
                                    <a href="{% url 'entity:person_detail' book_role.person.id %}">
                                        {{ book_role.alt_name | default:book_role.person.name }}
                                    </a>
                                {% endfor %}
                            </div>
                        {% endfor %}                        
                    {% endif %}
                    
                    <div>
                        {% if activity.content_object.content_object.publication_date %}
                            Date: {{ activity.content_object.content_object.publication_date }}
                        {% endif %}
                    </div>
                </div>
            </div>
            
            <div class="d-flex mt-3">
                <p class="me-2">
                    <a href="{% url 'read:read_checkin_detail' activity.content_object.id %}" class="text-decoration-none text-secondary">{{ activity.timestamp |date:"Y.m.d H:i" }}</a>
                </p>
                {% if activity.content_object.comments_enabled %}
                    <p class="ms-2 me-2">
                        <a href="{% url 'read:read_checkin_detail' activity.content_object.id %}" class="text-decoration-none">Reply</a>
                    </p>
                {% endif %}
                <p class="ms-2 me-2"><a href="{% url 'read:read_checkin_detail' activity.content_object.id %}?repost=true" class="text-decoration-none">Repost</a></p>
                {% if activity.user == request.user %}
                    <p class="ms-2 me-2"><a href="{% url 'read:read_checkin_update' activity.content_object.id %}" class="text-decoration-none">Edit</a></p>
                    <p class="ms-2 me-2"><a href="{% url 'activity_feed:activity_delete' activity.id %}" class="text-decoration-none">Delete</a></p>
                {% endif %}
            </div>
        </div>
        
    </div> 
    


    <!--Watch-->
    {% elif activity.activity_type == 'watch-check-in' %}
    <!--Watch-Check-in-->
    <div class="col-sm-12">
        <div class="activity-item mb-3" data-activity-type="{{ activity.activity_type }}">
            <div class="d-flex flex-wrap align-items-center">
                    <a href="{% url 'accounts:detail' activity.user.username %}" class="text-decoration-none hover-username me-1">
                        {{ activity.user.display_name | default:activity.user.username }}
                        <span class="username">@{{activity.user.username}}</span>
                    </a> 
                    <span class="me-1 text-muted">checked in</span>
                    <!--badge: checkin status-->
                    <div class="d-flex align-items-center me-1">
                        {% if activity.content_object.status == "to_watch" %}
                        <span class="badge text-bg-info me-1">
                        {% elif activity.content_object.status == "watching" %}
                        <span class="badge text-bg-primary me-1">
                        {% elif activity.content_object.status == "watched" %}
                        <span class="badge text-bg-success me-1">
                        {% elif activity.content_object.status == "paused" %}
                        <span class="badge text-bg-warning me-1">
                        {% elif activity.content_object.status == "abandoned" %}
                        <span class="badge text-bg-danger me-1">
                        {% elif activity.content_object.status == "rewatching" %}
                        <span class="badge text-bg-primary me-1">
                        {% elif activity.content_object.status == "rewatched" %}
                        <span class="badge text-bg-success me-1">
                        {% endif %}
                            {{ activity.content_object.get_status_display }}
                        </span>
                    </div>
                    {% if activity.content_object.progress %}
                    <span class="badge text-bg-warning me-1">
                        Progress: {{ activity.content_object.progress }} 
                        {% if activity.content_object.progress_type == "TM" %}
                            Times
                        {% endif %}
                    </span>
                    {% endif %}
            </div>
            <div class="mt-2">
                {{ activity.content_object.content | linkify_tags | linkify_mentions | markdownify | truncatechars:300 }}
            </div>
            <div class="d-flex flex-row bg-light p-3 mt-2">
                <div class="mb-3 mb-md-0 flex-shrink-0 checkin-cover">
                    {% if activity.content_object.content_object.poster %}
                        {% if activity.content_object.content_object.poster_sens %}
                            <img src="{{ activity.content_object.content_object.poster.url }}" alt="{{ activity.content_object.content_object.title }} cover" style="width: 100%;" class="img-fluid blur" onclick="this.classList.toggle('blur')">
                        {% else %}
                            <img src="{{ activity.content_object.content_object.poster.url }}" alt="{{ activity.content_object.content_object.title }} cover" style="width: 100%;">
                        {% endif %}
                    {% else %}
                        <p class="no-cover-text">No Cover</p>
                    {% endif %}
                </div>
                <div class="flex-grow-1 ms-3">
                    
                    {% if activity.content_object.content_type.model == 'movie' %}
                        <a href=" {% url 'watch:movie_detail' activity.content_object.content_object.id %} " class="text-decoration-none hover-username">
                            <h5>{{ activity.content_object.content_object.title }}</h5>
                        </a>
                    {% elif activity.content_object.content_type.model == 'series' %}
                        <a href=" {% url 'watch:series_detail' activity.content_object.content_object.id %} " class="text-decoration-none hover-username">
                            <h5>{{ activity.content_object.content_object.title }}</h5>
                        </a>
                    {% endif %}

                    {% if activity.content_object.content_type.model == 'movie' %}
                        {% regroup activity.content_object.content_object.movierole_set.all by role as roles_list %}
                        {% for role in roles_list %}
                            <div>
                                {{ role.grouper.name }}{% if role.list|length > 1 %}s{% endif %}:
                                {% for movie_role in role.list %}
                                    {% if not forloop.first %} / {% endif %}
                                    <a href="{% url 'entity:person_detail' movie_role.person.id %}">
                                        {{ movie_role.alt_name | default:movie_role.person.name }}
                                    </a>
                                {% endfor %}
                            </div>
                        {% endfor %}                        
                    {% endif %}
                    
                    <div>
                        {% if activity.content_object.content_object.release_date %}
                            Date: {{ activity.content_object.content_object.release_date }}
                        {% endif %}
                    </div>
                </div>
            </div>
            
            <div class="d-flex mt-3">
                <p class="me-2">
                    <a href="{% url 'watch:watch_checkin_detail' activity.content_object.id %}" class="text-decoration-none text-secondary">{{ activity.timestamp |date:"Y.m.d H:i" }}</a>
                </p>
                {% if activity.content_object.comments_enabled %}
                    <p class="ms-2 me-2">
                        <a href="{% url 'watch:watch_checkin_detail' activity.content_object.id %}" class="text-decoration-none">Reply</a>
                    </p>
                {% endif %}
                <p class="ms-2 me-2"><a href="{% url 'watch:watch_checkin_detail' activity.content_object.id %}?repost=true" class="text-decoration-none">Repost</a></p>
                {% if activity.user == request.user %}
                    <p class="ms-2 me-2"><a href="{% url 'watch:watch_checkin_update' activity.content_object.id %}" class="text-decoration-none">Edit</a></p>
                    <p class="ms-2 me-2"><a href="{% url 'activity_feed:activity_delete' activity.id %}" class="text-decoration-none">Delete</a></p>
                {% endif %}
            </div>
        </div>
        
    </div> 
    

    <!--Listen-->
    {% elif activity.activity_type == 'listen-check-in' %}
    <div class="col-sm-12">
        <div class="activity-item mb-3" data-activity-type="{{ activity.activity_type }}">
            <div class="d-flex flex-wrap align-items-center">
                <a href="{% url 'accounts:detail' activity.user.username %}" class="text-decoration-none hover-username me-1">
                    {{ activity.user.display_name | default:activity.user.username }}
                    <span class="username">@{{activity.user.username}}</span>
                </a> 
                <span class="me-1 text-muted">checked in</span>
                    
                <!--badge: checkin status-->
                <div class="d-flex align-items-center me-1">
                    {% if activity.content_object.status == "to_listen" %}
                    <span class="badge text-bg-info me-1">
                    {% elif activity.content_object.status == "looping" or activity.content_object.status == "listening" %}
                    <span class="badge text-bg-primary me-1">
                    {% elif activity.content_object.status == "listened" %}
                    <span class="badge text-bg-success me-1">
                    {% elif activity.content_object.status == "paused" %}
                    <span class="badge text-bg-warning me-1">
                    {% elif activity.content_object.status == "abandoned" %}
                    <span class="badge text-bg-danger me-1">
                    {% endif %}
                        {{ activity.content_object.get_status_display }}
                    </span>
                </div>
                {% if activity.content_object.progress %}
                <span class="badge text-bg-warning me-1">
                    Loop: {{ activity.content_object.progress }} 
                    {% if activity.content_object.progress_type == "TT" %}
                        Minute{% if checkin.progress != 1 %}s{% endif %}
                    {% else %}
                        Time{% if checkin.progress != 1 %}s{% endif %}
                    {% endif %}
                </span>
                {% endif %}
            </div>
            <div class="mt-2">
                {{ activity.content_object.content | linkify_tags | linkify_mentions | markdownify | truncatechars:300 }}
            </div>
            <div class="d-flex flex-row bg-light p-3 mt-2">
                <div class="mb-3 mb-md-0 flex-shrink-0 checkin-cover">
                    {% if activity.content_object.content_object.cover %}
                        {% if activity.content_object.content_object.cover_sens %}
                            <img src="{{ activity.content_object.content_object.cover.url }}" alt="{{ activity.content_object.content_object.title }} cover" style="width: 100%;" class="img-fluid blur" onclick="this.classList.toggle('blur')">
                        {% else %}
                            <img src="{{ activity.content_object.content_object.cover.url }}" alt="{{ activity.content_object.content_object.title }} cover" style="width: 100%;">
                        {% endif %}
                    {% else %}
                        <p class="no-cover-text">No Cover</p>
                    {% endif %}
                </div>
                <div class="flex-grow-1 ms-3">
                    <a href="{% url 'listen:release_detail' activity.content_object.content_object.id %}" class="text-decoration-none hover-username">
                        <h5>{{ activity.content_object.content_object.title }}</h5>
                    </a>
                    
                    {% regroup activity.content_object.content_object.releaserole_set.all by role as roles_list %}
                    {% for role in roles_list %}
                        <div>
                            {{ role.grouper.name }}{% if role.list|length > 1 %}s{% endif %}:
                            {% for release_role in role.list %}
                                {% if not forloop.first %} / {% endif %}
                                <a href="{% url 'entity:person_detail' release_role.person.id %}">
                                    {{ release_role.alt_name | default:release_role.person.name }}
                                </a>
                            {% endfor %}
                        </div>
                    {% endfor %}
            
                    <div>
                        {% if activity.content_object.content_object.labels %}
                            Labels:{% if activity.content_object.content_object.developers.list|length > 1 %}s{% endif %}:
                            {% for developer in activity.content_object.content_object.developers.all %}
                                {% if not forloop.first %}, {% endif %}
                                <a href="{% url 'play:developer_detail' developer.id %}">
                                    {{ developer.name }}
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    
                    
                    <div>
                        {% if activity.content_object.content_object.release_date %}
                            Release Date: {{ activity.content_object.content_object.release_date }}
                        {% endif %}
                    </div>
                </div>
            </div>
            
    
            <div class="d-flex mt-3">
                <p class="me-2">
                    <a href="{% url 'listen:listen_checkin_detail' activity.content_object.id %}" class="text-decoration-none text-secondary">{{ activity.timestamp |date:"Y.m.d H:i" }}</a>
                </p>
                {% if activity.content_object.comments_enabled %}
                    <p class="ms-2 me-2">
                        <a href="{% url 'listen:listen_checkin_detail' activity.content_object.id %}" class="text-decoration-none">Reply</a>
                    </p>
                {% endif %}
                <p class="ms-2 me-2"><a href="{% url 'listen:listen_checkin_detail' activity.content_object.id %}?repost=true" class="text-decoration-none">Repost</a></p>
                {% if activity.user == request.user %}
                    <p class="ms-2 me-2"><a href="{% url 'activity_feed:activity_delete' activity.id %}" class="text-decoration-none">Delete</a></p>
                {% endif %}
            </div> 
        </div>
        
    </div>
    
    <!--Play-->

    {% elif activity.activity_type == 'game-check-in' %}
    <!--Game-Check-in-->
    <div class="col-sm-12">
        <div class="activity-item mb-3" data-activity-type="{{ activity.activity_type }}">
            <div class="d-flex flex-wrap align-items-center">
                <a href="{% url 'accounts:detail' activity.user.username %}" class="text-decoration-none hover-username me-1">
                    {{ activity.user.display_name | default:activity.user.username }}
                    <span class="username">@{{activity.user.username}}</span>
                </a> 
                <span class="me-1 text-muted">checked in</span>
                <!--badge: checkin status-->
                <div class="d-flex align-items-center me-1">
                    {% if activity.content_object.status == "to_play" %}
                    <span class="badge text-bg-info me-1">
                    {% elif activity.content_object.status == "currently_playing" %}
                    <span class="badge text-bg-primary me-1">
                    {% elif activity.content_object.status == "played" %}
                    <span class="badge text-bg-success me-1">
                    {% elif activity.content_object.status == "paused" %}
                    <span class="badge text-bg-warning me-1">
                    {% elif activity.content_object.status == "abandoned" %}
                    <span class="badge text-bg-danger me-1">
                    {% elif activity.content_object.status == "replaying" %}
                    <span class="badge text-bg-primary me-1">
                    {% elif activity.content_object.status == "replayed" %}
                    <span class="badge text-bg-success me-1">
                    {% endif %}
                        {{ activity.content_object.get_status_display }}
                    </span>
                </div>
                {% if activity.content_object.progress %}
                <span class="badge text-bg-warning me-1">
                    Played Time: {{ activity.content_object.progress }} 
                    {% if activity.content_object.progress_type == "TT" %}
                        Hour{% if checkin.progress != 1 %}s{% endif %}
                    {% endif %}
                </span>
                {% endif %}
                
            </div>
            <div class="mt-2">
                {{ activity.content_object.content | linkify_tags | linkify_mentions | markdownify | truncatechars:300 }}
            </div>
            <div class="d-flex flex-row bg-light p-3 mt-2">
                <div class="mb-3 mb-md-0 flex-shrink-0 checkin-cover">
                    {% if activity.content_object.game.cover %}
                        {% if activity.content_object.game.cover_sens %}
                            <img src="{{ activity.content_object.game.cover.url }}" alt="{{ activity.content_object.game.title }} cover" style="width: 100%;" class="img-fluid blur" onclick="this.classList.toggle('blur')">
                        {% else %}
                            <img src="{{ activity.content_object.game.cover.url }}" alt="{{ activity.content_object.game.title }} cover" style="width: 100%;">
                        {% endif %}
                    {% else %}
                        <p class="no-cover-text">No Cover</p>
                    {% endif %}
                </div>
                <div class="flex-grow-1 ms-3">
                    <a href="{% url 'play:game_detail' activity.content_object.game.id %}" class="text-decoration-none hover-username">
                        <h5>{{ activity.content_object.game.title }}</h5>
                    </a>
                    
                    {% regroup activity.content_object.game.gamerole_set.all by role as roles_list %}
                    {% for role in roles_list %}
                        <div>
                            {{ role.grouper.name }}{% if role.list|length > 1 %}s{% endif %}:
                            {% for game_role in role.list %}
                                {% if not forloop.first %} / {% endif %}
                                <a href="{% url 'entity:person_detail' game_role.person.id %}">
                                    {{ game_role.alt_name | default:game_role.person.name }}
                                </a>
                            {% endfor %}
                        </div>
                    {% endfor %}
            
                    <div>
                        {% if activity.content_object.game.developers %}
                            Developer{% if activity.content_object.game.developers.list|length > 1 %}s{% endif %}:
                            {% for developer in activity.content_object.game.developers.all %}
                                {% if not forloop.first %}, {% endif %}
                                <a href="{% url 'play:developer_detail' developer.id %}">
                                    {{ developer.name }}
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    
                    <div>
                        {% if activity.content_object.game.platforms %}
                            Platform{% if activity.content_object.game.platforms.list|length > 1 %}s{% endif %}:
                            {% for platform in activity.content_object.game.platforms.all %}
                                {% if not forloop.first %}, {% endif %}
                                <a href="{% url 'play:platform_detail' platform.id %}">
                                    {{ platform.name }}
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    
                    <div>
                        {% if activity.content_object.game.release_date %}
                            Release Date: {{ activity.content_object.game.release_date }}
                        {% endif %}
                    </div>
                </div>
            </div>
            
    
            <div class="d-flex mt-3">
                <p class="me-2">
                    <a href="{% url 'play:game_checkin_detail' activity.content_object.id %}" class="text-decoration-none text-secondary">{{ activity.timestamp |date:"Y.m.d H:i" }}</a>
                </p>
                {% if activity.content_object.comments_enabled %}
                    <p class="ms-2 me-2">
                        <a href="{% url 'play:game_checkin_detail' activity.content_object.id %}" class="text-decoration-none">Reply</a>
                    </p>
                {% endif %}
                <p class="ms-2 me-2"><a href="{% url 'play:game_checkin_detail' activity.content_object.id %}?repost=true" class="text-decoration-none">Repost</a></p>
                {% if activity.user == request.user %}
                    <p class="ms-2 me-2"><a href="{% url 'activity_feed:activity_delete' activity.id %}" class="text-decoration-none">Delete</a></p>
                {% endif %}
            </div>
        </div>
        
    </div>
    
    <!--Visit-->

{% endif %}