{% extends "base.html" %}
{% load url_filters %}
{% load markdownify %}
{% load linkify %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-7 left-column">
            {% if feed_type == "public" %}
                <span style='display: flex;'>
                    <p style='padding-right:0.5em'>Say</p> | 
                    <a href="{% url 'write:post_create' %}"><p style='padding: 0 0.5em'>Post</p></a> | 
                    <a href="{% url 'write:pin_create' %}"><p style='padding: 0 0.5em'>Pin</p></a>
                </span>
                <form method="POST">
                    {% csrf_token %}
                    {{ say_form.content|as_crispy_field }}
                    <span class="d-flex justify-content-between mb-0">
                        <button type="submit" class="btn btn-primary btn-sm " style='height: 30px'>Add Say</button>
                        <div class="mb-0">{{ say_form.comments_enabled|as_crispy_field }}</div>
                    </span>
                </form>
            {% elif feed_type == "personal"%}
                <h3>{{  feed_user.display_name | default:feed_user.username }}'s Feed</h3>
            {% endif %}

            {% include "activity_feed/activity_filter.html" %}

            {% for activity in page_obj %}
                {% include "activity_feed/activity_item.html" with width='wide' %}
            {% endfor %}

            {% if page_obj.paginator.num_pages > 1 %}
            <hr>
            <div class="pagination">
                <span class="step-links">
                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <span class="current">{{ i }}</span>
                        {% else %}
                            <a href="?page={{ i }}">{{ i }}</a>
                        {% endif %}
                    {% endfor %}
                </span>
            </div>
            {% endif %}
            
        </div>

        {% if feed_type == "public" %}
        <div class="col-12 col-md-5 right-column">
            <div class='bg-light p-3 mb-3'>

                {% now "Y-m-d" as current_date %}
                
                <h5>On This Day ({{current_date|slice:"5:10"}})</h5>

                {% if current_date|slice:"5:10" == "06-10" %}
                    {% now "Y" as current_year %}
                    <div class="alert alert-success" role="alert">
                        LʌvDB is {{ current_year|add:"-2023" }} years old today!
                    </div>
                {% endif %}

                {% if not books_published_today and not movies_released_today and not series_released_today and not music_released_today and not games_released_today and not born_today and not died_today %}
                    <p>Looks like it's a quiet day in our database.</p>
                {% else %}

                    {% if books_published_today %}
                        <div class="card mb-3">
                            <div class="card-header" id="booksHeading" data-bs-toggle="collapse" data-bs-target="#booksCollapse" role="button" aria-expanded="false" aria-controls="booksCollapse">
                                <b>Books</b>
                            </div>
                            <div id="booksCollapse" class="collapse" aria-labelledby="booksHeading">
                                <ul class="list-group list-group-flush">
                                    {% for book in books_published_today %}
                                        <li class="list-group-item">
                                            <a href="{% url 'read:book_detail' book.id %}">{{ book.title }}</a>
                                            ({{ book.publication_date|slice:":4" }}{% if book.since == 0 %}, today{% else %}, {{ book.since }} years ago{% endif %})
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
            
                    {% if movies_released_today or series_released_today %}
                        <div class="card mb-3">
                            <div class="card-header" id="moviesSeriesHeading" data-bs-toggle="collapse" data-bs-target="#moviesSeriesCollapse" role="button" aria-expanded="false" aria-controls="moviesSeriesCollapse">
                                <b>Movies / Series</b>
                            </div>
                            <div id="moviesSeriesCollapse" class="collapse" aria-labelledby="moviesSeriesHeading">
                                <ul class="list-group list-group-flush">
                                    {% for movie in movies_released_today %}
                                        <li class="list-group-item">
                                            <a href="{% url 'watch:movie_detail' movie.id %}">{{ movie.title }}</a>
                                            ({{ movie.release_date|slice:":4" }}{% if movie.since == 0 %}, today{% else %}, {{ movie.since }} years ago{% endif %})
                                        </li>
                                    {% endfor %}
            
                                    {% for serie in series_released_today %}
                                        <li class="list-group-item">
                                            <a href="{% url 'watch:series_detail' serie.id %}">{{ serie.title }}</a>
                                            ({{ serie.release_date|slice:":4" }}{% if serie.since == 0 %}, today{% else %}, {{ serie.since }} years ago{% endif %})
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
            
                    {% if music_released_today %}
                        <div class="card mb-3">
                            <div class="card-header" id="musicHeading" data-bs-toggle="collapse" data-bs-target="#musicCollapse" role="button" aria-expanded="false" aria-controls="musicCollapse">
                                <b>Music</b>
                            </div>
                            <div id="musicCollapse" class="collapse" aria-labelledby="musicHeading">
                                <ul class="list-group list-group-flush">
                                    {% for music in music_released_today %}
                                        <li class="list-group-item">
                                            <a href="{% url 'listen:release_detail' music.id %}">{{ music.title }}</a>
                                            ({{ music.release_date|slice:":4" }}{% if music.since == 0 %}, today{% else %}, {{ music.since }} years ago{% endif %})
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
            
                    {% if games_released_today %}
                        <div class="card mb-3">
                            <div class="card-header" id="gamesHeading" data-bs-toggle="collapse" data-bs-target="#gamesCollapse" role="button" aria-expanded="false" aria-controls="gamesCollapse">
                                <b>Games</b>
                            </div>
                            <div id="gamesCollapse" class="collapse" aria-labelledby="gamesHeading">
                                <ul class="list-group list-group-flush">
                                    {% for game in games_released_today %}
                                        <li class="list-group-item">
                                            <a href="{% url 'play:game_detail' game.id %}">{{ game.title }}</a>
                                            ({{ game.release_date|slice:":4" }}{% if game.since == 0 %}, today{% else %}, {{ game.since }} years ago{% endif %})
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
            
                    {% if born_today or died_today %}
                        <div class="card mb-3">
                            <div class="card-header" id="personsHeading" data-bs-toggle="collapse" data-bs-target="#personsCollapse" role="button" aria-expanded="false" aria-controls="personsCollapse">
                                <b>Persons</b>
                            </div>
                            <div id="personsCollapse" class="collapse" aria-labelledby="personsHeading">
                                <ul class="list-group list-group-flush">
                                    {% if born_today %}
                                        <li class="list-group-item"><b>Born</b></li>
                                        {% for person in born_today %}
                                            <li class="list-group-item">
                                                <a href="{% url 'entity:person_detail' person.id %}">{{ person.name }}</a>
                                                ({{person.birth_date|slice:":4"}}{% if person.death_date %}-{{person.death_date|slice:":4"}}{% else %}-{% endif %}, {{ person.since }} years ago)
                                            </li>
                                        {% endfor %}
                                    {% endif %}
            
                                    {% if died_today %}
                                        <li class="list-group-item"><b>Died</b></li>
                                        {% for person in died_today %}
                                            <li class="list-group-item">
                                                <a href="{% url 'entity:person_detail' person.id %}">{{ person.name }}</a>
                                                ({% if person.birth_date %}{{person.birth_date|slice:":4"}}{% else %}?{% endif %}-{{person.death_date|slice:":4"}}, {{ person.since }} years ago)
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
<script type="text/javascript" src="{% static 'js/text-input-shortcuts.js' %}"></script>
{% endblock %}

