{% load url_filters %}
{% load markdownify %}
{% load linkify %}
{% load parse_activity_type %}
<!--Repost--> 
<div>
    <div class="activity-item mb-3" data-activity-type="{{ activity.activity_type }}">
        <p>
            <a href="{% url 'accounts:detail' activity.user.username %}" class="text-decoration-none hover-username">
                {{ activity.user.display_name | default:activity.user.username }}
                <span class="username">@{{activity.user.username}}</span>
            </a> 
             {{ activity.activity_type | parse_activity_type}}:
        </p>

        {% if activity.content_object.content %}
            <p>{{ activity.content_object.content | linkify_tags | linkify_mentions | markdownify | truncatewords:50  }}</p>
        {% endif %}
        <div class="bg-light p-3">

            {% if activity.content_object.original_activity %}
            <!-- Display the reposted activity -->

                {% if activity.content_object.original_activity.activity_type == "book-check-in" %}

                    <div class="d-flex justify-content-start align-items-center">
                        <a href="{% url 'accounts:detail' activity.user.username %}" class="text-decoration-none hover-username me-1">
                            {{ activity.user.display_name | default:activity.user.username }}
                            <span class="username">@{{activity.user.username}}</span>
                        </a> 
                        <span class="me-1">checked in</span>
                        <!--badge: checkin status-->
                        {% if activity.content_object.original_activity.content_object.status == "to_read" %}
                        <span class="badge text-bg-info me-1">
                        {% elif activity.content_object.original_activity.content_object.status == "reading" %}
                        <span class="badge text-bg-primary me-1">
                        {% elif activity.content_object.original_activity.content_object.status == "finished_reading" %}
                        <span class="badge text-bg-success me-1">
                        {% elif activity.content_object.original_activity.content_object.status == "paused" %}
                        <span class="badge text-bg-warning me-1">
                        {% elif activity.content_object.original_activity.content_object.status == "abandoned" %}
                        <span class="badge text-bg-danger me-1">
                        {% elif activity.content_object.original_activity.content_object.status == "rereading" %}
                        <span class="badge text-bg-primary me-1">
                        {% elif activity.content_object.original_activity.content_object.status == "reread" %}
                        <span class="badge text-bg-success me-1">
                        {% endif %}
                            Status: {{ activity.content_object.original_activity.content_object.get_status_display }}
                        </span>
                        {% if activity.content_object.original_activity.content_object.progress %}
                        <span class="badge text-bg-warning me-1">
                            Progress: {{ activity.content_object.original_activity.content_object.progress }} 
                            {% if activity.content_object.original_activity.content_object.progress_type == "PG" %}
                                Page
                            {% else %}
                                %
                            {% endif %}
                        </span>
                        {% endif %}
                        on book:
                    </div>
                    <div class="mt-2">
                        {{ activity.content_object.original_activity.content_object.content | linkify_tags | linkify_mentions | markdownify | truncatewords:30 }}
                    </div>
                    <div class="d-flex flex-row bg-white p-3 mt-2">
                        <div class="mb-3 mb-md-0 flex-shrink-0 checkin-cover">
                            {% if activity.content_object.original_activity.content_object.content_object.cover %}
                                <img src="{{ activity.content_object.original_activity.content_object.content_object.cover.url }}" alt="{{ activity.content_object.original_activity.content_object.content_object.title }} cover" style="width: 100%;">
                            {% else %}
                                <p class="no-cover-text">No Cover</p>
                            {% endif %}
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <a href="{% url 'read:book_detail' activity.content_object.original_activity.content_object.content_object.id %}" class="text-decoration-none hover-username">
                                <h5>{{ activity.content_object.original_activity.content_object.content_object.title }}</h5>
                            </a> 
                            
                            {% regroup activity.content_object.original_activity.content_object.book.bookrole_set.all by role as roles_list %}
                            {% for role in roles_list %}
                                <div>
                                    {{ role.grouper.name }}{% if role.list|length > 1 %}s{% endif %}:
                                    {% for book_role in role.list %}
                                        {% if not forloop.first %} / {% endif %}
                                        <a href="{% url 'entity:person_detail' book_role.person.id %}">
                                            {{ book_role.alt_name | default:book_role.person.name }}
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            
                            <div>
                                {% if activity.content_object.original_activity.content_object.book.publication_date %}
                                    Publication Date: {{ activity.content_object.original_activity.content_object.book.publication_date|slice:":4" }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                
                {% elif activity.content_object.original_activity.activity_type == "game-check-in" %}

                    <div class="d-flex justify-content-start align-items-center">
                        <a href="{% url 'accounts:detail' activity.user.username %}" class="text-decoration-none hover-username me-1">
                            {{ activity.user.display_name | default:activity.user.username }}
                            <span class="username">@{{activity.user.username}}</span>
                        </a> 
                        <span class="me-1">checked in</span>
                        <!--badge: checkin status-->
                        {% if activity.content_object.original_activity.content_object.status == "to_play" %}
                        <span class="badge text-bg-info me-1">
                        {% elif activity.content_object.original_activity.content_object.status == "currently_playing" %}
                        <span class="badge text-bg-primary me-1">
                        {% elif activity.content_object.original_activity.content_object.status == "played" %}
                        <span class="badge text-bg-success me-1">
                        {% elif activity.content_object.original_activity.content_object.status == "paused" %}
                        <span class="badge text-bg-warning me-1">
                        {% elif activity.content_object.original_activity.content_object.status == "abandoned" %}
                        <span class="badge text-bg-danger me-1">
                        {% elif activity.content_object.original_activity.content_object.status == "replaying" %}
                        <span class="badge text-bg-primary me-1">
                        {% elif activity.content_object.original_activity.content_object.status == "replayed" %}
                        <span class="badge text-bg-success me-1">
                        {% endif %}
                            Status: {{ activity.content_object.original_activity.content_object.get_status_display }}
                        </span>
                        {% if activity.content_object.original_activity.content_object.progress %}
                        <span class="badge text-bg-warning me-1">
                            Played Time: {{ activity.content_object.original_activity.content_object.progress }} 
                            {% if activity.content_object.original_activity.content_object.progress_type == "TT" %}
                                Hour{% if checkin.progress != 1 %}s{% endif %}
                            {% endif %}
                        </span>
                        {% endif %}
                        on game:
                    </div>
                    <div class="mt-2">
                        {{ activity.content_object.original_activity.content_object.content | linkify_tags | linkify_mentions | markdownify | truncatewords:30 }}
                    </div>
                    <div class="d-flex flex-row bg-white p-3 mt-2">
                        <div class="mb-3 mb-md-0 flex-shrink-0 checkin-cover">
                            {% if activity.content_object.original_activity.content_object.game.cover %}
                                <img src="{{ activity.content_object.original_activity.content_object.game.cover.url }}" alt="{{ activity.content_object.original_activity.content_object.game.title }} cover" style="width: 100%;">
                            {% else %}
                                <p class="no-cover-text">No Cover</p>
                            {% endif %}
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <a href="{% url 'play:game_detail' activity.content_object.original_activity.content_object.game.id %}" class="text-decoration-none hover-username">
                                <h6>{{ activity.content_object.original_activity.content_object.game.title }}</h6>
                            </a>
                            
                            {% regroup activity.content_object.original_activity.content_object.game.gamerole_set.all by role as roles_list %}
                            {% for role in roles_list %}
                                <div>
                                    {{ role.grouper.name }}{% if role.list|length > 1 %}s{% endif %}:
                                    {% for game_role in role.list %}
                                        {% if not forloop.first %} / {% endif %}
                                        <a href="{% url 'entity:person_detail' game_role.person.id %}">
                                            {{ game_role.alt_name | default:game_role.person.name }}
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                    
                            <div>
                                {% if activity.content_object.original_activity.content_object.game.developers %}
                                    Developer{% if activity.content_object.original_activity.content_object.game.developers.list|length > 1 %}s{% endif %}:
                                    {% for developer in activity.content_object.original_activity.content_object.game.developers.all %}
                                        {% if not forloop.first %}, {% endif %}
                                        <a href="{% url 'play:developer_detail' developer.id %}">
                                            {{ developer.name }}
                                        </a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            
                            <div>
                                {% if activity.content_object.original_activity.content_object.game.platforms %}
                                    Platform{% if activity.content_object.original_activity.content_object.game.platforms.list|length > 1 %}s{% endif %}:
                                    {% for platform in activity.content_object.original_activity.content_object.game.platforms.all %}
                                        {% if not forloop.first %}, {% endif %}
                                        <a href="{% url 'play:platform_detail' platform.id %}">
                                            {{ platform.name }}
                                        </a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            
                            <div>
                                {% if activity.content_object.original_activity.content_object.game.release_date %}
                                    Release Date: {{ activity.content_object.original_activity.content_object.game.release_date|slice:":4" }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
       
                {% else %}
                    <p>
                        <a href="{% url 'accounts:detail' activity.content_object.original_activity.user.username %}" class="text-decoration-none hover-username">
                            {{ activity.content_object.original_activity.user.display_name | default:activity.content_object.original_activity.user.username }}
                            <span class="username">@{{activity.content_object.original_activity.user.username}}</span>
                        </a> 
                        {{ activity.content_object.original_activity.activity_type | parse_activity_type }}:
                    </p>
                    {% if activity.content_object.original_activity.activity_type == "post" %}
                        <p><a href="{% url 'write:post_detail' activity.content_object.original_activity.content_object.id %}" class="text-decoration-none">{{ activity.content_object.original_activity.content_object.title }}</a></p>
                    
                    {% elif activity.content_object.original_activity.activity_type == "pin" %}
                        <p><a href="{{ activity.content_object.original_activity.content_object.url }}" class="text-decoration-none">{{ activity.content_object.original_activity.content_object.title }}</a> ({{  activity.content_object.original_activity.content_object.url | root_url }})</p>

                    
                    {% endif %}
                    <div class="bg-light">
                        <blockquote>{{ activity.content_object.original_activity.content_object.content  | linkify_tags | linkify_mentions | markdownify | truncatewords:200 }}</blockquote>
                        <p><a href="{{ activity.content_object.original_activity.content_object.get_absolute_url }}" class="text-decoration-none text-secondary">{{ activity.content_object.original_activity.content_object.timestamp |date:"Y.m.d H:i" }}</a></p>
                    </div>

                {% endif %}
            {% else %}
               <p>The original content has been deleted.</p>
            {% endif %}    
            
       </div>
       <div class="d-flex mt-2">
        <p class="me-2">
            {% if activity.content_object.content %}
            <a href="{% url 'write:repost_detail' activity.content_object.id %}" class="text-decoration-none text-secondary">{{ activity.timestamp |date:"Y.m.d H:i" }}</a>
            {% else %}
            <span class="text-decoration-none text-secondary">{{ activity.timestamp |date:"Y.m.d H:i" }}</span>
            {% endif %}
        </p>

        {% if activity.content_object.content %}
            <p class="ms-2 me-2"><a href="{% url 'write:repost_detail' activity.content_object.id %}" class="text-decoration-none">Reply</a></p>
            <p class="ms-2 me-2"><a href="{% url 'write:repost_create' activity.id %}" class="text-decoration-none">Repost</a></p>
        {% endif %}

        {% if activity.user == request.user %}
            <p class="ms-2 me-2"><a href="{% url 'write:repost_update' activity.content_object.id %}" class="text-decoration-none">Edit</a></p>
            <p class="ms-2 me-2"><a href="{% url 'activity_feed:activity_delete' activity.id %}" class="text-decoration-none">Delete</a></p>
        {% endif %}
    </div> 
</div>
