/* citation */
@media (min-width: 768px) {
    .left-column {
        position: relative;
    }

    cite {
        position: absolute;
        left: -20%;
        top: 0;
        width: 20%;
        color: darkgreen;
        text-align: right;
        font-style: normal;
        font-weight: lighter;
        font-size: 1em;
    }
}

/* Here we offset the right value to align it with the other cites */
.bg-light.p-3 cite {
    position: static;
    right: auto;
    color: darkgreen;
    width: 60%;
}