{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load markdownify %}
{% load concat_sets %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <!--Left columns-->
            <div class="col-sm-8">
                <!-- book-card -->
                <div class="book-card justify-content-start">
                    <div class="d-flex flex-column flex-lg-row mt-2">
                        <!--cover-box-->
                        <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                            <div class="read-cover-box">
                                {% if object.cover %}
                                    {% if object.cover_sens %}
                                        <img src="{{ object.cover.url }}"
                                             alt="{{ object.title }} cover"
                                             class="img-fluid blur"
                                             onclick="this.classList.toggle('blur')">
                                    {% else %}
                                        <img src="{{ object.cover.url }}"
                                             alt="{{ object.title }} cover"
                                             class="img-fluid">
                                    {% endif %}
                                {% else %}
                                    <div class="no-cover-text">No Cover</div>
                                {% endif %}
                            </div>
                        </div>
                        <!--book-meta-->
                        <div class="col flex-grow-1 ms-lg-3">
                            <div class="card-body">
                                <span class='d-flex align-items-start'>
                                    <h2>{{ object.title }}</h2>
                                </span>
                                <div class="book-meta">
                                    {% if object.subtitle %}<p class='text-secondary'>{{ object.subtitle }}</p>{% endif %}
                                    {% for role_name, person_altname_tuples in roles.items %}
                                        <p>
                                            <span class="text-muted">{{ role_name }}:</span>
                                            {% for person, alt_name in person_altname_tuples %}
                                                <a href="{% url 'entity:person_detail' person.id %}">{{ alt_name }}</a>
                                                {% if not forloop.last %}/{% endif %}
                                            {% endfor %}
                                        </p>
                                    {% endfor %}
                                    {% if object.publisher %}
                                        <p>
                                            <span class="text-muted">Publisher:</span>
                                            <a href="{% url 'read:publisher_detail' object.publisher.id %}">
                                                {% if object.publisher.location %}{{ object.publisher.location }}:{% endif %}
                                                {{ object.publisher.name }}
                                            </a>
                                        </p>
                                    {% endif %}
                                    {% if object.bookinseries_set.all %}
                                        <p>
                                            <span class="text-muted">Series:</span>
                                            {% for bookinseries in object.bookinseries_set.all %}
                                                <a href="{% url 'read:series_detail' bookinseries.series.id %}">{{ bookinseries.series.title }}</a> #{{ bookinseries.order }}
                                                {% if not forloop.last %}/{% endif %}
                                            {% endfor %}
                                        </p>
                                    {% endif %}
                                    {% if object.release_date %}
                                        <p>
                                            <span class="text-muted">Date:</span> {{ object.release_date }}
                                        </p>
                                    {% endif %}
                                    <div class="my-3">
                                        <p class="text-muted"
                                           type="button"
                                           data-bs-toggle="collapse"
                                           data-bs-target="#detailsCollapse"
                                           aria-expanded="false"
                                           aria-controls="detailsCollapse">
                                            <span class="text-muted">More Metadata</span>
                                        </p>
                                        <div class="collapse" id="detailsCollapse">
                                            {% if object.format %}
                                                <p>
                                                    <span class="text-muted">Format:</span> {{ object.format }}
                                                </p>
                                            {% endif %}
                                            {% if object.length %}
                                                <p>
                                                    <span class="text-muted">Length:</span> {{ object.length }}
                                                </p>
                                            {% endif %}
                                            {% if object.isbn_10 %}
                                                <p>
                                                    <span class="text-muted">ISBN-10:</span> {{ object.isbn_10 }}
                                                </p>
                                            {% endif %}
                                            {% if object.isbn_13 %}
                                                <p>
                                                    <span class="text-muted">ISBN-13:</span> {{ object.isbn_13 }}
                                                </p>
                                            {% endif %}
                                            {% if object.eisbn_13 %}
                                                <p>
                                                    <span class="text-muted">E-ISBN-13:</span> {{ object.eisbn_13 }}
                                                </p>
                                            {% endif %}
                                            {% if object.asin %}
                                                <p>
                                                    <span class="text-muted">ASIN:</span> {{ object.asin }}
                                                </p>
                                            {% endif %}
                                            {% if object.details %}
                                                <span class="text-muted">Details:</span>
                                                <div class="card card-body">{{ object.details|markdownify }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of book-card -->
                        </div>
                    </div>
                </div>
                <!--Book Check-In-->
                <div class="mt-4">
                    {% if user.is_authenticated %}
                        {% include "listen/listen_checkin_form.html" %}
                    {% endif %}
                    <div class="d-flex justify-content-between mt-4 col-11">
                        <h4>Latest Check-Ins</h4>
                        <a class="btn btn-outline-secondary btn-sm"
                           href="{% url 'listen:audiobook_checkin_all_list' object.id %}"
                           style="height:30px">All</a> 
                    </div>
                    {% include "listen/listen_checkin_in_entry_detail.html" %}
                </div>
            </div>
            <div class="col-sm-4">
                <!--Related instances / Edit -->
                {% if user.is_authenticated %}
                    <div class="bg-light p-3 mb-3">
                        <a href="{% url 'listen:audiobook_update' object.id %}"
                           class='fs-6 text-secondary'>Edit book data</a>
                    </div>
                {% endif %}
                {% if object.audiobookinstance_set.count != 0 %}
                    <div class="bg-light p-3 mb-3">
                        {% if object.audiobookinstance_set.count == 1 %}
                            {% if object.audiobookinstance_set.first.instance.id %}
                                <h5>Work</h5>
                                <p>
                                    <a class="text-muted" href="{% url 'read:work_detail' object.audiobookinstance_set.first.instance.work.id %}">
                                        Other Editions
                                    </a>
                                </p>
                            {% endif %}
                        {% else %}
                            <div class="row">
                                <h5>Table of Content</h5>
                                <!--list all related instances by order-->
                                <div class="col-sm-12">
                                    {% for audiobook_instance in object.bookinstance_set.all %}
                                        <div class="related-instance">
                                            <p>
                                                {{audiobook_instance.order}}.
                                                <a href="{% url 'read:work_detail' audiobook_instance.instance.work.id %}">
                                                    {{ audiobook_instance.alt_title|default:audiobook_instance.instance.title }}
                                                </a>
                                                {# djlint:off #}
                                                ({{ audiobook_instance.publication_date|default:audiobook_instance.instance.publication_date }})
                                                {# djlint:on #}
                                            </p>
                                        </div>
                                    {% empty %}
                                        <p>No related instances found.</p>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                <!--Book Stats-->
                <div class="bg-light p-3 mb-3">
                    <h5>Statistics</h5>
                    <div>
                        <strong>To Listen:</strong> <a href="{% url 'listen:audiobook_checkin_all_list' object.id %}?status=to_listen">{{ to_listen_count }}</a>
                    </div>
                    <div>
                        <strong>Looping:</strong> <a href="{% url 'listen:audiobook_checkin_all_list' object.id %}?status=looping">{{ listening_count }}</a>
                    </div>
                    <div>
                        <strong>Listened:</strong> <a href="{% url 'listen:audiobook_checkin_all_list' object.id %}?status=listened">{{ listened_count }}</a>
                    </div>
                </div>
                {% if object.internet_archive_url %}
                    <div class="bg-light p-3 mb-3">
                        <h5>Read on</h5>
                        <div>
                            <a href="{{ object.internet_archive_url }}">Internet Archive</a>
                        </div>
                    </div>
                {% endif %}
                {% if object.wikipedia %}
                    <div class="bg-light p-3 mb-3">
                        <h5>Links</h5>
                        <div>
                            <a href="{{ object.wikipedia }}">Wikipedia</a>
                        </div>
                    </div>
                {% endif %}
                {% if lists_containing_book.count != 0 %}
                    <!--LuvLists that included this book-->
                    <div class="bg-light p-3 mt-3">
                        <h5>Lists</h5>
                        <div class='mb-0'>
                            {% for content_in_list in lists_containing_book %}
                                <div>
                                    <a href="{% url 'write:luvlist_detail' content_in_list.luv_list.id %}">{{ content_in_list.luv_list.title }}</a>
                                </div>
                            {% empty %}
                                <div>This book is not included in any LuvLists.</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
