{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load markdownify %}
{% load concat_sets %}
{% block meta %}
    <meta property="og:title" content="{{ object.title }}">
    {% if object.notes %}
        <meta property="og:description" content="{{ object.notes|truncatewords:150 }}">
    {% else %}
        <meta property="og:description" content="Check out {{ object.title }} on luvdb.com">
    {% endif %}
    {% if object.cover %}
        <meta property="og:image" content="{{ object.cover.url }}">
    {% endif %}
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="audiobook">
{% endblock meta %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <!--Left columns-->
            <div class="col-sm-8">
                <!-- book-card -->
                <div class="book-card justify-content-start">
                    <div class="d-flex flex-column flex-lg-row mt-2">
                        <!--cover-box-->
                        <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                            <div class="read-cover-box">
                                {% if user.pure_text_mode %}
                                    <div class="listen-cover-placeholder bg-light">{{ object.title }}</div>
                                {% else %}
                                    {% if object.cover %}
                                        {% if object.cover_sens %}
                                            <img src="{{ object.cover.url }}"
                                                    alt="{{ object.title }} cover"
                                                    class="img-fluid blur cover-border"
                                                    onclick="this.classList.toggle('blur')">
                                        {% else %}
                                            <img src="{{ object.cover.url }}"
                                                    alt="{{ object.title }}"
                                                    class="img-fluid cover-border"
                                                    onerror="this.onerror=null; this.parentNode.innerHTML='<div class=\'listen-cover-placeholder\'>{{ object.title }}</div>';">
                                        {% endif %}
                                    {% else %}
                                        <div class="listen-cover-placeholder bg-light">{{ object.title }}</div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <!--book-meta-->
                        <div class="col flex-grow-1 ms-lg-3">
                            <div class="card-body">
                                <span class='d-flex align-items-start'>
                                    <h2>{{ object.title }}</h2>
                                </span>
                                <div class="book-meta">
                                    {% if object.subtitle %}<p class='text-secondary'>{{ object.subtitle }}</p>{% endif %}
                                    {% for role_name, creator_altname_tuples in roles.items %}
                                        <div class="mb-2">
                                            <span class="text-muted">{{ role_name }}:</span>
                                            {% for creator, alt_name in creator_altname_tuples %}
                                                <a href="{% url 'entity:creator_detail' creator.id %}">{{ alt_name }}</a>
                                                {% if not forloop.last %}/{% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                    {% if object.publisher %}
                                        <div class="mb-2">
                                            <span class="text-muted">Publisher:</span>
                                            <a href="{% url 'entity:company_detail' object.publisher.id %}">
                                                {% if object.publisher.location %}{{ object.publisher.location }}:{% endif %}
                                                {{ object.publisher.name }}
                                            </a>
                                        </div>
                                    {% endif %}
                                    {% if object.bookinseries_set.all %}
                                        <div class="mb-2">
                                            <span class="text-muted">Series:</span>
                                            {% for bookinseries in object.bookinseries_set.all %}
                                                <a href="{% url 'read:series_detail' bookinseries.series.id %}">{{ bookinseries.series.title }}</a> #{{ bookinseries.order }}
                                                {% if not forloop.last %}/{% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% if object.length %}
                                        <div class="mb-2">
                                            <span class="text-muted">Length:</span> {{ object.length }}
                                        </div>
                                    {% endif %}
                                    {% if object.release_date %}
                                        <div class="mb-2">
                                            <span class="text-muted">Date:</span> {{ object.release_date }}
                                        </div>
                                    {% endif %}
                                    {% if object.notes %}
                                    <div class="my-3">
                                        <div class="text-muted"
                                           type="button"
                                           data-bs-toggle="collapse"
                                           data-bs-target="#detailsCollapse"
                                           aria-expanded="false"
                                           aria-controls="detailsCollapse">
                                            <span class="text-muted">Detail</span>
                                        </div>
                                        <div class="collapse" id="detailsCollapse">
                                            
                                                <span class="text-muted">Details:</span>
                                                <div class="card card-body">{{ object.notes|markdownify }}</div>
                                            
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- End of book-card -->
                        </div>
                    </div>
                </div>
                <!--Book Check-In-->
                <div class="mt-4">
                    {% include "listen/listen_checkin_form.html" %}
                    <div class="d-flex justify-content-between mt-4 col-12 col-md-11">
                        <h4>Latest Check-Ins</h4>
                        <a class="btn btn-outline-secondary btn-sm"
                           href="{% url 'listen:audiobook_checkin_all_list' object.id %}"
                           style="height:30px">All</a> 
                    </div>
                    {% include "listen/listen_checkin_in_entry_detail.html" %}
                </div>
                <hr>
            </div>
            <div class="d-flex flex-column col-sm-4">
                <!--Related instances / Edit -->
                {% if user.is_authenticated and not object.locked %}
                    <div class="bg-light p-3 mb-3 order-2 order-sm-1">
                        <a href="{% url 'listen:audiobook_update' object.id %}"
                           class='fs-6 text-secondary'>Edit audiobook data</a>
                    </div>
                {% endif %}
                {% if object.audiobookinstance_set.count != 0 %}
                    <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                        {% if object.audiobookinstance_set.count == 1 %}
                            {% if object.audiobookinstance_set.first.instance.id %}
                                <h5>Work</h5>
                                <p>
                                    <a class="text-muted" href="{% url 'read:work_detail' object.audiobookinstance_set.first.instance.work.id %}">
                                        Other Editions
                                    </a>
                                </p>
                            {% endif %}
                        {% else %}
                            <div class="row">
                                <h5>Table of Content</h5>
                                <!--list all related instances by order-->
                                <div class="col-sm-12">
                                    {% for audiobook_instance in object.bookinstance_set.all %}
                                        <div class="related-instance">
                                            <p>
                                                {{audiobook_instance.order}}.
                                                <a href="{% url 'read:work_detail' audiobook_instance.instance.work.id %}">
                                                    {{ audiobook_instance.alt_title|default:audiobook_instance.instance.title }}
                                                </a>
                                                {# djlint:off #}
                                                ({{ audiobook_instance.publication_date|default:audiobook_instance.instance.publication_date }})
                                                {# djlint:on #}
                                            </p>
                                        </div>
                                    {% empty %}
                                        <p>No related instances found.</p>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                <!--Book Stats-->
                <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                    <h5>Statistics</h5>
                    <div>
                        <strong>To Listen:</strong> <a href="{% url 'listen:audiobook_checkin_all_list' object.id %}?status=to_listen">{{ to_listen_count }}</a>
                    </div>
                    <div>
                        <strong>Looping:</strong> <a href="{% url 'listen:audiobook_checkin_all_list' object.id %}?status=looping">{{ listening_count }}</a>
                    </div>
                    <div>
                        <strong>Listened:</strong> <a href="{% url 'listen:audiobook_checkin_all_list' object.id %}?status=listened">{{ listened_count }}</a>
                    </div>
                </div>
                {% if object.wikipedia %}
                    <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                        <h5>Links</h5>
                        <div>
                            <a href="{{ object.wikipedia }}">Wikipedia</a>
                        </div>
                    </div>
                {% endif %}
                {% if lists_containing_audiobook.count != 0 %}
                    <!--LuvLists that included this book-->
                    <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                        <h5>Lists</h5>
                        <div class='mb-0'>
                            {% for content_in_list in lists_containing_audiobook %}
                                <div>
                                    <a href="{% url 'write:luvlist_detail' content_in_list.luv_list.id %}">{{ content_in_list.luv_list.title }}</a>
                                </div>
                                {% if not forloop.last %}<hr class="m-1">{% endif %}
                            {% empty %}
                                <div>This audiobook is not included in any LuvLists.</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                <div class="bg-light p-3 mb-3 order-2 order-sm-3">
                    <div class="d-flex justify-content-start">
                        <h5 class="me-1">Contributors</h5>
                        (<a href="{% url 'listen:audiobook_history' object.pk %}" class="fs-6 text-secondary">Changelog</a>)
                    </div>
                    <div>
                        {% for contributor in contributors %}
                            <span>
                                <a href="{% url 'accounts:detail' contributor.username %}">
                                    {{ contributor.display_name|default:contributor.username }}
                                </a>
                            </span>
                            {% if not forloop.last %} / {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
