{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="col-12 col-md-8">
            <h3>
                <a href="{% url 'listen:release_detail' release.id %}">{{ release.title }}</a>
            </h3>

            <!-- Release Level Credits -->
            <h4>Release Credits</h4>
            <div class="mb-3">
                {% for role, persons_altname_tuples in release_credits.items %}
                    <div class="ms-4 mb-1">
                        <span class="text-muted">{{ role.name }}:</span>
                        {% for person, name in persons_altname_tuples %}
                            <a href="{% url 'entity:creator_detail' person.id %}">{{ name }}</a>
                            {% if not forloop.last %}/{% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            <!-- Track Level Credits -->
            <h4>Track Credits</h4>
            {% if track_credits|length == 0 %}
                <p>There are no track credits added yet.</p>
            {% else %}
                <div>
                    {% for track_data, roles_dict in track_credits.items %}
                        <div class="mb-2">
                            <strong>{{ track_data.1 }}.{{ track_data.2 }}</strong>
                            <a href="{% url 'listen:track_detail' track_data.0.id %}">{{ track_data.0.title }}</a>
                            <div class="mb-3">
                                {% for role, persons_altname_tuples in roles_dict.items %}
                                    <div class="ms-4 mb-1">
                                        <span class="text-muted">{{ role.name }}:</span>
                                        {% for person, name in persons_altname_tuples %}
                                            <a href="{% url 'entity:creator_detail' person.id %}">{{ name }}</a>
                                            {% if not forloop.last %}/{% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
