{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>
                    <a href="{% url 'listen:release_detail' release.id %}">{{ release.title }}</a>
                </h3>

                <!-- Release Level Credits -->
                <div class="fs-4 fw-bold">Release Credits</div>
                <div class="mb-3">
                    {% for category, roles in categorized_release_credits.items %}
                        <div>
                            <div class="fs-6 fw-semibold mt-2 mb-1 text-muted">{{ category }}</div>
                            {% for role, creators_altname_tuples in roles.items %}
                                <div>
                                    <span class="text-muted ms-2">{{ role }}:</span>
                                    {% for creator, name in creators_altname_tuples %}
                                        <a href="{% url 'entity:creator_detail' creator.id %}">{{ name }}</a>
                                        {% if not forloop.last %}/{% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}  
                </div>

                <!-- Categorized Track Level Credits -->
                <div class="fs-4 fw-bold">Track Credits</div>
                {% if categorized_track_credits|length == 0 %}
                    <p>There are no track credits added yet.</p>
                {% else %}
                    <div class="row">
                        {% for track_data, categories in categorized_track_credits.items %}
                            <div class="col-md-4 mb-4"> <!-- Adjust col-md-4 to control number of columns -->
                                <div class="card">
                                    <div class="card-body">
                                        <strong>{{ track_data.1 }}.{{ track_data.2 }}</strong>
                                        <a href="{% url 'listen:track_detail' track_data.0.id %}">{{ track_data.0.title }}</a>
                                        {% for category, roles in categories.items %}
                                            <div class="mt-2">
                                                <div class="fs-6 fw-semibold mb-2">{{ category }}</div>
                                                {% for role, creators_altname_tuples in roles.items %}
                                                    <div class="ms-2 mb-1">
                                                        <span class="text-muted">{{ role }}:</span>
                                                        {% for creator, name in creators_altname_tuples %}
                                                            <a href="{% url 'entity:creator_detail' creator.id %}">{{ name }}</a>
                                                            {% if not forloop.last %}/{% endif %}
                                                        {% endfor %}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
