{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-7 left-column">
    
            <span class='d-flex align-items-start'>
                <h2>
                    {{ object.name }}
                </h2> 
            </span>

            {% if works %}
                <ul>
                {% for work in works %}
                    <li>
                        <a href="{% url 'listen:work_detail' work.id %}">{{ work.title }}</a> 
                        ({{ work.release_date}})
                    </li>
                {% empty %}
                    <li>No works in this genre.</li>
                {% endfor %}
                </ul>
            {% endif %} 
        </div>
    </div>
</div>

{% endblock %}
