{% extends "base.html" %}
{% block title %}{{ object.name }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 left-column">
                <span class='d-flex align-items-start'>
                    <h2>
                        {{ object.name }}
                        {% if object.romanized_name %}/ {{ object.romanized_name }}{% endif %}
                    </h2>
                </span>
                {% if object.releases.count != 0 %}
                    <h3>Release</h3>
                    <ul>
                        {% for release in object.releases.all %}
                            <li>
                                <a href="{% url 'listen:release_detail' release.id %}">{{ release.title }}</a> ({{ release.release_type }}, {{ release.release_format }}, {{ release.release_date }})
                            </li>
                        {% empty %}
                            <li>This publisher has no releases.</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <!--manage entry-->
            <div class="col-sm-4">
                <div class="bg-light p-3">
                    {% if user.is_authenticated %}
                        <a href="{% url 'listen:label_update' object.pk %}"
                           class='fs-6 text-secondary'>Edit Label</a>
                    {% endif %}
                    <h5 class="mt-3">Link</h5>
                    {% if object.wikipedia %}
                        <div>
                            <a href="{{ object.wikipedia }}" target="_blank">Wikipedia</a>
                        </div>
                    {% endif %}
                    {% if object.website %}
                        <div>
                            <a href="{{ object.website }}" target="_blank">Official Website</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
