{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-7 left-column">
    
            <span class='d-flex align-items-start'>
                <h2>
                    {{ object.name }}
                    {% if object.romanized_name %} / {{ object.romanized_name }} {% endif %}
                </h2> 
            </span>
            <span class="text-secondary">
                {% if object.founded_date %}{{ object.founded_date }}-{% endif %}{% if object.closed_date %}{{ object.closed_date }}{% endif %}
            </span>

            {% if object.releases.count != 0 %}
                <h3>Release</h3>
                <ul>
                {% for release in object.releases.all %}
                    <li>
                        <a href="{% url 'listen:release_detail' release.id %}">{{ release.title }}</a> ({{release.release_type}}, {{release.release_format}}, {{ release.release_date}})
                    </li>
                {% empty %}
                    <li>This publisher has no releases.</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
