{% extends "base.html" %}
{% load linkify %}
{% load markdownify %}
{% load parse_activity_type %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="col-sm-12">
                <div class="fs-4">
                    All Listening Check-Ins from
                    <a href="{% url 'accounts:detail' profile_user.username %}"> {{ profile_user.display_name|default:profile_user.username }}</a>
                </div>
                <span class='d-flex mb-3'>
                    <div class="me-3">
                        <a href="?order=timestamp&status={{ status }}"
                            class="btn btn-sm btn-outline-secondary mb-1">Oldest</a>
                        <a href="?order=-timestamp&status={{ status }}"
                            class="btn btn-sm btn-outline-secondary mb-1">Newest</a>
                    </div>
                    <div class="me-3">|</div>
                    <div class="me-3">
                        <a href="?status=&order={{ order }}"
                            class="btn btn-sm btn-outline-secondary mb-1">All</a>
                        <a href="?status=to_listen&order={{ order }}"
                            class="btn btn-sm btn-info mb-1">To Listen</a>
                        <a href="?status=looping&order={{ order }}"
                            class="btn btn-sm btn-primary mb-1">Looping</a>
                        <a href="?status=listened&order={{ order }}"
                            class="btn btn-sm btn-success mb-1">Listened</a>
                        <a href="?status=subscribed&order={{ order }}"
                            class="btn btn-sm btn-primary mb-1">Subscribed</a>
                        <a href="?status=sampled&order={{ order }}"
                            class="btn btn-sm btn-success mb-1">Sampled</a>
                        <a href="?status=unsubscribed&order={{ order }}"
                            class="btn btn-sm btn-danger mb-1">Unsubscribed</a>
                    </div>
                </span>
            </div>
            <!-- Here goes the replaced content -->
            <!-- Assumption: 'checkins' is the context variable containing the check-ins for the user -->
            {% if profile_user.is_public  or request.user.is_authenticated %}
                {% for checkin in checkins %}
                <div class="col-sm-12 mt-4">
                    <div class="activity-item mb-3"
                                data-activity-type="{{ checkin.activity_type }}">
                            <div class="d-flex flex-wrap align-items-center">
                                <a href="{% url 'accounts:detail' checkin.user.username %}"
                                    class="text-decoration-none hover-username me-1">
                                    {{ checkin.user.display_name | default:checkin.user.username }}
                                    <span class="username">@{{ checkin.user.username }}</span>
                                </a>
                                <span class="me-1 text-muted">checked in</span>
                                <!--badge: checkin status-->
                                <span class="badge {{ checkin.status|get_status_class }} me-1">{{ checkin.get_status_display }}</span>
                                {% if checkin.progress %}
                                    {% if checkin.content_type.model == "release" %}
                                        <span class="badge text-bg-warning me-1">
                                            Loop: {{ checkin.progress }}
                                            {% if checkin.progress_type == "TL" %}
                                                Times
                                            {% else %}
                                                Minutes
                                            {% endif %}
                                        </span>
                                    {% elif object.content_type.model == "podcast" %}
                                        <span class="badge text-bg-warning me-1">
                                            {{ object.progress }}
                                        </span>
                                    {% elif object.content_type.model == "audiobook" %}
                                        <span class="badge text-bg-warning me-1">
                                            At {{ object.progress }}
                                        </span>
                                    {% endif %}
                                {% endif %}   

                            </div>
                            <div class="mt-2">{{ checkin.content | linkify_tags | linkify_mentions | markdownify }}</div>
                            <div class="d-flex flex-row bg-light p-3 mt-2">
                                <div class="mb-3 mb-md-0 flex-shrink-0 checkin-cover">
                                    {% if user.pure_text_mode %}
                                        <div class="listen-cover-placeholder bg-light">{{ checkin.content_object.title }}</div>
                                    {% else %}
                                        {% if checkin.content_object.cover %}
                                            {% if checkin.content_object.cover_sens %}
                                                <img src="{{ checkin.content_object.cover.url }}"
                                                        alt="{{ checkin.content_object.title }} cover"
                                                        class="img-fluid blur cover-border"
                                                        onclick="this.classList.toggle('blur')">
                                            {% else %}
                                                <img src="{{ checkin.content_object.cover.url }}"
                                                        alt="{{ checkin.content_object.title }} cover"
                                                        class="img-fluid cover-border"
                                                        onerror="this.onerror=null; this.parentNode.innerHTML='<div class=\'cover-placeholder\'>{{ checkin.content_object.title }}</div>';">
                                                {% endif %}
                                            {% else %}
                                                <div class="listen-cover-placeholder bg-light">{{ checkin.content_object.title }}</div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    {% if checkin.content_type.model == "release" %}
                                    <a href="{% url 'listen:release_detail' checkin.content_object.id %}"
                                        class="text-decoration-none hover-username">
                                        <div class="fs-5">{{ checkin.content_object.title }}</div>
                                    </a>
                                    {% elif checkin.content_type.model == "podcast" %}
                                    <a href="{% url 'listen:podcast_detail' checkin.content_object.id %}"
                                        class="text-decoration-none hover-username">
                                        <div class="fs-5">{{ checkin.content_object.title }}</div>
                                    </a>
                                    <div class="text-muted">
                                        {{ checkin.content_object.notes | truncatechars:300 }}
                                    </div>
                                    {% elif checkin.content_type.model == "audiobook" %}
                                    <a href="{% url 'listen:audiobook_detail' checkin.content_object.id %}"
                                        class="text-decoration-none hover-username">
                                        <div class="fs-5">{{ checkin.content_object.title }}</div>
                                    </a>
                                    {% endif %}
                                    {% regroup checkin.content_object.releaserole_set.all by role as roles_list %}
                                    {% for role in roles_list %}
                                        <div>
                                            {# djlint:off #}
                                            {{ role.grouper.name }}{% if role.list|length > 1 %}s{% endif %}:
                                            {# djlint:on #}
                                            {% for release_role in role.list %}
                                                {% if not forloop.first %}
                                                    /
                                                {% endif %}
                                                <a href="{% url 'entity:creator_detail' release_role.creator.id %}">
                                                    {{ release_role.alt_name | default:release_role.creator.name }}
                                                </a>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                    {% regroup checkin.content_object.audiobookrole_set.all by role as roles_list %}
                                    {% for role in roles_list %}
                                        <div>
                                            {# djlint:off #}
                                            {{ role.grouper.name }}{% if role.list|length > 1 %}s{% endif %}:
                                            {# djlint:on #}
                                            {% for audiobook_role in role.list %}
                                                {% if not forloop.first %}
                                                    /
                                                {% endif %}
                                                <a href="{% url 'entity:creator_detail' audiobook_role.creator.id %}">
                                                    {{ audiobook_role.alt_name | default:audiobook_role.creator.name }}
                                                </a>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                    <div>
                                        {% if checkin.content_object.release_date %}Date: {{ checkin.content_object.release_date }}{% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex mt-2">
                                <div class="me-2">
                                    {% if checkin.content_type.model == 'release' %}
                                        <a href="{% url 'listen:release_checkin_list' checkin.content_object.id checkin.user.username %}"
                                            class="text-decoration-none text-secondary">
                                            <span class="d-inline-block" style="white-space: nowrap;">{{ checkin.timestamp|date:"Y.m.d" }}</span>
                                            <span class="d-inline-block" style="white-space: nowrap;">{% if checkin.checkin_count > 0 %}({{ checkin.checkin_count }} more){% endif %}</span>                 
                                        </a>
                                    {% elif checkin.content_type.model == 'podcast' %}
                                        <a href="{% url 'listen:podcast_checkin_list' checkin.content_object.id checkin.user.username %}"
                                            class="text-decoration-none text-secondary">
                                            <span class="d-inline-block" style="white-space: nowrap;">{{ checkin.timestamp|date:"Y.m.d" }}</span>
                                            <span class="d-inline-block" style="white-space: nowrap;">{% if checkin.checkin_count > 0 %}({{ checkin.checkin_count }} more){% endif %}</span>                 
                                        </a>
                                    {% elif checkin.content_type.model == 'audiobook' %}
                                        <a href="{% url 'listen:audiobook_checkin_list' checkin.content_object.id checkin.user.username %}"
                                            class="text-decoration-none text-secondary">
                                            <span class="d-inline-block" style="white-space: nowrap;">{{ checkin.timestamp|date:"Y.m.d" }}</span>
                                            <span class="d-inline-block" style="white-space: nowrap;">{% if checkin.checkin_count > 0 %}({{ checkin.checkin_count }} more){% endif %}</span>                 
                                        </a>    
                                    {% endif %}
                                </div>
                                {% if checkin.comments_enabled %}
                                    <div class="ms-2 me-2">
                                        <a href="{% url 'listen:listen_checkin_detail' checkin.id %}"
                                            class="text-decoration-none">Reply</a>
                                    </div>
                                {% endif %}
                                <div class="ms-2 me-2">
                                    <a href="{% url 'listen:listen_checkin_detail' checkin.id %}?repost=true"
                                        class="text-decoration-none">Repost</a>
                                </div>
                                {% if checkin.user == request.user %}
                                    <div class="ms-2 me-2">
                                        <a href="{% url 'listen:listen_checkin_update' checkin.id %}"
                                            class="text-decoration-none">Edit</a>
                                    </div>
                                    <div class="ms-2 me-2">
                                        <a href="{% url 'listen:listen_checkin_delete' checkin.id %}"
                                            class="text-decoration-none">Delete</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>No check-ins available.</p>
                {% endfor %}
            {% else %}
                <p>This user's check-ins are private.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
