{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class='col-sm-8'>
                <h2>Recent Releases</h2>
                <div class="row">
                    {% for release in objects.recent_releases %}
                        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                            <a href="{% url 'listen:release_detail' release.pk %}">
                                {% if release.cover %}
                                    {% if release.cover_sens %}
                                        <img src="{{ release.cover.url }}" alt="{{ release.title }} cover" class="cover-image blur" onclick="this.classList.toggle('blur')">
                                    {% else %}
                                        <img src="{{ release.cover.url }}" alt="{{ release.title }}" class="img-fluid">
                                    {% endif %}
                                {% else %}
                                    <div class="cover-placeholder" style="background: grey; width: 100%; padding-top: 100%;"></div>
                                {% endif %}
                            </a>
                        </div>
                    {% empty %}
                        <p>No recent release to display.</p>
                    {% endfor %}
                </div>
            </div>
            <div class='col-sm-4'>
                <div class="bg-light p-3">
                    <h5>Add New</h5>
                    <div>
                        <a href="{% url "listen:work_create" %}" class="text-muted">Work</a>
                    </div>
                    <div>
                        <a href="{% url "listen:track_create" %}" class="text-muted">Track</a>
                    </div>
                    <div>
                        <a href="{% url "listen:release_create" %}" class="text-muted">Release</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
