{% extends "base.html" %}
{% load static %}
{% load markdownify %}
{% load linkify %}
{% load crispy_forms_tags %}
{% load parse_activity_type %}
{% block meta %}
    <meta property="og:title" content="{{ object.user.display_name | default:object.user.username }}'s Check-in on {{ object.content_object.title }}">
    {% if object.notes %}
        <meta property="og:description" content="{{ object.notes|truncatewords:150 }}">
    {% else %}
        <meta property="og:description" content="Check out {{ object.user.display_name | default:object.user.username }}'s Check-in on {{ object.content_object.title }} on luvdb.com">
    {% endif %}
    <meta property="og:image" content="{{ object.content_object.cover.url }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="article">
{% endblock meta %}
{% block title %}Check In{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 left-column">
                <div class="d-flex align-items-center">
                    <a href="{% url 'accounts:detail' object.user.username %}" class='me-1'>
                        {{ object.user.display_name | default:object.user.username }}
                    </a>
                    <span class="me-2">checked in</span>
                    <!--badge: checkin status-->
                    <span class="badge {{ object.status|get_status_class }} me-1">{{ object.get_status_display }}</span>
                    {% if object.progress %}
                        {% if object.content_type.model == "release" %}
                            <span class="badge text-bg-warning me-1">
                                Loop: {{ object.progress }}
                                {% if object.progress_type == "LT" %}
                                    Times
                                {% elif object.progress_type == "TT" %}
                                    Minutes
                                {% endif %}
                            </span>
                        {% elif object.content_type.model == "podcast" %}
                            <span class="badge text-bg-warning me-1">
                                {{ object.progress }}
                            </span>
                        {% elif object.content_type.model == "audiobook" %}
                            <span class="badge text-bg-warning me-1">
                                At {{ object.progress }}
                            </span>
                        {% endif %}
                    {% endif %} 
                </div>
                <div class="mt-2">{{ object.content | linkify_tags | linkify_mentions | markdownify }}</div>
                <div class="bg-light p-3 mt-2">
                    <div class="d-flex flex-row bg-light mt-2">
                        <div class="mb-3 mb-md-0 flex-shrink-0 checkin-cover">
                            {% if object.content_object.cover %}
                                {% if object.content_object.cover_sens %}
                                    <img src="{{ object.content_object.cover.url }}"
                                         alt="{{ object.content_object.title }} cover"
                                         style="width: 100%"
                                         class="img-fluid blur"
                                         onclick="this.classList.toggle('blur')">
                                {% else %}
                                    <img src="{{ object.content_object.cover.url }}"
                                         alt="{{ object.content_object.title }} cover"
                                         style="width: 100%">
                                {% endif %}
                            {% else %}
                                <div class="no-cover-text">No Cover</div>
                            {% endif %}
                        </div>
                        <div class="flex-grow-1 ms-3">
                            {% if object.content_type.model == 'release' %}
                                <a href="{% url 'listen:release_detail' object.content_object.id %}"
                                   class="text-decoration-none hover-username">
                                    <h5>{{ object.content_object.title }}</h5>
                                </a>
                            {% elif object.content_type.model == 'podcast' %}
                                <a href="{% url 'listen:podcast_detail' object.content_object.id %}"
                                   class="text-decoration-none hover-username">
                                    <h5>{{ object.content_object.title }}</h5>
                                </a>
                                <div class="text-muted">{{ object.content_object.notes | truncatechars:600 }}</div>
                            {% elif object.content_type.model == 'audiobook' %}
                                <a href="{% url 'listen:audiobook_detail' object.content_object.id %}"
                                   class="text-decoration-none hover-username">
                                    <h5>{{ object.content_object.title }}</h5>
                                </a>
                            {% endif %}

                            {% regroup object.content_object.releaserole_set.all by role as roles_list %}
                            {% for role in roles_list %}
                                <div>
                                    {# djlint:off #}
                                    <span class="text-muted">{{ role.grouper.name }}{% if role.list|length > 1 %}s{% endif %}:</span>
                                    {# djlint:on #}
                                    {% for release_role in role.list %}
                                        {% if not forloop.first %}/{% endif %}
                                        <a href="{% url 'entity:creator_detail' release_role.person.id %}">
                                            {{ release_role.alt_name | default:release_role.person.name }}
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            {% regroup object.content_object.audiobookrole_set.all by role as roles_list %}
                            {% for role in roles_list %}
                                <div>
                                    {# djlint:off #}
                                    <span class="text-muted">{{ role.grouper.name }}{% if role.list|length > 1 %}s{% endif %}:</span>
                                    {# djlint:on #}
                                    {% for audiobook_role in role.list %}
                                        {% if not forloop.first %}/{% endif %}
                                        <a href="{% url 'entity:creator_detail' audiobook_role.person.id %}">
                                            {{ audiobook_role.alt_name | default:audiobook_role.person.name }}
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            {% if object.content_object.label %}
                                <div>
                                    <span class="text-muted">Label:</span>
                                    {% for label in object.content_object.label.all %}
                                        <a href="{% url 'entity:company_detail' label.id %}">
                                            {{ label.name }}
                                            {% if not forloop.last %}/{% endif %}
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if object.content_object.publisher %}
                                <div>
                                    <span class="text-muted">Publisher:</span>
                                        <a href="{% url 'entity:company_detail' object.content_object.publisher.id %}">
                                            {{ object.content_object.publisher.name }}
                                        </a>
                                </div>
                            {% endif %}
                            {% if object.content_object.release_date %}
                            <div>
                                <span class="text-muted">Date:</span>{{ object.content_object.release_date }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="d-flex mt-2">
                    <p class='me-2 text-secondary mb-2'>
                        {% if object.content_type.model == 'release' %}
                            <a href="{% url 'listen:release_checkin_list' object.content_object.id object.user.username %}"
                                class="text-muted">
                                {% if checkin_count > 0 %}
                                    {{ object.timestamp|date:"Y.m.d H:i" }} ({{checkin_count}} more)
                                {% else %}
                                    {{ object.timestamp|date:"Y.m.d H:i" }}
                                {% endif %}
                            </a>
                        {% elif object.content_type.model == 'podcast' %}
                            <a href="{% url 'listen:podcast_checkin_list' object.content_object.id object.user.username %}"
                                class="text-muted">
                                {% if checkin_count > 0 %}
                                    {{ object.timestamp|date:"Y.m.d H:i" }} ({{checkin_count}} more)
                                {% else %}
                                    {{ object.timestamp|date:"Y.m.d H:i" }}
                                {% endif %}                                
                            </a>
                        {% elif object.content_type.model == 'audiobook' %}
                            <a href="{% url 'listen:audiobook_checkin_list' object.content_object.id object.user.username %}"
                                class="text-muted">
                                {% if checkin_count > 0 %}
                                    {{ object.timestamp|date:"Y.m.d H:i" }} ({{checkin_count}} more)
                                {% else %}
                                    {{ object.timestamp|date:"Y.m.d H:i" }}
                                {% endif %}                                
                            </a>
                        {% endif %}
                    </p>
                    {% if object.user == request.user %}
                        <a href="{% url "listen:listen_checkin_update" object.id %}"
                            class="me-2">Edit</a>
                        <a href="{% url "listen:listen_checkin_delete" object.id %}"
                            class="me-2">Delete</a>
                    {% endif %}
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <button id="show-comments"
                                class="btn btn-primary btn-sm mx-auto toggle-button">Comments ({{ comments|length }})</button>
                        <button id="show-reposts"
                                class="btn btn-secondary btn-sm mx-auto toggle-button">
                            Reposts ({{ object.reposts.count }})
                        </button>
                    </div>
                    <div>
                        <a href="{% url 'discover:vote' 'listencheckin' checkin.id 'up' %}" 
                            class="me-2 btn btn-sm {% if has_voted %}btn-outline-danger active{% else %}btn-outline-danger{% endif %}" 
                            title="Like this check-in">
                            ♡
                        </a>
                    </div>
                </div>
                <hr>
                <div id="comments-section">
                    {% include 'write/comment_in_details.html' with comments=comments object=object comment_form=comment_form object_type='listencheckin' %}
                </div>
                <div id="reposts-section" style="display: none;">
                    {% include 'write/repost_in_details.html' with object=object repost_form=repost_form reposts=object.reposts %}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/toggle-button.js' %}"></script>
{% endblock content %}
