{% extends 'base.html' %}

{% block content %}

<div class='col-sm-7'>
    <div class="row">
        <div class="col-sm-12">
            <h4>All Check-Ins of 
                <a href="{% url 'listen:release_detail' object.id %}"> {{ object.title }}</a>
            </h4>
            <span class='d-flex'>
                <div class="me-3">
                    <a href="?order=timestamp&status={{status}}" class="btn btn-sm btn-outline-secondary mb-1">Oldest</a>
                    <a href="?order=-timestamp&status={{status}}" class="btn btn-sm btn-outline-secondary mb-1">Newest</a>
                </div>
                <div class="me-3">|</div>
                <div class="me-3">
                    <a href="?status=&order={{order}}" class="btn btn-sm btn-outline-dark mb-1">All</a>
                    <a href="?status=to_listen&order={{order}}" class="btn btn-sm btn-info mb-1">To Listen</a>
                    <a href="?status=listening&order={{order}}" class="btn btn-sm btn-primary mb-1">Listening</a>
                    <a href="?status=listened&order={{order}}" class="btn btn-sm btn-success mb-1">Listened</a>
                    {% comment %} <a href="?status=paused&order={{order}}" class="btn btn-sm btn-warning mb-1">Paused</a>
                    <a href="?status=abandoned&order={{order}}" class="btn btn-sm btn-danger mb-1">Abandoned</a> {% endcomment %}
                </div>
            </span>
        </div>
        
        {% include "listen/listen_checkin_in_release_detail.html" %}
    </div>
</div>

{% endblock content %}