{% load markdownify %}
{% load linkify %}
{% load static %}
{% load parse_activity_type %}
<div class="col-sm-11 mt-3">
    {% for checkin in checkins %}
        {% if checkin.user.is_public or request.user.is_authenticated %}
            <div class="d-flex justify-content-start align-items-center mb-3">
                <span class='me-2'>
                    <a href="{% url 'accounts:detail' checkin.user.username %}">
                        {{ checkin.user.display_name|default:checkin.user.username }}
                    </a>
                </span>
                <!--badge: checkin status-->
                <span class="badge {{ checkin.status|get_status_class }} me-1">{{ checkin.get_status_display }}</span>
                {% if checkin.progress %}
                    {% if checkin.content_type.model == 'release' %}
                        <span class="badge text-bg-warning me-2">
                            Loop: {{ checkin.progress }}
                            {% if checkin.progress_type == "TT" %}
                                Minutes
                            {% else %}
                                Times
                            {% endif %}
                        </span>
                    {% elif checkin.content_type.model == 'podcast' %}
                        <span class="badge text-bg-warning me-2">EP: {{ checkin.progress }}</span>
                    {% endif %}
                {% endif %}
            </div>
            {% if checkin.content %}
                <div class="checkin bg-light p-3 mb-3">{{ checkin.content | linkify_tags | linkify_mentions | markdownify }}</div>
            {% endif %}
            <div class="d-flex mb-4">
                <span class="me-2">
                    {% if checkin.content_type.model == 'release' %}
                        <a href="{% url 'listen:release_checkin_list' checkin.content_object.id checkin.user.username %}"
                           class="text-decoration-none text-secondary">{{ checkin.timestamp|date:"Y.m.d H:i" }}</a>
                    {% elif checkin.content_type.model == 'podcast' %}
                        <a href="{% url 'listen:podcast_checkin_list' checkin.content_object.id checkin.user.username %}"
                           class="text-decoration-none text-secondary">{{ checkin.timestamp|date:"Y.m.d H:i" }}</a>
                    {% elif checkin.content_type.model == 'audiobook' %}
                        <a href="{% url 'listen:audiobook_checkin_list' checkin.content_object.id checkin.user.username %}"
                            class="text-decoration-none text-secondary">{{ checkin.timestamp|date:"Y.m.d H:i" }}</a>
                    {% endif %}
                </span>
                {% if checkin.comments_enabled %}
                    <span class="ms-2 me-2">
                        <a href="{% url 'listen:listen_checkin_detail' checkin.id %}"
                           class="text-decoration-none">Reply</a>
                    </span>
                {% endif %}
                {% if checkin.get_activity_id %}
                    <span class="ms-2 me-2"><a href="{% url 'listen:listen_checkin_detail' checkin.id %}?repost=true"
   class="text-decoration-none">Repost</a></span>
                {% endif %}
                {% if checkin.user == request.user %}
                    <span class="ms-2 me-2"><a href="{% url 'listen:listen_checkin_update' checkin.id %}"
   class="text-decoration-none">Edit</a></span>
                    <span class="ms-2 me-2"><a href="{% url 'listen:listen_checkin_delete' checkin.id %}"
   class="text-decoration-none">Delete</a></span>
                {% endif %}
            </div>
        {% endif %}
    {% empty %}
        <p>No check-ins yet.</p>
    {% endfor %}
</div>
