{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load markdownify %}
{% block meta %}
    <meta property="og:title" content="{{ object.title }}">
    {% if object.notes %}
        <meta property="og:description" content="{{ object.notes|truncatewords:150 }}">
    {% else %}
        <meta property="og:description" content="Check out {{ object.title }} on luvdb.com">
    {% endif %}
    {% if object.cover %}
        <meta property="og:image" content="{{ object.cover.url }}">
    {% endif %}
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="podcast">
{% endblock meta %}
{% block title %}
    {{ podcast.title }}
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <!--Left columns-->
            <div class="col-lg-8 col-md-8 col-sm-12">
                <!-- podcast-card -->
                <div class="release-card justify-content-start col-11">
                    <div class="d-flex flex-column flex-lg-row mt-2">
                        <!--cover-box-->
                        <div class="col-12 col-lg-auto mb-3 mb-lg-0 mt-1">
                            <div class="listen-cover-box">
                                {% if user.pure_text_mode %}
                                    <div class="listen-cover-placeholder bg-light">{{ podcast.title }}</div>
                                {% else %}
                                    {% if podcast.cover %}
                                        {% if podcast.cover_sens %}
                                            <img src="{{ podcast.cover.url }}"
                                                    alt="{{ podcast.title }} cover"
                                                    class="img-fluid blur cover-border"
                                                    onclick="this.classList.toggle('blur')">
                                        {% else %}
                                            <img src="{{ podcast.cover.url }}"
                                                    alt="{{ podcast.title }}"
                                                    class="img-fluid cover-border"
                                                    onerror="this.onerror=null; this.parentNode.innerHTML='<div class=\'listen-cover-placeholder\'>{{ podcast.title }}</div>';">
                                        {% endif %}
                                    {% else %}
                                        <div class="listen-cover-placeholder bg-light">{{ podcast.title }}</div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <!--podcast-meta-->
                        <div class="flex-grow-1 ms-lg-3">
                            <div class="card-body">
                                <h2>{{ podcast.title }}</h2>
                                
                                <!-- Categories & Language Row -->
                                <div class="d-flex flex-wrap mb-2">
                                    <!-- Categories -->
                                    {% if podcast.categories %}
                                        {% for category in podcast.categories %}<span class="badge bg-secondary me-1 mb-1">{{ category }}</span>{% endfor %}
                                    {% endif %}
                                    
                                    <!-- Language -->
                                    {% if podcast.language %}
                                        <span class="badge bg-primary mb-1">{{ podcast.language }}</span>
                                    {% endif %}
                                    <!-- Explicit Badge -->
                                    {% if podcast.explicit %}
                                        <div class="mb-2">
                                            <span class="badge bg-danger">Explicit</span>
                                        </div>
                                    {% endif %}
                                </div>

                                <!-- Publisher -->
                                {% if podcast.publisher %}<p class="text-secondary">{{ podcast.publisher }}</p>{% endif %}
                                <!-- Description with "Show more" functionality -->
                                {% if podcast.description %}
                                    <div class="mb-1 text-muted">
                                        {{ podcast.description|markdownify }}
                                    </div>
                                {% endif %}

                                <!-- Copyright & Last Updated Row -->
                                <div class="d-flex justify-content-between align-items-center mt-2">
                                    <!-- Last Updated -->
                                    {% if podcast.last_updated %}<div class="small">Last updated: {{ podcast.last_updated|date:"F j, Y" }}</div>{% endif %}
                                    <!-- Copyright -->
                                    {% if podcast.copyright %}<div class="small text-secondary">&copy; {{ podcast.copyright }}</div>{% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Podcast Episodes List-->
                <div class="mt-4 col-11">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2>Episodes</h2>
                        <div class="d-flex">
                            <!-- Check the recently_updated context variable -->
                            {% if not recently_updated %}
                                <form method="post" action="{% url 'listen:podcast_detail' podcast.pk %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="recrawl">
                                    <button type="submit" class="btn btn-sm btn-outline-secondary">Update</button>
                                </form>
                            {% endif %}
                            <button class="ms-2 btn btn-sm btn-outline-secondary "
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#moreEpisodes"
                                    aria-expanded="false"
                                    aria-controls="moreEpisodes">Show All</button>
                        </div>
                    </div>
                    <ul class="list-group">
                        {% for episode in podcast.episodes|slice:":3" %}
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <strong>{{ episode.title }}</strong>
                                        <br>
                                    </div>
                                    {% if episode.episode_url %}
                                        <div>
                                            <a href="{{ episode.episode_url }}"
                                               target="_blank"
                                               class="btn btn-primary btn-sm">Listen</a>
                                        </div>
                                    {% endif %}
                                </div>
                                {% if episode.release_date %}<small class="text-muted">Released on: {{ episode.release_date }}</small>{% endif %}
                            </li>
                        {% endfor %}
                        <!-- Start of the collapsible content -->
                        <div class="collapse" id="moreEpisodes">
                            {% for episode in podcast.episodes|slice:"3:" %}
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <strong>{{ episode.title }}</strong>
                                            <br>
                                        </div>
                                        {% if episode.episode_url %}
                                            <div>
                                                <a href="{{ episode.episode_url }}"
                                                   target="_blank"
                                                   class="btn btn-primary btn-sm">Listen</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                    {% if episode.release_date %}<small class="text-muted">Released on: {{ episode.release_date }}</small>{% endif %}
                                </li>
                            {% endfor %}
                        </div>
                        <!-- End of the collapsible content -->
                    </ul>
                </div>
                <!--Listen Check-In-->
                <div class="mt-4">
                    {% include "listen/listen_checkin_form.html" %}
                    <div class="d-flex justify-content-between mt-4 col-12 col-md-11">
                        <h4>Latest Check-Ins</h4>
                        <a class="btn btn-outline-secondary btn-sm"
                           href="{% url 'listen:podcast_checkin_all_list' podcast.id %}"
                           style="height:30px">All</a>
                    </div>
                    {% include "listen/listen_checkin_in_entry_detail.html" %}
                </div>
                <hr>
            </div>
            <!--Right columns-->
            <div class="d-flex flex-column col-sm-4">
                {% if user.is_authenticated and not object.locked %}
                    <div class="bg-light p-3 mb-3 order-2 order-sm-1">
                        <a href="{% url 'listen:podcast_update' object.pk %}"
                           class='fs-6 text-secondary'>Edit Podcast</a>
                    </div>
                {% endif %}
                <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                    <h5>Links</h5>
                    {% if podcast.website_url %}
                        <div>
                            <a href="{{ podcast.website_url }}" target="_blank">Official Website</a>
                        </div>
                    {% endif %}
                    {% if podcast.rss_feed_url %}
                        <div>
                            <a href="{{ podcast.rss_feed_url }}" target="_blank">RSS Feed</a>
                        </div>
                    {% endif %}
                </div>
                <!--Stats-->
                <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                    <h5>Statistics</h5>
                    <div>
                        <strong>To Listen:</strong> <a href="{% url 'listen:podcast_checkin_all_list' podcast.id %}?status=to_listen">{{ to_listen_count }}</a>
                    </div>
                    <div>
                        <strong>Subscribed:</strong> <a href="{% url 'listen:podcast_checkin_all_list' podcast.id %}?status=looping">{{ listening_count }}</a>
                    </div>
                </div>
                {% if lists_containing_podcast.count != 0 %}
                    <!--LuvLists that included this series-->
                    <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                        <h5>Lists</h5>
                        <div class='mb-0'>
                            {% for content_in_list in lists_containing_podcast %}
                                <div>
                                    <a href="{% url 'write:luvlist_detail' content_in_list.luv_list.id %}">{{ content_in_list.luv_list.title }}</a>
                                </div>
                                {% if not forloop.last %}<hr class="m-1">{% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
