{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}New Release{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-7 left-column">
            <h3>Create a new Release entry</h3>
            {% include "listen/release_form.html" %}
        </div>

        <div class="col-12 col-md-5 right-column">
            <div class="bg-light p-3">
                <h4>Guide to Creating a Release</h4>
                
                <h5>Release: The Collection of Tracks</h5>
                <p>A Release refers to a specific distribution of a collection of Tracks, whether in physical or digital format. It's how the performed Tracks are brought together and presented to the audience. For individual Tracks, go to the <a href="{% url "listen:track_create" %}">Track</a> section.</p>
                
                <h5>What to Include in a Release</h5>
                <p>Log details about the collection, such as the label,release date, and format. Include links to the Tracks within the Release to create a complete representation from the abstract Work to the tangible Release.</p>
            </div>
        </div>
        
    </div>
</div>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}

<script type="text/javascript" src="{% static 'js/generalFormsetHandler.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    
        // Call the function for release-role-formset and release-work-formset
        window.handleFormset('#release-role-formset', 'add-release-role');
        window.handleFormset('#release-track-formset', 'add-release-track');
    });
    
    $(document).ready(function() {
        $('select:not([name="cover_sens"], [name="model"])').removeClass('form-select');
    });
    
</script>

{% endblock content %}
