{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load concat_sets %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!--Left columns-->
        <div class="col-sm-8">
            <!-- release-card -->
            <div class="release-card justify-content-start">
                <div class="row">
                    <!--cover-box-->
                    <div class="col-md-3 me-4">
                        <div class="listen-cover-box">
                            {% if object.cover %}
                                {% if object.cover_sens %}
                                    <img src="{{ object.cover.url }}" alt="{{ object.title }} cover" class="cover-image blur" onclick="this.classList.toggle('blur')">
                                {% else %}
                                    <img src="{{ object.cover.url }}" alt="{{ object.title }} cover" class="cover-image">
                                {% endif %}
                            {% else %}
                                <p class="no-cover-text">No Cover</div>
                            {% endif %}
                        </div>
                    </div>
                    <!--release-meta-->
                    <div class="col-md-8">
                        <div class="card-body">
                            <span class='d-flex align-items-start'>
                                <h2>{{ object.title }} </h2>
                            </span>
                            
                            <div class="release-meta">
                                {% if object.subtitle %}<p class='text-secondary'>{{ object.subtitle }}</div>{% endif %}
                                {% for role_name, person_altname_tuples in roles.items %}
                                    <div>
                                        <strong>{{ role_name }}:</strong> 
                                        {% for person, alt_name in person_altname_tuples %}
                                            <a href="{% url 'entity:person_detail' person.id %}">{{ alt_name }}</a>
                                            {% if not forloop.last %} / {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                {% if object.label %}
                                    <div>
                                        <strong>Label:</strong>
                                        {% for label in object.label.all %}
                                        <a href="{% url 'listen:label_detail' label.id %}">
                                            {{ label.name }} {% if not forloop.last %} / {% endif %}
                                        </a>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% if object.release_date %}
                                    <div><strong>Date:</strong> {{ object.release_date }}</div>
                                {% endif %}
                                {% if object.release_type %}
                                    <div><strong>Type:</strong> {{ object.release_type }}</div>
                                {% endif %}
                                {% if object.release_format %}
                                    <div><strong>Format:</strong> {{ object.release_format }}</div>
                                {% endif %}
                                {% if object.release_region %}
                                    <div><strong>Region:</strong> {{ object.release_region }}</div>
                                {% endif %}
                                
                            </div>
                        </div>
                        <!-- End of release-card -->
                    </div>
                </div>       
            </div>

            <!--Listen Check-In-->
            <div class="mt-4">
                {% include "listen/listen_checkin_form.html" %}

                <div class="d-flex justify-content-between mt-4 col-11">
                    <h4>Latest Check-Ins</h4>
                    <a class="btn btn-outline-secondary btn-sm" href="{% url 'listen:listen_checkin_all_list' release.id %}" style="height:30px">All</a>
                </div>
            
                {% include "listen/listen_checkin_in_release_detail.html" %}
            </div>
        </div>

            
        <div class="col-sm-4">
            <!--Related tracks / Edit -->
            <div class="bg-light p-3">
                <div>
                    {% if object.releasetrack_set.count < 2 %}
                        {% if object.releasetrack_set.first.track.id %}
                        <div><strong>Related Track:</strong> 
                            <a href="{% url 'listen:track_detail' object.releasetrack_set.first.track.id %}">
                                {{ object.releasetrack_set.first.alt_title|default:object.releasetrack_set.first.track.title }}
                            </a>
                        </div>
                        {% endif %}
                    {% else %}
                        <div class="row">
                            <h5>Tracklist</h5>
                            <!--list all related tracks by order-->
                            <div class="col-sm-12">
                                {% for release_track in object.releasetrack_set.all %}
                                    <div class="related-track"> 
                                        <div>
                                            <a href="{% url 'listen:track_detail' release_track.track.id %}">
                                                {{ release_track.alt_title|default:release_track.track.title }}
                                            </a> 
                                            ({% if release_track.role %}{{ release_track.role.name }}: 
                                                <a href="{% url 'entity:person_detail' release_track.person.id %}">
                                                    {{ release_track.name|default:release_track.person.name }}
                                                </a>
                                                , 
                                            {% endif %}{{ release_track.publication_date|default:release_track.track.publication_date }})
                                        </div>
                                    </div>
                                {% empty %}
                                    <div>No related tracks found.</div>
                                {% endfor %}
                            </div>
                        </div>   
                    {% endif %}
        
                    {% if user.is_authenticated %}
                        <div class="mt-3">
                            <a href="{% url 'listen:release_update' object.pk %}" class='fs-6 text-secondary'>Edit release data</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        

            <!--Release Stats-->
            <div class="bg-light p-3 mt-3">
                <h5>Release Statistics</h5>
                <div><strong>To Listen:</strong> {{ to_listen_count }}</div>
                <div><strong>Listening:</strong> {{ listening_count }}</div>
                <div><strong>Listened:</strong> {{ listened_count }}</div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
