{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load concat_sets %}
{% block meta %}
    <meta property="og:title" content="{{ object.title }}">
    {% if object.notes %}
        <meta property="og:description" content="{{ object.notes|truncatewords:150 }}">
    {% else %}
        <meta property="og:description" content="Check out {{ object.title }} on luvdb.com">
    {% endif %}
    {% if object.cover %}
        <meta property="og:image" content="{{ object.cover.url }}">
    {% endif %}
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="music">
{% endblock meta %}
{% block title %}
    {{ object.title }}
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <!--Left columns-->
            <div class="col-lg-8 col-md-8 col-sm-12">
                <!-- release-card -->
                <div class="release-card justify-content-start">
                    <div class="d-flex flex-column flex-lg-row mt-2">
                        <!--cover-box-->
                        <div class="col-12 col-lg-auto mb-3 mb-lg-0 mt-1">
                            <div class="listen-cover-box">
                                {% if user.pure_text_mode %}
                                    <div class="listen-cover-placeholder bg-light">{{ object.title }}</div>
                                {% else %}
                                    {% if object.cover %}
                                        {% if object.cover_sens %}
                                            <img src="{{ object.cover.url }}"
                                                alt="{{ object.title }} cover"
                                                class="img-fluid blur"
                                                onclick="this.classList.toggle('blur')">
                                        {% else %}
                                            <img src="{{ object.cover.url }}"
                                                alt="{{ object.title }} cover"
                                                class="img-fluid cover-border"
                                                onerror="this.onerror=null; this.parentNode.innerHTML='<div class=\'listen-cover-placeholder\'>{{ object.title }}</div>';">
                                        {% endif %}
                                    {% else %}
                                        <div class="listen-cover-placeholder bg-light">{{ object.title }}</div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <!--release-meta-->
                        <div class="col flex-grow-1 ms-lg-3">
                            <div class="card-body">
                                <span class="d-flex align-items-start">
                                    <h2>{{ object.title }}</h2>
                                </span>
                                <div class="release-meta">
                                    {% if object.subtitle %}
                                        <div class="text-secondary mb-2">
                                            {{ object.subtitle }}
                                        </div>
                                    {% endif %}
                                    {% for role_name, person_altname_tuples in roles.items %}
                                        <div class="mb-1">
                                            <span class="text-muted">{{ role_name }}:</span>
                                            {% for creator, alt_name in person_altname_tuples %}
                                                <a href="{% url 'entity:creator_detail' creator.id %}">{{ alt_name }}</a>
                                                {% if not forloop.last %}/{% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                    {% if object.label.exists %}
                                        <div class="mb-1">
                                            <span class="text-muted">Label{% if object.label.count > 1 %}s{% endif %}:</span>
                                            {% for label in object.label.all %}
                                                <a href="{% url 'entity:company_detail' label.id %}">
                                                    {{ label.name }}
                                                    {% if not forloop.last %}/{% endif %}
                                                </a>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% if object.catalog_number %}
                                        <div class="mb-1">
                                            <span class="text-muted">Catalog number:</span> {{ object.catalog_number }}
                                        </div>
                                    {% endif %}
                                    {% if object.release_date %}
                                        <div class="mb-1">
                                            <span class="text-muted">Date:</span> {{ object.release_date }}
                                            {% if object.release_region  %}({{object.release_region}}){% endif %}
                                        </div>
                                    {% endif %}
                                    <div class="my-3">
                                        <div class="text-muted mb-1"
                                             type="button"
                                             data-bs-toggle="collapse"
                                             data-bs-target="#detailsCollapse"
                                             aria-expanded="false"
                                             aria-controls="detailsCollapse">
                                            <span class="text-muted">More Metadata</span>
                                        </div>
                                        <div class="collapse" id="detailsCollapse">
                                            {% if object.release_type or object.recording_type %}
                                                <div class="mb-1">
                                                    <span class="text-muted">Type:</span>
                                                    {% if object.recording_type %}{{ object.recording_type }}{% endif %}
                                                    {{ object.release_type }}
                                                </div>
                                            {% endif %}
                                            {% if object.release_format %}
                                                <div class="mb-1">
                                                    <span class="text-muted">Format:</span> {{ object.release_format }}
                                                </div>
                                            {% endif %}
                                            {% if object.release_length %}
                                                <div class="mb-1">
                                                    <span class="text-muted">Length:</span> {{ object.release_length }}
                                                </div>
                                            {% endif %}
                                            {% if object.releaseingroup_set.all %}
                                                <p>
                                                    <span class="text-muted">Other versions:</span>
                                                    {% for releaseingroup in object.releaseingroup_set.all %}
                                                        <a href="{% url 'listen:releasegroup_detail' releaseingroup.group.id %}">See All</a>
                                                        {% if not forloop.last %}/{% endif %}
                                                    {% endfor %}
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of release-card -->
                        </div>
                    </div>
                </div>
                <!--Listen Check-In-->
                <div class="mt-4">
                    {% include "listen/listen_checkin_form.html" %}
                    <div class="d-flex justify-content-between mt-4 col-12 col-md-11">
                        <h4>Latest Check-Ins</h4>
                        <a class="btn btn-outline-secondary btn-sm"
                           href="{% url 'listen:release_checkin_all_list' release.id %}"
                           style="height:30px">All</a>
                    </div>
                    {% include "listen/listen_checkin_in_entry_detail.html" %}
                </div>
                <hr>
            </div>
            <!--Right columns-->
            <div class="d-flex flex-column col-sm-4">
                <!--Related tracks / Edit -->
                {% if user.is_authenticated %}
                    <div class="bg-light p-3 mb-3 order-2 order-sm-1">
                        <a href="{% url 'listen:release_update' object.pk %}"
                           class='fs-6 text-secondary'>Edit Release</a>
                    </div>
                {% endif %}
                <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                    <h5>Tracklist</h5>
                    <!--list all related tracks by order-->
                    <div class="col-sm-12">
                        {% for release_track in object.releasetrack_set.all %}
                            <div class="related-track">
                                <div>
                                    <strong>{{ release_track.disk }}.{{ release_track.order }}</strong>
                                    <a href="{% url 'listen:track_detail' release_track.track.id %}">
                                        {{ release_track.alt_title|default:release_track.track.title }}
                                    </a>
                                    {% if release_track.track.length %}({{ release_track.track.length }}){% endif %}
                                </div>
                            </div>
                        {% empty %}
                            <div>No related tracks found.</div>
                        {% endfor %}
                        {% if object.releasetrack_set.exists %}
                        <hr>
                        <div>
                            <a href="{% url 'listen:release_credit' object.id %}"
                               class='fs-6 text-secondary'>View All Credits</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <!--Release Stats-->
                <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                    <h5>Statistics</h5>
                    <div>
                        <strong>To Listen:</strong> <a href="{% url 'listen:release_checkin_all_list' release.id %}?status=to_listen">{{ to_listen_count }}</a>
                    </div>
                    <div>
                        <strong>Looping:</strong> <a href="{% url 'listen:release_checkin_all_list' release.id %}?status=looping">{{ listening_count }}</a>
                    </div>
                    <div>
                        <strong>Listened:</strong> <a href="{% url 'listen:release_checkin_all_list' release.id %}?status=listened">{{ listened_count }}</a>
                    </div>
                </div>
                <!--Listen on-->
                {% if object.apple_music_url or object.spotify_url or  object.kkbox_url or object.spotify_url or object.youtube_url %}
                    <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                        <h5>Listen on</h5>
                        {% if object.apple_music_url %}
                            <div>
                                <a href="{{ object.apple_music_url }}">Apple Music</a>
                            </div>
                        {% endif %}
                        {% if object.kkbox_url %}
                            <div>
                                <a href="{{ object.kkbox_url }}">KKBox</a>
                            </div>
                        {% endif %}
                        {% if object.spotify_url %}
                            <div>
                                <a href="{{ object.spotify_url }}">Spotify</a>
                            </div>
                        {% endif %}
                        {% if object.youtube_url %}
                            <div>
                                <a href="{{ object.youtube_url }}">YouTube</a>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                {% if object.wikipedia or object.discogs %}
                    <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                        <h5>Links</h5>
                        {% if object.discogs %}
                        <div>
                            <a href="{{ object.discogs }}">Discogs</a>
                        </div>
                        {% endif %}
                        {% if object.wikipedia %}
                        <div>
                            <a href="{{ object.wikipedia }}">Wikipedia</a>
                        </div>
                        {% endif %}
                    </div>
                {% endif %}
                {% if lists_containing_release.count != 0 %}
                    <!--LuvLists that included this release-->
                    <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                        <h5>Lists</h5>
                        <div class='mb-0'>
                            {% for content_in_list in lists_containing_release %}
                                <div>
                                    <a href="{% url 'write:luvlist_detail' content_in_list.luv_list.id %}">{{ content_in_list.luv_list.title }}</a>
                                </div>
                                {% if not forloop.last %}<hr class="m-1">{% endif %}
                            {% empty %}
                                <div>This release is not included in any LuvLists.</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
