{% extends "base.html" %}
{% load static %}
{% load markdownify %}
{% load linkify %}
{% load crispy_forms_tags %}
{% load util_filters %}
{% block title %}{{ object.title }}{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class='col-12 col-md-8'>
                <h2>{{ object.title }}</h2>
                <!-- Metadata from the oldest release in the group -->
                {% if oldest_release %}
                    <div class="mt-3 mb-3">
                        {% regroup oldest_release.release.releaserole_set.all by role as roles_list %}
                        {% for role in roles_list %}
                            <div>
                                <span class="text-muted">{{ role.grouper }}{% if role.list|length > 1 %}s{% endif %}</span>:
                                {% for release_role in role.list %}
                                    {% if not forloop.first %}, {% endif %}
                                    <a href="{% url 'entity:creator_detail' release_role.creator.id %}">
                                        {{ release_role.alt_name | default:release_role.creator.name }}
                                    </a>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        {% if oldest_release.release.label %}
                            <div>
                                <span class="text-muted">Label</span>: 
                                {% for label in oldest_release.release.label.all %}
                                    <a href="{% url 'entity:company_detail' label.id %}">
                                        {{ label.name }}
                                        {% if not forloop.last %}/{% endif %}
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if oldest_release.release.release_date %}
                            <div><span class="text-muted">First Release Date</span>: {{ oldest_release.release.release_date }}</div>
                        {% endif %}
                    </div>
                {% endif %}

                <div class='mt-3'>
                    {% for release_in_group in sorted_releases %}
                        <!--Release Group Item-->
                        <div class="bg-light p-3 mb-3">
                            <div class="bg-white p-3 d-flex">
                                <div class="mt-1 mb-3 mb-md-0 flex-shrink-0 checkin-cover">
                                    {% if user.pure_text_mode %}
                                        <div class="listen-cover-placeholder bg-light">{{ release_in_group.release.title }}</div>
                                    {% else %}
                                        {% if release_in_group.release.cover %}
                                            {% if release_in_group.release.cover_sens %}
                                                <img src="{{ release_in_group.release.cover.url }}"
                                                    alt="{{ release_in_group.release.title }} cover"
                                                    class="img-fluid blur cover-border"
                                                    onclick="this.classList.toggle('blur')"
                                                    loading="lazy">
                                            {% else %}
                                                <img src="{{ release_in_group.release.cover.url }}"
                                                    alt="{{ release_in_group.release.title }} cover"
                                                    class="img-fluid cover-border"
                                                    onerror="this.onerror=null; this.parentNode.innerHTML='<div class=\'listen-cover-placeholder\'>{{ release_in_group.release.title }}</div>';"
                                                    loading="lazy">
                                            {% endif %}
                                        {% else %}
                                            <div class="listen-cover-placeholder bg-light">{{ release_in_group.release.title }}</div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <a href="{% url 'listen:release_detail' release_in_group.release.pk %}"
                                       class="text-decoration-none ">
                                        <div class="fs-5">{{ release_in_group.release.title }}</div>
                                    </a>
                                    {% if release_in_group.release.subtitle %}<div class="mb-2 text-muted">{{ release_in_group.release.subtitle }}</div>{% endif %}
                                    {% regroup release_in_group.release.releaserole_set.all by role as roles_list %}
                                    {% for role in roles_list %}
                                        <div>
                                            <span class="text-muted">{{ role.grouper }}{% if role.list|length > 1 %}s{% endif %}</span>:
                                            {% for release_role in role.list %}
                                                {% if not forloop.first %}, {% endif %}
                                                <a href="{% url 'entity:creator_detail' release_role.creator.id %}">
                                                    {{ release_role.alt_name | default:release_role.creator.name }}
                                                </a>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                    {% if release_in_group.release.label.exists %}
                                        <div>
                                            <span class="text-muted">Label</span>: 
                                            {% for label in release_in_group.release.label.all %}
                                                <a href="{% url 'entity:company_detail' label.id %}">
                                                    {{ label.name }}
                                                    {% if not forloop.last %}/{% endif %}
                                                </a>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% if release_in_group.release.release_date %}
                                        <div>
                                            <span class="text-muted">Date</span>: {{ release_in_group.release.release_date }}
                                            {% if release_in_group.release.release_region  %}({{release_in_group.release.release_region}}){% endif %}
                                        </div>
                                    {% endif %}
                                    {% if release_in_group.release.catalog_number %}
                                        <div><span class="text-muted">Catalog Number</span>: {{ release_in_group.release.catalog_number }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="bg-light p-3 mb-3">
                            <div class="bg-white p-3">
                                <div class="flex-grow-1">
                                    <p>No releases in this group yet.</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
            <div class="col-12 col-md-4">
                {% if user.is_authenticated %}
                    <div class="bg-light p-3 mb-3">
                        <a href="{% url 'listen:releasegroup_update' object.id %}"
                           class='fs-6 text-secondary'>Edit Release Group</a>
                    </div>
                {% endif %}
                <div class="bg-light p-3 mb-3 order-1 order-sm-3">
                    <div class="d-flex justify-content-start align-items-center flex-wrap">
                        <div class="me-1 fs-5">Contributors</div>
                        <div>(<a href="{% url 'listen:releasegroup_history' object.pk %}" class="fs-6 text-secondary">Changelog</a>)</div>
                    </div>
                    <div>
                        {% for contributor in contributors %}
                            <span>
                                <a href="{% url 'accounts:detail' contributor.username %}">
                                    {% if contributor == contributors.0 %}
                                        <b>         
                                            {{ contributor.display_name|default:contributor.username }}
                                        </b>
                                    {% else %}
                                        {{ contributor.display_name|default:contributor.username }}
                                    {% endif %}
                                </a>
                            </span>
                            {% if not forloop.last %} / {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
