{% load crispy_forms_tags %}
<form method="post">
    {% csrf_token %}
    {{ form.title|as_crispy_field }}
    {{ form.subtitle|as_crispy_field }}
    {{ form.other_titles|as_crispy_field }}
    {{ form.release_date|as_crispy_field }}
    {{ form.recorded_date|as_crispy_field }}
    {{ form.length|as_crispy_field }}
    {{ form.isrc|as_crispy_field }}
    {{ form.genres|as_crispy_field }}
    {{ form.wikipedia|as_crispy_field }}
    {{ form.note|as_crispy_field }}
    {{ trackroles.management_form|crispy }}
    <div id="track-role-formset" class="bg-light p-2 mb-3">
        <strong>Entities related to this track</strong>
        <p class='text-muted'>E.g. Singers, Lyricist, Composer, etc.</p>
        {% for form in trackroles %}
            <div class="form-wrapper">
                <div class="row">
                    {{ form.id }}
                    {% for error in form.non_field_errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
                    <div class="col-md-4 mb-3">
                        {{ form.person|as_crispy_field }}
                        <a href="{% url 'entity:person_create' %}?next={{ request.path }}"
                           class="text-secondary"
                           target="_blank">Add a new entity?</a>
                    </div>
                    <div class="col-md-3 mb-3">
                        {{ form.role|as_crispy_field }}
                        {{ form.domain|as_crispy_field }}
                        <a href="{% url 'entity:role_create' %}?next={{ request.path }}"
                           class="text-secondary"
                           target="_blank">Add a new role?</a>
                    </div>
                    <div class="col-md-4 mb-3">{{ form.alt_name|as_crispy_field }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="bg-light p-3 mb-3">
        <strong>The Work related to this Track</strong>
        {{ form.work|as_crispy_field }}
        <a href="{% url 'listen:work_create' %}?next={{ request.path }}"
           class="text-secondary"
           target="_blank">Add a new work?</a>
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
</form>
{% if form.errors %}
    <div class="alert alert-danger mt-5">
        <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}<li>{{ field }}: {{ error }}</li>{% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
