{% load crispy_forms_tags %}
<form method="post">
    {% csrf_token %}
    {{ form.title | as_crispy_field }}
    {{ form.subtitle | as_crispy_field }}
    {{ form.release_date | as_crispy_field}}

    <div class="mb-3">
        {{ form.work|as_crispy_field }}
        <a href="{% url 'listen:work_create' %}?next={{ request.path }}" class="text-secondary" target="_blank">Add a new work?</a>                   
    </div>

    {{ form.genre | as_crispy_field }}
    {{ form.length | as_crispy_field }}

    {{ trackroles.management_form|crispy }}
    <div id="track-role-formset" class="bg-light p-2 mb-3">
        <strong>Persons related to this track</strong>
        <p class='text-muted'>E.g. Singers, Lyricist, Composer, etc.</p>
        {% for form in trackroles %}
        <div class="form-wrapper">
            <div class="row">
                {{ form.id }}
                <div class="col-md-4 mb-3">
                    {{ form.person | as_crispy_field}}
                    <a href="{% url 'entity:person_create' %}?next={{ request.path }}" class="text-secondary" target="_blank">Add a new person entry?</a>
                </div>
                <div class="col-md-4 mb-3">
                    {{ form.alt_name | as_crispy_field}}
                </div>
                <div class="col-md-3 mb-3">
                    {{ form.role | as_crispy_field}}
                    {{ form.domain | as_crispy_field }}
                    <a href="{% url 'entity:role_create' %}?next={{ request.path }}" class="text-secondary" target="_blank">Add a new role entry?</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


    
    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
</form>

{% if form.errors %}
<div class="alert alert-danger mt-5">
    <ul>
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <li>{{ field }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}