{% load static %}
{% load crispy_forms_tags %}
<form method="post">
    {% csrf_token %}
    {{ form.title|as_crispy_field }}
    {{ form.subtitle|as_crispy_field }}
    {{ form.other_titles|as_crispy_field }}
    {{ form.release_date|as_crispy_field }}
    {{ form.recorded_date|as_crispy_field }}
    {{ form.length|as_crispy_field }}
    {{ form.isrc|as_crispy_field }}
    {{ form.genres|as_crispy_field }}
    {{ form.wikipedia|as_crispy_field }}
    {{ form.notes|as_crispy_field }}
    {{ trackroles.management_form|crispy }}
    <div id="track-role-formset" class="bg-light p-3 mb-3">
        <strong>Entities related to this track</strong>
        <p class='text-muted'>E.g. Singers, Lyricist, Composer, etc.</p>
        <div id="trackrole_set">
            {% for form in trackroles %}
                <div class="form-wrapper row">
                    {{ form.id }}
                    {% for error in form.non_field_errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
                    <div class="col-md-4 mb-2">
                        {{ form.creator|as_crispy_field }}
                    </div>
                    <div class="col-md-4 mb-2">
                        {{ form.role|as_crispy_field }}
                        {{ form.domain|as_crispy_field }}
                    </div>
                    <div class="col-md-4 mb-2">{{ form.alt_name|as_crispy_field }}</div>
                </div>
            {% endfor %}
        </div>
        <button type="button" id="add-track-role-formset" class="btn btn-secondary mt-2">Add More</button>
    </div>
    <div class="bg-light p-3 mb-3">
        <strong>The Work related to this Track</strong>
        {{ form.work|as_crispy_field }}
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
</form>
{% if form.errors %}
    <div class="alert alert-danger mt-5">
        <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}<li>{{ field }}: {{ error }}</li>{% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}
<script src="{% static 'js/FormsetHandler.js' %}"></script>
<script>
    initFormset('add-track-role-formset', 'trackrole_set');
</script>