{% extends "base.html" %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <!--Left columns-->
            <div class="col-sm-8">
                <h2>{{ object.title }}</h2>
                {% if object.subtitle %}<p class='text-secondary'>{{ object.subtitle }}</p>{% endif %}
                {% for role, persons_altname_tuples in grouped_roles.items %}
                    <div>
                        <span class="text-muted">{{ role }}:</span>
                        {% for person, name in persons_altname_tuples %}
                            <a href="{% url 'entity:person_detail' person.id %}">{{ name }}</a>
                            {% if not forloop.last %}/{% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
                {% if object.release_date %}
                <div>
                    <span class="text-muted">Release date:</span>
                    {{ object.release_date }}
                </div>
                {% endif %}
                {% if object.isrc %}
                <div>
                    <span class="text-muted">ISRC:</span>
                    {{ object.isrc }}
                </div>
                {% endif %}
                {% if object.note %}
                    <div>
                        <span class="text-muted">Notes:</span>
                        {{ object.note }}
                    </div>
                {% endif %}
                <div class='mt-3'>
                    <h5>Releases</h5>
                    <ul>
                        {% for release in releases %}
                            <li>
                                <a href="{% url 'listen:release_detail' release.pk %}">{{ release.title }}</a>
                                ({{ release.release_type }}, {{ release.release_date }})
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!--Right columns-->
            <div class="col-sm-4">
                <!--Related tracks / Edit -->
                {% if user.is_authenticated %}
                    <div class="bg-light p-3 mb-3">
                        <div>
                            <a href="{% url 'listen:track_update' object.pk %}"
                               class='fs-6 text-secondary'>Edit Track</a>
                        </div>
                        <div>
                            <a href="{% url 'listen:release_create' %}" class='fs-6 text-secondary'>Add Release</a>
                        </div>
                    </div>
                {% endif %}
                {% if object.work.id %}
                    <div class="bg-light p-3">
                        <h5>Work</h5>
                        <p>
                            <a href={% url "listen:work_detail" object.work.id %}>{{ object.work.title }}</a>
                            {% if object.work.release_date %}({{ object.work.release_date }}){% endif %}
                        </p>
                    </div>
                {% endif %}
                {% if object.wikipedia %}
                    <div class="bg-light p-3 mb-3">
                        <h5>Links</h5>
                        <div>
                            <a href="{{ object.wikipedia }}">Wikipedia</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
