{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <!--Left columns-->
        <div class="col-sm-8">
            <span class='d-flex align-items-start'>
                <h2>{{ object.title }} ({{ object.release_date }})</h2>
            </span>
            {% for role, persons_altname_tuples in grouped_roles.items %}
                <p>
                    <span class="text-muted">{{ role }}:</span>
                    {% for person, name in persons_altname_tuples %}
                        <a href="{% url 'entity:person_detail' person.id %}">{{ name }}</a>
                        {% if not forloop.last %} / {% endif %}
                    {% endfor %}
                </p>
            {% endfor %}
            
            <div>
                <h5>Releases</h5>
                <ul>
                {% for release in releases %}
                    <li>
                        <a href="{% url 'listen:release_detail' release.pk %}">{{ release.title }}</a>
                        ({{ release.release_type }}, {{ release.release_date }})
                    </li>
                {% endfor %}
                </ul>                
            </div>
        </div>
        <!--Right columns-->
        <div class="col-sm-4">
            <!--Related tracks / Edit -->
            <div class="bg-light p-3">
                {% if object.work.id %}
                <p>
                    <strong>Related work: </strong> 
                    <a href={% url "listen:work_detail" object.work.id %}>{{object.work.title}}</a>
                    {% if object.work.release_date %}
                        ({{object.work.release_date}})
                    {% endif %}
                </p>
                {% endif %}

                {% if user.is_authenticated %}
                <div>
                    <a href="{% url 'listen:track_update' object.pk %}" class='fs-6 text-secondary'>Edit Track</a>
                </div>
                <div>
                    <a href="{% url 'listen:release_create'%}" class='fs-6 text-secondary'>Add Release</a>
                </div>
                {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock %}
