{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 left-column">
                <h2>Create a new Track entry</h2>
                {% include "listen/track_form.html" %}
            </div>
            <div class="col-12 col-md-5 right-column">
                <div class="bg-light p-3">
                    <div class="fs-4">Guide to Creating a Track</div>
                    <div class="fs-5">Track: The Performed Version</div>
                    <p>
                        A Track represents a specific performance or recorded version of a Work or part of a Work. This includes the individual renditions you might find within an album. To group tracks into a physical or digital format, create a <a href="{% url "listen:release_create" %}">Release</a> entry.
                    </p>
                    <div class="fs-5">What to Include in a Track</div>
                    <p>
                        Include the details that are unique to the particular performance or recording, such as the performers, the arrangement, and any specific variations from the original Work. Link it to the Work it's derived from to maintain the connection.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript"
            src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {{ trackroles.media }}
    <script type="text/javascript"
            src="{% static 'js/generalFormsetHandler.js' %}"></script>
    <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {

        // Call the function for track-role-formset
        window.handleFormset('#track-role-formset', 'add-track-role');
        window.handleFormset('#track-work-formset', 'add-track-work');
    });
    
    $(document).ready(function() {
        $('select:not([name="model"])').removeClass('form-select');
    });
    </script>
{% endblock %}
