{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 left-column">
                <h2>Create a new Track entry</h2>
                {% include "listen/track_form.html" %}
            </div>
            <div class="col-12 col-md-5 right-column">
                <div class="bg-light p-3">
                    <div class="fs-4">Guide</div>
                    <p>
                        A Track is a specific performance or recording of a Work or part of it. This includes the individual renditions you might find within an album. To group tracks into a physical or digital format, create a <a href="{% url "listen:release_create" %}">Release</a> entry.
                    </p>
                    <p> 
                        A <strong>Track</strong> entry is not check-in-able. You need to create a <a href="{% url "listen:release_create" %}"><strong>Release</strong></a> entry for checking in.
                    </p>
                    <div class="fs-4">Examples</div>
                    <p>
                        <a href="https://luvdb.com/listen/track/35/"><em>Just in Time</em></a> performed by <a href="https://luvdb.com/entity/creator/194/">Nina Simone</a> in 1968 at Montreux Jazz Festival is a Track of the <a href="https://luvdb.com/listen/work/22/">Work</a>, written by Jule Styne, Betty Comden, and Adolph Green.
                    </p>
                    <p>Nina Simone performed the Work multiple times, each recording is a Track, and collected in different Releases</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
