{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-7 left-column">
            <h2>Create a new Track entry</h2>
            {% include "listen/track_form.html" %}
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ trackroles.media }}

<script type="text/javascript" src="{% static 'js/generalFormsetHandler.js' %}"></script>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {

        // Call the function for track-role-formset
        window.handleFormset('#track-role-formset', 'add-track-role');
        window.handleFormset('#track-work-formset', 'add-track-work');
    });
    
    $(document).ready(function() {
        $('select:not([name="model"])').removeClass('form-select');
    });
</script>
{% endblock %}
