{% extends "base.html" %}
{% load markdownify %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <!--Left columns-->
            <div class="col-sm-8">
                <h2>{{ object.title }}</h2>
                {% if object.subtitle or object.other_titles %}
                <p class='d-flex'>
                    {% if object.subtitle and object.other_titles %}
                        <span class='text-secondary'>{{ object.subtitle }} / {{ object.other_titles }}</span>
                    {% elif object.subtitle %}
                        <span class='text-secondary'>{{ object.subtitle }}</span>
                    {% elif object.other_titles %}
                        <span class='text-secondary'>{{ object.other_titles }}</span>
                    {% endif %}
                </p>
                {% endif %}
                {% if object.genres.count != 0 %}
                    <div>
                        <span class="text-muted">Genres:</span>
                        {% for genre in object.genres.all %}
                            <a href="{% url "listen:genre_detail" genre.slug %}">{{ genre.name }}</a>
                            {% if not forloop.last %} / {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if object.release_date %}
                    <div>
                        <span class="text-muted">First release date:</span>
                        {{ object.release_date }}
                    </div>
                {% endif %}
                {% if object.recorded_date %}
                    <div>
                        <span class="text-muted">First recorded date:</span>
                        {{ object.recorded_date }}
                    </div>
                {% endif %}
                {% if object.notes %}
                    <div>
                        {{ object.notes | markdownify }}
                    </div>
                {% endif %}
                {% for category, roles in categorized_roles.items %}
                    <div>
                        <div class="fs-6 mt-2 mb-1 fw-semibold">{{ category }}</div>
                        {% for role, creators_altname_tuples in roles.items %}
                            <div>
                                <span class="text-muted ms-2">{{ role }}:</span>
                                {% for creator, name in creators_altname_tuples %}
                                    <a href="{% url 'entity:creator_detail' creator.id %}">{{ name }}</a>
                                    {% if not forloop.last %}/{% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}  
                
                <div class="fs-4 mt-3 fw-bold">Tracks</div>
                <ul>
                    {% for track in tracks %}
                        <li>
                            <a href="{% url "listen:track_detail" track.track.id %}">{{ track.track.title }}</a>
                            {# djlint:off #}
                            ({% if track.singers %}{% for singer in track.singers %}{{ singer.name }}{% if not forloop.last %}/{% endif %}{% endfor %}, {% endif %}{{ track.track.release_date }})
                            {# djlint:on #}
                            {% for item in track.items %}
                                <ul>
                                    <li>
                                        <a href="{% url 'listen:release_detail' item.id %}">{{ item.title }}</a>
                                        {% if item.release_date %}
                                            ({% if item.release_type %}{{ item.release_type }}, {% endif %}{{ item.release_date }})
                                        {% endif %}
                                    </li>
                                </ul>
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <!--Right columns-->
            <div class="d-flex flex-column col-sm-4">
                <!--Related tracks / Edit -->
                {% if user.is_authenticated %}
                    <div class="bg-light p-3 mb-3 order-2 order-sm-1">
                        {% if not object.locked %}
                        <div>
                            <a href="{% url 'listen:work_update' object.pk %}"
                               class='fs-6 text-secondary'>Edit Work</a>
                        </div>
                        {% endif %}
                        <div>
                            <a href="{% url 'listen:track_create' %}" class='fs-6 text-secondary'>Add Track</a>
                        </div>
                    </div>
                {% endif %}
                {% if object.wikipedia %}
                    <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                        <div class="fs-5">Links</div>
                        <div>
                            <a href="{{ object.wikipedia }}">Wikipedia</a>
                        </div>
                    </div>
                {% endif %}
                <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                    <div class="d-flex justify-content-start align-items-center flex-wrap">
                        <div class="me-1 fs-5">Contributors</div>
                        <div>(<a href="{% url 'listen:work_history' object.pk %}" class="fs-6 text-secondary">Changelog</a>)</div>
                    </div>
                    <div>
                        {% for contributor in contributors %}
                            <span>
                                <a href="{% url 'accounts:detail' contributor.username %}">
                                    {{ contributor.display_name|default:contributor.username }}
                                </a>
                            </span>
                            {% if not forloop.last %} / {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
