{% extends "base.html" %}

{% block content %}
<div class="container">
    <span class='d-flex align-items-start'>
        <h2>{{ object.title }} ({{ object.release_date }})</h2>
        {% if user.is_authenticated %}
        <a href="{% url 'listen:work_update' object.pk %}" class='fs-6 text-secondary'>Edit Work</a>
        {% endif %}
    </span>

    {% for role in object.workrole_set.all %}
    <p>
        <a href="{% url 'entity:person_detail' role.person.id %}">{{ role.person.name }}</a> ({{ role.person.romanized_name }})
    </p>
    {% endfor %}

    <h3>Tracks</h3>
    <ul>
    {% for track in tracks %}
        <li>
            <a href="{% url "listen:track_detail" track.track.id %}">{{ track.track.title }}</a>
             ({{ track.track.release_date }});
             Collected in:
            {% for item in track.items %}
            <ul>
                <li>
                    <a href="{% url 'listen:release_detail' item.id %}">{{ item.title }}</a>
                    {% if item.release_date %}
                    ({% if item.publisher %}
                    {{ item.publisher.name }},
                    {% endif %}
                    {{ item.release_date }}
                    )
                    {% endif %}
                </li>
            </ul> 
            {% endfor %}
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
