{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{ user.display_name|default:user.username }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12 col-md-5 offset-md-3">
            <h1>Update Profile</h1>
            <form class="form-horizontal"
                  method="post"
                  action="{% url 'accounts:update' user.username %}">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
