{% extends "base.html" %}
{% load static %}
{% load account_tags %}
{% load url_filters %}
{% load markdownify %}
{% load linkify %}

{% block title %}{{ object.display_name|default:object.username }}{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <!-- Left column -->
    <div class="col-sm-8">

    <!--Pins-->
    <div class="d-flex justify-content-between align-items-center mt-2">
      <h4>Pins</h4>
      <div>
          <a class="btn btn-outline-secondary btn-sm" href="{% url 'write:pin_list' object.username %}">All</a>
          {% if object == request.user %}
          <a class="btn btn-primary btn-sm" href="{% url 'write:pin_create' %}">New</a>
          {% endif %}
      </div>
    </div>
    {% for pin in pins|slice:":3" %}
      <div>
          <div>
              <a href="{{pin.url}}">{{ pin.title }}</a> 
              (<a href="{% url 'write:pins_from_url' pin.url|root_url %}" class="link-secondary">{{ pin.url|root_url }}</a>)
          </div> 
          <span class="d-flex">
              <p class="me-2">{{ pin.timestamp |date:"Y.m.d H:i" }}</p>
              {% if pin.comments_enabled %}
              <p class="ms-2 me-2"><a href="{% url 'write:pin_detail' pin.id %}">Reply</a></p>
              {% endif %}
              {% if pin.get_activity_id is not None %}
              <p class="ms-2 me-2"><a href="{% url 'write:repost_create' pin.get_activity_id %}">Repost</a></p>
              {% endif %}
              {% if object == request.user %}
              <p class="ms-2 me-2"><a href="{% url 'write:pin_update' pin.id %}">Edit</a></p>
              <p class="ms-2 me-2"><a href="{% url 'write:pin_delete' pin.id %}">Delete</a></p>
              {% endif %}
          </span>
      </div>
    {% endfor %}
    <br/>


    <!--Posts-->
    <div class="d-flex justify-content-between align-items-center">
      <h4>Posts</h4>
      <div>
          <a class="btn btn-outline-secondary btn-sm" href="{% url 'write:post_list' object.username %}">All</a>
          {% if object == request.user %}
          <a class="btn btn-primary btn-sm" href="{% url 'write:post_create' %}">New</a>
          {% endif %}
      </div>
    </div>
    {% for post in posts|slice:":3" %}
      <div>
          <div><a href="{% url 'write:post_detail' post.id %}">{{ post.title }}</a></div>
          {% comment %} <div class='mt-2 mb-2 me-5 justify-content-between'>{{post.content | truncatewords:35}}</div> {% endcomment %}
          <span class="d-flex">
              <p class="me-2">{{ post.timestamp |date:"Y.m.d H:i" }}</p>
              {% if post.comments_enabled %}
              <p class="ms-2 me-2"><a href="{% url 'write:post_detail' post.id %}">Reply</a></p>
              {% endif %}
              {% if post.get_activity_id is not None %}
              <p class="ms-2 me-2"><a href="{% url 'write:repost_create' post.get_activity_id %}">Repost</a></p>
              {% endif %}
              {% if object == request.user %}
              <p class="ms-2 me-2"><a href="{% url 'write:post_update' post.id %}">Edit</a></p>
              <p class="ms-2 me-2"><a href="{% url 'write:post_delete' post.id %}">Delete</a></p>
              {% endif %}
          </span>
      </div>
    {% endfor %}
    </div>

    <!-- Right column -->
    <div class="col-sm-4">

      <div style="background-color:#fff6ed; padding: 0.5em; margin: 0.5em">
        {% if object.display_name %}
          <h4 style=''>{{ object.display_name }}</h4>
        {% endif %}
        <p>@{{ object.username }}</p>
        
        {% if object.bio %}
        <div style="color:#666;">{{ object.bio | linkify_tags | linkify_mentions | markdownify }}</div>
        {% endif %}
        
        {% if object == request.user %}
            <!-- Action buttons -->
            <a class="btn btn-primary btn-sm mt-3" href="{% url 'accounts:update' %}" role="button">Update Profile</a>
            {% if can_generate_code %}
              <form class="d-inline-block" method="post" action="{% url 'accounts:generate_invitation_code' %}">
                  {% csrf_token %}
                  <button class="btn btn-primary btn-sm" type="submit">Invite</button>
              </form>
            {% endif %}
            {% if messages %}
            <div class="messages" style="border: 1px solid #ccc; padding: 10px; border-radius: 5px; background-color: #f0f0f0; margin-top: 1em;">
                {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %} style="margin: 0;">{{ message|safe }}</p>
                {% endfor %}
            </div>
            {% endif %}
        {% endif %}

        {% if object != request.user %}
            {% if request.user|is_following:object %}
                <form method="POST" action="{% url 'activity_feed:unfollow' object.id %}">
                    {% csrf_token %}
                    <button class="btn btn-primary btn-sm" type="submit">Unfollow</button>
                </form>
            {% else %}
                <form method="POST" action="{% url 'activity_feed:follow' object.id %}">
                    {% csrf_token %}
                    <button class="btn btn-primary btn-sm" type="submit">Follow</button>
                </form>
            {% endif %}
        {% endif %}
      </div>
      <hr>

      <div> <!--Most recent activity-->
        <div class="d-flex justify-content-between align-items-center"> <!-- Most recent activity -->
            <h5>Recent</h5>
           <a class="btn btn-outline-secondary btn-sm" href="{% url 'accounts:feed' object.username %}">All</a>
        </div>
        {% for activity in recent_activities %}
            {% include "activity_feed/activity_item.html" %}
            <hr>
        {% endfor %}
      </div>

      <div> <!--following-->
          <h5>Following</h5>
          {% for follow in object.following.all %}
            <span><a href="{% url 'accounts:detail' username=follow.followed.username %}">{{ follow.followed.display_name|default:follow.followed.username }}</a></span>
          {% empty %}
              <p>This user is not following anyone.</p>
          {% endfor %}
      </div>
      <br>
      <div> <!--followers-->
          <h5>Followers</h5>
          {% for follow in object.followers.all %}
              <span><a href="{% url 'accounts:detail' username=follow.follower.username %}">{{ follow.follower.display_name|default:follow.follower.username }}</a></span>
          {% empty %}
              <p>This user has no followers.</p>
          {% endfor %}
      </div>
    
    </div>
  </div>
</div>
{% endblock content %}
