{% extends "base.html" %}
{% load static %}
{% load account_tags %}
{% load util_filters %}
{% load markdownify %}
{% load linkify %}

{% block title %}{{ object.display_name|default:object.username }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-start">
            {% if is_blocked %}
                <div class="bg-black p-5 ps-3">
                    <p class="text-white">You are blocked by {{ object.display_name|default:object.username }} and cannot view the profile.</p>
                </div>
            {% elif not object.is_active %}
                <div class="bg-black p-5 ps-3">
                    <p class="text-white">This account has been deactivated at {{object.deactivated_at|date:"Y.m.d H:i"}}</p>
                </div>
            {% else %}
                <!--For small screen-->
                {% include "accounts/account_detail_mobile.html" %}

                <!-- For larger screens: keep the existing layout -->
                {% include "accounts/account_detail_desktop.html" %}
            {% endif %}
        </div>
    </div>
    {% include 'mathjax+mermaid.html' %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/osmtogeojson@3.0.0-beta.5/osmtogeojson.min.js"></script>
    <script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-image/v0.0.4/leaflet-image.js"></script>
    <style>
    .rotate {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        text-align: center;
        margin-top: 0; 
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0.25em;
    }
    .cover-image-2 {
        max-width: 120px;
        width: 95%;
        height: auto;
    }
    </style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        updateTabSetIds('.mobile-version .tabbed-set', '-mobile');
        updateTabSetIds('.desktop-version .tabbed-set', '-desktop');
        updateMapIds('.mobile-version .map-container', '-mobile');
        updateMapIds('.desktop-version .map-container', '-desktop');
    });

    function updateTabSetIds(selector, suffix) {
        var tabSets = document.querySelectorAll(selector);

        tabSets.forEach(function(tabSet, setIndex) {
            var inputs = tabSet.querySelectorAll('input[type="radio"]');
            var labels = tabSet.querySelectorAll('label');

            for (var i = 0; i < inputs.length; i++) {
                var baseId = inputs[i].id || 'tab';
                var newId = baseId + '-set' + setIndex + '-input' + i + suffix;

                // console.log('Updating ID from:', inputs[i].id, 'to:', newId); // Debugging log
                inputs[i].id = newId;

                if (i < labels.length) {
                    // console.log('Updating label for from:', labels[i].getAttribute('for'), 'to:', newId); // Debugging log
                    labels[i].setAttribute('for', newId);
                }
            }
        });
    }

    function updateMapIds(selector, suffix) {
        var mapContainers = document.querySelectorAll(selector);
        mapContainers.forEach(function(container, index) {
            var baseId = container.id || 'mapid';
            var newId = baseId + suffix;
    
            // Avoid duplicate initialization
            if (container.dataset.mapInitialized === "true") {
                return;
            }
    
            container.id = newId;
            container.dataset.mapInitialized = "true"; // Mark as initialized
    
            // Re-initialize map with new ID, ensuring we use the correct data attributes
            var osmId = container.getAttribute('data-osm-id');
            var osmIDType = container.getAttribute('data-osm-id-type');
            var level = container.getAttribute('data-level');
    
            if (osmId) {
                initializeMap(newId, osmId, osmIDType, level);
            }
        });
    }
    

    function initializeMap(mapContainerId, osmId, osmIDType, locationLevel = "default") {
        if (document.getElementById(mapContainerId).dataset.mapInitialized === "true") {
            console.warn(`Map already initialized for ${mapContainerId}`);
            return;
        }
    
        document.getElementById(mapContainerId).dataset.mapInitialized = "true"; // Mark as initialized
    
        var map = L.map(mapContainerId, {
            dragging: false,
            touchZoom: false,
            scrollWheelZoom: false,
            doubleClickZoom: false,
            boxZoom: false,
            keyboard: false, // Optional: disable keyboard navigation
            zoomControl: false,
        });
    
        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
            maxZoom: 19,
            attribution: `&copy; <a href="https://www.openstreetmap.org/${osmIDType}/${osmId}">OpenStreetMap</a> contributors`,
        }).addTo(map);
    
        var overpassApiUrl = `https://overpass-api.de/api/interpreter?data=[out:json];(${osmIDType}(${osmId}););out body;>;out skel qt;`;
    
        fetch(overpassApiUrl)
            .then((response) => response.json())
            .then((data) => {
                var geojsonData = osmtogeojson(data);
                var hasRelationOrWay = false;
    
                var geoJsonLayer = L.geoJSON(geojsonData, {
                    filter: function (feature, layer) {
                        if (feature.geometry.type !== "Point") {
                            hasRelationOrWay = true;
                            return true; // Include non-point features
                        }
                        return false; // Exclude point features within relations
                    },
                }).addTo(map);
    
                if (hasRelationOrWay) {
                    map.fitBounds(geoJsonLayer.getBounds());
                } else {
                    data.elements.forEach(function (element) {
                        if (element.type === "node") {
                            L.marker([element.lat, element.lon]).addTo(map);
                            var zoomLevel = getZoomLevelForLocationLevel(locationLevel);
                            map.setView([element.lat, element.lon], zoomLevel);
                        }
                    });
                }
            })
            .catch((error) => console.error("Error fetching OSM data:", error));
    }
    
    function getZoomLevelForLocationLevel(locationLevel) {
        switch (locationLevel) {
            case "level0": // Continent
                return 3;
            case "level1": // Country
                return 7;
            case "level2": // State
                return 9;
            case "level3": // City
                return 11;
            default: // Default zoom level
                return 19;
        }
    }
</script>
{% endblock content %}
