{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{ user.display_name|default:user.username }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12 col-md-5 offset-md-3">
            <h1>Update Profile</h1>
            <form class="form-horizontal"
                  method="post"
                  action="{% url 'accounts:update' user.username %}">
                {% csrf_token %}
                {{ form.username|as_crispy_field }}
                {{ form.display_name|as_crispy_field }}
                {{ form.bio|as_crispy_field }}
                {{ form.timezone|as_crispy_field}}
                <div class="fs-4 mt-2 mb-2">Privacy settings</div>
                
                {{ form.privacy_level|as_crispy_field }}
                {{ form.enable_replies_by_default|as_crispy_field}}
                {{ form.enable_share_to_feed_by_default|as_crispy_field}}
                
                <div class="fs-4 mt-2 mb-2">Experimental features</div>
                {{ form.pure_text_mode|as_crispy_field }}
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>

            <hr class="mt-4">

            <div class="alert alert-danger mt-4">
                <h2>
                    <a class="text-danger" data-bs-toggle="collapse" href="#deleteAccountCollapse" role="button" aria-expanded="false" aria-controls="deleteAccountCollapse">
                        Delete My Account
                    </a>
                </h2>
                <div class="collapse" id="deleteAccountCollapse">
                    <p>Your profile will become inaccessible, and all your data from the site will be replaced by text "REMOVED". Your username will be registerable. This action cannot be undone, you should <a
                        href="{% url 'accounts:export_user_data' user.username %}">Export Your Data</a> before deleting your account.</p>
                    <a href="{% url 'accounts:deactivate_account' user.username %}" class="btn btn-sm btn-danger">Delete</a>
                </div>
            </div>            
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Get the privacy level select element and help text div
            var privacySelect = document.getElementById("id_privacy_level");
            var privacyHelpText = document.getElementById("id_privacy_level_helptext");
    
            // Function to update the help text based on selected value
            function updatePrivacyHelpText() {
                var selectedValue = privacySelect.value;
                var helpText = "Set your preferred privacy level. This will adjust the visibility of your profile and contents.";
    
                if (selectedValue === "public") {
                    helpText = "Everyone can view my profile and content.";
                } else if (selectedValue === "limited") {
                    helpText = "Only logged-in users can view my profile, but specific pages can be viewed by the public if the link is shared.";
                } else if (selectedValue === "logged_in_only") {
                    helpText = "Only logged-in users can view my profile and content.";
                }
    
                // Update the help text div content
                privacyHelpText.textContent = helpText;
            }
    
            // Initialize the help text when the page loads
            updatePrivacyHelpText();
    
            // Add an event listener to update the help text when the selected option changes
            privacySelect.addEventListener("change", updatePrivacyHelpText);
        });
    </script>
{% endblock %}
