{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{ user.display_name|default:user.username }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12 col-md-5 offset-md-3">
            <h1>Update Profile</h1>
            <form class="form-horizontal"
                  method="post"
                  action="{% url 'accounts:update' user.username %}">
                {% csrf_token %}
                {{ form.username|as_crispy_field }}
                {{ form.display_name|as_crispy_field }}
                {{ form.bio|as_crispy_field }}
                {{ form.timezone|as_crispy_field}}
                <div class="fs-4 mt-2 mb-2">Privacy settings</div>
                {{ form.enable_replies_by_default|as_crispy_field}}
                {{ form.enable_share_to_feed_by_default|as_crispy_field}}
                {{ form.is_public|as_crispy_field }}
                <div class="fs-4 mt-2 mb-2">Experimental features</div>
                {{ form.pure_text_mode|as_crispy_field }}
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>

            <hr class="mt-5">

            <div class="alert alert-danger mt-5">
                <h2>Delete My Account</h2>
                <p>Your profile will become inaccessible, and all your data from the site will be replaced by text "REMOVED". Your username will be registerable. This action cannot be undone, you should <a
                    href="{% url 'accounts:export_user_data' user.username %}">Export Your Data</a> before deleting your account.</p>
                <a href="{% url 'accounts:deactivate_account' user.username %}" class="btn btn-sm btn-danger">Delete</a>
            </div>
        </div>
    </div>
{% endblock %}
