{% extends "base.html" %}
{% load static %}
{% load account_tags %}
{% load url_filters %}
{% load markdownify %}
{% load linkify %}

{% block title %}{{ object.display_name|default:object.username }}{% endblock %}


{% block content %}
<div class="container">
  <div class="row justify-content-start">
    <!-- Left column -->
    <div class="col-md-8 col-sm-12 order-2 order-sm-2 order-md-1">

      <!--navbar-->
      <div class="row mt-3">
        <div class="d-flex">
          <span class="me-3">
            <a href="{% url 'write:say_list' object.username %}">Says</a>
          </span>

          <span class="me-3">
            <a href="{% url 'write:post_list' object.username %}">Posts</a>
          </span>

          <span class="me-3">
            <a href="{% url 'write:pin_list' object.username %}">Pins</a>
          </span>  
          
          <span class="me-3">
            <a href="{% url 'write:luvlist_list' object.username %}">Lists</a>
          </span>  
        </div>    
      </div>
      <hr>
      {% if does_read_exist %}
      <div class="row">
        <div class="d-flex justify-content-between align-items-center mt-2">
          <h4>Read</h4>  
          <div>
            <a class="btn btn-outline-secondary btn-sm" href="{% url 'read:read_checkin_user_list' object.username %}">All</a>
          </div>  
        </div>
        <div class="col-sm-12">
          {% if reading %}
          <div class="mt-3 me-3 d-flex overflow-auto">
            <div class="rotate text-muted">Reading</div>
            {% for item in reading %}
              <div class="me-3">
                {% if item.content_type.model == 'book' %}
                  <a href="{% url 'read:book_checkin_list' item.content_object.id item.user.username %}">
                    {% if item.content_object.cover %}
                    <img src="{{ item.content_object.cover.url }}" alt="{{ item.content_object.title }} cover" style="width: 120px;" class="cover-image">  
                    {% else %}
                    <div class="no-cover-text" style="background: gray; width: 120px; height: 120px; padding-top: 100%;">{{item.content_object.title}}</div>
                    {% endif %}
                  </a>
                {% elif item.content_type.model == 'issue' %}
                  <a href="{% url 'read:issue_checkin_list' item.content_object.periodical.id item.content_object.id item.user.username %}">
                    {% if item.content_object.cover %}
                    <img src="{{ item.content_object.cover.url }}" alt="{{ item.content_object.title }} cover" style="width: 120px;" class="cover-image">  
                    {% else %}
                    <div class="no-cover-text" style="background: gray; width: 120px; height: 120px; padding-top: 100%;">{{item.content_object.title}}</div>
                    {% endif %}
                  </a>                
                {% endif %}
              </div>
            {% empty %}
                <p>No items.</p>
            {% endfor %}
          </div>
          {% endif %}

          {% if read %}
          <div class="mt-3 me-3 d-flex overflow-auto">
            <div class="rotate text-muted">Read</div>
            {% for item in read %}
              <div class="me-3">
                {% if item.content_type.model == 'book' %}
                  <a href="{% url 'read:book_checkin_list' item.content_object.id item.user.username %}">
                    {% if item.content_object.cover %}
                    <img src="{{ item.content_object.cover.url }}" alt="{{ item.content_object.title }} cover" style="width: 120px;" class="cover-image">  
                    {% else %}
                    <div class="no-cover-text" style="background: gray; width: 120px; height: 120px; padding-top: 100%;">{{item.content_object.title}}</div>
                    {% endif %}                  </a>
                {% elif item.content_type.model == 'issue' %}
                    {% if item.content_object.cover %}
                    <img src="{{ item.content_object.cover.url }}" alt="{{ item.content_object.title }} cover" style="width: 120px;" class="cover-image">  
                    {% else %}
                    <div class="no-cover-text" style="background: gray; width: 120px; height: 120px; padding-top: 100%;">{{item.content_object.title}}</div>
                    {% endif %}             
                {% endif %}
              </div>
            {% empty %}
                <p>No items.</p>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
      {% endif %}


      {% if does_watch_exist %}
      <div class="row">
        <div class="d-flex justify-content-between align-items-center mt-2">
          <h4 class="mt-4">Watch</h4>
          <div>
            <a class="btn btn-outline-secondary btn-sm" href="{% url 'watch:watch_checkin_user_list' object.username %}">All</a>
          </div>  
        </div>
        <div class="col-sm-12">
          {% if watching %}
          <div class="mt-3 me-3 d-flex overflow-auto">
            <div class="rotate text-muted">Watching</div>
            {% for item in watching %}
            <div class="me-3">
                {% if item.content_type.model == 'movie' %}
                  <a href="{% url 'watch:movie_checkin_list' item.content_object.id item.user.username %}">
                    {% if item.content_object.poster %}
                    <img src="{{ item.content_object.poster.url }}" alt="{{ item.content_object.title }} cover" style="width: 120px;" class="cover-image">  
                    {% else %}
                    <div class="no-cover-text" style="background: gray; width: 120px; height: 120px; padding-top: 100%;">{{item.content_object.title}}</div>
                    {% endif %}
                  </a>
                {% elif item.content_type.model == 'series' %}
                  <a href="{% url 'watch:series_checkin_list' item.content_object.id item.user.username %}">
                    {% if item.content_object.poster %}
                    <img src="{{ item.content_object.poster.url }}" alt="{{ item.content_object.title }} cover" style="width: 120px;" class="cover-image">  
                    {% else %}
                    <div class="no-cover-text" style="background: gray; width: 120px; height: 120px; padding-top: 100%;">{{item.content_object.title}}</div>
                    {% endif %}                 
                  </a>
                {% endif %}
            </div>
            {% empty %}
                <p>No items.</p>
            {% endfor %}
          </div>
          {% endif %}
          {% if watched %}
          <div class="mt-3 me-3 d-flex overflow-auto">
            <div class="rotate text-muted">Watched</div>
            {% for item in watched %}
            <div class="me-3">
                {% if item.content_type.model == 'movie' %}
                {% if item.content_object.poster %}
                <img src="{{ item.content_object.poster.url }}" alt="{{ item.content_object.title }} cover" style="width: 120px;" class="cover-image">  
                {% else %}
                <div class="no-cover-text" style="background: gray; width: 120px; height: 120px; padding-top: 100%;">{{item.content_object.title}}</div>
                {% endif %}
                {% elif item.content_type.model == 'series' %}
                  <a href="{% url 'watch:series_checkin_list' item.content_object.id item.user.username %}">
                    {% if item.content_object.poster %}
                    <img src="{{ item.content_object.poster.url }}" alt="{{ item.content_object.title }} cover" style="width: 120px;" class="cover-image">  
                    {% else %}
                    <div class="no-cover-text" style="background: gray; width: 120px; height: 120px; padding-top: 100%;">{{item.content_object.title}}</div>
                    {% endif %} 
                  </a>
                {% endif %}
            </div>
            {% empty %}
                <p>No items.</p>
            {% endfor %}
          </div>
          {% endif %}
        </div>
    
      </div>
      {% endif %}

      {% if does_listen_exist %}
      <div class="row">
        <div class="d-flex justify-content-between align-items-center mt-2">
          <h4 class="mt-4">Listen</h4>
          <div>
            <a class="btn btn-outline-secondary btn-sm" href="{% url 'listen:listen_checkin_user_list' object.username %}">All</a>
          </div>  
        </div>
        <div class="col-sm-12">
          {% if looping %}
          <div class="mt-3 me-3 d-flex overflow-auto">
            <div class="rotate text-muted">Looping</div>
            {% for item in looping %}
            <div class="me-3">
              <a href="{% url 'listen:listen_checkin_list' item.content_object.id item.user.username %}">
                {% if item.content_object.cover %}
                <img src="{{ item.content_object.cover.url }}" alt="{{ item.content_object.title }} cover" style="width: 120px;" class="cover-image">
                {% else %}
                  <div class="no-cover-text" style="background: gray; width: 120px; height: 120px; padding-top: 100%;">{{item.content_object.title}}</div>
                {% endif %}
              </a>
            </div>
            {% empty %}
                <p>No items.</p>
            {% endfor %}
          </div>
          {% endif %}

          {% if listened %}
          <div class="mt-3 me-3 d-flex overflow-auto">
            <div class="rotate text-muted">Listend</div>
            {% for item in listened %}
            <div class="me-3">
              <a href="{% url 'listen:listen_checkin_list' item.content_object.id item.user.username %}">
                {% if item.content_object.cover %}
                <img src="{{ item.content_object.cover.url }}" alt="{{ item.content_object.title }} cover" style="width: 120px;" class="cover-image">
                {% else %}
                    <div class="no-cover-text" style="background: gray; width: 120px; height: 120px; padding-top: 100%;">{{item.content_object.title}}</div>
                {% endif %}
              </a>
            </div>
            {% empty %}
                <p>No items.</p>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
      {% endif %}

      {% if does_play_exist %}
      <div class="row">
        <div class="d-flex justify-content-between align-items-center mt-2">
          <h4 class="mt-4">Play</h4> 
          <div>
            <a class="btn btn-outline-secondary btn-sm" href="{% url 'play:game_checkin_user_list' object.username %}">All</a>
          </div>  
        </div>   
        <div class="col-sm-12">

          {% if playing %}
          <div class="mt-3 me-3 d-flex overflow-auto">
            <div class="rotate text-muted">Playing</div>
            {% for item in playing %}
            <div class='me-3'>
              <a href="{% url 'play:game_checkin_list' item.game.id item.user.username %}">
                {% if item.game.cover %}
                <img src="{{ item.game.cover.url }}" alt="{{ item.game.title }} cover" style="width: 120px;" class="cover-image">
                {% else %}
                <div class="no-cover-text" style="background: gray; width: 120px; height: 120px; padding-top: 100%;">{{item.game.title}}</div>
                {% endif %}
              </a>
            </div>
            {% empty %}
                <p>No items.</p>
            {% endfor %}
          </div>
          {% endif %}
          {% if played %}
          <div class="mt-3 me-3 d-flex overflow-auto">
            <div class="rotate text-muted">Played</div>
            {% for item in played %}
            <div class='me-3'>
              <a href="{% url 'play:game_checkin_list' item.game.id item.user.username %}">
                {% if item.game.cover %}
                <img src="{{ item.game.cover.url }}" alt="{{ item.game.title }} cover" style="width: 120px;" class="cover-image">
                {% else %}
                <div class="no-cover-text" style="background: gray; width: 120px; height: 120px; padding-top: 100%;">{{item.game.title}}</div>
                {% endif %}              
              </a>
            </div>
            {% empty %}
                <p>No items.</p>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>




    <!-- Right column -->
    <div class="col-md-4 col-sm-12 order-1 order-sm-1 order-md-2">

        <div class="p-3" style="background-color:#fff6ed;">
            <div class="d-flex align-items-end">
            {% if object.display_name %}
                <h4 class="mb-0">{{ object.display_name }}</h4>
            {% endif %}
            <div>@{{ object.username }}</div>
        </div>
        
        <p>
          <span class="text-muted">  Since {{object.date_joined|date:"Y.m.d"}}</span>
        </p>
        
        {% if object.bio %}
        <div style="color:#666;">{{ object.bio | linkify_tags | linkify_mentions | markdownify }}</div>
        {% endif %}
        
        {% if object == request.user %}
        <div class='d-flex '>
            <!-- Action buttons -->
            <a class="btn btn-primary btn-sm mt-3 me-1" href="{% url 'accounts:update' %}" role="button">Update Profile</a>
            
            <div class="dropdown mt-3">
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="actionMenu" data-bs-toggle="dropdown" aria-expanded="false">
                  More
              </button>
              <ul class="dropdown-menu" aria-labelledby="actionMenu">
                {% if can_generate_code %}
                <li>
                  <form method="post" action="{% url 'accounts:generate_invitation_code' %}">
                      {% csrf_token %}
                      <button class="dropdown-item" type="submit">Invite</button>
                  </form>
                </li>
                {% endif %}
                <li>
                  <a class="dropdown-item" href="{% url 'accounts:export_user_data' %}" role="button">Export User Data</a>
                </li>
              </ul>
            </div>
        </div>
        {% if messages %}
        <div class="messages" style="border: 1px solid #ccc; padding: 10px; border-radius: 5px; background-color: #f0f0f0; margin-top: 1em;">
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %} style="margin: 0;">{{ message|safe }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endif %}

        {% if object != request.user %}
        <div class='d-flex'>
            {% if not request.user|is_blocking:object %}
              {% if request.user|is_following:object %}
              <form method="POST" action="{% url 'activity_feed:unfollow' object.id %}">
                  {% csrf_token %}
                  <button class="btn btn-primary btn-sm mt-3 me-1" type="submit">Unfollow</button>
              </form>
              {% else %}
              <form method="POST" action="{% url 'activity_feed:follow' object.id %}">
                  {% csrf_token %}
                  <button class="btn btn-primary btn-sm mt-3 me-1" type="submit">Follow</button>
              </form>
              {% endif %}
            {% endif %}
            <div class="dropdown mt-3">
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="actionMenu" data-bs-toggle="dropdown" aria-expanded="false">
                    More
                </button>
                <ul class="dropdown-menu" aria-labelledby="actionMenu">
                    {% if request.user|is_blocking:object %}
                    <li>
                        <form method="POST" action="{% url 'activity_feed:unblock' object.id %}">
                            {% csrf_token %}
                            <button class="dropdown-item" type="submit">Unblock</button>
                        </form>
                    </li>
                    {% else %}
                    <li>
                        <form method="POST" action="{% url 'activity_feed:block' object.id %}">
                            {% csrf_token %}
                            <button class="dropdown-item" type="submit">Block</button>
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endif %}
        
      </div>
      <hr>

      <div> <!--Most recent activity-->
        <div class="d-flex justify-content-between align-items-center"> 
            <h5>Recent</h5>
            <a class="btn btn-outline-secondary btn-sm" href="{% url 'accounts:feed' object.username %}">All</a>
        </div>
        {% for activity in recent_activities %}
            {% include "activity_feed/activity_item.html" with width='narrow'%}
            <hr>
        {% endfor %}
      </div>

      <!-- Following and Followers -->
      <div class="col-12 order-3 order-md-2"> <!-- For mobile screens, this block will be after the left column. For desktop screens, it will be in the right column. -->
        <div> <!--following-->
          <div class="d-flex justify-content-between align-items-center">
            <h5>Following</h5>
            <a class="btn btn-outline-secondary btn-sm" href="{% url 'accounts:following_list' object.username %}">All</a>
          </div>
          {% for follow in recent_following %}
              <span><a href="{% url 'accounts:detail' username=follow.followed.username %}">{{ follow.followed.display_name|default:follow.followed.username }}</a></span>
          {% empty %}
              <p>This user is not following anyone.</p>
          {% endfor %}
        </div>
        <br>
        <div> <!--followers-->
          <div class="d-flex justify-content-between align-items-center">
            <h5>Followers</h5>
            <a class="btn btn-outline-secondary btn-sm" href="{% url 'accounts:follower_list' object.username %}">All</a>
          </div>
          {% for follow in recent_followers %}
              <span><a href="{% url 'accounts:detail' username=follow.follower.username %}">{{ follow.follower.display_name|default:follow.follower.username }}</a></span>
          {% empty %}
              <p>This user has no followers.</p>
          {% endfor %}
        </div>
        <hr>
      </div>
    
    </div>
    
  </div>
</div>

<style>
  .rotate {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    margin-top: 0; 
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0.25em;
}
</style>
{% endblock content %}
