{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mt-4">
    <div class="row justify-content-center">
        <!-- App Passwords List -->
        <div class="col-12 col-md-5">
            <h1>Manage Your App Passwords</h1>
            <p class="text-muted">
                On this page, you can manage your App passwords, primarily used for API access. 
                These passwords allow third-party apps to access our APIs.
                Remember, these are not your account login password.
            </p>
            <p>
                If you want to change your <strong>account login password</strong>, please visit the 
                <a href="{% url 'password_change' %}">Change Password</a> page.
            </p>
            <hr>
            <h2>App Passwords</h2>
            <ul class="list-group mb-4">
                {% for password in passwords %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <b>{{ password.name }}</b>
                    <span>{{ password.token }}</span>
                    <form action="{% url 'accounts:delete_app_password' request.user.username password.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </li>
                {% empty %}
                <li class="list-group-item">No app passwords found.</li>
                {% endfor %}
            </ul>

            <!-- Create New App Password -->
            <h3>Create New App Password</h3>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>

            
    </div>
</div>

{% endblock %}
