{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h1>Manage Your Crossposters</h1>
            <p class="text-muted">
                Here, you can link your LuvDB feed to Mastodon and BlueSky, 
                allowing for seamless crossposting of your content. Connect your Mastodon account using your developer tokens 
                and your BlueSky account using your BlueSky app passwords to start sharing your LuvDB activities across platforms.
                You can only link <b>one account per platform</b>, but you can unlink and change them at any time.
            </p>
            <hr>
        </div>
        <!-- Mastodon Account Section -->
        <div class="col-12 col-md-6">
            <h2>Manage Mastodon Account</h2>
            {% if mastodon_account %}
                <!-- Display Linked Mastodon Account -->
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-text">@{{ mastodon_account.mastodon_handle }}</p>
                        <p class="text-muted">
                          Your activities are currently being synced to your linked Mastodon account, 
                          with links back to LuvDB. Unlinking will stop this synchronization.
                        </p>
                        <form method="post" class="d-inline">
                            {% csrf_token %}
                            <input type="hidden" name="form_type" value="mastodon">
                            <input type="submit" name="unlink_mastodon" value="Unlink Mastodon Account" class="btn btn-danger btn-sm">
                        </form>
                    </div>
                </div>
            {% else %}
                <!-- Form to Link Mastodon Account -->
                <div class="card">
                    <div class="card-body">
                        <p class="text-muted">
                          By linking your Mastodon account, all your activities will be automatically synced 
                          to Mastodon with links back to your LuvDB activities. 
                        </p>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="form_type" value="mastodon">
                            {{ form_mastodon|crispy }}
                            <button type="submit" class="btn btn-primary">Link Mastodon Account</button>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>

        <!-- BlueSky Account Section -->
        <div class="col-12 col-md-6">
            <h2>Manage BlueSky Account</h2>
            {% if bluesky_account %}
                <!-- Display Linked BlueSky Account -->
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-text">@{{ bluesky_account.bluesky_handle }}</p>
                        <p class="text-muted">
                          Your activities are currently being synced to your linked BlueSky account, 
                          with links back to LuvDB. Unlinking will stop this synchronization.
                        </p>
                        <form method="post" class="d-inline">
                            {% csrf_token %}
                            <input type="hidden" name="form_type" value="bluesky">
                            <input type="submit" name="unlink_bluesky" value="Unlink BlueSky Account" class="btn btn-danger btn-sm">
                        </form>
                    </div>
                </div>
            {% else %}
                <!-- Form to Link BlueSky Account -->
                <div class="card">
                    <div class="card-body">
                        <p class="text-muted">
                          By linking your BlueSky account, all your activities will be automatically synced 
                          to BlueSky with links back to your LuvDB activities. 
                        </p>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="form_type" value="bluesky">
                            {{ form_bluesky|crispy }}
                            <button type="submit" class="btn btn-primary">Link BlueSky Account</button>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
