{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h2>Followers</h2>
        <div>
            {% for follow in follower_list %}
                <span class="me-1">
                    {% if follow.follower.display_name %}
                    {{ follow.follower.display_name|default:follow.follower.username}}
                    (<a href="{% url 'accounts:detail' follow.follower.username %}">@{{ follow.follower.username }}</a>)
                    {% else %}
                        <a href="{% url 'accounts:detail' follow.follower.username %}">@{{ follow.follower.username}}</a>
                    {% endif %}
                </span>
                {% if not forloop.last %} / {% endif %}
            {% empty %}
                <div>No followers yet.</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
