{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h2>Following</h2>
        <div>
            {% for follow in following_list %}
                <span class="me-1">
                    {% if follow.followed.display_name %}
                    {{ follow.followed.display_name|default:follow.followed.username}}
                    (<a href="{% url 'accounts:detail' follow.followed.username %}">@{{ follow.followed.username }}</a>)
                    {% else %}
                        <a href="{% url 'accounts:detail' follow.followed.username %}">@{{ follow.followed.username}}</a>
                    {% endif %}
                </span>
                {% if not forloop.last %} / {% endif %}
            {% empty %}
                <div>No followers yet.</div>
            {% endfor %}
            </div>
    </div>
{% endblock %}
