{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mt-4">
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h1 class="mb-4">Manage Passkeys</h1>
                <button onclick="registerCredential();" class="btn btn-lg btn-primary">Add Passkey</button>        
                <hr>
                <div class="list-group">
                    {% for credential in credentials %}
                    <div class="list-group-item list-group-item-action flex-column align-items-start mb-2 shadow">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Passkey: {{ credential.public_key|slice:":15" }}...</h5>
                            <small>Added on {{ credential.created_at|date:"M d, Y" }}</small>
                        </div>
                        <p class="mb-1">{{ credential.description }}</p>
                        <div class="mt-2">
                            <a href="{% url 'accounts:delete_passkey' user.username credential.id %}" class="btn btn-outline-danger btn-sm" role="button">
                                <i class="bi bi-trash-fill"></i> Delete
                            </a>
                        </div>
                    </div>
                    {% empty %}
                    <div class="alert alert-info" role="alert">
                        No passkeys found.
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
    <script>
        async function registerCredential() {
            try {
                const response = await fetch('/passkey/generate_registration/', {method: 'GET'});
                const optionsString = await response.json();
                const options = JSON.parse(optionsString);

                options.challenge = base64urlToArrayBuffer(options.challenge);
                options.user.id = base64urlToArrayBuffer(options.user.id);
        
                // Call navigator.credentials.create with the corrected options
                const credential = await navigator.credentials.create({publicKey: options});

                // Serialize the credential object to send it back to the server
                const credentialForServer = serializeCredential(credential);
                
                // Send the serialized credential to the server for verification
                const verificationResponse = await fetch('/passkey/verify_registration/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        // Include CSRF token if needed, for Django's CSRF protection
                        'X-CSRFToken': getCookie('csrftoken'),
                    },
                    body: JSON.stringify(credentialForServer),
                });

                if (verificationResponse.ok) {
                    console.log('Credential registered successfully');
                    window.location.reload();
                    // Handle successful registration, e.g., update UI or redirect
                } else {
                    console.error('Registration verification failed');
                    // Handle verification failure
                }
        
            } catch (err) {
                
                console.error('Registration failed:', err);
            }
        }

        function serializeCredential(credential) {
            let clientDataJSON = base64urlEncode(credential.response.clientDataJSON);
            let attestationObject = base64urlEncode(credential.response.attestationObject);
            return {
                id: credential.id,
                rawId: base64urlEncode(credential.rawId),
                type: credential.type,
                response: {
                    clientDataJSON,
                    attestationObject,
                }
            };
        }
        
        // Utility function to encode ArrayBuffer to base64url string
        function base64urlEncode(buffer) {
            let binary = '';
            let bytes = new Uint8Array(buffer);
            let len = bytes.byteLength;
            for (let i = 0; i < len; i++) {
                binary += String.fromCharCode(bytes[i]);
            }
            return window.btoa(binary).replace(/\+/g, '-').replace(/\//g, '_').replace(/=+$/, '');
        }

        // Utility function to get CSRF token for Django
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        
        // Utility function to convert base64url string to ArrayBuffer
        function base64urlToArrayBuffer(base64url) {
            const padding = '='.repeat((4 - base64url.length % 4) % 4);
            const base64 = base64url.replace(/-/g, '+').replace(/_/g, '/') + padding;
            const rawData = window.atob(base64);
            const outputArray = new Uint8Array(rawData.length);
        
            for (let i = 0; i < rawData.length; ++i) {
                outputArray[i] = rawData.charCodeAt(i);
            }
            return outputArray.buffer;
        }
        
    </script>
</div>
{% endblock %}