{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    /* Base styles */
    .form-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px; /* Adds space above the save button */
    }
    .form-group {
        width: 100%; /* Ensures full width for the textarea */
        margin-bottom: 20px; /* Adds space between the text areas */
    }
    .templates-container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .template-form {
        margin-bottom: 10px;
    }
    .template-form p {
        display: inline-block;
        margin-right: 5px;
    }
    label {
        display: block;
        margin-top: 10px;
    }
    textarea {
        width: 100%;
        min-height: 600px; /* Ensures textarea has a minimum height */
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        resize: vertical; /* Allows the user to resize the textarea vertically */
    }
    button {
        padding: 10px 20px;
        margin-top: 10px;
    }
    
    /* Styles for larger screens */
    @media (min-width: 981px) {
        .form-container {
            flex-direction: row;
        }
        .form-group {
            flex: 1; /* Allows the text areas to grow and fill the available space */
            margin-right: 20px;
        }
        .form-group:last-child {
            margin-right: 0; /* Ensures there's no margin on the right of the last element */
        }
        .template-form {
            flex-basis: auto; /* Adjusts back to auto for wrapping */
            margin-right: 10px;
        }
    }
</style>

<h2>Edit Profile</h2>
<div class="templates-container">
    {% for template in templates %}
    <form method="post" action="{% url 'apply_template' %}" class="template-form">
        {% csrf_token %}
        <input type="hidden" name="template_id" value="{{ template.id }}">
        <button type="submit">{{ template.name }}</button>
    </form>
    {% endfor %}
</div>
<form method="post">
    {% csrf_token %}
    <div class="form-container">
        <div class="form-group">
            <label for="id_custom_html">Custom HTML:</label>
            <textarea name="custom_html" id="id_custom_html">{{ form.custom_html.value }}</textarea>
        </div>
        <div class="form-group">
            <label for="id_custom_css">Custom CSS:</label>
            <textarea name="custom_css" id="id_custom_css">{{ form.custom_css.value }}</textarea>
        </div>
    </div>
    <button type="submit">Save changes</button>
</form>
{% endblock %}
