{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <!--left column-->
            <div class="col-12 col-md-7">
                <h1>Create Location</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    {{form.name|as_crispy_field }}
                    {{form.other_names|as_crispy_field}}
                    {{form.level|as_crispy_field}}
                    {{form.level_name|as_crispy_field}}
                    {{form.parent|as_crispy_field }}
                    {{form.wikipedia|as_crispy_field}}
                    {{form.website|as_crispy_field}}
                    {{form.historical|as_crispy_field}}
                    {{form.historical_period|as_crispy_field}}
                    {{form.current_identity|as_crispy_field}}
                    {{form.notes|as_crispy_field}}
                    <input type="submit" value="Create" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript"
        src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {{ form.media }}
    <script type="text/javascript"
        src="{% static 'js/generalFormsetHandler.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('select:not([name="model"], [name="level"])').removeClass('form-select');
        });
    </script>
{% endblock %}
