{% extends "base.html" %}
{% load static %}
{% load markdownify %}
{% load linkify %}
{% load parse_activity_type %}
{% block meta %}
    <meta property="og:title" content="{{ profile_user.display_name | default:profile_user.username }}'s Check-ins to &quot;{{ object.name }}&quot;">
    {% if object.notes %}
        <meta property="og:description" content="{{ object.notes|truncatewords:150 }}">
    {% else %}
        <meta property="og:description" content="Check out {{ profile_user.display_name | default:profile_user.username }}'s Check-ins to &quot;{{ object.name }}&quot; on luvdb.com">
    {% endif %}
    <meta property="og:image" content="{{ object.cover.url }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="article">
{% endblock meta %}
{% block title %}{{ profile_user.display_name | default:profile_user.username }}'s Check-Ins for "{{ object.name }}"{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {% if is_blocked %}
            <div class="bg-black p-5 ps-3">
                <p class="text-white">You are blocked by {{ profile_user.display_name|default:profile_user.username }} and cannot view this page.</p>
            </div>        
        {% else %}
            <!--left column-->
            <div class="col-12 col-md-8">
                <div class="fs-4 mb-2">
                    Check-ins by
                    <a href="{% url 'accounts:detail' profile_user.username %}">
                        {{ profile_user.display_name|default:profile_user.username }}
                    </a> to
                    <a href="{% url 'visit:location_detail' location.id %}">{{ location.name }}</a>
                </div>
                <span class='d-flex mb-2'>
                    <div class="me-3">
                        {% if order == 'timestamp' %}
                            <a href="?order=-timestamp&status={{ status }}"
                                class="btn btn-sm btn-outline-secondary mb-1">Newest</a>
                        {% else %}
                            <a href="?order=timestamp&status={{ status }}"
                                class="btn btn-sm btn-outline-secondary mb-1">Oldest</a>
                        {% endif %}
                        <a href="?status=&order={{ order }}"
                        class="btn btn-sm btn-outline-secondary mb-1">All</a>
                        <a href="?status=to_visit&order={{ order }}"
                        class="btn btn-sm btn-info mb-1">To Visit</a>
                        <a href="?status=visiting_revisiting&order={{ order }}"
                        class="btn btn-sm btn-primary mb-1">(Re)Visiting</a>
                        <a href="?status=visited_revisited&order={{ order }}"
                        class="btn btn-sm btn-success mb-1">(Re)Visited</a>
                        <a href="?status=living-here&order={{ order }}"
                            class="btn btn-sm btn-primary mb-1">Live Here</a>
                        <a href="?status=lived-there&order={{ order }}"
                            class="btn btn-sm btn-success mb-1">Lived There</a>      
                    </div>
                </span>
                {% if profile_user.is_public or request.user.is_authenticated %}
                    {% for checkin in checkins %}
                        <div class="checkin mb-1 p-3 bg-light">
                            <p class="d-flex align-items-center">
                                <!--badge: checkin status-->
                                <span class="badge {{ checkin.status|get_status_class }} me-1">{{ checkin.get_status_display }}</span>
                                {% if checkin.progress %}
                                    <span class="badge text-bg-warning me-2">
                                        Stayed {{ checkin.progress }}
                                        {% if checkin.progress_type == "ST" %}
                                            {# djlint:off #}
                                            Day{% if checkin.progress != 1 %}s{% endif %}
                                            {# djlint:on #}
                                        {% else %}
                                            %
                                        {% endif %}
                                    </span>
                                {% endif %}
                            </p>
                            {% if checkin.content %}<div>{{ checkin.content | linkify_tags |  markdownify }}</div>{% endif %}
                        </div>
                        <div class="d-flex mb-4 pe-3">
                            <span class="me-2">
                                <a href="{% url 'write:visit_checkin_detail' checkin.user.username checkin.id %}"
                                class="text-decoration-none text-secondary">{{ checkin.timestamp|date:"Y.m.d H:i" }}</a>
                            </span>
                            {% if checkin.comments_enabled %}
                                <span class="ms-2 me-2">
                                    <a href="{% url 'write:visit_checkin_detail' checkin.user.username checkin.id %}"
                                    class="text-decoration-none">Reply</a>
                                </span>
                            {% endif %}
                            {% if checkin.get_activity_id %}
                                <span class="ms-2 me-2"><a href="{% url 'write:visit_checkin_detail' checkin.user.username checkin.id %}?repost=true" class="text-decoration-none">Repost</a></span>
                            {% endif %}
                            {% if checkin.user == request.user %}
                                <span class="ms-2 me-2"><a href="{% url 'write:visit_checkin_update' checkin.user.username checkin.id %}" class="text-decoration-none">Edit</a></span>
                                <span class="ms-2 me-2"><a href="{% url 'write:visit_checkin_delete' checkin.user.username checkin.id %}" class="text-decoration-none">Delete</a></span>
                            {% endif %}
                        </div>
                    {% empty %}
                        <p>No check-ins yet.</p>
                    {% endfor %}
                {% else %}
                    <p>This user's check-ins are private.</p>
                {% endif %}
            </div>
            <!--right column-->
            <div class="col-12 col-md-4">
                <!-- release-card -->
                <div class="release-card justify-content-start">
                    <div class="d-flex flex-column mt-2">
                        <!--release-meta-->
                        <div class="col-12 flex-grow-1 mb-3">
                            <div class="card-body">
                                <span class='d-flex flex-wrap align-items-baseline'>
                                    <div class="fs-4 me-2">{{ location.name }}</div>
                                    {% if location.other_names %}<p class='text-muted'>{{ location.other_names }}</p>{% endif %}
                                </span>
                                <div>
                                    {{location.level_name}} 
                                    {% if location.parent %}
                                        of {{location.parent.name}}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!--map-box-->
                        <div class="col-12 mb-3">
                            {% if not location.historical and location.osm_id %}
                                <!--openstreetmap-->
                                <div class="mb-3 order-1 order-sm-2">
                                    <div id="mapid" style="height: 400px;"></div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% include 'mathjax+mermaid.html' %}
{% if not location.historical and location.osm_id %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/osmtogeojson@3.0.0-beta.5/osmtogeojson.min.js"></script>
    <script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-image/v0.0.4/leaflet-image.js"></script>
    <script src="{% static 'js/osm.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            initializeMap('mapid', "{{ location.osm_id }}", "{{ location.osm_id_type }}", "{{ location.level }}");
        });
    </script>
{% endif %}
{% endblock %}
