{% extends "pages/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <!-- Left column -->
            <div class="col-sm-7 left-column mb-2">
                <h1>Welcome</h1>
                <p>
                    <ruby>LʌvDB<rp>(</rp><rt>luvdb.com</rt><rp>)</rp></ruby> is the database of the things you <ruby>LOVE<rp>(</rp><rt>/lʌv/</rt><rp>)</rp></ruby>.
                </p>
                {% if not user.is_authenticated %}
                <div class="col-10">
                    <h6 class="mb-2">Request an Invite</h6>
                    <form method="post" action="{% url 'accounts:request_invitation' %}" class="d-flex">
                        {% csrf_token %}
                        <div class="form-group mb-2 col-10">
                            <input type="email" class="form-control" name="email" placeholder="Provide an email to request an invite." required>
                        </div>
                        <button class="btn btn-primary ms-2 mb-2" type="submit">Submit</button>
                    </form>
                    <small class="text-muted">
                        <div>I have no interest in collecting your emails, and it's not a requirement for registration. Rest assured, your email will be deleted after 30 days, regardless of whether you receive an invite or not. If privacy is a concern for you (and it should be), I strongly recommend using services like "Hide My Email" from iCloud+ or other similar alternatives.</div>
                    </small>
                </div>
                {% endif %}
            </div>
            <!-- Right column -->
            {% if not user.is_authenticated %}
                <div class="col-sm-4">
                    <h2>Log In</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-success ml-2" type="submit">Log In</button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
