{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Password change
{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <!-- Left column -->
        <div class="col-12 col-md-5 offset-md-3">
            <h1>Password change</h1>
            {% if not passkeys_exist %}
            <p>
                Please enter your old password, for security's sake, and then enter your new password twice so we can verify you
                typed it in correctly.
            </p>
            {% endif %}

            <form method="post" autocomplete="off">
                {% csrf_token %}
                <input type="text" name="username" value="{{ request.user.username }}" style="display: none;" readonly>
                {% if not passkeys_exist %}
                    {{ form.old_password|as_crispy_field }}
                {% endif %}
                {{ form.new_password1|as_crispy_field }}
                {{ form.new_password2|as_crispy_field }}
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Oops!</strong> Something went wrong. Please check the form for errors. {{ form.errors }}
                    </div>
                {% endif %}
                <input class="btn btn-success" type="submit" value="Change my password">
            </form>
        </div>
    </div>
</div>
{% endblock content %}
