{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Sign Up
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <!-- Left column -->
            <div class="col-12 col-md-7 left-column">
                <h2>Sign Up</h2>
                {% if not user.is_authenticated %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
