{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Sign Up
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <!-- Left column -->
            <div class="col-12 col-md-7 left-column">
                <h2>Sign Up</h2>
                {% if invite_code_used %}
                    This invitation code has already been used.
                {% else %}
                    {% if inviter %}
                        <div class="fs-4 mb-3">
                            {% if inviter.is_public %}
                                <a href="{% url 'accounts:detail' inviter.username%}">{{inviter.display_name|default:inviter.username}} </a>
                            {% else %}
                                {{inviter.display_name|default:inviter.username}} 
                            {% endif %}
                            is inviting you to join LʌvDB.</div>
                    {% endif %}
                    {% if not user.is_authenticated %}
                        <form method="post">
                            {% csrf_token %}
                            {{ form.invitation_code|as_crispy_field }}
                            {{ form.username |as_crispy_field }}
                            {{ form.signup_method|as_crispy_field }}
                            {{ form.password1|as_crispy_field }}
                            {{ form.password2|as_crispy_field }}
                            <div class="d-flex">
                                <button type="submit" class="btn btn-primary" id="signupSubmitButton" style="display: none;" disabled>Sign Up</button>
                                <button type="button" id="checkPasskeySupportButton" class="btn btn-info">My Device supports Passkey</button>
                            </div>
                            <div id="passkeySupportWarning" class="mt-2 alert alert-warning" style="display: none;">
                                Your browser does not support passkeys. Please choose "Password Only".
                            </div>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const signupMethodField = document.querySelector("#id_signup_method");
            const checkPasskeySupportButton = document.getElementById('checkPasskeySupportButton');
            const submitButton = document.getElementById('signupSubmitButton');
            const passkeySupportWarning = document.getElementById('passkeySupportWarning');
            const passwordFields = [
                document.querySelector("#id_password1"),
                document.querySelector("#id_password2")
            ];

            function supportsPasskeys() {
                return navigator.credentials && typeof navigator.credentials.create === "function";
            }

            function adjustFormBasedOnSignupMethod() {
                const method = signupMethodField.value;
                if (method === "passkey") {
                    // Hide and disable password fields if "Passkey Only" is selected
                    passwordFields.forEach(field => {
                        field.parentNode.style.display = 'none'; // Hide container
                        field.required = false; // Disable required validation
                    });
                    checkPasskeySupportButton.style.display = 'block'; // Show check button for passkey support
                    submitButton.style.display = "none";
                    submitButton.disabled = true; // Keep submit button disabled until passkey support is checked
                } else if (method == "both") {
                    passwordFields.forEach(field => {
                        field.parentNode.style.display = 'block'; // Show container
                        field.required = true; // Enable required validation
                    });
                    checkPasskeySupportButton.style.display = 'block'; // Show check button for passkey support
                    submitButton.style.display = "none";
                    submitButton.disabled = true; // Keep submit button disabled until passkey support is checked
                } else {
                    // Show and enable password fields for "Password Only" or "Both"
                    passwordFields.forEach(field => {
                        field.parentNode.style.display = 'block'; // Show container
                        field.required = true; // Enable required validation
                    });
                    checkPasskeySupportButton.style.display = 'none'; // Hide check button for password method
                    submitButton.disabled = false; // Enable submit button immediately for password or both methods
                    passkeySupportWarning.style.display = 'none'; // Hide passkey warning
                }
            }

            signupMethodField.addEventListener("change", adjustFormBasedOnSignupMethod);
            adjustFormBasedOnSignupMethod(); // Call initially to set the correct state

            checkPasskeySupportButton.addEventListener('click', function() {
                if (supportsPasskeys()) {
                    // Passkeys are supported; enable the Sign Up button and hide the warning.
                    submitButton.disabled = false;
                    passkeySupportWarning.style.display = 'none';
                    checkPasskeySupportButton.style.display = 'none'; // Optionally hide the check button
                    submitButton.style.display = "block";
                } else {
                    // Passkeys are not supported; keep the Sign Up button disabled and show a warning.
                    passkeySupportWarning.style.display = 'block';
                };
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const signupMethodSelect = document.getElementById('id_signup_method');
            const signupMethodHelpText = document.getElementById('id_signup_method_helptext');
        
            function updateSignupMethodHelpText() {
                const method = signupMethodSelect.value;
                let helpText = '';
                if (method === 'password') {
                    helpText = 'Passwords are traditional but require you to remember them. Consider using a strong, unique password for security.';
                } else if (method === 'passkey') {
                    helpText = "Passkeys allow you to sign in safely and easily, without requiring a password and two-factor authentication. However, if you never used passkeys before with the current device, or you are not sure if the current device support passkeys, you should use password only.";
                } else if (method === 'both') {
                    helpText = 'Choosing both allows you the flexibility of using either a passkey or a password. This can be convenient if you later log in through devices that do not support passkeys.';
                }
                signupMethodHelpText.innerHTML = helpText;
            }
        
            // Listen for changes to the signup method select field
            signupMethodSelect.addEventListener('change', updateSignupMethodHelpText);
        
            // Initialize help text based on the current selection
            updateSignupMethodHelpText();
        });
    </script>
        
        
    <style>
        .readonly-field {
            background-color: var(--bg-highlight) !important;
            border: none;
        }
    </style>

{% endblock content %}
