{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-7 left-column h-entry">
            <h1>Delete This Album</h1>
            <p>
                Are you sure you want to delete Album "{{ object.name }}"? 
            </p>
            <p>
                <b>All photos in the albums will also be deleted</b>. This action cannot be undone. 
            </p>
            <form method="POST">
                {% csrf_token %}
                <button type="buttun" class='btn btn-danger'>Yes, delete</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
