{% load static %}
{% load markdownify %}
{% load linkify %}
{% load crispy_forms_tags %}
{% if comments %}
    {% for comment in comments %}
        <div class="mb-4" id="{{ comment.anchor }}">
            <span class='d-flex mt-2 justify-content-between'>
                <div class='d-flex align-items-center'>
                    <a href="{% url 'accounts:detail' comment.user.username %}" class="me-2">
                        {{ comment.user.display_name | default:comment.user.username }}
                    </a>
                    <div class='me-2 text-secondary'>{{ comment.timestamp | date:"Y.m.d H:i" }}</div>
                    <div class="d-none d-md-block">
                        <a href="#"
                            class="quote-link me-2"
                            data-comment="{{ comment.content }}"
                            data-user-username="{{ comment.user.username }}"
                            data-user="{{ comment.user.display_name | default:comment.user.username }}"
                            data-timestamp="{{ comment.timestamp | date:'Y.m.d H:i' }}">Quote</a>
                        {% if comment.user == request.user %}
                            <a href="{% url "write:comment_update" comment.user.username comment.pk %}" class="me-2">Edit</a>
                        {% endif %}
                        {% if object.user == request.user or comment.user == request.user %}
                            <a href="{% url "write:comment_delete" comment.user.username comment.pk %}" class="me-2">Delete</a>
                        {% endif %}
                    </div>
                </div>
                <div class="text-end">
                    <a href="#{{ comment.anchor }}" class="comment-anchor text-secondary">#{{comment.anchor}}</a>
                </div>
            </span>
            <div class="bg-light mt-2 p-3">{{ comment.content|markdownify }}</div>
            <div class="d-flex justify-content-between mt-2">
                <div class="d-block d-md-none text-start">
                    <a href="#"
                        class="quote-link me-2"
                        data-comment="{{ comment.content }}"
                        data-user-username="{{ comment.user.username }}"
                        data-user="{{ comment.user.display_name | default:comment.user.username }}"
                        data-timestamp="{{ comment.timestamp | date:'Y.m.d H:i' }}">Quote</a>
                    {% if comment.user == request.user %}
                        <a href="{% url "write:comment_update" comment.user.username comment.pk %}" class="me-2">Edit</a>
                    {% endif %}
                    {% if object.user == request.user or comment.user == request.user %}
                        <a href="{% url "write:comment_delete" comment.user.username comment.pk %}" class="me-2">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    <hr>
{% else %}
    <p>No replies yet.</p>
{% endif %}
{% if user.is_authenticated %}
    {% if object.comments_enabled %}
        {% if not is_blocked %}
            <form method="POST"
                  action="{% url 'write:comment_create' user.username app_label object_type object.id %}"
                  id="comment-form">
                {% csrf_token %}
                <div class="textarea-wrapper">
                    {{ comment_form.content|as_crispy_field }}
                    <div id="photoUploadSection" class="border border-secondary p-4 text-center" style="cursor: pointer; border: 4px dashed !important;">
                        <div id="upload-area" style="width: 100%; height: 100%;">
                            Drag & Drop photos here
                            <input type="file" id="photo-upload" name="photo" accept="image/*" multiple style="display: none" />
                        </div>
                    </div>
                </div>
                <button type="submit" class='btn btn-sm btn-primary'>Add Reply</button>
                <button type="button" id="image-upload-button" class="btn btn-outline-secondary btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-images mb-1" viewBox="0 0 16 16">
                        <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"></path>
                        <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2M14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1M2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1z"></path>
                    </svg>
                </button>
            </form>
            <br>
        {% else %}
            <div class="bg-black p-5 ps-3">
                <p class="text-white">You are blocked by {{ object.user.display_name|default:object.user.username }} and cannot comment.</p>
            </div>
        {% endif %}
    {% else %}
        <p>Reply disabled.</p>
    {% endif %}
{% endif %}
<script>
    document.querySelectorAll('.quote-link').forEach(function(link) {
      link.addEventListener('click', function(e) {
        e.preventDefault();
        var comment = this.getAttribute('data-comment');
        var user = this.getAttribute('data-user');
        var userUsername = this.getAttribute('data-user-username');
        var timestamp = this.getAttribute('data-timestamp');
        var anchor = this.closest('.mb-4').id; // Get the anchor of the comment
        var anchorLink = '#' + anchor; // Create a link to the anchor
  
        var commentForm = document.getElementById('comment-form');
        var textarea = commentForm.querySelector('textarea');
        // Include the anchor link in the quoted text
        textarea.value = '> @' + userUsername + ' (' + timestamp + ') [⇱](' + anchorLink + ')\n> ' + comment.replace(/\n/g, '\n> ') + '\n\n';
        textarea.focus();
      });
    });
</script>
  