{% load markdownify %}
{% load linkify %}
{% load crispy_forms_tags %}
{% if comments %}
    {% for comment in comments %}
        <div class="mb-4" id="{{ comment.anchor }}">
            <span class='d-flex mt-2 justify-content-between'>
                <div class='d-flex align-items-center'>
                    <a href="{% url 'accounts:detail' comment.user.username %}" class="me-2">
                        {{ comment.user.display_name | default:comment.user.username }}
                    </a>
                    <div class='me-2 text-secondary'>{{ comment.timestamp | date:"Y.m.d H:i" }}</div>
                    <div class="d-none d-md-block">
                        <a href="#"
                            class="quote-link me-2"
                            data-comment="{{ comment.content }}"
                            data-user-username="{{ comment.user.username }}"
                            data-user="{{ comment.user.display_name | default:comment.user.username }}"
                            data-timestamp="{{ comment.timestamp | date:'Y.m.d H:i' }}">Quote</a>
                        {% if comment.user == request.user %}
                            <a href="{% url "write:comment_update" comment.pk %}" class="me-2">Edit</a>
                        {% endif %}
                        {% if object.user == request.user or comment.user == request.user %}
                            <a href="{% url "write:comment_delete" comment.pk %}" class="me-2">Delete</a>
                        {% endif %}
                    </div>
                </div>
                <div class="text-end">
                    <a href="#{{ comment.anchor }}" class="comment-anchor text-secondary">#{{comment.anchor}}</a>
                </div>
            </span>
            <div class="bg-light mt-2 p-3">{{ comment.content | linkify_mentions | markdownify }}</div>
            <div class="d-flex justify-content-between mt-2">
                <div class="d-block d-md-none text-start">
                    <a href="#"
                        class="quote-link me-2"
                        data-comment="{{ comment.content }}"
                        data-user-username="{{ comment.user.username }}"
                        data-user="{{ comment.user.display_name | default:comment.user.username }}"
                        data-timestamp="{{ comment.timestamp | date:'Y.m.d H:i' }}">Quote</a>
                    {% if comment.user == request.user %}
                        <a href="{% url "write:comment_update" comment.pk %}" class="me-2">Edit</a>
                    {% endif %}
                    {% if object.user == request.user or comment.user == request.user %}
                        <a href="{% url "write:comment_delete" comment.pk %}" class="me-2">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% empty %}
        <p>No comments yet.</p>
    {% endfor %}
    <hr>
{% endif %}
{% if user.is_authenticated %}
    {% if object.comments_enabled %}
        {% if not is_blocked %}
            <form method="POST"
                  action="{% url 'write:comment_create' app_label object_type object.id %}"
                  id="comment-form">
                {% csrf_token %}
                {{ comment_form|crispy }}
                <button type="submit" class='btn btn-sm btn-primary'>Add Comment</button>
            </form>
            <br>
        {% else %}
            <div class="bg-black p-5 ps-3">
                <p class="text-white">You are blocked by {{ object.user.display_name|default:object.user.username }} and cannot comment.</p>
            </div>
        {% endif %}
    {% else %}
        <p>Comment disabled.</p>
    {% endif %}
{% endif %}
<script>
    document.querySelectorAll('.quote-link').forEach(function(link) {
      link.addEventListener('click', function(e) {
        e.preventDefault();
        var comment = this.getAttribute('data-comment');
        var user = this.getAttribute('data-user');
        var userUsername = this.getAttribute('data-user-username');
        var timestamp = this.getAttribute('data-timestamp');
        var anchor = this.closest('.mb-4').id; // Get the anchor of the comment
        var anchorLink = '#' + anchor; // Create a link to the anchor
  
        var commentForm = document.getElementById('comment-form');
        var textarea = commentForm.querySelector('textarea');
        // Include the anchor link in the quoted text
        textarea.value = '> @' + userUsername + ' (' + timestamp + ') [⇱](' + anchorLink + ')\n> ' + comment.replace(/\n/g, '\n> ') + '\n\n';
        textarea.focus();
      });
    });
</script>
  