{% load crispy_forms_tags %}
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">{{ form.title|as_crispy_field }}</div>
        <div class="col-md-12">{{ form.description|as_crispy_field }}</div>
        <dir class="col-md-12">{{ form.source|as_crispy_field }}</dir>
        <dir class="col-md-12">{{ form.wikipedia|as_crispy_field }}</dir>
    </div>
    <h4>Items</h4>
    {{ contents.management_form }}
    <div id="contentInListDiv">
        {% for form in contents %}
            {{ form.id }}
            <div class="row{% if forloop.last %} empty-form{% endif %} mb-3 p-2 bg-light "
                 {% if forloop.last %}style="display: none;"{% endif %}>
                <div class="col-md-10">{{ form.content_url|as_crispy_field }}</div>
                <div class="col-md-2">{{ form.order|as_crispy_field }}</div>
                <div class="col-md-12">{{ form.comment|as_crispy_field }}</div>
            </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button id="addMore" type="button" class="btn btn-outline-secondary">Add More</button>
    </div>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let formsetNum = {{ contents|length }};
        let emptyForm = document.querySelector('.empty-form').cloneNode(true);
    
        function updateNewFormIndices(newForm, index) {
            newForm.querySelectorAll('input, select, textarea, label').forEach(element => {
                if (element.name) {
                    element.name = element.name.replace(/contents-\d+-/, `contents-${index}-`);
                }
                if (element.id) {
                    element.id = element.id.replace(/contents-\d+-/, `contents-${index}-`);
                    if (element.id === 'text-input') {
                        element.id = `id_contents-${index}-comment`;
                    }
                }
                if (element.htmlFor) {
                    element.htmlFor = element.htmlFor.replace(/contents-\d+-/, `contents-${index}-`);
                    if (element.htmlFor === 'text-input') {
                        element.htmlFor = `id_contents-${index}-comment`;
                    }
                }
            });
        }
    
        document.querySelector('#addMore').addEventListener('click', function(e) {
            e.preventDefault();
    
            let newForm = emptyForm.cloneNode(true);
            newForm.classList.remove('empty-form');
            newForm.style.display = '';
    
            document.querySelector('#contentInListDiv').appendChild(newForm);
    
            formsetNum++;
            document.querySelector('#id_contents-TOTAL_FORMS').value = formsetNum;
            
            // Update the indices of the newly appended form only
            updateNewFormIndices(newForm, formsetNum-1);
        });

        document.querySelector('#addMore').click();
    });
    
</script>
