<!-- write/luvlist_confirm_delete.html -->
{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class='col-7'>
                <h2>Are you sure you want to delete {{ object.title }}?</h2>
                <p>Created by: {{ object.user }}</p>
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Confirm Delete</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
