{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class='col-12 col-md-8'>
            <h2>Edit Content in List</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary mr-2">Save</button>
                    <a class="btn btn-outline-secondary" href="{% url 'write:luvlist_detail' pk=luv_list.pk username=luv_list.user.username %}">Back to list without saving</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
