{% extends "base.html" %}
{% load url_filters %}
{% load linkify %}
{% load markdownify %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col-12 col-md-8 left-column">

        <div class="d-flex justify-content-between mb-3">
            <h5>
                <a href="{% url 'accounts:detail' user.username %}">
                    {{user.display_name | default:user.username}} 
                </a>'s Lists 
            </h5>
            <a class="btn btn-sm btn-primary" href="{% url 'write:luvlist_create' %}">New</a>
        </div>
        {% for luvlist in luvlist_list %}
            <!--LuvList-->
            <div class="activity-item mb-3">
                <div>
                    <a href="{% url 'write:luvlist_detail' luvlist.id %}">{{ luvlist.title }}</a> 
                </div>
                <span class="d-flex mt-2">
                    <p style='margin-right: 0.5em'>
                        <a href="{% url 'write:luvlist_detail' luvlist.id %}" class="link-secondary">{{ luvlist.updated_at |default:luvlist.timestamp |date:"Y.m.d H:i" }}</a>
                    </p>
                    {% if luvlist.user == request.user %}
                        <p style='margin: 0 0.5em'><a href="{% url 'write:luvlist_update' luvlist.id %}">Edit</a></p>
                        <p style='margin: 0 0.5em'><a href="{% url 'write:luvlist_delete' luvlist.id %}">Delete</a></p>
                    {% endif %}
                </span>
            </div>
        {% empty %}
            <p>No LuvLists found.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
