{% extends "base.html" %}
{% load markdownify %}
{% load linkify %}
{% block content %}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <div class="fs-1">{{ photo.album.name }}</div>
            <p class="text-muted">{{ photo.album.notes }}</p>
            <span class="d-flex">
                <p class='me-2'>
                    by
                    <a href="{% url 'accounts:detail' album.user.username %}"
                        class="p-author h-card">
                        {{ album.user.display_name|default:album.user.username }}
                    </a>
                </p>
                <p class='me-2 text-secondary'>
                    <a href="{% url 'write:album_detail' object.user.username photo.album.id %}"
                    class="text-muted dt-published">
                    <time class="dt-published" datetime="{{album.updated_at}}">
                            {{ album.updated_at|date:"Y.m.d H:i" }}
                    </time>
                    </a>
                </p>
            </span>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="d-flex justify-content-between mb-2">
                <a href="{% url 'write:album_detail' photo.user.username photo.album.id %}">« Back</a>
                <div>
                    {% if previous_photo %}
                    <a href="{% url 'write:photo_detail' previous_photo.user.username previous_photo.id %}">&laquo; Previous</a>
                    {% else %}
                    <span class="text-muted">&laquo; Previous</span>
                    {% endif %}
                    |
                    {% if next_photo %}
                    <a href="{% url 'write:photo_detail' next_photo.user.username next_photo.id %}">Next &raquo;</a>
                    {% else %}
                    <span class="text-muted">Next &raquo;</span>
                    {% endif %}
                </div>
                <div>
                    {{ photo_index }} / {{ photo_count }}
                </div>
            </div>
            <img src="{{ photo.photo.url }}" class="card-img-top img-fluid mb-2" alt="{{ photo.photo_id }}">
            <div class="d-flex justify-content-between mb-1">
                <a class="text-decoration-none" data-bs-toggle="collapse" href="#shareMarkdown" role="button" aria-expanded="false" aria-controls="shareMarkdown" onclick="navigator.clipboard.writeText('![]({{ photo.photo_id }})')">
                    Share on LʌvDB
                </a>
                {% if photo.user == request.user %}
                <div class="d-flex justify-content-end">
                    {% if photo.notes %}
                    <a href="{% url "write:photo_update" photo.user.username photo.id %}" class="me-2">Edit</a>
                    {% endif %}
                    <a href="{% url "write:photo_delete" photo.user.username photo.id %}">Delete</a>
                </div>
                {% endif %}
            </div>
            <div class="collapse mb-2" id="shareMarkdown">
                <div>Copied to clipboard! Paste it in any LuvDB text field to render the image:</div>
                <div class="border p-2 mt-2 text-muted text-center position-relative">
                    <code id="markdown-code">![]({{ photo.photo_id }})</code>
                </div>
            </div>
            <div class="mb-2">
                {% if photo.notes %}
                    <div class="card-body">
                        <div class="card-text">
                            {{ photo.notes|markdownify|linkify_tags:object.user }}
                        </div>
                    </div>
                {% else %}
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                {{ notes_form.notes }}
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
