{% extends "base.html" %}
{% load static %}
{% load url_filters %}
{% load markdownify %}
{% load linkify %}
{% load crispy_forms_tags %}
{% block title %}Pin{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 left-column">
                <div class='mb-3'>
                    <a href="{% url 'accounts:detail' object.user.username %}">
                        {{ object.user.display_name | default:object.user.username }}
                    </a> pinned:
                </div>
                <div class="mb-3">
                    <div class="bg-light p-3">
                        <a href="{{ object.url }}">{{ object.title }}</a>
                        <a href="{% url 'write:pins_from_url' object.url|root_url %}"
                           class="link-secondary">({{ pin.url|root_url }})</a>
                    </div>
                    {% if object.content %}
                        <div class="mt-3">{{ object.content | linkify_tags:object.user | linkify_mentions | markdownify }}</div>
                    {% endif %}
                </div>
                <span class="d-flex">
                    <p class='me-2 text-secondary'>
                        <a href="{% url 'write:pin_list' object.user.username %}"
                           class="text-muted">{{ object.timestamp|date:"Y.m.d H:i" }}</a>
                    </p>
                    {% if object.user == request.user %}
                        <a href="{% url "write:pin_update" object.pk %}" class="me-2">Edit</a>
                        <a href="{% url "write:pin_delete" object.pk %}" class="me-2">Delete</a>
                    {% endif %}
                </span>
                <button id="show-comments"
                        class="btn btn-primary btn-sm mx-auto toggle-button">Comments ({{ comments|length }})</button>
                <button id="show-reposts"
                        class="btn btn-secondary btn-sm mx-auto toggle-button">
                    Reposts ({{ object.reposts.count }})
                </button>
                <hr>
                <div id="comments-section">
                    {% include 'write/comment_in_details.html' with comments=comments object=object comment_form=comment_form object_type='pin' %}
                </div>
                <div id="reposts-section" style="display: none;">
                    {% include 'write/repost_in_details.html' with object=object repost_form=repost_form reposts=object.reposts %}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/toggle-button.js' %}"></script>
{% endblock content %}
