{% extends "base.html" %}
{% load url_filters %}
{% load linkify %}
{% load markdownify %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col-sm-7 left-column">

        <h5>
          <a href="{% url 'accounts:detail' object.username %}">
            {{object.display_name | default:object.username}} 
          </a> pinned
        </h5>
        
        {% for pin in pin_list %}
            <!--Pin-->
            <div class="activity-item mb-3">
                <div style="background-color:#f9f9f9; padding: 1em;">
                    <a href="{{ pin.url }}">{{ pin.title }}</a> 
                    (<a href="{% url 'write:pins_from_url' pin.url|root_url %}" class="link-secondary">{{ pin.url|root_url }}</a>)
                    {% if pin.content %}
                    <blockquote>{{ pin.content | linkify_tags:pin.user | linkify_mentions | markdownify | truncatewords:200 }}</blockquote>
                    {% endif %}
                </div>
                <span class="d-flex mt-2">
                    <p style='margin-right: 0.5em'>
                        <a href="{% url 'write:pin_detail' pin.id %}" class="link-secondary">{{ pin.timestamp |date:"Y.m.d H:i" }}</a>
                    </p>
                    {% if pin.comments_enabled %}   
                        <p style='margin: 0 0.5em'><a href="{% url 'write:pin_detail' pin.id %}">Reply</a></p>
                    {% endif %}
                    {% if pin.get_activity_id is not None %}
                    <p style='margin: 0 0.5em'><a href="{% url 'write:pin_detail' pin.id %}?repost=true">Repost</a></p>
                    {% endif %}
                    {% if pin.user != request.user %}
                        <p style='margin: 0 0.5em'><a href="{% url 'write:pin_copy' pin.id %}">Copy</a></p>
                    {% endif %}
                    {% if pin.user == request.user %}
                        <p style='margin: 0 0.5em'><a href="{% url 'write:pin_update' pin.id %}">Edit</a></p>
                        <p style='margin: 0 0.5em'><a href="{% url 'write:pin_delete' pin.id %}">Delete</a></p>
                    {% endif %}
                </span>
            </div>
        {% empty %}
            <p>Nothing.</p>
        {% endfor %}
        </div>

        <div class="col-sm-5 right-column">
            <!--All tags on the page-->
            <div class="bg-light p-3">
                <span>
                {% for tag in all_tags %}
                    <a href="{% url 'write:tag_user_list' user.username tag.name %}" class="text-success me-2">#{{ tag.name }}</a>
                {% endfor %}
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
