{% extends "base.html" %}
{% load static %}
{% load url_filters %}
{% load markdownify %}
{% load linkify %}
{% load crispy_forms_tags %}
{% block title %}Pin{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 left-column h-entry">
                <div class='mb-2 h-card'>
                    <a href="{% url 'accounts:detail' object.user.username %}" class="p-author">
                        {{ object.user.display_name | default:object.user.username }}
                    </a> pinned:
                </div>
                <div class="mb-2">
                    <div class="bg-light p-3">
                        <a href="{{ object.url }}" class="p-name u-bookmark-of">{{ object.title }}</a>
                        <a href="{% url 'write:pins_from_url' object.url|root_url %}"
                           class="link-secondary">({{ pin.url|root_url }})</a>
                    </div>
                    {% if object.content %}
                        <div class="mt-2 e-content">{{ object.content | linkify_tags:object.user | linkify_mentions | markdownify }}</div>
                    {% endif %}
                </div>
                <span class="d-flex mb-2">
                    <div class='me-2 text-secondary'>
                        <a href="{% url 'write:pin_list' object.user.username %}"
                           class="text-muted u-url dt-published">{{ object.timestamp|date:"Y.m.d H:i" }}</a>
                    </div>
                    {% if object.user == request.user %}
                        <a href="{% url 'write:pin_update' object.user.username object.id %}" class="me-2">Edit</a>
                        <a href="{% url 'write:pin_delete' object.user.username object.id %}" class="me-2">Delete</a>
                    {% endif %}
                </span>
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <button id="show-comments"
                                class="btn btn-primary btn-sm mx-auto toggle-button">Comments</button>
                        <button id="show-reposts"
                                class="btn btn-secondary btn-sm mx-auto toggle-button">Reposts</button>
                    </div>
                    <div>
                        <a href="{% url 'discover:vote' 'pin' object.id 'up' %}" 
                            class="me-2 btn btn-sm {% if has_voted %}btn-outline-danger active{% else %}btn-outline-danger{% endif %}" 
                            title="Like this pin">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <hr>
                <div id="comments-section">
                    {% include 'write/comment_in_details.html' with comments=comments object=object comment_form=comment_form object_type='pin' %}
                </div>
                <div id="reposts-section" style="display: none;">
                    {% include 'write/repost_in_details.html' with object=object repost_form=repost_form reposts=object.reposts %}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/toggle-button.js' %}"></script>
{% endblock content %}
