{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}New Post{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-7 left-column">
                <form method="post">
                    {% csrf_token %}
                    <div>
                        {{ form.title|as_crispy_field }}
                    </div>
                    <div class="textarea-wrapper">
                        {{ form.content|as_crispy_field }}
                        <div id="photoUploadSection" class="border border-secondary p-4 text-center" style="cursor: pointer; border: 4px dashed !important;">
                            <div id="upload-area" style="width: 100%; height: 100%;">
                                Drag & Drop photos here
                                <input type="file" id="photo-upload" name="photo" accept="image/*" multiple style="display: none" />
                            </div>
                        </div>
                    </div>
                    <div>
                        {{ form.projects|as_crispy_field }}
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-start">
                            <span class="me-2">
                                {{ form.comments_enabled|as_crispy_field }}
                            </span>
                            <span>
                                {{ form.share_to_feed|as_crispy_field }}
                            </span>
                        </div>
                        <a href="https://daringfireball.net/projects/markdown/basics" target="_blank" class="mb-3">Markdown Syntax</a>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Post</button>
                    <button type="button" id="image-upload-button" class="btn btn-outline-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-images mb-1" viewBox="0 0 16 16">
                            <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"></path>
                            <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2M14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1M2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1z"></path>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript"
        src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {{ form.media }}
{% endblock %}
