{% extends "base.html" %}
{% block title %}Posts{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 left-column">
                <div class="d-flex mb-3">
                    <span class="me-3">
                        <a href="{% url 'write:say_list' object.username %}">Says</a>
                    </span>
                    <span class="me-3">
                        <a href="{% url 'write:post_list' object.username %}">Posts</a>
                    </span>
                    <span class="me-3">
                        <a href="{% url 'write:pin_list' object.username %}">Pins</a>
                    </span>
                    <span class="me-3">
                        <a href="{% url 'write:luvlist_list' object.username %}">Lists</a>
                    </span>
                    {% if object == user %}
                        <span class="me-3">
                            <a href="{% url 'discover:liked' %}">Liked</a>
                        </span>
                    {% endif %}
                </div>
                <hr>
                <div class="d-flex justify-content-between mb-3">
                    <div>
                        <h5>
                            <a href="{% url 'accounts:detail' object.username %}">{{ object.display_name | default:object.username }}</a> posted
                        </h5>
                        {% if current_project %}
                            <div>
                                (in project "<a class="text-muted" href="{% url 'write:post_list_project' object.username current_project.slug %}">{{current_project.name}}</a>")
                            </div>
                        {% endif %}
                    </div>
                    
                    <div>
                        {% if object.username == request.user.username %}
                            <a class="btn btn-sm btn-primary" href="{% url 'write:post_create' %}">New</a>
                        {% endif %}
                        {% if object.is_public %}
                            {% if current_project %}
                            <a class="btn btn-sm btn-success" href="{% url 'write:user_post_project_feed' object.username current_project.slug %}">RSS</a>
                            {% else %}
                            <a class="btn btn-sm btn-success" href="{% url 'write:user_post_feed' object.username %}">RSS</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                {% for post in post_list %}
                    <div class='d-flex flex-lg-row flex-column mb-3 justify-content-between align-items-lg-end align-items-start'>
                        <div>
                            <a href="{% url 'write:post_detail' post.id %}">{{ post.title }}</a>
                        </div>
                        <span class="d-flex flex-column">
                            <small class="text-muted font-monospace mt-lg-0" style="font-size: 0.8em">{{ post.timestamp|date:"Y.m.d H:i " }}</small>
                        </span>
                    </div>
                {% empty %}
                    <p>Nothing.</p>
                {% endfor %}
            </div>
            {% if all_tags or all_projects %}
                <div class="col-12 col-md-5 right-column">
                    {% if all_projects %}
                    <div class="bg-light p-3 mb-3">
                        <h5>Projects</h5>
                        <div>
                        {% for project_info in all_projects %}
                            <a href="{% url 'write:post_list_project' object.username project_info.project.slug %}"
                                   class="me-0">{{ project_info.project.name }}</a>
                            ({{project_info.post_count}})
                            {% if not forloop.last %}/{% endif %}
                        {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <!--All tags on the page-->
                    {% if all_tags %}
                    <div class="bg-light p-3 mb-3">
                        <h5>Hashtags</h5>
                        <span>
                            {% for tag, size in all_tags.items %}
                                <a href="{% url 'write:tag_user_list' object.username tag.name %}"
                                   style="font-size: {{ size }}%"
                                   class="text-success me-2">#{{ tag.name }}</a>
                            {% endfor %}
                        </span>
                    </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
