{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load markdownify %}
{% load linkify %}
{% block meta %}
    <meta property="og:title" content="{{ object.user.display_name | default:object.user.username }}'s Post &quot;{{ object.title }}&quot;">
    {% if object.content %}
        <meta property="og:description" content="{{ object.notes|truncatewords:150 }}">
    {% else %}
        <meta property="og:description" content="Check out {{ object.user.display_name | default:object.user.username }}'s Say on luvdb.com">
    {% endif %}
    <meta property="og:image" content="{% static 'img/apple-touch-icon.png' %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="article">
{% endblock meta %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 left-column h-entry">
                <h2 class="p-name">{{ object.title }}</h2>
                {% if projects %}
                    <p>
                        (in project{% if projects.count > 1 %}s{% endif %} 
                        {% for project in projects %}"<a class="text-muted" href="{% url 'write:post_list_project' object.user.username project.slug %}">{{project.name}}</a>"{% if not forloop.last %}, {% endif %}{% endfor %})
                    </p>
                {% endif %}
                <span class="d-flex">
                    <p class='me-2'>
                        by
                        <a href="{% url 'accounts:detail' object.user.username %}"
                            class="p-author h-card">
                            {{ object.user.display_name|default:object.user.username }}
                        </a>
                    </p>
                    <p class='me-2 text-secondary'>
                        <a href="{% url 'write:post_list' object.user.username %}"
                           class="text-muted dt-published">
                           <time class="dt-published" datetime="{{object.timestamp}}">
                                {{ object.timestamp|date:"Y.m.d H:i" }}
                           </time>
                        </a>
                    </p>
                    {% if object.user == request.user %}
                        <a href="{% url "write:post_update_slug" object.user.username object.slug %}" class="me-2">Edit</a>
                        <a href="{% url "write:post_delete_slug" object.user.username object.slug %}" class="me-2">Delete</a>
                    {% endif %}
                </span>
                
                <div class="e-content">
                    {{ object.content|linkify_tags:object.user|markdownify}}
                </div>
                <br>
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <button id="show-comments"
                                class="btn btn-primary btn-sm mx-auto toggle-button">Replies</button>
                        <button id="show-reposts"
                                class="btn btn-secondary btn-sm mx-auto toggle-button">Reposts</button>
                        {% if object.user.enable_webmentions and webmentions %}        
                            <button id="show-webmentions"
                                class="btn btn-secondary btn-sm mx-auto toggle-button">Webmentions</button>
                        {% endif %}                    
                    </div>
                    <div>
                        <a href="{% url 'discover:vote' 'post' object.id 'up' %}" 
                            class="me-2 btn btn-sm {% if has_voted %}btn-outline-danger active{% else %}btn-outline-danger{% endif %}" 
                            title="Like this post">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <hr>
                <div id="comments-section">
                    {% include 'write/comment_in_details.html' with comments=comments object=object comment_form=comment_form object_type='post' %}
                </div>
                <div id="reposts-section" style="display: none;">
                    {% include 'write/repost_in_details.html' with object=object repost_form=repost_form reposts=object.reposts %}
                </div>
                <div id="webmentions-section" style="display: none;">
                    {% include 'write/webmention_in_details.html' with object=object webmentions=webmentions %}
                </div>
            </div>
            <div class="col-12 col-md-5 right-column">
                {% if projects_with_ordered_posts %}
                
                    <div class="mt-2 mb-3">
                        {% for project, posts in projects_with_ordered_posts %}
                            <h4>All posts in "{{ project.name }}"</h4>
                            <div class="project">
                                {% for post in posts %}
                                    <div class="mb-1"><a href="{% url 'write:post_detail_slug' post.user.username post.slug %}">{{ post.title }}</a></div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <noscript>
        <style>
            .footnote {
                display: block !important;
            }
        </style>
    </noscript>
    <script>
        window.addEventListener('load', function() {
            var toc = document.querySelector('.toc');
            var eContent = document.querySelector('.e-content');
            var tocTitle = document.createElement('h4');
            tocTitle.textContent = 'Table of Contents';
            toc.prepend(tocTitle);
        
            if (window.innerWidth > 768) {  // Check if the window width is greater than 768 pixels
                if (toc && eContent) {
                    toc.remove();  // Remove the TOC from its current location
                    toc.style.position = 'sticky';  // Make the TOC sticky
                    toc.style.top = '15%';  // Stick the TOC to the top of the viewport
                    toc.style.overflowY = 'auto';  // Add vertical scroll bar to the TOC
                    toc.style.maxHeight = '85vh';  // Limit the maximum height of the TOC
                    var rightColumn = document.querySelector('.right-column');
                    if (rightColumn) {
                        rightColumn.appendChild(toc);  // Append the TOC to the right column
                    }
                }
            }
        });
    </script>
    <script type="text/javascript" src="{% static 'js/toggle-button.js' %}"></script>
    {% include 'mathjax+mermaid.html' %}
    <!--webmentions-->
    {% if object.user.enable_webmentions %}
        <a href="{% url 'write:post_detail' object.user.username object.id%}" class="u-url"></a>
        <a href="https://brid.gy/publish/mastodon" rel="me"></a>
    {% endif %}    
{% endblock %}
