<div class='admonition note'>
    <div class='admonition-title mb-2'>
        <strong>Markdown</strong>
    </div>
    <p>
        Markdown is supported in all primary text fields. If you are unfamiliar with markdown, you can find more information about it <a href="https://daringfireball.net/projects/markdown/syntax">here</a>.
    </p>
    <div class='admonition-title mb-2'>
        <strong>Special Syntaxes</strong>
    </div>
    <h6>Spoiler</h6>
    <p>
        <code>[text](/s)</code> or <code>[text](/spoiler)</code> will hide the text until clicked on.
    </p>
    <h6>Citation</h6>
    <p>
        <code>[text](/c)</code> or <code>[text](/citation)</code> will move the text to the left side of the main text. If you want to add hyperlink in the citation, you need to use the &lt;code&gt; tag:
    </p>
    <p>
        <code><span>&lt;code&gt;[text](http://example.com)&lt;/code&gt;</span>
        </code>
    </p>
</div>
<div class='admonition danger mb-1'>
    <div class='admonition-title mb-2'>
        <strong>Caution</strong>
    </div>
    <p>
        There is <strong>no auto-save</strong> feature available on this site. It is advisable to compose your post in a dedicated offline text editor and then simply paste it here.
    </p>
</div>
