{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load markdownify %}
{% load linkify %}
{% block meta %}
    <meta property="og:title" content="{{ object.user.display_name | default:object.user.username }}'s Post &quot;{{ object.title }}&quot;">
    {% if object.content %}
        <meta property="og:description" content="{{ object.notes|truncatewords:150 }}">
    {% else %}
        <meta property="og:description" content="Check out {{ object.user.display_name | default:object.user.username }}'s Say on luvdb.com">
    {% endif %}
    <meta property="og:image" content="{% static 'img/apple-touch-icon.png' %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="article">
{% endblock meta %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 left-column h-entry">
                <h2 class="p-name">{{ object.title }}</h2>
                {% if projects %}
                    <p>
                        (in project{% if projects.count > 1 %}s{% endif %} 
                        {% for project in projects %}"<a class="text-muted" href="{% url 'write:post_list_project' object.user.username project.slug %}">{{project.name}}</a>"{% if not forloop.last %}, {% endif %}{% endfor %})
                    </p>
                {% endif %}
                <span class="d-flex">
                    <p class='me-2'>
                        by
                        <a href="{% url 'accounts:detail' object.user.username %}"
                            class="p-author h-card">
                            {{ object.user.display_name|default:object.user.username }}
                        </a>
                    </p>
                    <p class='me-2 text-secondary'>
                        <a href="{% url 'write:post_list' object.user.username %}"
                           class="text-muted dt-published">
                           <time class="dt-published" datetime="{{object.timestamp}}">
                                {{ object.timestamp|date:"Y.m.d H:i" }}
                           </time>
                        </a>
                    </p>
                    {% if object.user == request.user %}
                        <a href="{% url "write:post_update_slug" object.user.username object.slug %}" class="me-2">Edit</a>
                        <a href="{% url "write:post_delete_slug" object.user.username object.slug %}" class="me-2">Delete</a>
                    {% endif %}
                </span>
                
                <div class="e-content">
                    {{ object.content|linkify_tags:object.user|markdownify}}
                </div>
                <br>
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <button id="show-comments"
                                class="btn btn-primary btn-sm mx-auto toggle-button">Replies</button>
                        <button id="show-reposts"
                                class="btn btn-secondary btn-sm mx-auto toggle-button">Reposts</button>            
                    </div>
                    {% if object.user != request.user %}
                    <div>
                        <a href="{% url 'discover:vote' 'post' object.id 'up' %}" 
                            class="me-2 btn btn-sm {% if has_voted %}btn-outline-danger active{% else %}btn-outline-danger{% endif %}" 
                            title="Like this post">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                            </svg>
                        </a>
                    </div>
                    {% endif %}
                    <div class="d-flex">
                        {% if can_crosspost_bluesky %}
                        <div class="me-1">
                            <form method="post" action="">
                                {% csrf_token %}
                                <button type="submit" name="crosspost_bluesky" class="btn btn-sm btn-outline-secondary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 360 320"><path d="M180 142c-16.3-31.7-60.7-90.8-102-120C38.5-5.9 23.4-1 13.5 3.4 2.1 8.6 0 26.2 0 36.5c0 10.4 5.7 84.8 9.4 97.2 12.2 41 55.7 55 95.7 50.5-58.7 8.6-110.8 30-42.4 106.1 75.1 77.9 103-16.7 117.3-64.6 14.3 48 30.8 139 116 64.6 64-64.6 17.6-97.5-41.1-106.1 40 4.4 83.5-9.5 95.7-50.5 3.7-12.4 9.4-86.8 9.4-97.2 0-10.3-2-27.9-13.5-33C336.5-1 321.5-6 282 22c-41.3 29.2-85.7 88.3-102 120Z"/></svg>
                                </button>
                            </form>
                        </div>
                        {% endif %}
                        {% if can_crosspost_mastodon %}
                        <div>
                            <form method="post" action="">
                                {% csrf_token %}
                                <button type="submit" name="crosspost_mastodon" class="btn btn-sm btn-outline-secondary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mastodon" viewBox="0 0 16 16">
                                        <path d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a4 4 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522q0-1.288.66-2.046c.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764q.662.757.661 2.046z"/>
                                    </svg>
                                </button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <div id="comments-section">
                    {% include 'write/comment_in_details.html' with comments=comments object=object comment_form=comment_form object_type='post' %}
                </div>
                <div id="reposts-section" style="display: none;">
                    {% include 'write/repost_in_details.html' with object=object repost_form=repost_form reposts=object.reposts %}
                </div>
            </div>
            <div class="col-12 col-md-5 right-column">
                {% if projects_with_ordered_posts %}
                    <div class="mt-2 mb-3">
                        {% for project, posts in projects_with_ordered_posts %}
                            <h4>All posts in "{{ project.name }}"</h4>
                            <div class="project">
                                {% for post in posts %}
                                    <div class="mb-1"><a href="{% url 'write:post_detail_slug' post.user.username post.slug %}">{{ post.title }}</a></div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <noscript>
        <style>
            .footnote {
                display: block !important;
            }
        </style>
    </noscript>
    <script>
        window.addEventListener('load', function() {
            var toc = document.querySelector('.toc');
            var eContent = document.querySelector('.e-content');
            var tocTitle = document.createElement('h4');
            tocTitle.textContent = 'Table of Contents';
            toc.prepend(tocTitle);
        
            if (window.innerWidth > 768) {  // Check if the window width is greater than 768 pixels
                if (toc && eContent) {
                    toc.remove();  // Remove the TOC from its current location
                    toc.style.position = 'sticky';  // Make the TOC sticky
                    toc.style.top = '15%';  // Stick the TOC to the top of the viewport
                    toc.style.overflowY = 'auto';  // Add vertical scroll bar to the TOC
                    toc.style.maxHeight = '85vh';  // Limit the maximum height of the TOC
                    var rightColumn = document.querySelector('.right-column');
                    if (rightColumn) {
                        rightColumn.appendChild(toc);  // Append the TOC to the right column
                    }
                }
            }
        });
    </script>
    <script type="text/javascript" src="{% static 'js/toggle-button.js' %}"></script>
    {% include 'mathjax+mermaid.html' %}
{% endblock %}
