{% extends "base.html" %}
{% block title %}Posts{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 left-column">
                <div class="d-flex mb-3">
                    <span class="me-3">
                        <a href="{% url 'write:say_list' object.username %}">Says</a>
                    </span>
                    <span class="me-3">
                        <a href="{% url 'write:post_list' object.username %}">Posts</a>
                    </span>
                    <span class="me-3">
                        <a href="{% url 'write:pin_list' object.username %}">Pins</a>
                    </span>
                    <span class="me-3">
                        <a href="{% url 'write:luvlist_list' object.username %}">Lists</a>
                    </span>
                    {% if object == user %}
                        <span class="me-3">
                            <a href="{% url 'discover:liked' %}">Liked</a>
                        </span>
                    {% endif %}
                </div>
                <hr>
                <div class="d-flex justify-content-between mb-3">
                    <div>
                        <h5>
                            <a href="{% url 'accounts:detail' object.username %}">{{ object.display_name | default:object.username }}</a> posted
                        </h5>
                        {% if current_project %}
                            <div>
                                (in project "<a class="text-muted" href="{% url 'write:post_list_project' object.username current_project %}">{{current_project}}</a>")
                            </div>
                        {% endif %}
                    </div>
                    
                    <div>
                        {% if object.username == request.user.username %}
                            <a class="btn btn-sm btn-primary" href="{% url 'write:post_create' %}">New</a>
                        {% endif %}
                        {% if object.is_public %}
                            {% if current_project %}
                            <a class="btn btn-sm btn-success" href="{% url 'write:user_post_project_feed' object.username current_project %}">RSS</a>
                            {% else %}
                            <a class="btn btn-sm btn-success" href="{% url 'write:user_post_feed' object.username %}">RSS</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                {% for post in post_list %}
                    <div>
                        <div>
                            <a href="{% url 'write:post_detail' post.id %}">{{ post.title }}</a>
                        </div>
                        <span class="d-flex">
                            <p class="me-2 text-muted">{{ post.timestamp|date:"Y.m.d H:i" }}</p>
                            {% if post.comments_enabled %}
                                <p class="ms-2 me-2">
                                    <a href="{% url 'write:post_detail' post.id %}">Reply</a>
                                </p>
                            {% endif %}
                            {% if post.get_activity_id is not None %}
                                <p style='margin: 0 0.5em'>
                                    <a href="{% url 'write:post_detail' post.id %}?repost=true">Repost</a>
                                </p>
                            {% endif %}
                            {% if object == request.user %}
                                <p class="ms-2 me-2">
                                    <a href="{% url 'write:post_update' post.id %}">Edit</a>
                                </p>
                                <p class="ms-2 me-2">
                                    <a href="{% url 'write:post_delete' post.id %}">Delete</a>
                                </p>
                            {% endif %}
                        </span>
                    </div>
                {% empty %}
                    <p>Nothing.</p>
                {% endfor %}
            </div>
            {% if all_tags or all_projects %}
                <div class="col-12 col-md-5 right-column">
                    <!--All tags on the page-->
                    {% if all_tags %}
                    <div class="bg-light p-3 mb-3">
                        <span>
                            {% for tag, size in all_tags.items %}
                                <a href="{% url 'write:tag_user_list' object.username tag.name %}"
                                   style="font-size: {{ size }}%"
                                   class="text-success me-2">#{{ tag.name }}</a>
                            {% endfor %}
                        </span>
                    </div>
                    {% endif %}

                    {% if all_projects %}
                    <div class="bg-light p-3">
                        <h5>Projects</h5>
                        {% comment %} <div>
                            <a href="{% url 'write:post_list' object.username %}"
                                   class="me-2">Uncategorized</a>
                        </div> {% endcomment %}
                        {% for project in all_projects %}
                        <div>
                            <a href="{% url 'write:post_list_project' object.username project.name %}"
                                   class="me-2">{{ project.name }}</a>
                        </div>
                        {% endfor %}

                    </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
