{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load markdownify %}
{% load linkify %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2>{{ object.title }}</h2>
      <p>{{ object.timestamp|date:"Y.m.d H:i" }} 
        {% if object.author == request.user %} | <a href="{% url "write:post_update" object.pk %}">Edit</a> |
        <a href="{% url "write:post_delete" object.pk %}">Delete</a>{% endif %}
      </p>
      <div>{{ object.content | linkify_tags | linkify_mentions | markdownify}}</div>
      <br>
      <button id="show-comments" class="btn btn-primary btn-sm mx-auto">Comments ({{ comments|length }})</button>
      <button id="show-reposts" class="btn btn-secondary btn-sm mx-auto">Reposts ({{ object.reposts.count }})</button>

      <hr>

      <div id="comments-section">
        {% include 'write/comment_in_details.html' with comments=comments object=object comment_form=comment_form object_type='post' %}
      </div>

      <div id="reposts-section" style="display: none;">
        {% include 'write/repost_in_details.html' with object=object repost_form=repost_form reposts=object.reposts%}
      </div>

    </div>
  </div>
</div>

<script>
  document.getElementById('show-comments').addEventListener('click', function() {
      document.getElementById('comments-section').style.display = 'block';
      document.getElementById('reposts-section').style.display = 'none';
  });
  
  document.getElementById('show-reposts').addEventListener('click', function() {
      document.getElementById('comments-section').style.display = 'none';
      document.getElementById('reposts-section').style.display = 'block';
  });
</script>
{% endblock %}
