{% extends "base.html" %}
{% load markdownify %}
{% load linkify %}
{% load crispy_forms_tags %}
{% load parse_activity_type %}
{% load url_filters %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-7 left-column">
                <div class="bg-light p-3">
                    {% if original_activity %}
                        <!-- Display the reposted activity -->
                        {% if original_activity.activity_type == "book-check-in" %}
                            <div class="d-flex justify-content-start align-items-center">
                                <a href="{% url 'accounts:detail' original_activity.user.username %}"
                                   class="text-decoration-none hover-username me-1">
                                    {{ original_activity.user.display_name | default:original_activity.user.username }}
                                    <span class="username">@{{ original_activity.user.username }}</span>
                                </a>
                                <span class="me-1 text-muted">checked in</span>
                                <!--badge: checkin status-->
                                <span class="badge {{ original_activity.content_object.status|get_status_class }} me-1">{{ original_activity.content_object.get_status_display }}</span>
                                {% if original_activity.content_object.progress %}
                                    <span class="badge text-bg-warning me-1">
                                        Progress: {{ original_activity.content_object.progress }}
                                        {% if original_activity.content_object.progress_type == "PG" %}
                                            Page
                                        {% else %}
                                            %
                                        {% endif %}
                                    </span>
                                {% endif %}
                            </div>
                            <div class="mt-2">
                                {{ original_activity.content_object.content | linkify_tags | linkify_mentions | markdownify | truncatechars:300 }}
                            </div>
                            <div class="d-flex flex-row bg-white p-3 mt-2">
                                <div class="mb-3 mb-md-0 flex-shrink-0 checkin-cover">
                                    {% if original_activity.content_object.book.cover %}
                                        {% if original_activity.content_object.book.cover_sens %}
                                            <img src="{{ original_activity.content_object.book.cover.url }}"
                                                 alt="{{ original_activity.content_object.book.title }} cover"
                                                 class="img-fluid blur"
                                                 onclick="this.classList.toggle('blur')">
                                        {% else %}
                                            <img src="{{ original_activity.content_object.book.cover.url }}"
                                                 alt="{{ original_activity.content_object.book.title }} cover"
                                                 style="width: 100%">
                                        {% endif %}
                                    {% else %}
                                        <div class="no-cover-text">No Cover</div>
                                    {% endif %}
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <a href="{% url 'read:book_detail' original_activity.content_object.book.id %}"
                                       class="text-decoration-none hover-username">
                                        <h6>{{ original_activity.content_object.book.title }}</h6>
                                    </a>
                                    {% regroup original_activity.content_object.book.bookrole_set.all by role as roles_list %}
                                    {% for role in roles_list %}
                                        <div>
                                            {# djlint:off #}
                                            {{ role.grouper.name }}{% if role.list|length > 1 %}s{% endif %}:
                                            {# djlint:on #}
                                            {% for book_role in role.list %}
                                                {% if not forloop.first %}/{% endif %}
                                                <a href="{% url 'entity:person_detail' book_role.person.id %}">
                                                    {{ book_role.alt_name | default:book_role.person.name }}
                                                </a>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                    <div>
                                        {% if original_activity.content_object.book.publication_date %}
                                            Publication Date: {{ original_activity.content_object.book.publication_date|slice:":4" }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% elif original_activity.activity_type == "game-check-in" %}
                            <div class="d-flex justify-content-start align-items-center">
                                <a href="{% url 'accounts:detail' original_activity.user.username %}"
                                   class="text-decoration-none hover-username me-1">
                                    {{ original_activity.user.display_name | default:original_activity.user.username }}
                                    <span class="username">@{{ original_activity.user.username }}</span>
                                </a>
                                <span class="me-1 text-muted">checked in</span>
                                <!--badge: checkin status-->
                                <span class="badge {{ original_activity.content_object.status|get_status_class }} me-1">{{ original_activity.content_object.get_status_display }}</span>
                                {% if original_activity.content_object.progress %}
                                    <span class="badge text-bg-warning me-1">
                                        Played Time: {{ original_activity.content_object.progress }}
                                        {% if original_activity.content_object.progress_type == "TT" %}
                                            {# djlint:off #}
                                            Hour{% if checkin.progress != 1 %}s{% endif %}
                                            {# djlint:on #}
                                        {% endif %}
                                    </span>
                                {% endif %}
                            </div>
                            <div class="mt-2">
                                {{ original_activity.content_object.content | linkify_tags | linkify_mentions | markdownify | truncatechars:300 }}
                            </div>
                            <div class="d-flex flex-row bg-white p-3 mt-2">
                                <div class="mb-3 mb-md-0 flex-shrink-0 checkin-cover">
                                    {% if original_activity.content_object.game.cover %}
                                        {% if original_activity.content_object.game.cover_sens %}
                                            <img src="{{ original_activity.content_object.game.cover.url }}"
                                                 alt="{{ original_activity.content_object.game.title }} cover"
                                                 class="img-fluid blur"
                                                 onclick="this.classList.toggle('blur')">
                                        {% else %}
                                            <img src="{{ original_activity.content_object.game.cover.url }}"
                                                 alt="{{ original_activity.content_object.game.title }} cover"
                                                 style="width: 100%">
                                        {% endif %}
                                    {% else %}
                                        <div class="no-cover-text">No Cover</div>
                                    {% endif %}
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <a href="{% url 'play:game_detail' original_activity.content_object.game.id %}"
                                       class="text-decoration-none hover-username">
                                        <h6>{{ original_activity.content_object.game.title }}</h6>
                                    </a>
                                    {% regroup original_activity.content_object.game.gamerole_set.all by role as roles_list %}
                                    {% for role in roles_list %}
                                        <div>
                                            {# djlint:off #}
                                            {{ role.grouper.name }}{% if role.list|length > 1 %}s{% endif %}:
                                            {# djlint:on #}
                                            {% for game_role in role.list %}
                                                {% if not forloop.first %}/{% endif %}
                                                <a href="{% url 'entity:person_detail' game_role.person.id %}">
                                                    {{ game_role.alt_name | default:game_role.person.name }}
                                                </a>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                    <div>
                                        {% if original_activity.content_object.game.developers %}
                                            {# djlint:off #}
                                            Developer{% if original_activity.content_object.game.developers.list|length > 1 %}s{% endif %}:
                                            {# djlint:on #}
                                            {% for developer in original_activity.content_object.game.developers.all %}
                                                {% if not forloop.first %},{% endif %}
                                                <a href="{% url 'play:developer_detail' developer.id %}">{{ developer.name }}</a>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div>
                                        {% if original_activity.content_object.game.platforms %}
                                            {# djlint:off #}
                                            Platform{% if original_activity.content_object.game.platforms.list|length > 1 %}s{% endif %}:
                                            {# djlint:on #}
                                            {% for platform in original_activity.content_object.game.platforms.all %}
                                                {% if not forloop.first %},{% endif %}
                                                <a href="{% url 'play:platform_detail' platform.id %}">{{ platform.name }}</a>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div>
                                        {% if original_activity.content_object.game.release_date %}
                                            Release Date: {{ original_activity.content_object.game.release_date|slice:":4" }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <p>
                                <a href="{% url 'accounts:detail' original_activity.user.username %}"
                                   class="text-decoration-none hover-username">
                                    {{ original_activity.user.display_name | default:original_activity.user.username }}
                                    <span class="username">@{{ original_activity.user.username }}</span>
                                </a>
                                {{ original_activity.activity_type | parse_activity_type }}:
                            </p>
                            {% if original_activity.activity_type == "post" %}
                                <p>
                                    <a href="{% url 'write:post_detail' original_activity.content_object.id %}"
                                       class="text-decoration-none">{{ original_activity.content_object.title }}</a>
                                </p>
                            {% elif original_activity.activity_type == "pin" %}
                                <p>
                                    <a href="{{ original_activity.content_object.url }}"
                                       class="text-decoration-none">{{ original_activity.content_object.title }}</a> ({{ original_activity.content_object.url | root_url }})
                                </p>
                            {% endif %}
                            <div class="bg-light">
                                <blockquote>
                                    {{ original_activity.content_object.content  | linkify_tags | linkify_mentions | markdownify | truncatechars:300 }}
                                </blockquote>
                                <p>
                                    <a href="{{ original_activity.content_object.get_absolute_url }}"
                                       class="text-decoration-none text-secondary">{{ original_activity.content_object.timestamp |date:"Y.m.d H:i" }}</a>
                                </p>
                            </div>
                        {% endif %}
                    {% else %}
                        <p>The original content has been deleted.</p>
                    {% endif %}
                </div>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Repost</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
