{% extends "base.html" %}
{% load markdownify %}
{% load linkify %}
{% load crispy_forms_tags %}
{% load past_tense %}
{% load url_filters %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <p>
        <a href="{% url 'accounts:detail' repost.author.username %}">
          {{ repost.author.display_name | default:repost.author.username }}
        </a> reposted:
      </p>
      {% if repost.content %}
        <p>{{ repost.content | linkify_tags | linkify_mentions | markdownify | truncatewords:200  }}</p>
      {% endif %}
      <div style="background-color:#f9f9f9; padding: 1em; ">
        <!-- Display the reposted activity -->
        <p>
          <a href="{% url 'accounts:detail' repost.original_activity.user.username %}">
            {{ repost.original_activity.user.display_name | default:repost.original_activity.user.username }}
          </a> {{ repost.original_activity.activity_type | past_tense }}:
        </p>

        {% if repost.original_activity.activity_type == "post" %}
        <p><a href="{% url 'write:post_detail' repost.original_activity.content_object.id %}" >{{ repost.original_activity.content_object.title }}</a></p>
        {% elif repost.original_activity.activity_type == "pin" %}
        <p><a href="{{ repost.original_activity.content_object.url }}" >{{ repost.original_activity.content_object.title }}</a> ({{  repost.original_activity.content_object.url | root_url }})</p>
        {% endif %}
        <div style="background-color:#f9f9f9;">
          {{ repost.original_activity.content_object.content  | linkify_tags | linkify_mentions | markdownify | truncatewords:200 }}
          <p><a href="{{ repost.original_activity.content_object.get_absolute_url }}" style='color:gray;'>{{ repost.original_activity.content_object.timestamp |date:"Y.m.d H:i" }}</a></p>
        </div>
      </div>
      <span class="d-flex mt-3">
        <p style='margin-right: 0.5em'>{{ repost.timestamp |date:"Y.m.d H:i" }}</p>
        {% if repost.author == request.user %}
          <p style='margin: 0 0.5em'><a href="{% url 'write:repost_update' repost.id %}">Edit</a></p>
          <p style='margin: 0 0.5em'><a href="{% url 'write:repost_delete' repost.id %}">Delete</a></p>
        {% endif %}
      </span> 
      
      <button id="show-comments" class="btn btn-primary btn-sm mx-auto">Comments ({{ comments|length }})</button>
      <button id="show-reposts" class="btn btn-secondary btn-sm mx-auto">Reposts ({{ object.get_reposts.count }})</button>

      <hr>

      <div id="comments-section">
        {% if comments %}
        <h5>Comments ({{ comments|length }})</h5> 
        {% for comment in comments %}
          <div>
            <span style='display: flex;'>
              <a href="{% url 'accounts:detail' comment.author.username%}">
                {{ comment.author.display_name | default:comment.author.username }}
              </a>
              <p style='margin: 0 0.5em'>{{comment.timestamp | date:"Y.m.d H:i"}}</p>
              {% if comment.author == request.user %} 
              <p style='margin: 0 0.5em'><a href="{% url "write:comment_update" comment.pk %}">Edit</a><p>
              {% endif %}
              {% if object.author == request.user or comment.author == request.user %} 
              <p style='margin: 0 0.5em'><a href="{% url "write:comment_delete" comment.pk %}">Delete</a></p>
              {% endif %}
            </span>
            <div style="background-color:#f9f9f9; padding: 1em; margin-button: 0.5em">{{ comment.content| linkify_tags | linkify_mentions | markdownify }}</div>
          </div>
        {% empty %}
          <p>No comments yet.</p>
        {% endfor %}
        <hr>
        {% endif %}
        
        {% if repost.comments_enabled %}
          <form method="POST" action="{% url 'write:comment_create' 'write' 'repost' repost.id %}">
          {% csrf_token %}
          {{ comment_form|crispy }}
            <button type="submit" class='btn btn-sm btn-primary'>Add Comment</button>
            </form>
            <br>
          {% else %}
          <p>Comment disabled.</p>
        {% endif %} 
      </div>

      <div id="reposts-section" style="display: none;">
        {% if object.get_reposts.count != 0 %}
        <h5>Reposts ({{ object.get_reposts.count }})</h5> 
        {% for repost in object.get_reposts.all %}
          <div>
            <span style='display: flex;'>
              <a href="{% url 'accounts:detail' repost.author.username%}">
                {{ repost.author.display_name | default:repost.author.username }}
              </a>
              <p style='margin: 0 0.5em'><a href="{{repost.get_absolute_url}}" style='color:gray;'>{{repost.timestamp | date:"Y.m.d H:i"}}</a></p>
            </span>
            
            {% if repost.content  %}
            <div style="background-color:#f9f9f9; padding: 1em; margin-button: 0.5em">{{ repost.content| linkify_tags | linkify_mentions | markdownify }}</div>
            {% endif %}
          </div>
        {% empty %}
          <p>No reposts yet.</p>
        {% endfor %}
        <hr>
        {% endif %}

        {% if object.get_activity_id is not None %}
        <form method="POST" action="{% url 'write:repost_create' object.get_activity_id %}">
          {% csrf_token %}
          {{ repost_form | crispy }}
          <button type="submit" class='btn btn-sm btn-primary'>Add Repost</button>
        </form> 
        {% else %}
          <p>Repost disabled.</p>
        {% endif %}

      </div>
    </div>       
  </div>
</div>

<script>
  document.getElementById('show-comments').addEventListener('click', function() {
      document.getElementById('comments-section').style.display = 'block';
      document.getElementById('reposts-section').style.display = 'none';
  });
  
  document.getElementById('show-reposts').addEventListener('click', function() {
      document.getElementById('comments-section').style.display = 'none';
      document.getElementById('reposts-section').style.display = 'block';
  });
</script>
{% endblock %}
