{% extends "base.html" %}
{% load static %}
{% load markdownify %}
{% load linkify %}
{% load crispy_forms_tags %}
{% load past_tense %}
{% load url_filters %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <p>
        <a href="{% url 'accounts:detail' repost.author.username %}">
          {{ repost.author.display_name | default:repost.author.username }}
        </a> reposted:
      </p>
      {% if repost.content %}
        <p>{{ repost.content | linkify_tags | linkify_mentions | markdownify | truncatewords:200  }}</p>
      {% endif %}
      <div class="bg-light p-3 mb-3">
        {% if repost.original_activity %}
        <!-- Display the reposted activity -->
        <p>
          <a href="{% url 'accounts:detail' repost.original_activity.user.username %}">
            {{ repost.original_activity.user.display_name | default:repost.original_activity.user.username }}
          </a> {{ repost.original_activity.activity_type | past_tense }}:
        </p>
        
        {% if repost.original_activity.activity_type == "post" %}
        <p><a href="{% url 'write:post_detail' repost.original_activity.content_object.id %}" >{{ repost.original_activity.content_object.title }}</a></p>
        
        {% elif repost.original_activity.activity_type == "pin" %}
        <p><a href="{{ repost.original_activity.content_object.url }}" >{{ repost.original_activity.content_object.title }}</a> ({{  repost.original_activity.content_object.url | root_url }})</p>
        {% endif %}
        
        <div>
          <div class="mb-2">
            {{ repost.original_activity.content_object.content  | linkify_tags | linkify_mentions | markdownify | truncatewords:200 }}
          </div>
          <p><a href="{{ repost.original_activity.content_object.get_absolute_url }}" style='color:gray;'>{{ repost.original_activity.content_object.timestamp |date:"Y.m.d H:i" }}</a></p>
        </div>
        {% else %}
        <p>The original content has been deleted.</p>
        {% endif %} 
      </div>
      <span class="d-flex">
        <p class='me-2 text-secondary'>{{ object.timestamp|date:"Y.m.d H:i" }} </p>
        {% if object.author == request.user %}
        <a href="{% url "write:repost_update" object.pk %}" class="me-2">Edit</a>
        <a href="{% url "write:repost_delete" object.pk %}" class="me-2">Delete</a>{% endif %}
      </span>
      
      <button id="show-comments" class="btn btn-primary btn-sm mx-auto toggle-button">Comments ({{ comments|length }})</button>
      <button id="show-reposts" class="btn btn-secondary btn-sm mx-auto toggle-button">Reposts ({{ object.get_reposts.count }})</button>

      <hr>

      <div id="comments-section">
        {% include 'write/comment_in_details.html' with comments=comments object=object comment_form=comment_form object_type='repost' %}
      </div>

      <div id="reposts-section" style="display: none;">
        {% include 'write/repost_in_details.html' with object=object repost_form=repost_form reposts=object.get_reposts %}
      </div>
    </div>       
  </div>
</div>

<script type="text/javascript" src="{% static 'js/toggle-button.js' %}"></script>


{% endblock %}
