{% extends "base.html" %}
{% load markdownify %}
{% load crispy_forms_tags %}

{% block title %}Say{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <a href="{% url 'accounts:detail' object.author.username %}">
        {{ object.author.display_name | default:object.author.username }}
      </a> said:
      <div style="background-color:#f9f9f9; padding: 1em 1em 0.2em 1em;">{{ object.content|markdownify }}</div>
      <p>
        {{ object.timestamp|date:"Y.m.d H:i" }} 
        {% if object.author == request.user %}
          <a href="{% url "write:say_update" object.pk %}">Edit</a>
          <a href="{% url "write:say_delete" object.pk %}">Delete</a>
        {% endif %}
      </p>

        {% if comments %}
        <h3>Comments ({{ comments|length }})</h3> 
        {% for comment in comments %}
          <div>
            <span>
              <a href="{% url 'accounts:detail' comment.author.username%}">
                {{ comment.author.display_name | default:comment.author.username }}
              </a>
              {{comment.timestamp | date:"Y.m.d H:i"}} 
              {% if comment.author == request.user %} 
                <a href="{% url "write:comment_update" object.pk %}">Edit</a>
              {% endif %}
              {% if object.author == request.user or comment.author == request.user %} 
                <a href="{% url "write:comment_delete" object.pk %}">Delete</a>
              {% endif %}
            </span>
            <p style="background-color:#f9f9f9; padding: 1em;">{{ comment.content }}</p>
          </div>
        {% empty %}
          <p>No comments yet.</p>
        {% endfor %}
        {% endif %}
        
        {% if object.comments_enabled %}
        <form method="POST" action="{% url 'write:add_comment' 'write' 'say' object.id %}">
        {% csrf_token %}
        {{ comment_form|crispy }}
        <button type="submit" class='btn-sm btn-primary'>Add Comment</button>
        </form>
        <br>
        {% else %}
        <p>Comment disabled by the author.</p>
        {% endif %} 
    </div>
  </div>
</div>

 
{% endblock content %}
