{% extends "base.html" %}
{% load static %}
{% load markdownify %}
{% load linkify %}
{% load crispy_forms_tags %}
{% block title %}Say{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 left-column h-entry">
                <div>
                    <div class="d-flex mb-2 align-items-center">
                        <a href="{% url 'accounts:detail' object.user.username %}" class='me-1 p-author h-card'>
                            {{ object.user.display_name | default:object.user.username }}
                        </a> said{% if object.is_direct_mention %}<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M 12 1 C 8.6761905 1 6 3.6761905 6 7 L 6 8 C 4.9 8 4 8.9 4 10 L 4 20 C 4 21.1 4.9 22 6 22 L 18 22 C 19.1 22 20 21.1 20 20 L 20 10 C 20 8.9 19.1 8 18 8 L 18 7 C 18 3.6761905 15.32381 1 12 1 z M 12 3 C 14.27619 3 16 4.7238095 16 7 L 16 8 L 8 8 L 8 7 C 8 4.7238095 9.7238095 3 12 3 z M 12 13 C 13.1 13 14 13.9 14 15 C 14 16.1 13.1 17 12 17 C 10.9 17 10 16.1 10 15 C 10 13.9 10.9 13 12 13 z"></path>
                        </svg>{% endif %}:
                    </div>
                    <div class="e-content">{{ object.content| linkify_tags:object.user | linkify_mentions | markdownify }}</div>
                    <span class="d-flex mt-2">
                        <p class='me-2 text-secondary mb-2'>
                            <a href="{% url "write:say_list" object.user.username %}"
                               class="text-muted u-url dt-published">
                               {{ object.timestamp|date:"Y.m.d H:i" }}
                            </a>
                        </p>
                        {% if object.user == request.user %}
                            <a href="{% url "write:say_update" object.pk %}" class="me-2">Edit</a>
                            <a href="{% url "write:say_delete" object.pk %}" class="me-2">Delete</a>
                        {% endif %}
                    </span>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <button id="show-comments"
                                class="btn btn-primary btn-sm mx-auto toggle-button">Comments</button>
                        <button id="show-reposts"
                                class="btn btn-secondary btn-sm mx-auto toggle-button">Reposts</button>
                    </div>
                    <div>
                        <a href="{% url 'discover:vote' 'say' object.id 'up' %}" 
                            class="me-2 btn btn-sm {% if has_voted %}btn-outline-danger active{% else %}btn-outline-danger{% endif %}" 
                            title="Like this say">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <hr>
                <div id="comments-section">
                    {% include 'write/comment_in_details.html' with comments=comments object=object comment_form=comment_form object_type='say' %}
                </div>
                <div id="reposts-section" style="display: none;">
                    {% include 'write/repost_in_details.html' with object=object repost_form=repost_form reposts=object.reposts %}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/toggle-button.js' %}"></script>
{% endblock content %}
