{% extends "base.html" %}
{% load markdownify %}
{% load crispy_forms_tags %}

{% block title %}Say{% endblock %}

{% block content %}
<div class="container">
  <h1>Say</h1>
  <p>{{ object.content|markdownify }}</p>
  <p>{{ object.timestamp|date:"Y.m.d H:i" }} {% if object.author == request.user %}| <a href="{% url "write:say_update" object.pk %}">Edit</a>{% endif %}</p>
</div>

<form method="POST" action="{% url 'write:add_comment' 'write' 'say' object.id %}">
  {% csrf_token %}
  {{ comment_form|crispy }}
  <button type="submit">Add Comment</button>
</form>
<br>
<h3>Comments ({{ comments|length }})</h3> 
{% for comment in comments %}
  <div>
    <span><strong>{{ comment.author.display_name | default:comment.author.username }}</strong> {{comment.timestamp | date:"Y.m.d H:i"}}</span>
    <p>{{ comment.content }}</p>
  </div>
{% empty %}
  <p>No comments yet.</p>
{% endfor %}
{% endblock content %}
