{% extends "base.html" %}
{% load linkify %}
{% load markdownify %}
{% block title %}Says{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 left-column">
                <div class="d-flex mb-3">
                    <span class="me-3">
                        <a href="{% url 'write:say_list' object.username %}">Says</a>
                    </span>
                    <span class="me-3">
                        <a href="{% url 'write:post_list' object.username %}">Posts</a>
                    </span>
                    <span class="me-3">
                        <a href="{% url 'write:pin_list' object.username %}">Pins</a>
                    </span>
                    <span class="me-3">
                        <a href="{% url 'write:luvlist_list' object.username %}">Lists</a>
                    </span>
                    {% if object == user %}
                        <span class="me-3">
                            <a href="{% url 'discover:liked' %}">Liked</a>
                        </span>
                    {% endif %}
                </div>
                <hr>
                <div class="d-flex justify-content-between mb-3">
                    <div class="fs-5">
                        <a href="{% url 'accounts:detail' object.username %}">{{ object.display_name | default:object.username }}</a> said
                    </div>
                    <div>
                        {% if object.username == request.user.username %}
                            <a class="btn btn-sm btn-primary" href="{% url 'write:say_create' object.username %}">New</a>
                        {% endif %}
                        {% if object.is_public %}
                            <a class="btn btn-sm btn-success" href="{% url 'write:user_say_feed' object.username %}">RSS</a>
                        {% endif %}
                    </div>
                </div>
                {% for activity in object_list %}
                    <div class="activity-item mb-3 h-entry">
                        {% if activity.model_name == "Say" %}
                            <div>{{ activity.content | linkify_tags | linkify_mentions | markdownify }}</div>
                            <span class="d-flex mt-2">
                                <div class="me-2">
                                    <a href="{% url 'write:say_detail' activity.user.username activity.id %}" class="link-secondary">{{ activity.timestamp |date:"Y.m.d H:i" }} | {{activity.model_name }}</a>
                                </div>
                                {% if activity.comments_enabled %}
                                    <p class="ms-2 me-2">
                                        <a href="{% url 'write:say_detail' activity.user.username activity.id %}">Reply</a>
                                    </p>
                                {% endif %}
                                {% if activity.get_activity_id is not None %}
                                    <p style='margin: 0 0.5em'>
                                        <a href="{% url 'write:say_detail' activity.user.username activity.id %}?repost=true">Repost</a>
                                    </p>
                                {% endif %}
                                {% if object == request.user %}
                                    <p class="ms-2 me-2">
                                        <a href="{% url 'write:say_update' activity.user.username activity.id %}">Edit</a>
                                    </p>
                                    <p class="ms-2 me-2">
                                        <a href="{% url 'write:say_delete' activity.user.username activity.id %}">Delete</a>
                                    </p>
                                {% endif %}
                            </span>
                        {% elif activity.model_name == "Repost" and activity.content %}
                            <div>{{ activity.content | linkify_tags | linkify_mentions | markdownify }}</div>
                            <span class="d-flex mt-2">
                                <div class="me-2">
                                    <a href="{% url 'write:repost_detail' activity.user.username activity.id %}" class="link-secondary">{{ activity.timestamp |date:"Y.m.d H:i" }} | {{ activity.model_name }}</a>
                                </div>
                                {% if activity.comments_enabled %}
                                    <p class="ms-2 me-2">
                                        <a href="{% url 'write:repost_detail' activity.user.username activity.id %}">Reply</a>
                                    </p>
                                {% endif %}
                                {% if activity.get_activity_id is not None %}
                                    <p style='margin: 0 0.5em'>
                                        <a href="{% url 'write:repost_detail' activity.user.username activity.id %}?repost=true">Repost</a>
                                    </p>
                                {% endif %}
                                {% if object == request.user %}
                                    <p class="ms-2 me-2">
                                        <a href="{% url 'write:repost_update' activity.user.username activity.id %}">Edit</a>
                                    </p>
                                    <p class="ms-2 me-2">
                                        <a href="{% url 'write:repost_delete' activity.user.username activity.id %}">Delete</a>
                                    </p>
                                {% endif %}
                            </span>
                        {% endif %}
                    </div>
                {% empty %}
                    <p>Nothing.</p>
                {% endfor %}
            </div>
            {% if all_tags %}
                <div class="col-12 col-md-5 right-column">
                    <!--All tags on the page-->
                    <div class="bg-light p-3">
                        <span>
                            {% for tag, size in all_tags.items %}
                                <a href="{% url 'write:tag_user_list' object.username tag.name %}"
                                   style="font-size: {{ size }}%"
                                   class="text-success me-2">#{{ tag.name }}</a>
                            {% endfor %}
                        </span>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
