{% extends "base.html" %}
{% load linkify %}
{% load markdownify %}
{% block title %}Says{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <div class="d-flex justify-content-between align-items-center mt-2">
        <h4>{{object.display_name | default:object.username}} said</h4>
      </div>
          {% for say in say_list %}
          <!--Say-->
          <div class="activity-item mb-3">
              <p>
                  {{ say.content | linkify_tags | linkify_mentions | markdownify }}
              </p>
              <span class="d-flex mt-3">
                  <p class="me-2">
                      <a href="{% url 'write:say_detail' say.id %}" class="link-secondary">{{ say.timestamp |date:"Y.m.d H:i" }}</a>
                  </p>
                  {% if say.comments_enabled %}
                      <p class="ms-2 me-2">
                          <a href="{% url 'write:say_detail' say.id %}">Reply</a>
                      </p>
                  {% endif %}
                  {% if say.get_activity_id is not None %}
                    <p style='margin: 0 0.5em'><a href="{% url 'write:repost_create' say.get_activity_id %}">Repost</a></p>
                    {% endif %}
                  {% if object == request.user %}
                      <p class="ms-2 me-2"><a href="{% url 'write:say_update' say.id %}">Edit</a></p>
                      <p class="ms-2 me-2"><a href="{% url 'write:say_delete' say.id %}">Delete</a></p>
                  {% endif %}
              </span>
          </div>
      {% empty %}
          <p>Nothing.</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
