{% extends "base.html" %}
{% load markdownify %}
{% load linkify %}
{% block content %}

  <h2>Entries with tag "{{ tag }}"</h2>

  <h3>Says</h3>
  {% for say in says %}
    <div class="item">
        <p><a href="{{ say.author.username }}"> {{ say.author.display_name | default:say.author.username }} </a>said:</p>
        <div>{{ say.content | linkify_tags | linkify_mentions | markdownify | truncatewords:30 }}</div>
        <p><small>{{ say.timestamp }}</small></p>
    </div>
  {% endfor %}
  
  <hr>
  <h3>Pins</h3>
  {% for pin in pins %}
    <div class="item">
        <h5><a href="{{ pin.get_absolute_url }}">{{ pin.title }}</a></h5>
        <div>{{ pin.content | linkify_tags | linkify_mentions | markdownify | truncatewords:30 }}</div>
        <p><small>By {{ pin.author }} on {{ pin.timestamp }}</small></p>
    </div>
  {% endfor %}

  <hr>
  <h3>Posts</h3>
  {% for post in posts %}
    <div class="item">
        <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
        <div>{{ post.content | linkify_tags | linkify_mentions | markdownify | truncatewords:30 }}</div>
        <p><small>By {{ post.author }} on {{ post.timestamp }}</small></p>
    </div>
  {% endfor %}
  
  <hr>
  <h3>Users</h3>
  <span class="item">
  {% for user in users %}
      <a href="{% url 'accounts:detail' user.username %}">{{ user.display_name | default:user.username }} </a>
  {% endfor %}  
  </span>
{% endblock %}
