{% extends "base.html" %}
{% load markdownify %}
{% load linkify %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-7 left-column">
            <h2>
                Entries with tag "{{ tag }}" 
                {% if user %}
                by <a href="{% url 'accounts:detail' user.username %}">{{ user.display_name | default:user.username }}</a>
                {% endif %}
            </h2>

            {% if says %}
                <h3>Says</h3>
                {% for say in says %}
                    <div class="item mb-3">
                        <p><a href="{% url 'accounts:detail' say.user.username %}"> {{ say.user.display_name | default:say.user.username }} </a>said:</p>
                        <div>{{ say.content | linkify_tags:say.user | linkify_mentions | markdownify | truncatechars:300 }}</div>
                        <small>
                            <a href="{% url 'write:say_detail' say.id %}" class='text-muted'>{{ say.timestamp|date:"Y.m.d H:i" }}</a>
                        </small>
                    </div>
                {% endfor %}
            {% endif %}
            
            {% if pins %}
                <hr>
                <h3>Pins</h3>
                {% for pin in pins %}
                    <div class="item mb-3">
                        <h5><a href="{{ pin.get_absolute_url }}">{{ pin.title }}</a></h5>
                        <div>{{ pin.content | linkify_tags:pin.user | linkify_mentions | markdownify | truncatechars:300 }}</div>
                        <p>
                        <small>
                            <a href="{% url 'write:pin_detail' pin.id %}" class='text-muted'>{{ pin.timestamp | date:"Y.m.d H:i"}}</a>
                        </small>
                        </p>
                    </div>
                {% endfor %}
            {% endif %}

            {% if posts %}
                <hr>
                <h3>Posts</h3>
                {% for post in posts %}
                    <div class="item mb-3">
                        <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                        <div>{{ post.content | linkify_tags:post.user | linkify_mentions | markdownify | truncatechars:300 }}</div>
                        <p><small><span class='text-muted'>{{ post.timestamp | date:"Y.m.d H:i" }}</span></small></p>
                    </div>
                {% endfor %}
            {% endif %}
            
            {% if not user %}
                <hr>
                
                <h3>Users</h3>
                <span class="item">
                {% for user in users %}
                    <a href="{% url 'accounts:detail' user.username %}">{{ user.display_name | default:user.username }} </a>
                {% endfor %}  
            </span>
            {% endif %}
        </div>

        <div class="col-sm-5 right-column">
            <!--All tags on the page-->
            <div class="bg-light p-3">
                <span>
                {% for tag in all_tags %}
                    <a href="{% url 'write:tag_user_list' user.username tag.name %}" class="text-success me-2">#{{ tag.name }}</a>
                {% endfor %}
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
