{% extends "base.html" %}
{% load markdownify %}
{% load linkify %}
{% load url_filters %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 left-column">
                <h2>Entries with tag "{{ tag }}"</h2>
                {% if says %}
                    <h3>Says</h3>
                    {% for say in says %}
                        <div class="item mb-4">
                            <div class="mb-2">
                                <a href="{% url 'accounts:detail' say.user.username %}">{{ say.user.display_name | default:say.user.username }}</a> said:
                            </div>
                            <div class="mb-2">{{ say.content | linkify_tags | linkify_mentions | markdownify }}</div>
                            <div class="mb-2">
                                <a href="{% url 'write:say_detail' say.id %}" class='text-muted'>{{ say.timestamp|timesince }} ago</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if pins %}
                    <hr>
                    <h3>Pins</h3>
                    {% for pin in pins %}
                        <div class="item mb-3">
                            <div class='mb-2'>
                                <a href="{% url 'accounts:detail' pin.user.username %}">
                                    {{ pin.user.display_name | default:pin.user.username }}
                                </a> pinned:
                            </div>
                            <div class="mb-2">
                                <div class="bg-light p-3">
                                    <a href="{{ pin.url }}">{{ pin.title }}</a>
                                    <a href="{% url 'write:pins_from_url' pin.url|root_url %}"
                                       class="link-secondary">({{ pin.url|root_url }})</a>
                                </div>
                                {% if pin.content %}
                                    <div class="mt-2">{{ pin.content | linkify_tags:pin.user | linkify_mentions | markdownify }}</div>
                                {% endif %}
                            </div>                            
                            <span class="d-flex">
                                <div class='me-2 text-secondary'>
                                    <a href="{% url 'write:pin_list' pin.user.username %}"
                                       class="text-muted">{{ pin.timestamp|timesince }} ago</a>
                                </div>
                            </span>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if posts %}
                    <hr>
                    <h3>Posts</h3>
                    {% for post in posts %}
                        <div class="item mb-3">
                            <h5>
                                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                            </h5>
                            <div>{{ post.content | linkify_tags | linkify_mentions | truncatechars:300 | markdownify }}</div>
                            <p>
                                <small>By {{ post.user }} <span class='text-muted'>{{ post.timestamp|timesince }} ago</span></small>
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if reposts %}
                    <hr>
                    <h3>Reposts</h3>
                    {% for repost in reposts %}
                        <div class="item mb-3">
                            <p>
                                <a href="{% url 'accounts:detail' repost.user.username %}">{{ repost.user.display_name | default:repost.user.username }}</a> reposted:
                            </p>
                            <p>{{ repost.content | linkify_tags | linkify_mentions | truncatechars:300 | markdownify }}</p>
                            <p>
                                <small>
                                    <a href="{% url 'write:repost_detail' repost.id %}" class='text-muted'>{{ repost.timestamp|timesince }} ago</a>
                                </small>
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if not user %}
                    <hr>
                    <h3>Users</h3>
                    <span class="item">
                        {% for user in users %}
                            <a href="{% url 'accounts:detail' user.username %}">{{ user.display_name | default:user.username }}</a>
                        {% endfor %}
                    </span>
                {% endif %}
            </div>
            <div class="col-sm-5 right-column">
                <!--All tags on the page-->
                <div class="bg-light p-3">
                    <span>
                        {% for tag in all_tags %}
                            <a href="{% url 'write:tag_list' tag.name %}" class="text-success me-2">#{{ tag.name }}</a>
                        {% endfor %}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
