{% load markdownify %}
{% load linkify %}
{% load crispy_forms_tags %}
{% if webmentions %}
    {% for webmention in webmentions %}
        <div class="mb-4">
            {% if webmention.author_name %}
            <span class='d-flex justify-content-between mb-1'>
                <div class='d-flex align-items-center'>
                    <a href="{{webmention.author_url}}" class="me-1">
                        {{webmention.author_name}} 
                    </a> 
                    <span class="text-secondary me-1">
                        ({{webmention.author_url}})
                    </span>
                    {% if webmention.mention_type == "comment" %}
                        replied 
                    {% elif webmention.mention_type == "repost" %}
                        reposted
                    {% endif %}
                </div>
            </span>
            {% endif %}
            {% if webmention.content %}
            <div class="bg-light p-3 mb-1">
                {{ webmention.content | markdownify | safe }}
            </div>
            {% endif %}
            <div class="d-flex justify-content-between">
                <a href="{{ webmention.source }}" class="me-2 text-break text-secondary">
                    {{ webmention.received_at | date:"Y.m.d H:i" }}
                </a>
                {% if object.user == request.user %}
                    <a href="{% url 'delete_webmention' webmention.id %}" class="text-secondary" onclick="return confirm('Are you sure you want to delete this WebMention?');">
                        Delete
                    </a>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p>No webmentions yet.</p>
    {% endfor %}
    <hr>
{% endif %}