{% extends "base.html" %}
{% load markdownify %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 left-column">
                <h3>Notifications</h3>
                <div class="d-flex">
                    <form method="post"
                          action="{% url 'notify:mark_all_as_read' %}"
                          class="d-inline-block me-2">
                        {% csrf_token %}
                        <input type="submit" class='btn btn-sm btn-success' value="Mark all as read">
                    </form>
                    <form method="post" action="{% url 'notify:delete_all' %}">
                        {% csrf_token %}
                        <input type="submit" class='btn btn-sm btn-danger' value="Delete all">
                    </form>
                </div>
                <hr>
                {% for notification in page_obj %}

                    <div class="p-2 pt-3 notification align-items-center
                        {% if notification.is_delete %}notification-delete{% else %}notification-default{% endif %}
                        {% if not notification.read%}bg-light{%endif%}"
                        {% if not notification.read%}data-message="{{ notification.message }}"{%endif%}>
                        <div class="me-2">{{ notification.message | markdownify | safe }}</div>
                        <div class="d-flex  align-items-center">
                            <div class="d-inline-block me-2">
                                <small class='text-muted'>{{ notification.timestamp | date:"Y.m.d H:i" }}</small>
                            </div>
                            <div>
                                {% if not notification.read %}
                                    <form method="post"
                                        action="{% url 'notify:mark_as_read' notification.pk %}"
                                        class="d-inline-block me-2">
                                        {% csrf_token %}
                                        <input type="submit"
                                            class='btn btn-sm btn-outline-success'
                                            value="Read">
                                    </form>
                                {% endif %}
                                <form method="post"
                                    action="{% url 'notify:delete' notification.pk %}"
                                    class="d-inline-block me-2">
                                    {% csrf_token %}
                                    <input type="submit" class='btn btn-sm btn-outline-danger' value="Delete">
                                </form>

                                {% if notification.subject_content_type %}
                                <form method="post"
                                    action="{% url 'notify:mute' notification.pk %}"
                                    class="d-inline-block me-2">
                                    {% csrf_token %}
                                    {% if notification.is_muted %}
                                        <input type="submit" class='btn btn-sm btn-outline-warning' value="Unmute">
                                    {% else %}
                                        <input type="submit" class='btn btn-sm btn-outline-secondary' value="Mute">
                                    {% endif %}
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>You have no notifications.</p>
                {% endfor %}

                {% if page_obj.paginator.num_pages > 1 %}
                    <hr>
                    <div class="pagination">
                        <span class="step-links">
                            {% for i in page_obj.paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <span class="current">{{ i }}</span>
                                {% else %}
                                    <a href="?page={{ i }}">{{ i }}</a>
                                {% endif %}
                            {% endfor %}
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

<script>
// Add click event listener to notification block
document.querySelectorAll('.notification').forEach(function(notification) {
    notification.addEventListener('click', function() {
        var parser = new DOMParser();
        var messageHTML = parser.parseFromString(notification.dataset.message, 'text/html');
        var link = messageHTML.querySelector('a[href*="mark_read"]');
        if (link) {
            window.location.href = link.href;
        }
    });
});

// Stop click event propagation on buttons
document.querySelectorAll('.notification input[type="submit"]').forEach(function(button) {
    button.addEventListener('click', function(event) {
        event.stopPropagation();
    });
});
</script>
{% endblock %}
