{% extends "base.html" %}

{% block content %}
  <h1>Notifications</h1>

  <div class="d-flex">
    <form method="post" action="{% url 'notify:mark_all_as_read' %}" class="d-inline-block me-2">
      {% csrf_token %}
      <input type="submit" class='btn btn-sm btn-success' value="Mark all as read">
    </form>
    <form method="post" action="{% url 'notify:delete_all' %}">
      {% csrf_token %}
      <input type="submit" class='btn btn-sm btn-danger' value="Delete all">
    </form>
  </div>
  <hr>
  {% for notification in object_list %}
  <div class="notification">
    <div class="d-flex">
      <p>{{ notification.message | safe}}</p>
      <p class="d-inline-block me-2">&nbsp;<small class='text-muted'>{{ notification.timestamp | date:"Y.m.d H:i"}}</small></p>
      <div>
        {% if not notification.read %}
          <form method="post" action="{% url 'notify:mark_as_read' notification.pk %}" class="d-inline-block me-2">
            {% csrf_token %}
            <input type="submit" class='btn btn-sm btn-outline-success' value="Mark as read">
          </form>
        {% endif %}
        <form method="post" action="{% url 'notify:delete' notification.pk %}" class="d-inline-block">
          {% csrf_token %}
          <input type="submit" class='btn btn-sm btn-outline-danger' value="Delete">
        </form>
      </div>
    </div>
  </div>
  {% empty %}
    <p>You have no notifications.</p>
  {% endfor %}
{% endblock %}
