{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="dark">
    <head>
        <meta http-equiv="content-language" content="en-us">
        <meta name="theme-color" content="#2B3035" media="(prefers-color-scheme: dark)">
        <meta name="theme-color" content="#F6F7F9" media="(prefers-color-scheme: light)">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="description"
              content="LʌvDB is a database of the things you love.">
        <meta name="keywords" content="lʌvdb, luvdb">
        {% block meta %}{% endblock %}
        <!-- Title -->
        <title>
            {% block title %}
                LʌvDB
            {% endblock title %}
        </title>
        <!-- Favicons -->
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static 'img/favicon-32x32.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static 'img/favicon-16x16.png' %}">
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static 'img/apple-touch-icon.png' %}">
        <link rel="manifest" href="{% static 'img/site.webmanifest' %}">
        <link rel="mask-icon"
              href="{% static 'img/safari-pinned-tab.svg' %}"
              color="#5bbad5">
        <link rel="icon"
              type="image/png"
              sizes="192x192"
              href="{% static 'img/android-chrome-192x192.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="512x512"
              href="{% static 'img/android-chrome-512x512.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'img/splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{% static 'img/splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{% static 'img/splash_screens/iPhone_11__iPhone_XR_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'img/splash_screens/10.9__iPad_Air_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'img/splash_screens/10.2__iPad_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{% static 'img/splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{% static 'img/splash_screens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{% static 'img/splash_screens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{% static 'img/splash_screens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{% static 'img/splash_screens/10.2__iPad_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{% static 'img/splash_screens/10.9__iPad_Air_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{% static 'img/splash_screens/12.9__iPad_Pro_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{% static 'img/splash_screens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{% static 'img/splash_screens/iPhone_15_Pro_Max__iPhone_15_Plus__iPhone_14_Pro_Max_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{% static 'img/splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{% static 'img/splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{% static 'img/splash_screens/8.3__iPad_Mini_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{% static 'img/splash_screens/iPhone_15_Pro_Max__iPhone_15_Plus__iPhone_14_Pro_Max_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'img/splash_screens/iPhone_11__iPhone_XR_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'img/splash_screens/11__iPad_Pro__10.5__iPad_Pro_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'img/splash_screens/12.9__iPad_Pro_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{% static 'img/splash_screens/iPhone_15_Pro__iPhone_15__iPhone_14_Pro_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'img/splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{% static 'img/splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{% static 'img/splash_screens/iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{% static 'img/splash_screens/11__iPad_Pro__10.5__iPad_Pro_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'img/splash_screens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'img/splash_screens/8.3__iPad_Mini_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{% static 'img/splash_screens/iPhone_15_Pro__iPhone_15__iPhone_14_Pro_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{% static 'img/splash_screens/10.5__iPad_Air_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'img/splash_screens/10.5__iPad_Air_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{% static 'img/splash_screens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{% static 'img/splash_screens/iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{% static 'img/splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_landscape.png' %}">
        
        <!-- Meta Colors -->
        <meta name="msapplication-TileColor" content="#2B3035">
        <meta name="theme-color" content="#ffffff">
        <!-- External Stylesheets -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
              crossorigin="anonymous">
        <!-- Internal Stylesheets -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/pygments.css' %}" defer>
        {% if not no_citation_css %}
            <link rel="stylesheet" href="{% static 'css/citation.css' %}" defer>
        {% endif %}
        <script>
            function getSystemPreferredTheme() {
              if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                return 'dark';
              }
              return 'light';
            }
            const savedTheme = localStorage.getItem('theme') || getSystemPreferredTheme();
            const metaThemeColor = document.querySelector("meta[name='theme-color']");
            if (savedTheme === 'dark') {
                document.documentElement.setAttribute('data-bs-theme', 'dark');
                metaThemeColor.setAttribute("content", "#2B3035"); 
            } else {
                document.documentElement.setAttribute('data-bs-theme', 'light');
                metaThemeColor.setAttribute("content", "#F6F7F9"); 
            }
        </script>          
    </head>
    <body class="d-flex flex-column h-100">
        <header class='mb-3'>
            {% include "navbar.html" %}
        </header>
        <main class="flex-shrink-0 mb-3 ms-2 me-2">
            {% block content %}
            {% endblock content %}
        </main>
        <!-- Transparent Buttons Added Here -->
        <div class="position-fixed bottom-0 end-0 p-4">
            <span id="notification" class="bg-light" 
                style="display:none; position:absolute; right: 100%; top: 50%; transform: translateY(-50%); padding: 1em;white-space: nowrap; border: 2px solid #ddd;">
                Copied URL!
            </span>
            <!-- Dropdown wrapper -->
            <div class="btn-groupx">
                <!-- Main button -->
                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle no-caret" data-bs-toggle="dropdown" aria-expanded="false" aria-label="action buttons">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stack" viewBox="0 0 16 16">
                        <path d="m14.12 10.163 1.715.858c.22.11.22.424 0 .534L8.267 15.34a.598.598 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.598.598 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.598.598 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535L7.733.063z"/>
                        <path d="m14.12 6.576 1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.598.598 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.659z"/>
                    </svg>
                </button>
                <!-- Dropdown Menu -->
                <ul class="dropdown-menu dropdown-menu-end" style="min-width: auto;">
                    <li>
                        <a class="dropdown-item p-2" href="#" onclick="window.scrollTo(0,0)" aria-label="Go to the top">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item p-2" href="#" onclick="navigator.clipboard.writeText(window.location.href); showNotification();" aria-label="Copy URL">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
                                <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                                <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item p-2" href="{% url 'activity_feed:activity_feed' %}" aria-label="Go to home">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                            </svg>
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a class="dropdown-item p-2" href="{% url 'accounts:detail' user.username %}" aria-label="Go to profile">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        
        {% include "footer.html" %}
        <!-- JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                defer
                integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
                crossorigin="anonymous"></script>
        <script src="{% static 'js/popup-footnote.js' %}" defer></script>
        <script src="{% static 'js/dark-mode.js' %}" defer ></script>
        <script src="{% static 'js/pullrefresh.js' %}" defer></script>
        <script src="{% static 'js/script.js' %}" defer></script>
        <script>
            function showNotification() {
                const notification = document.getElementById('notification');
                notification.style.display = 'inline';
                setTimeout(() => {
                    notification.style.display = 'none';
                }, 1000);
            }
        </script>
        <style>
            .no-caret::after {
                display: none;
            }
        </style>
    </body>
</html>
