{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="dark">
    <head>
        <meta http-equiv="content-language" content="en-us">
        <meta name="theme-color" content="#2B3035" media="(prefers-color-scheme: dark)">
        <meta name="theme-color" content="#F6F7F9" media="(prefers-color-scheme: light)">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="description"
              content="LʌvDB is a database of the things you love.">
        <meta name="keywords" content="lʌvdb, luvdb">
        {% block meta %}{% endblock %}
        <!-- Title -->
        <title>
            {% block title %}
                LʌvDB
            {% endblock title %}
        </title>
        <!-- Favicons -->
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static 'img/favicon-32x32.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static 'img/favicon-16x16.png' %}">
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static 'img/apple-touch-icon.png' %}">
        <link rel="manifest" href="{% url 'site-manifest' %}">
        <link rel="mask-icon"
              href="{% static 'img/safari-pinned-tab.svg' %}"
              color="#5bbad5">
        <link rel="icon"
              type="image/png"
              sizes="192x192"
              href="{% static 'img/android-chrome-192x192.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="512x512"
              href="{% static 'img/android-chrome-512x512.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'img/splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{% static 'img/splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{% static 'img/splash_screens/iPhone_11__iPhone_XR_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'img/splash_screens/10.9__iPad_Air_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'img/splash_screens/10.2__iPad_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{% static 'img/splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{% static 'img/splash_screens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{% static 'img/splash_screens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{% static 'img/splash_screens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{% static 'img/splash_screens/10.2__iPad_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{% static 'img/splash_screens/10.9__iPad_Air_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{% static 'img/splash_screens/12.9__iPad_Pro_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{% static 'img/splash_screens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{% static 'img/splash_screens/iPhone_15_Pro_Max__iPhone_15_Plus__iPhone_14_Pro_Max_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{% static 'img/splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{% static 'img/splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{% static 'img/splash_screens/8.3__iPad_Mini_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{% static 'img/splash_screens/iPhone_15_Pro_Max__iPhone_15_Plus__iPhone_14_Pro_Max_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'img/splash_screens/iPhone_11__iPhone_XR_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'img/splash_screens/11__iPad_Pro__10.5__iPad_Pro_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'img/splash_screens/12.9__iPad_Pro_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{% static 'img/splash_screens/iPhone_15_Pro__iPhone_15__iPhone_14_Pro_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'img/splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{% static 'img/splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{% static 'img/splash_screens/iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{% static 'img/splash_screens/11__iPad_Pro__10.5__iPad_Pro_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'img/splash_screens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'img/splash_screens/8.3__iPad_Mini_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{% static 'img/splash_screens/iPhone_15_Pro__iPhone_15__iPhone_14_Pro_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{% static 'img/splash_screens/10.5__iPad_Air_portrait.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{% static 'img/splash_screens/10.5__iPad_Air_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{% static 'img/splash_screens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{% static 'img/splash_screens/iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_landscape.png' %}">
        <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{% static 'img/splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_landscape.png' %}">
        
        <!-- Meta Colors -->
        <meta name="msapplication-TileColor" content="#2B3035">
        <meta name="theme-color" content="#ffffff">
        <!-- External Stylesheets -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
              crossorigin="anonymous">
        <!-- Internal Stylesheets -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/pygments.css' %}" defer>
        {% block extra_styles %}{% endblock extra_styles %}
        {% if not no_citation_css %}
            <link rel="stylesheet" href="{% static 'css/citation.css' %}" defer>
        {% endif %}
        <script>
            function getSystemPreferredTheme() {
              if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                return 'dark';
              }
              return 'light';
            }
            const savedTheme = localStorage.getItem('theme') || getSystemPreferredTheme();
            const metaThemeColor = document.querySelector("meta[name='theme-color']");
            if (savedTheme === 'dark') {
                document.documentElement.setAttribute('data-bs-theme', 'dark');
                metaThemeColor.setAttribute("content", "#2B3035"); 
            } else {
                document.documentElement.setAttribute('data-bs-theme', 'light');
                metaThemeColor.setAttribute("content", "#F6F7F9"); 
            }
        </script>          
    </head>
    <body class="d-flex flex-column h-100">
        <header class='mb-3'>
            {% include "navbar.html" %}
        </header>
        <main class="flex-shrink-0 mb-3 ms-2 me-2">
            {% block content %}
            {% endblock content %}
        </main>
        {% include "action_buttons.html" %}
        {% include "footer.html" %}
        <!-- JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                defer
                integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
                crossorigin="anonymous"></script>
        <script src="{% static 'js/script.js' %}" defer></script>
        {% block extra_scripts %}{% endblock extra_scripts %}
    </body>
</html>
