{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="dark">
    <head>
        <meta http-equiv="content-language" content="en-us">
        <meta name="theme-color" content="#ECEEEE">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="description"
              content="LʌvDB is a database of the things you love.">
        <meta name="keywords" content="lʌvdb, luvdb">
        {% block meta %}{% endblock %}
        <!-- Title -->
        <title>
            {% block title %}
                LʌvDB
            {% endblock title %}
        </title>
        <!-- Favicons -->
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static 'img/favicon-32x32.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static 'img/favicon-16x16.png' %}">
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static 'img/apple-touch-icon.png' %}">
        <link rel="manifest" href="{% url 'site-manifest' %}">
        <link rel="mask-icon"
              href="{% static 'img/safari-pinned-tab.svg' %}"
              color="#5bbad5">
        <link rel="icon"
              type="image/png"
              sizes="192x192"
              href="{% static 'img/android-chrome-192x192.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="512x512"
              href="{% static 'img/android-chrome-512x512.png' %}">
        <!-- External Stylesheets -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
              crossorigin="anonymous">
        <!-- Internal Stylesheets -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link id="pygments-css" rel="stylesheet" href="{% static 'css/pygments-dark.css' %}" defer="">        
        {% block extra_styles %}{% endblock extra_styles %}
        {% if not no_citation_css %}
            <link rel="stylesheet" href="{% static 'css/citation.css' %}" defer>
        {% endif %}
        <script>
            const pygmentsCssLight = "{% static 'css/pygments-light.css' %}";
            const pygmentsCssDark = "{% static 'css/pygments-dark.css' %}";
        </script>
        <script>
            function setTheme(theme) {
                document.documentElement.setAttribute('data-bs-theme', theme);
                metaThemeColor.setAttribute("content", theme === 'dark' ? "#2B3035" : "#ECEEEE");
                pygmentsCss.setAttribute("href", theme === 'dark' ? pygmentsCssDark : pygmentsCssLight);
            }
    
            function getSystemPreferredTheme() {
                return window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
            }
    
            const metaThemeColor = document.querySelector("meta[name='theme-color']");
            const pygmentsCss = document.getElementById('pygments-css');
            const savedTheme = localStorage.getItem('theme') || getSystemPreferredTheme();
            setTheme(savedTheme);
        </script>      
    </head>
    <body class="d-flex flex-column h-100">
        <header class='mb-3'>
            {% include "navbar.html" %}
        </header>
        <main class="flex-shrink-0 mb-3 ms-2 me-2">
            {% block content %}
            {% endblock content %}
        </main>
        {% include "action_buttons.html" %}
        {% include "footer.html" %}
        <!-- JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                defer
                integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
                crossorigin="anonymous"></script>
        <script src="{% static 'js/script.js' %}" defer></script>
        {% block extra_scripts %}{% endblock extra_scripts %}
    </body>
</html>
