<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted me-4">&copy; 2023-2025 LʌvDB 
            <span style="position: relative;font-size: 80%;">
                <sup style="position: absolute;top: -0.75em; ">Alpha</sup> 
                <sub style="position: absolute;top: 1em;" class="version">{{ version }} </sub>
            </span>
        </span>
        {% for title, url in page_links %}
            <a href="{{ url }}" class="text-muted ms-3">{{ title }}</a>
        {% endfor %}
    </div>
</footer>
