<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted me-4">&copy; 2023-2024 LʌvDB 
            <span style="position: relative;font-size: 80%;">
                <sup style="position: absolute;top: -0.75em; ">Alpha</sup> 
                <sub style="position: absolute;top: 1em;" class="version">{{ version }} </sub>
            </span>
        </span>
        <a href="/about" class="text-muted ms-3">About</a>
        <a href="/impressum/" class="text-muted ms-2">Impressum</a>
    </div>
</footer>
