<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted me-3">&copy; 2023-2024 LʌvDB 
            <span class="me-4" style="position: relative;font-size: 80%;">
                <sup style="position: absolute;top: -0.75em; ">Alpha</sup> 
                <sub style="position: absolute;top: 1em;" class="version">{{ version }} </sub>
            </span>
        </span>
        <a href="https://github.com/huangziwei/luvdb" class="text-muted me-3">Source</a>
        <a href="https://themarkup.org/blacklight?url=luvdb.com&device=desktop&location=us" class="text-muted me-3" target="_blank">No Tracking</a>
    </div>
</footer>
