<nav class="navbar navbar-expand-lg bg-light p-2"
     style="padding-top: env(safe-area-inset-top, 0)">
    <div>
        <a class="navbar-brand ms-2"
           href="{% url 'activity_feed:activity_feed' %}">LʌvDB</a>
    </div>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center"
         id="navbarSupportedContent">
        <ul class="navbar-nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 mr-auto align-items-center">
            <li class="nav-item">
                <a class="nav-link btn btn-sm btn-light"
                   href="{% url 'read:read_list' %}">Read</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-sm btn-light"
                   href="{% url 'watch:watch_list' %}">Watch</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-sm btn-light"
                   href="{% url 'listen:listen_list' %}">Listen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-sm btn-light"
                   href="{% url 'play:play_list' %}">Play</a>
            </li>
            <form class="d-flex" method="GET" action="{% url 'accounts:search' %}">
                <div class="input-group">
                    <select name="model"
                            id="model"
                            class="form-select form-select-sm"
                            style="max-width: 75px;
                                   font-size: 0.75em">
                        <option value="all">All</option>
                        <option value="read">Read</option>
                        <option value="watch">Watch</option>
                        <option value="listen">Listen</option>
                        <option value="play">Play</option>
                        <option value="write">Write</option>
                        <option value="person">Person</option>
                        <option value="user">User</option>
                    </select>
                    <input class="form-control"
                           type="search"
                           placeholder="Search"
                           aria-label="Search"
                           name="q">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </div>
            </form>
        </ul>
        {% comment %} <div class="col-auto">
            <button class="btn btn-dark shadow" id="btnSwitch">Toggle Mode</button>
        </div> {% endcomment %}
        {% if user.is_authenticated %}
            <div>
                <a href="{% url 'notify:notification_list' %}"
                   class="btn btn-sm btn-light">
                    Notifications
                    {% if new_notifications %}
                        ({{ new_notifications }})
                    {% endif %}
                </a>
            </div>
            <div class="dropdown text-end ms-3 me-3 text-center">
                <a href="#"
                   class="d-block link-dark text-decoration-none dropdown-toggle"
                   id="dropdownUser1"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">{{ user.display_name | default:user.username }}</a>
                <ul class="dropdown-menu text-small dropdown-menu-end"
                    aria-labelledby="dropdownUser1">
                    <li>
                        <a class="dropdown-item"
                           href="{% url 'accounts:detail' user.username %}">Profile</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                    </li>
                </ul>
            </div>
        {% else %}
            <div class="justify-content-center">
                <a href="{% url 'login' %}" class="btn btn-outline-primary me-2">Log
                In</a>
                <a href="{% url 'accounts:signup' %}" class="btn btn-primary">Sign Up</a>
            </div>
        {% endif %}
    </div>
</nav>
