{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load markdownify %}
{% load concat_sets %}
{% block meta %}
    <meta property="og:title" content="{{ object.title }}">
    {% if object.notes %}
        <meta property="og:description" content="{{ object.notes|truncatewords:150 }}">
    {% else %}
        <meta property="og:description" content="Check out {{ object.title }} on luvdb.com">
    {% endif %}
    {% if object.cover %}
        <meta property="og:image" content="{{ object.cover.url }}">
    {% endif %}
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="book">
{% endblock meta %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <!--Left columns-->
            <div class="col-sm-8">
                <!-- book-card -->
                <div class="book-card justify-content-start">
                    <div class="d-flex flex-column flex-lg-row mt-2">
                        <!--cover-box-->
                        <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                            <div class="read-cover-box">
                                {% if user.pure_text_mode %}
                                    <div class="cover-placeholder bg-light">{{ object.title }}</div>
                                {% else %}
                                    {% if object.cover %}
                                        {% if object.cover_sens %}
                                            <img src="{{ object.cover.url }}"
                                                    alt="{{ object.title }} cover"
                                                    class="img-fluid blur cover-border"
                                                    onclick="this.classList.toggle('blur')">
                                        {% else %}
                                            <img src="{{ object.cover.url }}"
                                                    alt="{{ object.title }}"
                                                    class="img-fluid cover-border"
                                                    onerror="this.onerror=null; this.parentNode.innerHTML='<div class=\'cover-placeholder\'>{{ object.title }}</div>';">
                                        {% endif %}
                                    {% else %}
                                        <div class="cover-placeholder bg-light">{{ object.title }}</div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <!--book-meta-->
                        <div class="col flex-grow-1 ms-lg-3">
                            <div class="card-body">
                                <span class='d-flex align-items-start'>
                                    <h2>{{ object.title }}</h2>
                                </span>
                                <div class="book-meta">
                                    {% if object.subtitle %}<p class='text-secondary'>{{ object.subtitle }}</p>{% endif %}
                                    {% for role_name, creator_altname_tuples in roles.items %}
                                        <p>
                                            <span class="text-muted">{{ role_name }}:</span>
                                            {% for creator, alt_name in creator_altname_tuples %}
                                                <a href="{% url 'entity:creator_detail' creator.id %}">{{ alt_name }}</a>
                                                {% if not forloop.last %}/{% endif %}
                                            {% endfor %}
                                        </p>
                                    {% endfor %}
                                    {% if object.publisher %}
                                        <p>
                                            <span class="text-muted">Publisher:</span>
                                            <a href="{% url 'entity:company_detail' object.publisher.id %}">
                                                {{ object.publisher.name }}
                                            </a>
                                        </p>
                                    {% endif %}
                                    {% if object.bookinseries_set.all %}
                                        <p>
                                            <span class="text-muted">Series:</span>
                                            {% for bookinseries in object.bookinseries_set.all %}
                                                <a href="{% url 'read:series_detail' bookinseries.series.id %}">{{ bookinseries.series.title }}</a> #{{ bookinseries.order }}
                                                {% if not forloop.last %}/{% endif %}
                                            {% endfor %}
                                        </p>
                                    {% endif %}
                                    {% if object.publication_date %}
                                        <p>
                                            <span class="text-muted">Date:</span> {{ object.publication_date }}
                                        </p>
                                    {% endif %}
                                    <div class="my-3">
                                        <p class="text-muted"
                                           type="button"
                                           data-bs-toggle="collapse"
                                           data-bs-target="#detailsCollapse"
                                           aria-expanded="false"
                                           aria-controls="detailsCollapse">
                                            <span class="text-muted">More Metadata</span>
                                        </p>
                                        <div class="collapse" id="detailsCollapse">
                                            {% if object.format %}
                                                <p>
                                                    <span class="text-muted">Format:</span> {{ object.format }}
                                                </p>
                                            {% endif %}
                                            {% if object.length %}
                                                <p>
                                                    <span class="text-muted">Length:</span> {{ object.length }}
                                                </p>
                                            {% endif %}
                                            {% if object.isbn_10 %}
                                                <p>
                                                    <span class="text-muted">ISBN-10:</span> {{ object.isbn_10 }}
                                                </p>
                                            {% endif %}
                                            {% if object.isbn_13 %}
                                                <p>
                                                    <span class="text-muted">ISBN-13:</span> {{ object.isbn_13 }}
                                                </p>
                                            {% endif %}
                                            {% if object.eisbn_13 %}
                                                <p>
                                                    <span class="text-muted">E-ISBN-13:</span> {{ object.eisbn_13 }}
                                                </p>
                                            {% endif %}
                                            {% if object.asin %}
                                                <p>
                                                    <span class="text-muted">ASIN:</span> {{ object.asin }}
                                                </p>
                                            {% endif %}
                                            {% if object.notes %}
                                                <span class="text-muted">Details:</span>
                                                <div class="card card-body">{{ object.notes|markdownify }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of book-card -->
                        </div>
                    </div>
                </div>
                <!--Book Check-In-->
                <div class="mt-4">
                    {% include "read/read_checkin_form.html" %}
                    <div class="d-flex justify-content-between mt-4 col-12 col-md-11">
                        <h4>Latest Check-Ins</h4>
                        <a class="btn btn-outline-secondary btn-sm"
                           href="{% url 'read:book_checkin_all_list' book.id %}"
                           style="height:30px">All</a>
                    </div>
                    {% include "read/read_checkin_in_entry_detail.html" %}
                </div>
                <hr>
            </div>
            <div class="d-flex flex-column col-sm-4">
                <!--Related instances / Edit -->
                {% if user.is_authenticated and not object.locked %}
                    <div class="bg-light p-3 mb-3 order-2 order-sm-1">
                        <a href="{% url 'read:book_update' object.id %}"
                           class='fs-6 text-secondary'>Edit book data</a>
                    </div>
                {% endif %}
                {% if object.bookinstance_set.count != 0 %}
                    <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                    {% if object.bookinstance_set.count == 1 %}
                            {% if object.bookinstance_set.first.instance.id %}
                                <h5>Work</h5>
                                <p>
                                    <a class="text-muted" href="{% url 'read:work_detail' object.bookinstance_set.first.instance.work.id %}">
                                        Other Editions
                                    </a>
                                </p>
                            {% endif %}
                        {% else %}
                        <div class="row">
                            <div class="d-flex align-items-center">
                                <h5 class="mb-0">Table of Content</h5>
                                <a class="text-muted mb-0 ms-1" type="button" data-bs-toggle="collapse" data-bs-target=".creditCollapse" aria-expanded="false" aria-controls="creditCollapse">
                                    (Show Credits)
                                </a>
                            </div>
                            <!--list all related instances by order-->
                            <div class="col-sm-12">
                                {% for book_instance in object.bookinstance_set.all %}
                                    <div class="related-instance">
                                        <div>
                                            {{book_instance.order}}.
                                            <a href="{% url 'read:work_detail' book_instance.instance.work.id %}">
                                                {{ book_instance.alt_title|default:book_instance.instance.title }}
                                            </a>
                                        </div>
                                        <!-- Hidden credit section -->
                                        <div class="collapse creditCollapse mb-2">
                                            <div class="ms-4">
                                                <!-- Assuming you have a way to access the roles related to book_instance -->
                                                {% for role in book_instance.instance.instancerole_set.all %}
                                                    {% if role.role.name == "Author" %}
                                                        <a href="{% url 'entity:creator_detail' role.creator.id %}" class="text-muted">{{ role.alt_name|default:role.creator.name }}</a>{% if not forloop.last %},{% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                                ({{ book_instance.publication_date|default:book_instance.instance.publication_date }})
                                            </div>
                                        </div>
                                    </div>
                                {% empty %}
                                    <p>No related instances found.</p>
                                {% endfor %}
                            </div>
                        </div>
                        
                        {% endif %}
                    </div>
                {% endif %}
                <!--Book Stats-->
                <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                    <h5>Statistics</h5>
                    <div>
                        <strong class="text-muted">To Read:</strong> <a href="{% url 'read:book_checkin_all_list' object.id %}?status=to_read">{{ to_read_count }}</a>
                    </div>
                    <div>
                        <strong class="text-muted">Reading:</strong> <a href="{% url 'read:book_checkin_all_list' object.id %}?status=reading_rereading">{{ reading_count }}</a>
                    </div>
                    <div>
                        <strong class="text-muted">Read:</strong> <a href="{% url 'read:book_checkin_all_list' object.id %}?status=read_reread">{{ read_count }}</a>
                    </div>
                </div>
                {% if object.internet_archive_url %}
                    <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                        <h5>Read on</h5>
                        <div>
                            <a href="{{ object.internet_archive_url }}">Internet Archive</a>
                        </div>
                    </div>
                {% endif %}
                {% if object.wikipedia %}
                    <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                        <h5>Links</h5>
                        <div>
                            <a href="{{ object.wikipedia }}">Wikipedia</a>
                        </div>
                    </div>
                {% endif %}
                {% if lists_containing_book.count != 0 %}
                    <!--LuvLists that included this book-->
                    <div class="bg-light p-3 mt-3 order-1 order-sm-2">
                        <h5>Lists</h5>
                        <div class='mb-0'>
                            {% for content_in_list in lists_containing_book %}
                                <div>
                                    <a href="{% url 'write:luvlist_detail' content_in_list.luv_list.id %}">{{ content_in_list.luv_list.title }}</a>
                                </div>
                                {% if not forloop.last %}<hr class="m-1">{% endif %}
                            {% empty %}
                                <div>This book is not included in any LuvLists.</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                <div class="bg-light p-3 mb-3 order-2 order-sm-3">
                    <div class="d-flex justify-content-start">
                        <h5 class="me-1">Contributors</h5>
                        (<a href="{% url 'read:book_history' object.pk %}" class="fs-6 text-secondary">Changelog</a>)
                    </div>
                    <div>
                        {% for contributor in contributors %}
                            <span>
                                <a href="{% url 'accounts:detail' contributor.username %}">
                                    {{ contributor.display_name|default:contributor.username }}
                                </a>
                            </span>
                            {% if not forloop.last %} / {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
