{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}New Book{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 left-column">
                <h3>Create a new Book entry</h3>
                {% include "read/book_form.html" %}
            </div>
            <div class="col-12 col-md-5 right-column">
                <div class="bg-light p-3">
                    <div class="fs-4">Guide</div>
                    <p>
                        You are creating a <strong>Book</strong> entry.
                    </p>
                    <p>
                        A <strong>Book</strong> is a physical copy in the <a href="https://en.wikipedia.org/wiki/BIBFRAME">3-level model</a> of the represention of books: <strong>Work</strong> > <strong>Instance</strong> > <strong>Book</strong>. This model enable us to create better linkage between different editions of a book, and build comprehensive bibliography for the author. 
                    </p>
                    <p>
                        A <strong>Book</strong> entry contains more information about the physical copy of the book, such as the ISBN, the publisher, the publication date, etc.
                    </p>
                    <p>
                        A <strong>Book</strong> can be linked to one Instances (e.g. a novel), or multiple instances (e.g. a compilation of short stories or essays). 
                    </p>
                    <div class="fs-4">Examples</div>

                    <ul>
                        <li>
                            This 2007 <a href="https://luvdb.com/read/book/162/">paperback</a> edition of <em>The Annotated Prided and Prejudice</em> is a reprint of the 2003 <a href="https://luvdb.com/read/book/161/">hardcover</a> edition, both are Books of <a href="https://luvdb.com/read/instance/53/">the same Instance</a>.
                        </li>
                        <li>
                            <a href="https://luvdb.com/read/book/63/"><em>All But Impossible</em></a> is a short story collection by <a href="https://luvdb.com/entity/creator/157/">Edward D. Hoch</a>, which links to 15 Instances of short stories.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
