{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}New Book{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-7 left-column">
            <h3>Create a new Book entry</h3>
            {% include "read/book_form.html" %}
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}

<script type="text/javascript" src="{% static 'js/generalFormsetHandler.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    
        // Call the function for book-role-formset and book-work-formset
        window.handleFormset('#book-role-formset', 'add-book-role');
        window.handleFormset('#book-instance-formset', 'add-book-instance');
    });
    
    $(document).ready(function() {
        $('select:not([name="model"])').removeClass('form-select');
    });
    
</script>

{% endblock content %}
