{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <h2>Update Book entry: {{ object.title }}</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.title|as_crispy_field }}
                {{ bookroles.management_form|crispy }}
                <div id="book-role-formset">
                    {% for form in bookroles %}
                        <div class="row">
                            <div class="col-md-5 mb-5">
                                {{ form.person | as_crispy_field}}
                                <a href="{% url 'read:person_create' %}?next={{ request.path }}" class="text-secondary" target="_blank">Add a new person?</a>
                            </div>
                            <div class="col-md-5 mb-5">
                                {{ form.role | as_crispy_field}}
                                <a href="{% url 'read:role_create' %}?next={{ request.path }}" class="text-secondary" target="_blank">Add a new role?</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {{ form.publication_date|as_crispy_field }}
                {{ form.description|as_crispy_field }}
                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ bookroles.media }}

<script type="text/javascript" src="{% static 'js/book.js' %}"></script>


{% endblock %}
