{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load concat_sets %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!--Left columns-->
        <div class="col-sm-8">
            <!-- book-card -->
            <div class="book-card justify-content-start">
                <div class="row">
                    <!--cover-box-->
                    <div class="col-md-3 me-4">
                        <div class="cover-box">
                            {% if object.cover %}
                                <img src="{{ object.cover.url }}" alt="{{ object.title }} cover" class="cover-image">
                            {% else %}
                                <p class="no-cover-text">No Cover</p>
                            {% endif %}
                        </div>
                    </div>
                    <!--book-meta-->
                    <div class="col-md-8">
                        <div class="card-body">
                            <span class='d-flex align-items-start'>
                                <h2>{{ object.title }} </h2>
                            </span>
                            
                            <div class="book-meta">
                                {% if object.subtitle %}<p class='text-secondary'>{{ object.subtitle }}</p>{% endif %}
                                {% for role_name, person_altname_tuples in roles.items %}
                                    <p>
                                        <strong>{{ role_name }}:</strong> 
                                        {% for person, alt_name in person_altname_tuples %}
                                            <a href="{% url 'entity:person_detail' person.id %}">{{ alt_name }}</a>
                                            {% if not forloop.last %} / {% endif %}
                                        {% endfor %}
                                    </p>
                                {% endfor %}
                                {% if object.publisher %}
                                    <p>
                                        <strong>Publisher:</strong>
                                        <a href="{% url 'read:publisher_detail' object.publisher.id %}">
                                            {% if object.publisher.location %}{{ object.publisher.location }}: {% endif %} 
                                            {{ object.publisher.name }}
                                        </a>
                                    </p>
                                {% endif %}
                                {% if object.publication_date %}
                                    <p><strong>Date:</strong> {{ object.publication_date }}</p>
                                {% endif %}
                                {% if object.format %}
                                    <p><strong>Format:</strong> {{ object.format }}</p>
                                {% endif %}
                                {% if object.pages %}
                                    <p><strong>Pages:</strong> {{ object.pages }}</p>
                                {% endif %}
                                {% if object.isbn_10 %}
                                    <p><strong>ISBN-10:</strong> {{ object.isbn_10 }}</p>
                                {% endif %}
                                {% if object.isbn_13 %}
                                    <p><strong>ISBN-13:</strong> {{ object.isbn_13 }}</p>
                                {% endif %}
                                {% if object.asin %}
                                    <p><strong>ASIN:</strong> {{ object.asin }}</p>
                                {% endif %}
                                
                            </div>
                        </div>
                        <!-- End of book-card -->
                    </div>
                </div>       
            </div>

            <!--Book Check-In-->
            <div class="mt-4">
                {% include "read/read_checkin_form.html" %}

                <div class="d-flex justify-content-between mt-4 col-11">
                    <h4>Latest Check-Ins</h4>
                    <a class="btn btn-outline-secondary btn-sm" href="{% url 'read:read_checkin_all_list' book.id %}" style="height:30px">All</a>
                </div>
            
                {% include "read/read_checkin_in_book_detail.html" %}
            </div>
        </div>

            
        <div class="col-sm-4">
            <!--Related instances / Edit -->
            <div class="bg-light p-3">
                <div>
                    {% if object.bookinstance_set.count < 2 %}
                        {% if object.bookinstance_set.first.instance.id %}
                        <p><strong>Related Instance:</strong> 
                            <a href="{% url 'read:instance_detail' object.bookinstance_set.first.instance.id %}">
                                {{ object.bookinstance_set.first.alt_title|default:object.bookinstance_set.first.instance.title }}
                            </a>
                        </p>
                        {% endif %}
                    {% else %}
                        <div class="row">
                            <h5>Table of Content</h5>
                            <!--list all related instances by order-->
                            <div class="col-sm-12">
                                {% for book_instance in object.bookinstance_set.all %}
                                    <div class="related-instance"> 
                                        <p>
                                            <a href="{% url 'read:instance_detail' book_instance.instance.id %}">
                                                {{ book_instance.alt_title|default:book_instance.instance.title }}
                                            </a> 
                                            ({% if book_instance.role %}{{ book_instance.role.name }}: 
                                                <a href="{% url 'entity:person_detail' book_instance.person.id %}">
                                                    {{ book_instance.name|default:book_instance.person.name }}
                                                </a>
                                                , 
                                            {% endif %}{{ book_instance.publication_date|default:book_instance.instance.publication_date }})
                                        </p>
                                    </div>
                                {% empty %}
                                    <p>No related instances found.</p>
                                {% endfor %}
                            </div>
                        </div>   
                    {% endif %}
        
                    {% if user.is_authenticated %}
                        <div class="mt-3">
                            <a href="{% url 'read:book_update' object.pk %}" class='fs-6 text-secondary'>Edit book data</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        

            <!--Book Stats-->
            <div class="bg-light p-3 mt-3">
                <h5>Book Statistics</h5>
                <p><strong>To Read:</strong> {{ to_read_count }}</p>
                <p><strong>Reading:</strong> {{ reading_count }}</p>
                <p><strong>Read:</strong> {{ read_count }}</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
