{% load static %}
{% load crispy_forms_tags %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.title|as_crispy_field }}
    {{ form.subtitle|as_crispy_field }}
    {{ form.cover|as_crispy_field }}
    {{ form.cover_sens|as_crispy_field }}
    {{ form.publisher|as_crispy_field }}
    {{ form.language|as_crispy_field }}
    {{ form.notes|as_crispy_field }}
    {{ form.publication_date|as_crispy_field }}
    {{ form.format|as_crispy_field }}
    {{ form.length|as_crispy_field }}
    {{ form.price|as_crispy_field }}
    {{ form.isbn_10|as_crispy_field }}
    {{ form.isbn_13|as_crispy_field }}
    {{ form.eisbn_13|as_crispy_field }}
    {{ form.asin|as_crispy_field }}
    {{ form.internet_archive_url|as_crispy_field }}
    {{ form.wikipedia|as_crispy_field }}
    {{ bookroles.management_form|crispy }}
    <div id="book-role-formset" class="bg-light p-3 mb-3">
        <strong>Entities related to this book</strong>
        <p class="text-muted">E.g. Authors, Editors, Illustrators, etc.</p>
        <div id="bookrole_set">
            {% for form in bookroles %}
            <div class="form-wrapper">
                <div class="row">
                    {{ form.id }} {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    <div class="col-md-4 mb-3">{{ form.creator | as_crispy_field }}</div>
                    <div class="col-md-4 mb-3">
                        {{ form.role | as_crispy_field }} {{ form.domain | as_crispy_field }}
                    </div>
                    <div class="col-md-4 mb-3">{{ form.alt_name | as_crispy_field }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Button to add new formsets -->
        <button type="button" id="add-book-role-formset" class="btn btn-secondary mt-2">Add More</button>
    </div>
    {{ bookinstances.management_form|crispy }}
    <div id="book-instance-formset" class="bg-light p-3 mb-3">
        <strong>Instances related to this book</strong>
        <p class='text-muted'>
            An "Instance" is any representation of a literature work, e.g. the original version, revised version, or translation, etc.
        </p>
        <div id="bookinstance_set">
            {% for form in bookinstances %}
                <div class="form-wrapper">
                    <div class="row">
                        {{ form.id }}
                        <div class="col-md-10">
                            {{ form.instance | as_crispy_field }}
                        </div>
                        <div class="col-md-2">{{ form.order | as_crispy_field }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- Button to add new formsets -->
        <button type="button" id="add-book-instance-formset" class="btn btn-secondary mt-2">Add More</button>
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
</form>
{% if form.errors %}
    <div class="alert alert-danger mt-5">
        <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}<li>{{ field }}: {{ error }}</li>{% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}
<script src="{% static 'js/FormsetHandler.js' %}"></script>
<script>
    initFormset('add-book-role-formset', 'bookrole_set');
    initFormset('add-book-instance-formset', 'bookinstance_set');
</script>