{% load markdownify %}
{% load linkify %}
<div class="col-sm-12">
    {% for checkin in checkins %}
        <div class="checkin mb-4">
            <div class="align-items-center">
                <span class='me-2'>
                    <a href="{% url 'accounts:detail' checkin.author.username %}">
                        {{ checkin.author.display_name|default:checkin.author.username }}
                    </a>
                </span>
                <!--badge: checkin status-->
                {% if checkin.status == "to_read" %}
                <span class="badge text-bg-info me-2">
                {% elif checkin.status == "currently_reading" %}
                <span class="badge text-bg-primary me-2">    
                {% elif checkin.status == "finished_reading" %}
                <span class="badge text-bg-success me-2"> 
                {% elif checkin.status == "paused" %}
                <span class="badge text-bg-warning me-2"> 
                {% elif checkin.status == "abandoned" %}
                <span class="badge text-bg-danger me-2"> 
                {% elif checkin.status == "rereading" %}
                <span class="badge text-bg-primary me-2"> 
                {% elif checkin.status == "finished_rereading" %}
                <span class="badge text-bg-success me-2">    
                {% endif %}
                    Status: {{ checkin.get_status_display }}
                </span>
                {% if checkin.progress %}
                <span class="badge text-bg-warning me-2">
                    Progress: {{ checkin.progress }} 
                    {% if checkin.progress_type == "PG" %}
                        Page
                    {% else %}
                        %
                    {% endif %}
                </span>
                {% endif %}
                <span>
                    <a class="text-secondary" href="{% url 'read:book_checkin_list' book.id checkin.author.username %}">
                        {{ checkin.timestamp|date:"Y.m.d H:i"  }}
                    </a>
                </span>

            </div>
            {% if checkin.content %}
            <p>{{ checkin.content | linkify_tags | linkify_mentions | markdownify }}</p>
            {% endif %}
            
        </div>
    {% empty %}
        <p>No check-ins yet.</p>
    {% endfor %}
</div>