{% extends "base.html" %}

{% block content %}
<div class="container">
    <span class='d-flex align-items-start'>
        <h2>{{ object.title }} ({{ object.publication_date }})</h2>
        {% if user.is_authenticated %}
        <a href="{% url 'read:edition_update' object.pk %}" class='fs-6 text-secondary'>Edit Edition</a>
        {% endif %}
    </span>
    
    {% for role in object.editionrole_set.all %}
    <p>
        <a href="{% url 'entity:person_detail' role.person.id %}">{{ role.person.name }}</a> ({{ role.person.romanized_name }}) 
    </p>
    {% endfor %}


    <h3>Books</h3>
    <div class="row">
        {% for book in object.books.all %}
        <div class="col-md-4">
            <p>
                <a href="{% url 'read:book_detail' book.pk %}">{{ book.title }}</a>
                ({{ book.publication_date }})
            </p>
        </div>
        {% empty %}
        <p>This edition has no related books.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
