{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}New Edition{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-7 left-column">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.edition_title|as_crispy_field }}
                {{ form.book|as_crispy_field }}
                {{ editionroles.management_form|crispy }}
                <div id="edition-role-formset">
                    {% for form in editionroles %}
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                {{ form.person | as_crispy_field}}
                                <a href="{% url 'read:person_create' %}?next={{ request.path }}" class="text-secondary" target="_blank">Add a new person?</a>
                            </div>
                            <div class="col-md-4 mb-3">
                                {{ form.role | as_crispy_field}}
                                <a href="{% url 'read:role_create' %}?next={{ request.path }}" class="text-secondary" target="_blank">Add a new role?</a>
                            </div>
                            <div class="col-md-3 mb-3">
                                {{ form.name | as_crispy_field}}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {{ form.cover|as_crispy_field}}
                <div class="mb-3">
                    {{ form.publisher|as_crispy_field }}
                    <a href="{% url 'read:publisher_create' %}?next={{ request.path }}" class="text-secondary" target="_blank">Add a new publisher?</a>                   
                </div>
                {{ form.language|as_crispy_field}}
                {{ form.details|as_crispy_field }}
                {{ form.publication_date|as_crispy_field }}
                {{ form.edition_format|as_crispy_field }}
                {{ form.pages|as_crispy_field }}
                {{ form.price|as_crispy_field }}
                {{ form.isbn_10|as_crispy_field }}
                {{ form.isbn_13|as_crispy_field }}
                {{ form.asin|as_crispy_field }}
                
                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}

<script type="text/javascript" src="{% static 'js/edition.js' %}"></script>

{% endblock content %}
