{% extends "base.html" %}

{% block content %}
<div class="container">
    <span class='d-flex align-items-start'>
        <h2>{{ object.title }} ({{ object.publication_date }})</h2>
        {% if user.is_authenticated %}
        <a href="{% url 'read:instance_update' object.pk %}" class='fs-6 text-secondary'>Edit Instance</a>
        {% endif %}
    </span>
    
    {% for role in object.instancerole_set.all %}
    <p>
        {{role.role.name }}: <a href="{% url 'entity:person_detail' role.person.id %}"> {{ role.person.name }}</a> 
        {% if role.person.romanized_name %}
            ({{ role.person.romanized_name }}) 
        {% endif %}
    </p>
    {% endfor %}

    {% if object.work.id %}
    <p>
        Related work: <a href={% url "read:work_detail" object.work.id %}>{{object.work.title}}</a>
        {% if object.work.publication_date %}
            ({{object.work.publication_date}})
        {% endif %}
    </p>
    {% endif %}

    <h3>Books</h3>
    <div class="row">
        {% for book in object.books.all %}
        <div class="col-md-4">
            <p>
                <a href="{% url 'read:book_detail' book.pk %}">{{ book.title }}</a>
                ({{ book.publication_date }})
            </p>
        </div>
        {% empty %}
        <p>This instance has no related books.</p>
        {% endfor %}
        
    </div>

    <br>

    <h3>Periodicals</h3>
    <div class="row">
        {% for issue in object.issues.all %}
        <div class="col-md-4">
            <p>
                <a href="{% url 'read:issue_detail' issue.periodical.pk issue.pk %}">{{ issue.title }}</a>
                , {{ issue.periodical.title }}
                ({{ issue.publication_date }})
            </p>
        </div>
        {% empty %}
        <p>This instance has no related periodical issues.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
