{% extends "base.html" %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <!--Left columns-->
            <div class="col-sm-8">
                <h2>{{ object.title }}</h2>
                {% if object.subtitle %}<p class='text-secondary'>{{ object.subtitle }}</p>{% endif %}
                {% for role, persons_altname_tuples in grouped_roles.items %}
                    <div>
                        <span class="text-muted">{{ role }}:</span>
                        {% for person, name in persons_altname_tuples %}
                            <a href="{% url 'entity:person_detail' person.id %}">{{ name }}</a>
                            {% if not forloop.last %}/{% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
                {% if object.edition %}
                <div>
                    <span class="text-muted">Edition:</span>
                    {{ object.edition }}
                </div>
                {% endif %}
                {% if object.publication_date %}
                    <div>
                        <span class="text-muted">Publication Date:</span>
                        {{ object.publication_date }}
                    </div>
                {% endif %}
                {% if books %}
                    <div class="mt-3">
                        <h3>Books</h3>
                        <ul>
                            {% for book in books %}
                                <li>
                                    <a href="{% url 'read:book_detail' book.pk %}">{{ book.title }}</a>
                                    {% if book.subtitle %}: {{ book.subtitle }}{% endif %}
                                    {# djlint:off #}
                                    ({% if book.publisher %}{{ book.publisher }}, {% endif %}{% if book.format %}{{ book.format }},{% endif %}{{ book.publication_date }})
                                    {# djlint:on #}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if issues %}
                    <div>
                        <h3>Periodicals</h3>
                        <ul>
                            {% for issue in issues %}
                                <li>
                                    <a href="{% url 'read:issue_detail' issue.periodical.pk issue.pk %}">
                                        {% if issue.title %}{{ issue.title }},{% endif %}
                                        {% if issue.volume %}Vol. {{ issue.volume }}{% endif %}
                                        {% if issue.volume %}Issue {{ issue.number }}{% endif %}
                                    </a>,
                                    <a href="{% url 'read:periodical_detail' issue.periodical.pk %}">{{ issue.periodical.title }}</a>
                                    ({{ issue.publication_date }})
                                </li>
                            {% empty %}
                                <p>This instance has no related periodical issues.</p>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            <!--Right columns-->
            <div class="col-sm-4">
                <!--Related Work / Edit -->
                {% if user.is_authenticated %}
                    <div class="bg-light p-3 mb-3">
                        <a href="{% url 'read:instance_update' object.pk %}"
                           class='fs-6 text-secondary'>Edit Instance</a>
                        <br>
                        <a href="{% url 'read:book_create' %}" class='fs-6 text-secondary'>Add Book</a>
                    </div>
                {% endif %}
                {% if object.work.id %}
                    <div class="bg-light p-3">
                        <h5>Work</h5>
                        <div>
                            <a href={% url "read:work_detail" object.work.id %}>{{ object.work.title }}</a>
                            {% if object.work.publication_date %}({{ object.work.publication_date }}){% endif %}
                        </div>
                    </div>
                {% endif %}
                {% if object.wikipedia %}
                    <div class="bg-light p-3 mb-3">
                        <h5>Links</h5>
                        <div>
                            <a href="{{ object.wikipedia }}">Wikipedia</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
