{% extends "base.html" %}

{% block content %}
<div class="container">

    <div class="row">
        <!--Left columns-->
        <div class="col-sm-8">
            <h2>{{ object.title }} ({{ object.publication_date }})</h2>
            {% if object.subtitle %}<p class='text-secondary'>{{ object.subtitle }}</p>{% endif %}
            
            {% for role_name, roles in roles_by_name.items %}
            <p>
                {{ role_name }}{% if roles|length > 1 %}s{% endif %}:
                {% for role in roles %}
                    <a href="{% url 'entity:person_detail' role.person.id %}"> {{ role.person.name }}</a>
                    {% if role.person.romanized_name %}
                        ({{ role.person.romanized_name }}) 
                    {% endif %}
                    {% if not forloop.last %} / {% endif %}
                {% endfor %}
            </p>
            {% endfor %}

            {% if object.work.id %}
            <p>
                Related work: <a href={% url "read:work_detail" object.work.id %}>{{object.work.title}}</a>
                {% if object.work.publication_date %}
                    ({{object.work.publication_date}})
                {% endif %}
            </p>
            {% endif %}

            {% if books %}
            <h3>Books</h3>
            <div class="row">
                <ul>
                {% for book in books %}
                    <li>
                        <a href="{% url 'read:book_detail' book.pk %}">{{ book.title }}</a>{% if book.subtitle %}: {{book.subtitle}}{% endif %} 
                        ({{ book.publication_date }})
                    </li>
                {% empty %}
                <p>This instance has no related books.</p>
                {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if issues %}
            <h3>Periodicals</h3>
            <div class="row">
                <ul>
                {% for issue in issues %}
                    <li>
                        <a href="{% url 'read:issue_detail' issue.periodical.pk issue.pk %}">{{ issue.title }}</a>
                        , 
                        <a href="{% url 'read:periodical_detail' issue.periodical.pk %}">{{ issue.periodical.title }}</a>
                        
                        ({{ issue.publication_date }})
                    </li>
                {% empty %}
                <p>This instance has no related periodical issues.</p>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

        <!--Right columns-->
        <div class="col-sm-4">
            <!--Related Work / Edit -->
            <div class="bg-light p-3">
                {% if user.is_authenticated %}
                <div>
                    <a href="{% url 'read:instance_update' object.pk %}" class='fs-6 text-secondary'>Edit Instance</a>
                </div>
                <div>
                    <a href="{% url 'read:book_create'%}" class='fs-6 text-secondary'>Add Book</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
