{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}New Issue{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-7 left-column">
                <h3>Create Issue for "{{ form.initial.periodical.title }}"</h3>
                {% include "read/periodical_issue_form.html" %}
            </div>
        </div>
    </div>
    <script type="text/javascript"
            src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {{ issueinstances.media }}
    <script type="text/javascript"
            src="{% static 'js/generalFormsetHandler.js' %}"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Call the function for work-role-formset
      window.handleFormset('#issue-instance-formset', 'add-issue-instance');
  });
    
    $(document).ready(function() {
        $('select:not([id="id_periodical"], [name="model"], [name="publisher"])').removeClass('form-select');
    });
    </script>
{% endblock %}
