{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ issue.title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!--Left columns-->
        <div class="col-sm-8">
            <!-- issue-card -->
            <div class="issue-card justify-content-start">
                <div class="d-flex flex-column flex-lg-row mt-2">
                    <!--cover-box-->
                    <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                        <div class="read-cover-box">
                            {% if issue.cover %}
                                {% if issue.cover_sens %}
                                    <img src="{{ issue.cover.url }}" alt="{{ issue.title }} cover" class="img-fluid blur" onclick="this.classList.toggle('blur')">
                                {% else %}
                                    <img src="{{ issue.cover.url }}" alt="{{ issue.title }} cover" class="img-fluid">
                                {% endif %}
                            {% else %}
                                <p class="no-cover-text">No Cover</p>
                            {% endif %}
                        </div>
                    </div>
                    <!--issue-meta-->
                    <div class="col flex-grow-1 ms-lg-3">
                        <div class="card-body">
                            <span class='d-flex align-items-start'>
                                <h3>{{ issue.periodical.title }}: {{ issue.title }} </h3>
                            </span>
                            
                            <div class="issue-meta">
                                {% if issue.number %}
                                    <p><strong>Number:</strong> {{ issue.number }}</p>
                                {% endif %}
                                {% if issue.volume %}
                                    <p><strong>Volume:</strong> {{ issue.volume }}</p>
                                {% endif %}
                                {% if issue.publication_date %}
                                    <p><strong>Date:</strong> {{ issue.publication_date }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <!-- End of issue-card -->
                    </div>
                </div>       
            </div>

            <!--Book Check-In-->
            <div class="mt-4">
                {% if user.is_authenticated %}
                    {% include "read/read_checkin_form.html" %}
                {% endif %}

                <div class="d-flex justify-content-between mt-4 col-11">
                    <h4>Latest Check-Ins</h4>
                    <a class="btn btn-outline-secondary btn-sm" href="{% url 'read:issue_checkin_all_list' object.periodical.id object.id %}" style="height:30px">All</a>
                </div>
            
                {% include "read/read_checkin_in_entry_detail.html" %}
            </div>
        </div>
            
        <div class="col-sm-4">
            <!--Related instances / Edit -->
            <div class="bg-light p-3">
                <!-- Related instances or issues etc. -->
                {% if object.issueinstance_set.count < 2 %}
                        {% if object.issueinstance_set.first.instance.id %}
                        <p><strong>Related Instance:</strong> 
                            <a href="{% url 'read:instance_detail' object.issueinstance_set.first.instance.id %}">
                                {{ object.issueinstance_set.first.alt_title|default:object.issueinstance_set.first.instance.title }}
                            </a>
                        </p>
                        {% endif %}
                    {% else %}
                        <div class="row">
                            <h5>Table of Content</h5>
                            <!--list all related instances by order-->
                            <div class="col-sm-12">
                                {% for book_instance in object.issueinstance_set.all %}
                                    <div class="related-instance"> 
                                        <p>
                                            <a href="{% url 'read:instance_detail' book_instance.instance.id %}">
                                                {{ book_instance.alt_title|default:book_instance.instance.title }}
                                            </a> 
                                            ({% if book_instance.role %}{{ book_instance.role.name }}: 
                                                <a href="{% url 'entity:person_detail' book_instance.person.id %}">
                                                    {{ book_instance.name|default:book_instance.person.name }}
                                                </a>
                                                , 
                                            {% endif %}{{ book_instance.publication_date|default:book_instance.instance.publication_date }})
                                        </p>
                                    </div>
                                {% empty %}
                                    <p>No related instances found.</p>
                                {% endfor %}
                            </div>
                        </div>   
                    {% endif %}

                {% if user.is_authenticated %}
                    <div class="mt-3">
                        <a href="{% url 'read:issue_update' issue.periodical.id issue.pk %}" class='fs-6 text-secondary'>Edit issue data</a>
                    </div>
                {% endif %}
            </div>
        
            <!--Issue Stats -->
            <div class="bg-light p-3 mt-3">
                <h5>Statistics</h5>
                <p><strong>To Read:</strong> <a href="{% url 'read:issue_checkin_all_list' object.periodical.id object.id %}?status=to_read">{{ to_read_count }}</a></p>
                <p><strong>Reading:</strong> <a href="{% url 'read:issue_checkin_all_list' object.periodical.id object.id %}?status=reading_rereading">{{ reading_count }}</a></p>
                <p><strong>Read:</strong> <a href="{% url 'read:issue_checkin_all_list' object.periodical.id object.id %}?status=read_reread">{{ read_count }}</a></p>
            </div>

            {% if lists_containing_issue.count != 0 %}
            <!--LuvLists that included this issue-->
            <div class="bg-light p-3 mt-3">
                <h5>Lists</h5>
                <ul class='mb-0'>
                {% for content_in_list in lists_containing_issue %}
                    <li>
                        <a href="{% url 'write:luvlist_detail' content_in_list.luv_list.id %}">
                            {{ content_in_list.luv_list.title }}
                        </a>
                    </li>
                {% empty %}
                    <p>This issue is not included in any LuvLists.</p>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
