{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    Update Periodical
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 left-column">
                <h3>Update Periodical entry</h3>
                {% include "read/periodical_form.html" %}
            </div>
            <div class="col-12 col-md-5 right-column">
                <div class="bg-light p-3">
                    <div class="fs-4">Guide to Updating a Periodical</div>
                    <div class="fs-5">Periodical: The Published Entity</div>
                    <p>
                        You can edit the details of the existing Periodical here. Ensure that the changes are accurate and reflect the current state of the Periodical.
                    </p>
                    <div class="fs-5">What to Modify in a Periodical</div>
                    <p>
                        Change any relevant information about the Periodical like its title, subtitle, frequency, ISSN, or any other fields that require updates.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript"
            src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {{ form.media }}
{% endblock content %}
