{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block meta %}
    <meta property="og:title" content="{{ issue.title }}">
    {% if object.notes %}
        <meta property="og:description" content="{{ issue.description|truncatewords:150 }}">
    {% else %}
        <meta property="og:description" content="Check out {{ issue.title }} on luvdb.com">
    {% endif %}
    {% if object.cover %}
        <meta property="og:image" content="{{ object.cover.url }}">
    {% endif %}
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="book">
{% endblock meta %}
{% block title %}Vol. {{ issue.volume }} Nr. {{ issue.number }} - {{ issue.periodical.title }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <!--Left columns-->
            <div class="col-sm-8">
                <!-- issue-card -->
                <div class="issue-card justify-content-start">
                    <div class="d-flex flex-column flex-lg-row mt-2">
                        <!--cover-box-->
                        <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                            <div class="read-cover-box">
                                {% if user.pure_text_mode %}
                                    <div class="cover-placeholder bg-light">{{ issue.periodical.title }} Vol. {{ issue.volume }} Nr. {{ issue.number }}</div>
                                {% else %}
                                    {% if issue.cover %}
                                        {% if issue.cover_sens %}
                                            <img src="{{ issue.cover.url }}"
                                                    alt="{{ issue.title }} cover"
                                                    class="img-fluid blur cover-border"
                                                    onclick="this.classList.toggle('blur')">
                                        {% else %}
                                            <img src="{{ issue.cover.url }}"
                                                    alt="{{ issue.title }}"
                                                    class="img-fluid cover-border"
                                                    onerror="this.onerror=null; this.parentNode.innerHTML='<div class=\'cover-placeholder\'>{{ issue.periodical.title }} Vol. {{ issue.volume }} Nr. {{ issue.number }}</div>';">
                                        {% endif %}
                                    {% else %}
                                        <div class="cover-placeholder bg-light">{{ issue.periodical.title }} Vol. {{ issue.volume }} Nr. {{ issue.number }}</div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <!--issue-meta-->
                        <div class="col flex-grow-1 ms-lg-3">
                            <div class="card-body">
                                <span class='align-items-start'>
                                    <div class="fs-4">
                                        <a href="{% url 'read:periodical_detail' issue.periodical.id %}">{{ issue.periodical.title }}</a>
                                    </div>
                                    <div class="text-muted fs-5">Vol. {{ issue.volume }} Nr. {{ issue.number }}</div>
                                </span>
                                <div class="issue-meta mt-3">
                                    {% if issue.publication_date %}<p class='text-secondary'>Date: {{ issue.publication_date }}</p>{% endif %}
                                    {% if issue.publisher %}
                                    <p class='text-secondary'>Publisher: 
                                        <a href="{% url 'entity:company_detail' issue.publisher.id %}">{{ issue.publisher }}</a>
                                    </p>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- End of issue-card -->
                        </div>
                    </div>
                </div>
                <!--Book Check-In-->
                <div class="mt-4">
                    {% include "read/read_checkin_form.html" %}
                    <div class="d-flex justify-content-between mt-4 col-12 col-md-11">
                        <div class="fs-4">Latest Check-Ins</div>
                        <a class="btn btn-outline-secondary btn-sm"
                           href="{% url 'read:issue_checkin_all_list' object.periodical.id object.id %}"
                           style="height:30px">All</a>
                    </div>
                    {% include "read/read_checkin_in_entry_detail.html" %}
                </div>
                <hr>
            </div>
            <div class="col-sm-4">
                {% if user.is_authenticated and not issue.locked %}
                    <div class="bg-light p-3 mb-3">
                        <a href="{% url 'read:issue_update' issue.periodical.id issue.pk %}"
                           class='fs-6 text-secondary'>Edit issue data</a>
                    </div>
                {% endif %}
                <!--Related instances / Edit -->
                {% if object.issueinstance_set.count != 0 %}
                <div class="bg-light p-3">
                    <!-- Related instances or issues etc. -->
                    <div class="row">
                        <div class="d-flex align-items-center">
                            <div class="fs-5">Table of Content</div>
                            <a class="text-muted ms-1" type="button" data-bs-toggle="collapse" data-bs-target=".creditCollapse" aria-expanded="false" aria-controls="creditCollapse">
                                (Show Credits)
                            </a>
                        </div>
                        <!--list all related instances by order-->
                        <div class="col-sm-12">
                            {% for issueinstance in object.issueinstance_set.all %}
                                <div class="related-instance">
                                    <div>
                                        <a href="{% url 'read:instance_detail' issueinstance.instance.id %}">
                                            {{ issueinstance.alt_title|default:issueinstance.instance.title }}
                                        </a>
                                    </div>
                                    <!-- Hidden credit section -->
                                    <div class="collapse creditCollapse mb-2">
                                        <div class="ms-4">
                                            {% for role in issueinstance.instance.instancerole_set.all %}
                                                {% if role.role.name == "Author" %}
                                                    <a href="{% url 'entity:creator_detail' role.creator.id %}" class="text-muted">{{ role.alt_name|default:role.creator.name }}</a>{% if not forloop.last %},{% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            ({{ issueinstance.publication_date|default:issueinstance.instance.publication_date }})
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <p>No related instances found.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
            

                <!--Issue Stats -->
                <div class="bg-light p-3 mt-3">
                    <div class="fs-5">Statistics</div>
                    <div>
                        <strong class="text-muted">To Read:</strong> <a href="{% url 'read:issue_checkin_all_list' object.periodical.id object.id %}?status=to_read">{{ to_read_count }}</a>
                    </div>
                    <div>
                        <strong class="text-muted">Reading:</strong> <a href="{% url 'read:issue_checkin_all_list' object.periodical.id object.id %}?status=reading_rereading">{{ reading_count }}</a>
                    </div>
                    <div>
                        <strong class="text-muted">Read:</strong> <a href="{% url 'read:issue_checkin_all_list' object.periodical.id object.id %}?status=read_reread">{{ read_count }}</a>
                    </div>
                </div>
                {% if issue.internet_archive_url %}
                    <div class="bg-light p-3 mt-3">
                        <div class="fs-5">Read on</div>
                        <div>
                            <a href="{{ issue.internet_archive_url }}">Internet Archive</a>
                        </div>
                    </div>
                {% endif %}
                {% if lists_containing_issue.count != 0 %}
                    <!--LuvLists that included this issue-->
                    <div class="bg-light p-3 mt-3">
                        <div class="fs-5">Lists</div>
                        <ul class='mb-0'>
                            {% for content_in_list in lists_containing_issue %}
                                <li>
                                    <a href="{% url 'write:luvlist_detail' content_in_list.luv_list.user.username content_in_list.luv_list.id %}">{{ content_in_list.luv_list.title }}</a>
                                </li>
                                {% if not forloop.last %}<hr class="m-1">{% endif %}
                            {% empty %}
                                <p>This issue is not included in any LuvLists.</p>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="bg-light p-3 mt-3 order-2 order-sm-3">
                    <div class="d-flex justify-content-start align-items-center flex-wrap">
                        <div class="me-1 fs-5">Contributors</div>
                        <div>(<a href="{% url 'read:issue_history' issue.periodical.pk issue.pk %}" class="fs-6 text-secondary">Changelog</a>)</div>
                    </div>
                    <div>
                        {% for contributor in contributors %}
                            <span>
                                <a href="{% url 'accounts:detail' contributor.username %}">
                                    {{ contributor.display_name|default:contributor.username }}
                                </a>
                            </span>
                            {% if not forloop.last %} / {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
