{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
    <h2>{{ object.name }} / {{ object.romanized_name }}</h2> 
    <span class="text-secondary">
        {% if object.birth_date %}({{ object.birth_date }}-{% endif %}{% if object.death_date %}{{ object.death_date }}{% endif %})
    </span>
    {% if object.bio %}
        <p>{{ object.bio }}</p>
    {% endif %}

    <h3>Bibliography</h3>
    <ul>
    {% for book in object.books.all %}
        <li>
            <a href="{% url 'read:book_detail' book.pk %}">{{ book.title }}</a> ({{ book.publication_date}})
        </li>
    {% empty %}
        <li>This person has no books.</li>
    {% endfor %}
    </ul>

    {% comment %} <h3>Edition</h3>
    <ul>
    {% for edtion in object.editions.all %}
        <li>{{ edtion.edition_title }}</li>
    {% empty %}
        <li>This person has no books.</li>
    {% endfor %}
    </ul>    {% endcomment %}
</div>
</div>
</div>

{% endblock %}
