{% extends "base.html" %}
{% load markdownify %}
{% load linkify %}

{% block content %}
<div class="col-sm-7">
    
    <h4 class='mb-4'>
        Check-ins by 
        <a href="{% url 'accounts:detail' user.username %}">
            {{ user.display_name|default:user.username }}
        </a> of 
        {% if model_name == "book" %}
            <a href="{% url 'read:book_detail' object.id %}"> {{ object.title }}</a>
        {% elif  model_name == "issue" %}
            <a href="{% url 'read:issue_detail' object.periodical.id object.id %}"> {{ object.title }}</a>
        {% endif %}
    </h4>
    <span class='d-flex mb-3'>
        <div class="me-3">
            <a href="?order=timestamp&status={{status}}" class="btn btn-sm btn-outline-secondary mb-1">Oldest</a>
            <a href="?order=-timestamp&status={{status}}" class="btn btn-sm btn-outline-secondary mb-1">Newest</a>
        </div>
        <div class="me-3">|</div>
        <div class="me-3">
            <a href="?status=&order={{order}}" class="btn btn-sm btn-outline-dark mb-1">All</a>
            <a href="?status=to_read&order={{order}}" class="btn btn-sm btn-info mb-1">To Read</a>
            <a href="?status=reading_rereading&order={{order}}" class="btn btn-sm btn-primary mb-1">Reading/Rereading</a>
            <a href="?status=read_reread&order={{order}}" class="btn btn-sm btn-success mb-1">Read/Reread</a>
            <a href="?status=paused&order={{order}}" class="btn btn-sm btn-warning mb-1">Paused</a>
            <a href="?status=abandoned&order={{order}}" class="btn btn-sm btn-danger mb-1">Abandoned</a>
        </div>
    </span>
    {% for checkin in checkins %}
        <div class="checkin bg-light p-3 mb-3">
            <p class="d-flex align-items-center">
                <!--badge: checkin status-->
                {% if checkin.status == "to_read" %}
                <span class="badge text-bg-info me-2">
                {% elif checkin.status == "reading" %}
                <span class="badge text-bg-primary me-2">    
                {% elif checkin.status == "finished_reading" %}
                <span class="badge text-bg-success me-2"> 
                {% elif checkin.status == "paused" %}
                <span class="badge text-bg-warning me-2"> 
                {% elif checkin.status == "abandoned" %}
                <span class="badge text-bg-danger me-2"> 
                {% elif checkin.status == "rereading" %}
                <span class="badge text-bg-primary me-2"> 
                {% elif checkin.status == "reread" %}
                <span class="badge text-bg-success me-2">    
                {% endif %}
                    Status: {{ checkin.get_status_display }}
                </span>
                {% if checkin.progress %}
                <span class="badge text-bg-warning me-2">
                    Progress: {{ checkin.progress }} 
                    {% if checkin.progress_type == "PG" %}
                        Page
                    {% else %}
                        %
                    {% endif %}
                </span>
                {% endif %}
            </p>
            {% if checkin.content %}
            <p>{{ checkin.content | linkify_tags | linkify_mentions | markdownify }}</p>
            {% endif %}
            <div class="d-flex mt-3">
                <span class="me-2">
                    <a href="{% url 'read:read_checkin_detail' checkin.id %}" class="text-decoration-none text-secondary">{{ checkin.timestamp|date:"Y.m.d H:i"  }}</a>
                </span>
                {% if checkin.comments_enabled %}
                    <span class="ms-2 me-2">
                        <a href="{% url 'read:read_checkin_detail' checkin.id %}" class="text-decoration-none">Reply</a>
                    </span>
                {% endif %}
                {% if checkin.get_activity_id %}
                    <span class="ms-2 me-2"><a href="{% url 'read:read_checkin_detail' checkin.id %}?repost=true" class="text-decoration-none">Repost</a></span>
                {% endif %}

                {% if checkin.user == request.user %}
                    <span class="ms-2 me-2"><a href="{% url 'read:read_checkin_update' checkin.id %}" class="text-decoration-none">Edit</a></span>
                    <span class="ms-2 me-2"><a href="{% url 'read:read_checkin_delete' checkin.id %}" class="text-decoration-none">Delete</a></span>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p>No check-ins yet.</p>
    {% endfor %}
</div>
{% endblock %}
