{% extends "base.html" %}
{% load markdownify %}
{% block content %}
<div class="container">
    <div class="row">
        <!--left column-->
        <div class="col-12 col-md-8">
            <div class="row">
                <div class="col-sm-12">
                    <div class="fs-4">
                        All Check-Ins of
                        {% if model_name == "book" %}
                            <a href="{% url 'read:book_detail' object.id %}">{{ object.title }}</a>
                        {% elif  model_name == "issue" %}
                            {{ object.periodical.title }} <a href="{% url 'read:issue_detail' object.periodical.id object.id %}">Vol. {{ object.volume}} Nr. {{ object.number }}</a>
                        {% endif %}
                    </div>
                    <span class='d-flex mb-3'>
                        <div class="me-3">
                            {% if order == 'timestamp' %}
                                <a href="?order=-timestamp&status={{ status }}"
                                   class="btn btn-sm btn-outline-secondary mb-1">Newest</a>
                            {% else %}
                                <a href="?order=timestamp&status={{ status }}"
                                   class="btn btn-sm btn-outline-secondary mb-1">Oldest</a>
                            {% endif %}
                            <a href="?status=&order={{ order }}"
                               class="btn btn-sm btn-outline-secondary mb-1">All</a>
                            <a href="?status=to_read&order={{ order }}"
                               class="btn btn-sm btn-info mb-1">To Read</a>
                            <a href="?status=reading_rereading&order={{ order }}"
                               class="btn btn-sm btn-primary mb-1">(Re)Reading</a>
                            <a href="?status=read_reread&order={{ order }}"
                               class="btn btn-sm btn-success mb-1">(Re)Read</a>
                            <a href="?status=paused&order={{ order }}"
                               class="btn btn-sm btn-warning mb-1">Paused</a>
                            <a href="?status=abandoned&order={{ order }}"
                               class="btn btn-sm btn-danger mb-1">Abandoned</a>
                               <a href="?status=sampled&order={{ order}}"
                               class="btn btn-sm btn-primary mb-1">Sampled</a>
                            <a href="?status=afterthought&order={{ order}}"
                               class="btn btn-sm btn-success mb-1">Afterthought</a>
                        </div>
                    </span>
                </div>
                {% include "read/read_checkin_in_entry_detail.html" %}
            </div>
        </div>
        <!--right column-->
        <div class="col-12 col-md-4">
            <!-- release-card -->
            <div class="release-card justify-content-start">
                <div class="d-flex flex-column mt-2">
                    <!--cover-box-->
                    <div class="col-12 mb-3">
                        <div style='width:50%'>
                            {% if user.pure_text_mode %}
                                <div class="cover-placeholder bg-light">{{ object.title }}{% if object.subtitle %}: {{object.subtitle}}{% endif %}</div>
                            {% else %}
                                {% if object.cover %}
                                    {% if object.cover_sens %}
                                        <img src="{{ object.cover.url }}"
                                                alt="{{ object.title }} cover"
                                                class="img-fluid blur cover-border"
                                                onclick="this.classList.toggle('blur')"
                                                loading="lazy">
                                    {% else %}
                                        <img src="{{ object.cover.url }}"
                                                alt="{{ object.title }}"
                                                class="img-fluid cover-border"
                                                onerror="this.onerror=null; this.parentNode.innerHTML='<div class=\'cover-placeholder\'>{{ object.title }}{% if object.subtitle %}: {{object.subtitle}}{% endif %}</div>';"
                                                loading="lazy">
                                    {% endif %}
                                {% else %}
                                    <div class="cover-placeholder bg-light">{{ object.title }}{% if object.subtitle %}: {{object.subtitle}}{% endif %}</div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <!--book-metadata-->
                    <div class="col flex-grow-1">
                        <div class="card-body">
                            {% if object.title %}
                                <div class="fs-4">{{ object.title }}</div>
                            {% endif %}
                            {% if object.volume and object.number %}
                                <div class="fs-4">{{ object.periodical.title }}</div>
                                <div class="fs-5">Vol. {{ object.volume }} Nr. {{ object.number }}</div>
                            {% endif %}
                            {% if object.subtitle %}<p class='text-secondary'>{{ object.subtitle }}</p>{% endif %}
                            <div class="book-meta">
                                {% for role_name, person_altname_tuples in roles.items %}
                                    <div class="mb-1">
                                        <span class="text-muted">{{ role_name }}:</span>
                                        {% for creator, alt_name in person_altname_tuples %}
                                            <a href="{% url 'entity:creator_detail' creator.id %}">{{ alt_name }}</a>
                                            {% if not forloop.last %}/{% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                {% if object.publisher %}
                                    <div class="mb-1">
                                        <span class="text-muted">Publisher:</span>
                                        <a href="{% url 'entity:company_detail' object.publisher.id %}">
                                            {% if object.publisher.location %}{{ object.publisher.location }}:{% endif %}
                                            {{ object.publisher.name }}
                                        </a>
                                    </div>
                                {% endif %}
                                {% if object.format %}
                                    <div class="mb-1">
                                        <span class="text-muted">Format:</span> {{ object.format }}
                                    </div>
                                {% endif %}
                                {% if object.publication_date %}
                                    <div class="mb-1">
                                        <span class="text-muted">Date:</span> {{ object.publication_date }}
                                    </div>
                                {% endif %}
                                <!--add series here-->
                                {% if object.bookinseries_set.all %}
                                    <div class="mb-1">
                                        <span class="text-muted">Series:</span>
                                        {% for bookinseries in object.bookinseries_set.all %}
                                            <a href="{% url 'read:series_detail' bookinseries.series.id %}">{{ bookinseries.series.title }}</a>
                                            {% if not forloop.last %}/{% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% if object.pages %}
                                    <div class="mb-1">
                                        <span class="text-muted">Pages:</span> {{ object.pages }}
                                    </div>
                                {% endif %}
                                {% if object.isbn_10 %}
                                    <div class="mb-1">
                                        <span class="text-muted">ISBN-10:</span> {{ object.isbn_10 }}
                                    </div>
                                {% endif %}
                                {% if object.isbn_13 %}
                                    <div class="mb-1">
                                        <span class="text-muted">ISBN-13:</span> {{ object.isbn_13 }}
                                    </div>
                                {% endif %}
                                {% if object.eisbn_13 %}
                                    <div class="mb-1">
                                        <span class="text-muted">EISBN-13:</span> {{ object.eisbn_13 }}
                                    </div>
                                {% endif %}
                                {% if object.asin %}
                                    <div class="mb-1">
                                        <span class="text-muted">ASIN:</span> {{ object.asin }}
                                    </div>
                                {% endif %}
                                {% if object.notes %}
                                    <span class="text-muted">Details:</span>
                                    <div class="card card-body">{{ object.notes|markdownify }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'mathjax+mermaid.html' %}
{% endblock content %}
