{% extends 'base.html' %}

{% block content %}

<div class='col-12'>
    <div class="row">
        <div class="col-12">
            <h4>All Check-Ins of 
                {% if model_name == "book" %}
                    <a href="{% url 'read:book_detail' object.id %}"> {{ object.title }}</a>
                {% elif  model_name == "issue" %}
                    <a href="{% url 'read:issue_detail' object.periodical.id object.id %}"> {{ object.title }}</a>
                {% endif %}
            </h4>
            <div>
                <a href="?order=timestamp" class="btn btn-sm btn-outline-secondary">Oldest</a>
                <a href="?order=-timestamp" class="btn btn-sm btn-outline-secondary">Newest</a>
            </div>
        </div>
        
        {% include "read/read_checkin_in_book_detail.html" %}
    </div>
</div>

{% endblock content %}