{% extends "base.html" %}
{% load static %}
{% load markdownify %}
{% load linkify %}
{% load crispy_forms_tags %}

{% block title %}Check In{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-7 left-column">
      <div class="bg-light p-3 mt-2">
        <div class="row justify-content-start">
            <div class="col-md-3">
                {% if object.content_object.cover %}
                    <img src="{{ object.content_object.cover.url }}" alt="{{ object.content_object.title }} cover" style="width: 150px;height: auto;">
                {% else %}
                    <p class="no-cover-text">No Cover</p>
                {% endif %}
            </div>
                    
            <div class="col-md-9">
                {% if object.content_type.model == 'book' %}
                <a href="{% url 'read:book_detail' object.content_object.id %}" class="text-decoration-none hover-username">
                    <h5>{{ object.content_object.title }}</h5>
                </a>
                {% elif object.content_type.model == 'issue' %}
                <h4>{{ object.content_object.periodical.title }}</h4>
                <a href="{% url 'read:issue_detail' object.content_object.periodical.id object.content_object.id %}" class="text-decoration-none hover-username">
                  <h5>{{ object.content_object.title }}</h5>
                </a>
                {% endif %}

                {% if object.content_type.model == 'book' %}
                        {% regroup object.content_object.bookrole_set.all by role as roles_list %}
                        {% for role in roles_list %}
                            <div>
                                {{ role.grouper.name }}{% if role.list|length > 1 %}s{% endif %}:
                                {% for book_role in role.list %}
                                    {% if not forloop.first %} / {% endif %}
                                    <a href="{% url 'entity:person_detail' book_role.person.id %}">
                                        {{ book_role.alt_name | default:book_role.person.name }}
                                    </a>
                                {% endfor %}
                            </div>
                        {% endfor %}                        
                    {% endif %}
                
                <div>
                    {% if object.book.publication_date %}
                        Publication Date: {{ object.book.publication_date|slice:":4" }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


      <div class='mt-4'>
        <div class="d-flex align-items-center"> 
          <a href="{% url 'accounts:detail' object.user.username %}" class='me-1'>
            {{ object.user.display_name | default:object.user.username }}
          </a> 
           <span class="me-2">checked in </span>
            <!--badge: checkin status-->
            {% if object.status == "to_read" %}
            <span class="badge text-bg-info me-2">
            {% elif object.status == "reading" %}
            <span class="badge text-bg-primary me-2">
            {% elif object.status == "finished_reading" %}
            <span class="badge text-bg-success me-2">
            {% elif object.status == "paused" %}
            <span class="badge text-bg-warning me-2">
            {% elif object.status == "abandoned" %}
            <span class="badge text-bg-danger me-2">
            {% elif object.status == "rereading" %}
            <span class="badge text-bg-primary me-2">
            {% elif object.status == "reread" %}
            <span class="badge text-bg-success me-2">
            {% endif %}
                Status: {{ object.get_status_display }}
            </span>
            {% if object.progress %}
            <span class="badge text-bg-warning me-2">
                Progress: {{ object.progress }} 
                {% if object.progress_type == "PG" %}
                    Page
                {% else %}
                    %
                {% endif %}
            </span>
            {% endif %}
        </div>
        <div class="mt-2">
          {{ object.content | linkify_tags | linkify_mentions | markdownify }}
        </div>
        <span class="d-flex mt-2">
          <p class='me-2 text-secondary mb-2'>{{ object.timestamp|date:"Y.m.d H:i" }} </p>
          {% if object.user == request.user %}
          <a href="{% url "read:read_checkin_update" object.pk %}" class="me-2">Edit</a>
          <a href="{% url "read:read_checkin_delete" object.pk %}" class="me-2">Delete</a>
          {% endif %}
        </span>
      </div>

      <button id="show-comments" class="btn btn-primary btn-sm mx-auto toggle-button">Comments ({{ comments|length }})</button>
      <button id="show-reposts" class="btn btn-secondary btn-sm mx-auto toggle-button">Reposts ({{ object.reposts.count }})</button>
      
      <hr>

      <div id="comments-section">
        {% include 'write/comment_in_details.html' with comments=comments object=object comment_form=comment_form object_type='readcheckin' %}
      </div>

      <div id="reposts-section" style="display: none;">
        {% include 'write/repost_in_details.html' with object=object repost_form=repost_form reposts=object.reposts %}
      </div>

    </div>
  </div>
</div>
 
<script type="text/javascript" src="{% static 'js/toggle-button.js' %}"></script>

{% endblock content %}
