{% load crispy_forms_tags %}
<form method="post" id="checkinForm">
    {% csrf_token %}
    {{ checkin_form.content_type }}
    {{ checkin_form.object_id }}
    {{ checkin_form.user }}
    <div class="row">
        <div class="col-md-7 col-sm-12 mb-2">
            <!--Status-->
            <div class="btn-group" role="group" aria-label="Status">
                <button type="button"
                        class="btn btn-sm btn-outline-secondary status-button"
                        id="status-to-read"
                        onclick="setStatus(event, 'to_read')">To Read</button>
                <button type="button"
                        class="btn btn-sm btn-outline-secondary status-button"
                        id="status-reading"
                        onclick="setStatus(event, 'reading')">Reading</button>
                <button type="button"
                        class="btn btn-sm btn-outline-secondary status-button"
                        id="status-read"
                        onclick="setStatus(event, 'finished_reading')">Read</button>
                <div class="btn-group" role="group">
                    <button id="status-more"
                            type="button"
                            class="btn btn-sm btn-outline-secondary dropdown-toggle status-button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">More</button>
                    <ul class="dropdown-menu" aria-labelledby="status-more">
                        <li>
                            <a class="dropdown-item status-dropdown-item"
                               id="status-paused"
                               href="#"
                               onclick="setStatus(event, 'paused')">Paused</a>
                        </li>
                        <li>
                            <a class="dropdown-item status-dropdown-item"
                               id="status-abandoned"
                               href="#"
                               onclick="setStatus(event,'abandoned')">Abandoned</a>
                        </li>
                        <li>
                            <a class="dropdown-item status-dropdown-item"
                               id="status-rereading"
                               href="#"
                               onclick="setStatus(event,'rereading')">Rereading</a>
                        </li>
                        <li>
                            <a class="dropdown-item status-dropdown-item"
                               id="status-reread"
                               href="#"
                               onclick="setStatus(event,'reread')">Reread</a>
                        </li>
                        <li>
                            <a class="dropdown-item status-dropdown-item"
                                id="status-sampled"
                                href="#"
                                onclick="setStatus(event,'sampled')">Sampled
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item status-dropdown-item"
                               id="status-afterthought"
                               href="#"
                               onclick="setStatus(event,'afterthought')">Afterthought</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <!-- Progress and Progress Type -->
            <div class="input-group input-group-sm mb-3">
                <input type="text"
                       class="form-control"
                       id="progressInput"
                       name="progress"
                       placeholder="Progress">
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        id="progressTypeBtn">Page</button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" href="#" onclick="setProgressType(event,'PG')">Page</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#" onclick="setProgressType(event,'PC')">%</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#" onclick="setProgressType(event,'CH')">Chapter</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Hidden input fields to hold status and progress_type values -->
    <input type="hidden" id="statusInput" name="status">
    <input type="hidden" id="progressTypeInput" name="progress_type">
    <div class="col-md-11 col-sm-12 textarea-wrapper">
        {{ checkin_form.content|as_crispy_field }}
        <div id="photoUploadSection" class="border border-secondary p-4 text-center" style="cursor: pointer; border: 4px dashed !important;">
            <div id="upload-area" style="width: 100%; height: 100%;">
                Drag & Drop photos here
                <input type="file" id="photo-upload" name="photo" accept="image/*" multiple style="display: none" />
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-start col-md-11 col-12">
        <div class="d-flex">
            <button type="submit"
                    class="btn btn-sm btn-primary me-1"
                    id="submitButton">Add</button>
            <button type="button" id="image-upload-button" class="btn btn-outline-secondary btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-images mb-1" viewBox="0 0 16 16">
                    <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"></path>
                    <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2M14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1M2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1z"></path>
                </svg>
            </button>
        </div>
        <div class="d-flex justify-content-start flex-wrap ms-2">
            <div class="form-check me-2">
                <input class="form-check-input"
                       type="checkbox"
                       id="shareToFeedInput"
                       name="share_to_feed"
                       {% if request.user.enable_share_to_feed_by_default %}checked{% endif %}
                       >
                <label class="form-check-label small" for="shareToFeedInput">Share to feed</label>
            </div>
            <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       id="commentsEnabledInput"
                       name="comments_enabled"
                       {% if user.is_authenticated and user.enable_replies_by_default %}checked{% endif %}                       >
                <label class="form-check-label small" for="commentsEnabledInput">Enable replies</label>
            </div>
        </div>
    </div>
</form>
<script>
    var status_mapping = {
        "to_read": "status-to-read",
        "reading": "status-reading",
        "finished_reading": "status-read",
        "paused": "status-paused",
        "abandoned": "status-abandoned",
        "rereading": "status-rereading",
        "reread": "status-reread",
        "sampled": "status-sampled",
        "afterthought": "status-afterthought",
    };

    function setStatus(event, status) {
        event.preventDefault();
        document.getElementById('statusInput').value = status;
        updateStatusButton(status);
    }
    
    function setProgressType(event, type) {
        event.preventDefault();
        let textConent;
        switch(type) {
            case 'PG':
                textContent = 'Page';
                break;
            case 'PC':
                textContent = '%';
                break;
            case 'CH':
                textContent = 'Chapter';
                break;
        }
        document.getElementById('progressTypeInput').value = type;
        document.getElementById('progressTypeBtn').textContent = textContent;
    }
    
    function updateStatusButton(status) {
        // Get all status buttons and dropdown items
        const statusButtons = document.querySelectorAll('.status-button');
        const statusDropdownItems = document.querySelectorAll('.status-dropdown-item');
    
        // Remove 'selected-button' class from all status buttons and dropdown items
        statusButtons.forEach(button => button.classList.remove('selected-button'));
        statusDropdownItems.forEach(item => item.classList.remove('selected-button'));
    
        // If the status exists in the mapping, update the corresponding button
        if (status_mapping[status]) {
            const buttonId = status_mapping[status];
            const button = document.getElementById(buttonId);
    
            if (button) {
                // Add 'selected-button' class to the button
                button.classList.add('selected-button');
    
                // If the button is a dropdown item, also update the main dropdown button
                if (button.classList.contains('dropdown-item')) {
                    const moreButton = document.getElementById('status-more');
                    moreButton.classList.add('selected-button');
                }
            }
        }
    }

    document.addEventListener("DOMContentLoaded", function() {
        // Set default status and progress type values
        var default_status = '{{ latest_user_status }}' || 'abandoned';
        var default_progress_type = '{{ latest_progress_type }}' || 'CH';
        setStatus(event, default_status);
        setProgressType(event, default_progress_type);
    });
</script>
