{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <!--Left columns-->
        <div class="col-12 col-md-8 left-column">
            <h2>{{ object.title }} ({{ object.publication_date }})</h2>
            {% if object.subtitle %}<p class='text-secondary'>{{ object.subtitle }}</p>{% endif %}
            
            {% for role, persons_altname_tuples in grouped_roles.items %}
                <div>
                    <span class="text-muted">{{ role }}:</span>
                    {% for person, name in persons_altname_tuples %}
                        <a href="{% url 'entity:person_detail' person.id %}">{{ name }}</a>
                        {% if not forloop.last %} / {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}

            {% if instances %}
            <h3 class="mt-3">Instances</h3>
            <ul>
            {% for instance in instances %}
                <li>
                    <a href="{% url "read:instance_detail" instance.instance.id %}">{{ instance.instance.title }}</a>{% if instance.instance.subtitle %}: {{instance.instance.subtitle}}{% endif %} 
                    ({% if instance.instance.edition %}{{ instance.instance.edition }}, {% endif %}{{ instance.instance.publication_date }})
                    {% for item in instance.items %}
                    <ul>
                        <li>
                            {% if item.type == 'book' %}
                                <a href="{% url 'read:book_detail' item.id %}">{{ item.title }}</a>
                                {% if item.publication_date %}
                                ({% if item.publisher %}
                                    {{ item.publisher.name }},
                                {% endif %}
                                {% if item.format %}
                                    {{ item.format }},
                                {% endif %}
                                    {{ item.publication_date }}
                                )
                                {% endif %}
                            {% elif item.type == 'issue' %}
                                <a href="{% url 'read:issue_detail' item.periodical.id item.id %}">{{ item.title }}</a>
                                , <a href="{% url 'read:periodical_detail' item.periodical.id %}">{{ item.periodical.title }}</a>
                                {% if item.publication_date %}
                                ({% if item.periodical.publisher %}
                                    {{ item.periodical.publisher.name }},
                                {% endif %}
                                    {{ item.publication_date }}
                                )
                                {% endif %}
                            {% endif %}
                        </li>
                    </ul> 
                    {% endfor %}
                </li>
            {% endfor %}
            </ul>
            {% endif %}

            {% if adaptations %}
            <h3>Adaptations</h3>
            <ul>
                {% for adaptation in adaptations %}
                <li>
                    {% if adaptation.model_name == "Movie" %}
                    <a href="{% url 'watch:movie_detail' adaptation.id %}">{{ adaptation.title }}</a>
                    {% else %}
                    <a href="{% url 'watch:series_detail' adaptation.id %}">{{ adaptation.title }}</a>
                    {% endif %}
                    {% if adaptation.release_date %}({{ adaptation.release_date }}){% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <!--Right columns-->
        <div class="col-12 col-md-4 right-column">
            <!--Related Work / Edit -->
            <div class="bg-light p-3">
                {% if user.is_authenticated %}
                <div>
                    <a href="{% url 'read:work_update' object.pk %}" class='fs-6 text-secondary'>Edit Work</a>
                </div>
                <div>
                    <a href="{% url 'read:instance_create'%}" class='fs-6 text-secondary'>Add Instance</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
