{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-7 left-column">
            <h2>Create a new Work entry</h2>
            {% include "read/work_form.html" %}
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ workroles.media }}

<script type="text/javascript" src="{% static 'js/work.js' %}"></script>

{% endblock %}
