{% extends "base.html" %}

{% block content %}
<div class="container">
    <span class='d-flex align-items-start'>
        <h2>{{ object.title }} ({{ object.publication_date }})</h2>
        {% if user.is_authenticated %}
        <a href="{% url 'read:work_update' object.pk %}" class='fs-6 text-secondary'>Edit Work</a>
        {% endif %}
    </span>
    
    {% for role in object.workrole_set.all %}
    <p>
        <a href="{% url 'entity:person_detail' role.person.id %}">{{ role.person.name }}</a> ({{ role.person.romanized_name }}) 
    </p>
    {% endfor %}


    <h3>Editions</h3>
    <ul>
    {% for edition in object.editions.all %}
        <li>
            <a href="{% url "read:edition_detail" edition.id %}">{{ edition.title }}</a>
             ({{ edition.publication_date }});
             Collected in:
            {% for book in edition.books.all %}
            <ul>
                <li>
                     <a href="{% url 'read:book_detail' book.id %}">{{ book.title }}</a> ({{ book.publication_date }}) 
                </li>
            </ul>
            {% endfor %} 
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
