{% extends "base.html" %}
{% load language_name %}
{% load markdownify %}
{% load util_filters %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <!--Left columns-->
            <div class="col-12 col-md-8 left-column">
                <div class="d-flex flex-wrap align-items-baseline">
                    <h2 class="fs-2 me-2">{{ object.title }}</h2>
                    {% if object.work_type %}<div class="text-muted me-2 mb-0">{{ object.get_work_type_display }}</div>{% endif %}
                </div>
                {% if object.subtitle %}<p class='text-secondary'>{{ object.subtitle }}</p>{% endif %}
                {% for role, creators_altname_tuples in grouped_roles.items %}
                    <div>
                        <span class="text-muted">{{ role }}:</span>
                        {% for creator, name in creators_altname_tuples %}
                            <a href="{% url 'entity:creator_detail' creator.id %}">{{ name }}</a>
                            {% if not forloop.last %}/{% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
                {% if object.genres.count != 0 %}
                    <div>
                        <span class="text-muted">Genres:</span>
                        {% for genre in object.genres.all %}
                            <a href="{% url "read:genre_detail" genre.slug %}">{{ genre.name }}</a>
                            {% if not forloop.last %} / {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if object.publication_date %}
                    <div>
                        <span class="text-muted">First publication date:</span>
                        {{ object.publication_date }}
                    </div>
                {% endif %}
                <!--Based on / Adapt from -->
                {% if object.based_on_litworks.count != 0 or object.based_on_games.count != 0 or object.based_on_movies.count != 0 or object.based_on_series.count != 0 %}
                    <div class="mb-1">
                        <span class="text-muted">Adapted from:</span> 
                        <ul class='mb-0'>
                        {% if object.based_on_litworks.count != 0 %}
                            <li>Publication{% if object.based_on_litworks.count > 1 %}s{% endif %}: 
                            {% for litwork in object.based_on_litworks.all %}
                                <a href="{% url "read:work_detail" litwork.id %}">{{ litwork.title }}</a> ({{ litwork.publication_date|extract_year }})
                                {% if not forloop.last %} / {% endif %}
                            {% endfor %}
                            </li>
                        {% endif %}
                        {% if object.based_on_games.count != 0 %}
                            <li>Game{% if object.based_on_games.count > 1 %}s{% endif %}: 
                            {% for game in object.based_on_games.all %}
                                <a href="{% url "play:work_detail" game.id %}">{{ game.title }}</a> ({{ game.first_release_date|extract_year }})
                                {% if not forloop.last %} / {% endif %}
                            {% endfor %}
                            </li>
                        {% endif %}
                        {% if object.based_on_movies.count != 0 %}
                            <li>Movie{% if object.based_on_movies.count > 1 %}s{% endif %}: 
                            {% for movie in object.based_on_movies.all %}
                                <a href="{% url "watch:movie_detail" movie.id %}">{{ movie.title }}</a> ({{ movie.earliest_release_date|extract_year }})
                                {% if not forloop.last %} / {% endif %}
                            {% endfor %}
                            </li>
                        {% endif %}
                        {% if object.based_on_series.count != 0 %}
                            <li>Series: 
                            {% for series in object.based_on_series.all %}
                                <a href="{% url "watch:series_detail" series.id %}">{{ series.title }}</a> ({{ series.release_date|extract_year }})
                                {% if not forloop.last %} / {% endif %}
                            {% endfor %}
                            </li>
                        {% endif %}
                        </ul>
                    </div>
                {% endif %}
                {% if related_locations_with_parents %}
                <div class="mb-1">
                    {# djlint:off #}
                    <span class="text-muted">Related Location{% if object.related_locations.count > 1 %}s{% endif %}:</span>
                    {# djlint:on #}
                    <ul>
                        {% for location, parents in related_locations_with_parents %}
                            <li>
                                {% if parents %}
                                    {% for parent in parents %}
                                        <a href="{% url 'visit:location_detail' parent.id %}">{{ parent.name }}</a> > 
                                    {% endfor %}
                                {% endif %}
                                <a href="{% url 'visit:location_detail' location.id %}">{{ location.name }}</a> 
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% if object.notes %}
                    <div>
                        {{ object.notes | markdownify}}
                    </div>
                {% endif %}
                {% if grouped_instances %}
                    <h3 class="mt-2">Instances</h3>
                    {% with grouped_length=grouped_instances|length %}
                        {% for lang, instances in grouped_instances.items %}
                            {% if grouped_length > 1 %}
                                <div class="fs-5">{{ lang | language_name }}</div>
                                <!-- Display the human-readable name only if more than one language -->
                            {% endif %}
                            <ul>
                                {% for instance_data in instances %}
                                    <li>
                                        <a href="{% url "read:instance_detail" instance_data.instance.id %}">{{ instance_data.instance.title }}</a>
                                        {% if instance_data.instance.subtitle %}: {{ instance_data.instance.subtitle }}{% endif %}
                                        {# djlint:off #}
                                        ({% for role in instance_data.instance_roles.all %}{% if role.role.name == "Translator" %}<a href="{% url 'entity:creator_detail' role.creator.id %}">{{role.creator.name}}</a>{% if not forloop.last %} / {% else %}, {% endif %}{% endif %}{% endfor %}{% if instance_data.instance.edition %}{{ instance_data.instance.edition }}, {% endif %}{{ instance_data.instance.publication_date }})
                                        {# djlint:on #}
                                        {% for item in instance_data.items %}
                                            <ul>
                                                <li>
                                                    {% if item.type == 'book' %}
                                                        <a href="{% url 'read:book_detail' item.id %}">{{ item.title }}</a>
                                                        {# djlint:off #}
                                                        {% if item.publication_date %}
                                                            ({% if item.format %}{{ item.format }}, {% endif %}{% if item.publisher %}{{ item.publisher.name }}, {% endif %}{% if item.publication_date %}{{ item.publication_date }}{% endif %})
                                                        {% endif %}
                                                        {# djlint:on #}
                                                    {% elif item.type == 'issue' %}
                                                        <a href="{% url 'read:issue_detail' item.periodical.pk item.pk %}">
                                                            {% if item.title %}{{ item.title }},{% endif %}
                                                            {% if item.volume %}Vol. {{ item.volume }}{% endif %}
                                                            {% if item.volume %}Issue {{ item.number }}{% endif %}
                                                        </a>,
                                                        <a href="{% url 'read:periodical_detail' item.periodical.id %}">{{ item.periodical.title }}</a>
                                                        {# djlint:off #}
                                                        {% if item.publication_date %}
                                                            ({% if item.periodical.publisher %}{{ item.periodical.publisher }}, {% endif %}{{ item.publication_date }})
                                                        {% endif %}
                                                        {# djlint:on #}
                                                    {% elif item.type == 'audiobook' %}
                                                        <a href="{% url 'listen:audiobook_detail' item.id %}">{{ item.title }}</a>
                                                        {# djlint:off #}
                                                        {% if item.release_date %}
                                                            (Audiobook, {% if item.publisher %}{{ item.publisher }}, {% endif %}{% if item.release_date %}{{ item.release_date }}{% endif %})
                                                        {% endif %}
                                                        {# djlint:on #}
                                                    {% endif %}

                                                </li>
                                            </ul>
                                        {% endfor %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    {% endwith %}
                {% endif %}
                <!--Adaptations-->
                {% if adaptation_publications or adaptation_movies or adaptation_series or adaptation_games %}
                    <h3 class="mt-2">Adaptations</h3>
                    {% if adaptation_publications %}
                        <div class="col-12">
                            <div class="fs-5">Publications</div>
                            <ul>
                                {% for adaptation in adaptation_publications %}
                                    <li>
                                        <a href="{% url 'read:work_detail' adaptation.id %}">{{ adaptation.title }}</a>
                                        {% if adaptation.publication_date %}({{ adaptation.publication_date }}){% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>                    
                    {% endif %}
                    {% if adaptation_movies %}
                        <div class="col-12 col-md-6">
                            <div class="fs-5">Movies</div>
                            <ul>
                                {% for adaptation in adaptation_movies %}
                                    <li>
                                        <a href="{% url 'watch:movie_detail' adaptation.id %}">{{ adaptation.title }}</a>
                                        {% if adaptation.earliest_release_date %}({{ adaptation.earliest_release_date }}){% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if adaptation_series %}
                        <div class="col-12 col-md-6">
                            <div class="fs-5">Series</div>
                            <ul>
                                {% for adaptation in adaptation_series %}
                                    <li>
                                        <a href="{% url 'watch:series_detail' adaptation.id %}">{{ adaptation.title }}</a>
                                        {% if adaptation.release_date %}({{ adaptation.release_date }}){% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if adaptation_games %}
                        <div class="col-12 col-md-6">
                            <div class="fs-5">Games</div>
                            <ul>
                                {% for adaptation in adaptation_games %}
                                    <li>
                                        <a href="{% url 'play:game_detail' adaptation.id %}">{{ adaptation.title }}</a>
                                        {% if adaptation.first_release_date %}({{ adaptation.first_release_date }}){% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endif %}

                <!--Mentioned--> <!--WIP-->
                {% if mentioned_litworks or mentioned_instances or mentioned_movies or mentioned_series or mentioned_musicworks %}
                    <h3 class="mt-2">Mentioned</h3>
                    {% if mentioned_litworks %}
                        <div class="col-12 col-md-6">
                            <div class="fs-5">Publication</div>
                            <ul>
                                {% for mention in mentioned_litworks %}
                                    <li>
                                        <a href="{% url 'read:work_detail' mention.id %}">{{ mention.title }}</a>
                                        {% if mention.publication_date %}({{ mention.publication_date }}){% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if mentioned_instances %}
                        <div class="col-12 col-md-6">
                            <div class="fs-5">Instances</div>
                            <ul>
                                {% for mention in mentioned_instances %}
                                    <li>
                                        <a href="{% url 'read:instance_detail' mention.id %}">{{ mention.title }}</a>
                                        {% if mention.publication_date %}({{ mention.publication_date }}){% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if mentioned_movies %}
                        <div class="col-12 col-md-6">
                            <div class="fs-5">Movie{% if mentioned_movies.count != 1 %}s{% endif %}</div>
                            <ul>
                                {% for mention in mentioned_movies %}
                                    <li>
                                        <a href="{% url 'watch:movies_detail' mention.id %}">{{ mention.title }}</a>
                                        {% if mention.region_release_date.exist %}({{ mention.earliest_release_date }}){% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>  
                    {% endif %}
                    {% if mentioned_series %}
                        <div class="col-12 col-md-6">
                            <div class="fs-5">Series</div>
                            <ul>
                                {% for mention in mentioned_series %}
                                    <li>
                                        <a href="{% url 'watch:series_detail' mention.id %}">{{ mention.title }}</a>
                                        {% if mention.release_date %}({{ mention.release_date }}){% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>  
                    {% endif %}
                    {% if mentioned_musicworks %}
                        <div class="col-12 col-md-6">
                            <div class="fs-5">Music</div>
                            <ul>
                                {% for mention in mentioned_musicworks %}
                                    <li>
                                        <a href="{% url 'listen:work_detail' mention.id %}">{{ mention.title }}</a>
                                        {% if mention.release_date %}({{ mention.release_date }}){% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>  
                    {% endif %}  
                    
                    {% if mentioned_tracks %}
                        <div class="col-12 col-md-6">
                            <div class="fs-5">Track{% if mentioned_tracks.count != 1 %}s{% endif %}</div>
                            <ul>
                                {% for mention in mentioned_tracks %}
                                    <li>
                                        <a href="{% url 'listen:track_detail' mention.id %}">{{ mention.title }}</a>
                                        {% if mention.release_date %}({{ mention.release_date }}){% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>  
                    {% endif %}  
                    {% if mentioned_releases %}
                        <div class="col-12 col-md-6">
                            <div class="fs-5">Release{% if mentioned_releases.count != 1 %}s{% endif %}</div>
                            <ul>
                                {% for mention in mentioned_releases %}
                                    <li>
                                        <a href="{% url 'listen:release_detail' mention.id %}">{{ mention.title }}</a>
                                        {% if mention.release_date %}({{ mention.release_date }}){% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>  
                    {% endif %}  
                {% endif %}

                <!--Mentioned in-->
                {% if object.mentioned_in_publications.exists %}
                    <h3 class="mt-2">Mentioned by</h3>
                    <div class="col-12 col-md-6">
                        <div class="fs-5">Publication Work</div>
                        <ul>
                            {% for mention in object.mentioned_in_publications.all %}
                                <li>
                                    <a href="{% url 'read:work_detail' mention.id %}">{{ mention.title }}</a>
                                    {% if mention.publication_date %}({{ mention.publication_date }}){% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            <!--Right columns-->
            <div class="d-flex flex-column col-12 col-md-4 right-column">
                <!--Related Work / Edit -->
                {% if user.is_authenticated %}
                    <div class="bg-light p-3 mb-3 order-2 order-sm-1">
                        {% if not object.locked %}
                        <div>
                            <a href="{% url 'read:work_update' object.pk %}"
                               class='fs-6 text-secondary'>Edit Work</a>
                        </div>
                        {% endif %}
                        <div>
                            <a href="{% url 'read:instance_create_with_work' object.id %}" class='fs-6 text-secondary'>Add Instance</a>
                        </div>
                    </div>
                {% endif %}
                {% if object.wikipedia %}
                    <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                        <div class="fs-5">Links</div>
                        <div>
                            <a href="{{ object.wikipedia }}">Wikipedia</a>
                        </div>
                    </div>
                {% endif %}
                <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                    <div class="d-flex justify-content-start align-items-center flex-wrap">
                        <div class="me-1 fs-5">Contributors</div>
                        <div>(<a href="{% url 'read:work_history' object.pk %}" class="fs-6 text-secondary">Changelog</a>)</div>
                    </div>
                    <div>
                        {% for contributor in contributors %}
                            <span>
                                <a href="{% url 'accounts:detail' contributor.username %}">
                                    {% if contributor == contributors.0 %}
                                        <b>         
                                            {{ contributor.display_name|default:contributor.username }}
                                        </b>
                                    {% else %}
                                        {{ contributor.display_name|default:contributor.username }}
                                    {% endif %}
                                </a>
                            </span>
                            {% if not forloop.last %} / {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
