{% load crispy_forms_tags %}
{% load static %}
<form method="post">
    {% csrf_token %} 
    {{ form.title|as_crispy_field }} 
    {{ form.subtitle|as_crispy_field }} 
    {{ form.publication_date|as_crispy_field }} 
    {{ form.language|as_crispy_field}}
    {{ form.work_type|as_crispy_field}}
    {{ form.genres|as_crispy_field}}
    {{ form.related_locations|as_crispy_field}}
    {{ form.wikipedia|as_crispy_field }}
    <div class="bg-light p-3 mb-3">
        <strong>Based on</strong>
        <p class="text-muted">The original works that the movie is based on.</p>
        {{ form.based_on_litworks|as_crispy_field }}
        {{ form.based_on_games|as_crispy_field }}
        {{ form.based_on_movies|as_crispy_field }}
        {{ form.based_on_series|as_crispy_field }}
    </div>
    {{ workroles.management_form|crispy }}
    <div id="work-role-formset" class="bg-light p-3 mb-3">
        <strong>Entities related to this work</strong>
        <p class="text-muted">E.g. Authors, Editors, Illustrators, etc.</p>

        <div id="workrole_set">
            {% for form in workroles %}
            <div class="form-wrapper row">
                {{ form.id }} {% for error in form.non_field_errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="col-md-4 mb-3">{{ form.creator | as_crispy_field }}</div>
                <div class="col-md-4 mb-3">
                    {{ form.role | as_crispy_field }} {{ form.domain | as_crispy_field }}
                </div>
                <div class="col-md-4 mb-3">{{ form.alt_name | as_crispy_field }}</div>
            </div>
            {% endfor %}
        </div>
        <!-- Button to add new formsets -->
        <button type="button" id="add-formset" class="btn btn-sm btn-secondary mt-2">Add More</button>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% if form.errors %}
<div class="alert alert-danger mt-5">
    <ul>
        {% for field, errors in form.errors.items %} {% for error in errors %}
        <li>{{ field }}: {{ error }}</li>
        {% endfor %} {% endfor %}
    </ul>
</div>
{% endif %}
<script type="text/javascript"
            src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ workroles.media }}
<script type="text/javascript" src="{% static 'js/FormsetHandler.js' %}"></script>
<script>
    initFormset('add-formset', 'workrole_set');
</script>