{% extends "base.html" %}
{% block title %}{{ object.name }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 left-column">
                <span class='d-flex align-items-start'>
                    <h2>
                        {{ object.name }}
                        {% if object.romanized_name %}/ {{ object.romanized_name }}{% endif %}
                    </h2>
                </span>
                {% if object.games.count != 0 %}
                    <h3>Game releases</h3>
                    <ul>
                        {% for game in object.games.all %}
                            <li>
                                <a href="{% url 'play:game_detail' game.id %}">{{ game.title }}</a>
                                (
                                {% for platform in game.platforms.all %}
                                    {{ platform }}
                                    {% if not forloop.last %}/{% endif %}
                                {% endfor %}
                                ,
                                {{ game.release_date }})
                            </li>
                        {% empty %}
                            <li>This develper has no game releases.</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <!--manage entry-->
            <div class="col-sm-4">
                <div class="bg-light p-3">
                    {% if user.is_authenticated %}
                        <a href="{% url 'play:developer_update' object.pk %}"
                           class='fs-6 text-secondary'>Edit Developer</a>
                    {% endif %}
                    <h5 class="mt-3">Link</h5>
                    {% if object.wikipedia %}
                        <div>
                            <a href="{{ object.wikipedia }}" target="_blank">Wikipedia</a>
                        </div>
                    {% endif %}
                    {% if object.website %}
                        <div>
                            <a href="{{ object.website }}" target="_blank">Official Website</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
