{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Update CheckIn{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>Update CheckIn</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary" type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
