{% load crispy_forms_tags %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.title|as_crispy_field }}
    {{ form.subtitle|as_crispy_field }}
    {{ form.other_titles|as_crispy_field }}
    {{ form.cover|as_crispy_field }}
    {{ form.release_date|as_crispy_field }}
    {{ form.rating|as_crispy_field }}
    {{ form.wikipedia|as_crispy_field }}
    <div class="mb-3">
        {{ form.work|as_crispy_field }}
        <a href="{% url 'play:work_create' %}?next={{ request.path }}"
           class="text-secondary"
           target="_blank">Add a new work?</a>
    </div>
    <div class="mb-3">
        {{ form.developers|as_crispy_field }}
        <a href="{% url 'play:developer_create' %}?next={{ request.path }}"
           class="text-secondary"
           target="_blank">Add a new developer?</a>
    </div>
    <div class="mb-3">
        {{ form.publishers|as_crispy_field }}
        <a href="{% url 'play:publisher_create' %}?next={{ request.path }}"
           class="text-secondary"
           target="_blank">Add a new game publisher?</a>
    </div>
    <div class="mb-3">
        {{ form.platforms|as_crispy_field }}
        <a href="{% url 'play:platform_create' %}?next={{ request.path }}"
           class="text-secondary"
           target="_blank">Add a new platform?</a>
    </div>
    {{ form.notes|as_crispy_field }}
    {{ gameroles.management_form|crispy }}
    <div id="game-role-formset" class="bg-light p-3 mb-3">
        <strong>Entities related to this Game</strong>
        <p class='text-muted'>E.g. Directors, Writers, Designers, etc.</p>
        {% for form in gameroles %}
            <div class="form-wrapper">
                <div class="row">
                    {{ form.id }}
                    {% for error in form.non_field_errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
                    <div class="col-md-4 mb-3">
                        {{ form.person | as_crispy_field }}
                        <a href="{% url 'entity:person_create' %}?next={{ request.path }}"
                           class="text-secondary"
                           target="_blank">Add a new entity?</a>
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.role | as_crispy_field }}
                        {{ form.domain | as_crispy_field }}
                        <a href="{% url 'entity:role_create' %}?next={{ request.path }}"
                           class="text-secondary"
                           target="_blank">Add a new role?</a>
                    </div>
                    <div class="col-md-3 mb-3">{{ form.alt_name | as_crispy_field }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
    {{ gamecasts.management_form|crispy }}
    <div id="game-cast-formset" class="bg-light p-3 mb-3">
        <strong>Casts related to this Game</strong>
        <p class='text-muted'>E.g. Actors, Actresses, Charactor Voices, etc.</p>
        {% for form in gamecasts %}
            <div class="form-wrapper">
                <div class="row">
                    {{ form.id }}
                    {% for error in form.non_field_errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
                    <div class="col-md-4 mb-3">
                        {{ form.person | as_crispy_field }}
                        <a href="{% url 'entity:person_create' %}?next={{ request.path }}"
                           class="text-secondary"
                           target="_blank">Add a new entity?</a>
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.role | as_crispy_field }}
                        {{ form.domain | as_crispy_field }}
                        <a href="{% url 'entity:role_create' %}?next={{ request.path }}"
                           class="text-secondary"
                           target="_blank">Add a new role?</a>
                    </div>
                    <div class="col-md-3 mb-3">{{ form.character_name | as_crispy_field }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
</form>
{% if form.errors %}
    <div class="alert alert-danger mt-5">
        <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}<li>{{ field }}: {{ error }}</li>{% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
