{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>{{ game.title }} Cast</h1>
        <ul>
            {% for gamecast in gamecasts %}
                <li>
                    <a href="{% url 'entity:person_detail' gamecast.person.id %}">{{ gamecast.person.name }}</a>
                    as
                    {{ gamecast.character_name }}
                </li>
            {% empty %}
                <li>No cast for this game yet.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
