{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Update Book{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-7 left-column">
            <h3>Update this Game entry</h3>
            {% include "play/game_form.html" %}
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}

<script type="text/javascript" src="{% static 'js/game.js' %}"></script>

{% endblock content %}
