{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <!--left column-->
        <div class="col-12 col-md-8">
            <div class="row">
                <div class="col-sm-12">
                    <h4>
                        All Check-Ins of
                        <a href="{% url 'play:game_detail' game.id %}">{{ game.title }}</a>
                    </h4>
                    <span class='d-flex mb-3'>
                        <div class="me-3">
                            <a href="?order=timestamp&status={{ status }}"
                               class="btn btn-sm btn-outline-secondary mb-1">Oldest</a>
                            <a href="?order=-timestamp&status={{ status }}"
                               class="btn btn-sm btn-outline-secondary mb-1">Newest</a>
                        </div>
                        <div class="me-3">|</div>
                        <div class="me-3">
                            <a href="?status=&order={{ order }}"
                               class="btn btn-sm btn-outline-secondary mb-1">All</a>
                            <a href="?status=to_play&order={{ order }}"
                               class="btn btn-sm btn-info mb-1">To Play</a>
                            <a href="?status=playing_replaying&order={{ order }}"
                               class="btn btn-sm btn-primary mb-1">(Re)Playing</a>
                            <a href="?status=played_replayed&order={{ order }}"
                               class="btn btn-sm btn-success mb-1">(Re)Played</a>
                            <a href="?status=paused&order={{ order }}"
                               class="btn btn-sm btn-warning mb-1">Paused</a>
                            <a href="?status=abandoned&order={{ order }}"
                               class="btn btn-sm btn-danger mb-1">Abandoned</a>
                        </div>
                    </span>
                </div>
                {% include "play/game_checkin_in_game_detail.html" %}
            </div>
        </div>
        <!--right column-->
        <div class="col-12 col-md-4">
            <!-- release-card -->
            <div class="release-card justify-content-start">
                <div class="d-flex flex-column mt-2">
                    <!--cover-box-->
                    <div class="col-12 mb-3">
                        <div style='width:50%'>
                            {% if user.pure_text_mode %}
                                <div class="cover-placeholder bg-light">{{ game.title }}</div>
                            {% else %}
                                {% if game.cover %}
                                    {% if game.cover_sens %}
                                        <img src="{{ game.cover.url }}"
                                            alt="{{ game.title }} cover"
                                            class="blur img-fluid"
                                            onclick="this.classList.toggle('blur')">
                                    {% else %}
                                        <img src="{{ game.cover.url }}"
                                            alt="{{ game.title }} cover"
                                            class="img-fluid cover-border"
                                            onerror="this.onerror=null; this.parentNode.innerHTML='<div class=\'cover-placeholder\'>{{ game.title }}{% if object.subtitle %}: {{object.subtitle}}{% endif %}</div>';">
                                    {% endif %}
                                {% else %}
                                    <div class="cover-placeholder bg-light">{{ game.title }}</div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <!--release-meta-->
                    <div class="col flex-grow-1">
                        <div class="card-body">
                            <span class='d-flex align-items-start'>
                                <h4>{{ game.title }}</h4>
                            </span>
                            {% if game.other_titles %}<p class='text-muted'>{{ game.other_titles }}</p>{% endif %}
                            <div class="game-meta">
                                {% for role, persons_altname_tuples in grouped_roles.items %}
                                    <div class="mb-1">
                                        <span class="text-muted">{{ role }}:</span>
                                        {% for creator, name in persons_altname_tuples %}
                                            <a href="{% url 'entity:creator_detail' creator.id %}">{{ name }}</a>
                                            {% if not forloop.last %}/{% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                {% if game.developers %}
                                    <div class="mb-1">
                                        <span class="text-muted">Developers:</span>
                                        {% for developer in game.developers.all %}
                                            <a href="{% url 'entity:company_detail' developer.id %}">{{ developer.name }}</a>
                                            {% if not forloop.last %}/{% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% if game.publishers %}
                                    <div class="mb-1">
                                        <span class="text-muted">Publishers:</span>
                                        {% for publisher in game.publishers.all %}
                                            <a href="{% url 'entity:company_detail' publisher.id %}">{{ publisher.name }}</a>
                                            {% if not forloop.last %}/{% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% if game.platforms %}
                                    <div class="mb-1">
                                        <span class="text-muted">Platforms:</span>
                                        {% for platform in game.platforms.all %}
                                            <a href="{% url 'play:platform_detail' platform.id %}">{{ platform.name }}</a>
                                            {% if not forloop.last %}/{% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% if game.region_release_dates.all %}
                                <div>
                                    <span class="text-muted">Release Date:</span>
                                    {% for release_date in game.region_release_dates.all %}                                           
                                        {{ release_date.release_date }} ({{ release_date.region }})
                                        {% if not forloop.last %}/{% endif %}
                                    {% endfor %}
                                </div>
                                {% endif %}


                                {% if game.website %}
                                    <div class="mb-1">  
                                        <span class="text-muted">Website:</span> <a href="{{ game.website }}">{{ game.website }}</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
