{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load markdownify %}
{% block meta %}
    <meta property="og:title" content="{{ object.title }}">
    {% if object.notes %}
        <meta property="og:description" content="{{ object.notes|truncatewords:150 }}">
    {% else %}
        <meta property="og:description" content="Check out {{ object.title }} on luvdb.com">
    {% endif %}
    {% if object.cover %}
        <meta property="og:image" content="{{ object.cover.url }}">
    {% endif %}
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="game">
{% endblock meta %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <!--Left columns-->
            <div class="col-lg-8 col-md-8 col-sm-12">
                <!-- game-card -->
                <div class="game-card justify-content-start">
                    <div class="d-flex flex-column flex-lg-row mt-2">
                        <!--cover-box-->
                        <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                            <div class="game-cover-box">
                                {% if user.pure_text_mode %}
                                    <div class="cover-placeholder bg-light">{{ object.title }}{% if object.subtitle %}: {{object.subtitle}}{% endif %}</div>
                                {% else %}
                                    {% if object.cover %}
                                        {% if object.cover_sens %}
                                            <img src="{{ object.cover.url }}"
                                                    alt="{{ object.title }} cover"
                                                    class="img-fluid blur cover-border"
                                                    onclick="this.classList.toggle('blur')">
                                        {% else %}
                                            <img src="{{ object.cover.url }}"
                                                    alt="{{ object.title }}"
                                                    class="img-fluid cover-border"
                                                    onerror="this.onerror=null; this.parentNode.innerHTML='<div class=\'cover-placeholder\'>{{ object.title }}{% if object.subtitle %}: {{object.subtitle}}{% endif %}</div>';">
                                        {% endif %}
                                    {% else %}
                                        <div class="cover-placeholder bg-light">{{ object.title }}{% if object.subtitle %}: {{object.subtitle}}{% endif %}</div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <!--game-meta-->
                        <div class="col flex-grow-1 ms-lg-3">
                            <div class="card-body">
                                <span class='d-flex align-items-start'>
                                    <h4>{{ object.title }}</h4>
                                </span>
                                <p class='d-flex'>
                                    {% if object.subtitle and object.other_titles %}
                                        <span class='text-secondary'>{{ object.subtitle }} / {{ object.other_titles }}</span>
                                    {% elif object.subtitle %}
                                        <span class='text-secondary'>{{ object.subtitle }}</span>
                                    {% elif object.other_titles %}
                                        <span class='text-secondary'>{{ object.other_titles }}</span>
                                    {% endif %}
                                </p>
                                <div class="game-meta">
                                    
                                    {% if object.developers.count != 0 %}
                                        <div class="mb-1">
                                            <span class="text-muted">Developer{% if object.developers.count > 1 %}s{% endif %}:</span>
                                            {% for developer in object.developers.all %}
                                                <a href="{% url 'entity:company_detail' developer.id %}">{{ developer.name }}</a>
                                                {% if not forloop.last %}/{% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% if object.publishers.count != 0 %}
                                        <div class="mb-1">
                                            <span class="text-muted">Publisher{% if object.publishers.count > 1 %}s{% endif %}:</span>
                                            {% for publisher in object.publishers.all %}
                                                <a href="{% url 'entity:company_detail' publisher.id %}">{{ publisher.name }}</a>
                                                {% if not forloop.last %}/{% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% if object.platforms.count != 0 %}
                                        <div class="mb-1">
                                            <span class="text-muted">Platform{% if object.platforms.count > 1 %}s{% endif %}:</span>
                                            {% for platform in object.platforms.all %}
                                                <a href="{% url 'play:platform_detail' platform.id %}">{{ platform.name }}</a>
                                                {% if not forloop.last %}/{% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <div class="mb-1">
                                        <span class="text-muted">Crew and Cast:</span> <a href="{% url 'play:game_cast_detail' object.id %}">View All</a>
                                    </div>
                                    {% if object.gameinseries_set.all %}
                                        <div class="mb-1">
                                            <span class="text-muted">Series:</span>
                                            {% for gameinseries in object.gameinseries_set.all %}
                                                <a href="{% url 'play:series_detail' gameinseries.series.id %}">{{ gameinseries.series.title }}</a>
                                                {% if not forloop.last %}/{% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}

                                    {% if ordered_release_dates %}
                                        <span class="text-muted">Release Date:</span>
                                        {% for release_date in ordered_release_dates %}
                                            {{ release_date.release_date }} ({{ release_date.region }})
                                            {% if not forloop.last %}/{% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    
                                    <div class="mt-3">
                                        <div class="text-muted"
                                           type="button"
                                           data-bs-toggle="collapse"
                                           data-bs-target="#detailsCollapse"
                                           aria-expanded="false"
                                           aria-controls="detailsCollapse">
                                            <span class="text-muted">More Metadata</span>
                                        </div>
                                        <div class="collapse" id="detailsCollapse">

                                            {% for role, persons_altname_tuples in grouped_roles.items %}
                                                <div class="mb-1">
                                                    <span class="text-muted">{{ role }}:</span>
                                                    {% for creator, name in persons_altname_tuples %}
                                                        <a href="{% url 'entity:creator_detail' creator.id %}">{{ name }}</a>
                                                        {% if not forloop.last %}/{% endif %}
                                                    {% endfor %}
                                                </div>
                                            {% endfor %}
                                            
                                            {% if object.rating %}
                                                <div>
                                                    <span class="text-muted">Rating:</span> {{ object.rating }}
                                                </div>
                                            {% endif %}
                                            {% if object.website %}
                                                <div>
                                                    <span class="text-muted">Website:</span> <a href="{{ object.website }}">{{ object.website }}</a>
                                                </div>
                                            {% endif %}
                                            {% if object.notes %}
                                                <span class="text-muted">Notes:</span>
                                                <div class="card card-body">{{ object.notes|markdownify }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of game-card -->
                        </div>
                    </div>
                </div>
                <!--Game Check-In-->
                <div class="mt-4">
                    {% include "play/game_checkin_form.html" %}
                    <div class="d-flex justify-content-between mt-4 col-12 col-md-11">
                        <h4>Latest Check-Ins</h4>
                        <a class="btn btn-outline-secondary btn-sm"
                           href="{% url 'play:game_checkin_all_list' game.id %}"
                           style="height:30px">All</a>
                    </div>
                    {% include "play/game_checkin_in_game_detail.html" %}
                </div>
                <hr>
            </div>
            <!--right columns-->
            <div class="d-flex flex-column col-sm-4">
                <!--Related works / Edit -->
                {% if user.is_authenticated and not object.locked %}
                    <div class="bg-light p-3 mb-3 order-2 order-sm-1">
                        <a href="{% url 'play:game_update' object.pk %}"
                           class='fs-6 text-secondary'>Edit game data</a>
                    </div>
                {% endif %}
                {% if object.work.id %}
                <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                    <h5>Work</h5>
                    <p>
                        <a href={% url "play:work_detail" object.work.id %}>{{ object.work.title }}</a>
                        {% if object.work.first_release_date %}({{ object.work.first_release_date }}){% endif %}
                    </p>
                </div>
                {% endif %}
                <!--stats-->
                <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                    <h5>Statistics</h5>
                    <div>
                        <strong class="text-muted">To Play:</strong> <a href="{% url 'play:game_checkin_all_list' object.id %}?status=to_play">{{ to_play_count }}</a>
                    </div>
                    <div>
                        <strong class="text-muted">Playing:</strong> <a href="{% url 'play:game_checkin_all_list' object.id %}?status=playing_replaying">{{ playing_count }}</a>
                    </div>
                    <div>
                        <strong class="text-muted">Played:</strong> <a href="{% url 'play:game_checkin_all_list' object.id %}?status=played_replayed">{{ played_count }}</a>
                    </div>
                </div>
                {% if object.wikipedia %}
                    <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                        <h5>Links</h5>
                        <div>
                            <a href="{{ object.wikipedia }}">Wikipedia</a>
                        </div>
                    </div>
                {% endif %}
                {% if lists_containing_game.count != 0 %}
                    <!--LuvLists that included this game-->
                    <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                        <h5>Lists</h5>
                        <div class='mb-0'>
                            {% for content_in_list in lists_containing_game %}
                                <div>
                                    <a href="{% url 'write:luvlist_detail' content_in_list.luv_list.id %}">{{ content_in_list.luv_list.title }}</a>
                                </div>
                                <hr>
                            {% empty %}
                                <div>This game is not included in any LuvLists.</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                <div class="bg-light p-3 mb-3 order-2 order-sm-3">
                    <div class="d-flex justify-content-start">
                        <h5 class="me-1">Contributors</h5>
                        (<a href="{% url 'play:game_history' object.pk %}" class="fs-6 text-secondary">Changelog</a>)
                    </div>
                    <div>
                        {% for contributor in contributors %}
                            <span>
                                <a href="{% url 'accounts:detail' contributor.username %}">
                                    {{ contributor.display_name|default:contributor.username }}
                                </a>
                            </span>
                            {% if not forloop.last %} / {% endif %}
                        {% endfor %}
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock content %}
