{% extends 'base.html' %}

{% block content %}

<div class='col-sm-7'>
    <div class="row">
        <div class="col-sm-12">
            <h4>All Check-Ins of 
                <a href="{% url 'play:game_detail' game.id %}"> {{ game.title }}</a>
            </h4>
            <span class='d-flex'>
                <div class="me-3">
                    <a href="?order=timestamp&status={{status}}" class="btn btn-sm btn-outline-secondary mb-1">Oldest</a>
                    <a href="?order=-timestamp&status={{status}}" class="btn btn-sm btn-outline-secondary mb-1">Newest</a>
                </div>
                <div class="me-3">|</div>
                <div class="me-3">
                    <a href="?status=&order={{order}}" class="btn btn-sm btn-outline-dark mb-1">All</a>
                    <a href="?status=to_play&order={{order}}" class="btn btn-sm btn-info mb-1">To Play</a>
                    <a href="?status=playing_replaying&order={{order}}" class="btn btn-sm btn-primary mb-1">Playing/Replaying</a>
                    <a href="?status=played_replayed&order={{order}}" class="btn btn-sm btn-success mb-1">Played/Replayed</a>
                    <a href="?status=paused&order={{order}}" class="btn btn-sm btn-warning mb-1">Paused</a>
                    <a href="?status=abandoned&order={{order}}" class="btn btn-sm btn-danger mb-1">Abandoned</a>
                </div>
            </span>
        </div>
        
        {% include "play/game_checkin_in_game_detail.html" %}
    </div>
</div>

{% endblock content %}