{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <!--left column-->
        <div class="col-12 col-md-8">
            <div class="row">
                <div class="col-sm-12">
                    <h4>
                        All Check-Ins of
                        <a href="{% url 'play:game_detail' game.id %}">{{ game.title }}</a>
                    </h4>
                    <span class='d-flex'>
                        <div class="me-3">
                            <a href="?order=timestamp&status={{ status }}"
                               class="btn btn-sm btn-outline-secondary mb-1">Oldest</a>
                            <a href="?order=-timestamp&status={{ status }}"
                               class="btn btn-sm btn-outline-secondary mb-1">Newest</a>
                        </div>
                        <div class="me-3">|</div>
                        <div class="me-3">
                            <a href="?status=&order={{ order }}"
                               class="btn btn-sm btn-outline-dark mb-1">All</a>
                            <a href="?status=to_play&order={{ order }}"
                               class="btn btn-sm btn-info mb-1">To Play</a>
                            <a href="?status=playing_replaying&order={{ order }}"
                               class="btn btn-sm btn-primary mb-1">(Re)Playing</a>
                            <a href="?status=played_replayed&order={{ order }}"
                               class="btn btn-sm btn-success mb-1">(Re)Played</a>
                            <a href="?status=paused&order={{ order }}"
                               class="btn btn-sm btn-warning mb-1">Paused</a>
                            <a href="?status=abandoned&order={{ order }}"
                               class="btn btn-sm btn-danger mb-1">Abandoned</a>
                        </div>
                    </span>
                </div>
                {% include "play/game_checkin_in_game_detail.html" %}
            </div>
        </div>
        <!--right column-->
        <div class="col-12 col-md-4">
            <!-- release-card -->
            <div class="release-card justify-content-start">
                <div class="d-flex flex-column mt-2">
                    <!--cover-box-->
                    <div class="col-12 mb-3">
                        <div style='width:50%'>
                            {% if game.cover %}
                                {% if game.cover_sens %}
                                    <img src="{{ game.cover.url }}"
                                         alt="{{ game.title }} cover"
                                         class="blur img-fluid"
                                         onclick="this.classList.toggle('blur')">
                                {% else %}
                                    <img src="{{ game.cover.url }}"
                                         alt="{{ game.title }} cover"
                                         class="img-fluid">
                                {% endif %}
                            {% else %}
                                <div class="no-cover-text">No Cover</div>
                            {% endif %}
                        </div>
                    </div>
                    <!--release-meta-->
                    <div class="col flex-grow-1">
                        <div class="card-body">
                            <span class='d-flex align-items-start'>
                                <h4>{{ game.title }}</h4>
                            </span>
                            {% if game.romanized_title %}<p class='text-muted'>{{ game.romanized_title }}</p>{% endif %}
                            <div class="movie-meta">
                                {% for role_name, person_altname_tuples in roles.items %}
                                    <p>
                                        <strong>{{ role_name }}:</strong>
                                        {% for person, alt_name in person_altname_tuples %}
                                            <a href="{% url 'entity:person_detail' person.id %}">{{ alt_name }}</a>
                                            {% if not forloop.last %}/{% endif %}
                                        {% endfor %}
                                    </p>
                                {% endfor %}
                                {% if game.developers %}
                                    <p>
                                        <strong>Developers:</strong>
                                        {% for developer in game.developers.all %}
                                            <a href="{% url 'play:developer_detail' developer.id %}">{{ developer.name }}</a>
                                            {% if not forloop.last %}/{% endif %}
                                        {% endfor %}
                                    </p>
                                {% endif %}
                                {% if game.publishers %}
                                    <p>
                                        <strong>Publishers:</strong>
                                        {% for publisher in game.publishers.all %}
                                            <a href="{% url 'play:publisher_detail' publisher.id %}">{{ publisher.name }}</a>
                                            {% if not forloop.last %}/{% endif %}
                                        {% endfor %}
                                    </p>
                                {% endif %}
                                {% if game.platforms %}
                                    <p>
                                        <strong>Platforms:</strong>
                                        {% for platform in game.platforms.all %}
                                            <a href="{% url 'play:platform_detail' platform.id %}">{{ platform.name }}</a>
                                            {% if not forloop.last %}/{% endif %}
                                        {% endfor %}
                                    </p>
                                {% endif %}
                                {% if game.release_date %}
                                    <p>
                                        <strong>Release Date:</strong> {{ game.release_date }}
                                    </p>
                                {% endif %}
                                {% if game.website %}
                                    <p>
                                        <strong>Website:</strong> <a href="{{ game.website }}">{{ game.website }}</a>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
