{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h3>
            <a href="{% url 'play:game_detail' game.id %}">{{ game.title }}</a>
            Crew and Cast
        </h3>
        <div class="fs-4">Crew</div>
        <ul>
            {% regroup gamecrew by role as roles_grouped %}
            {% for role_group in roles_grouped %}
                <li>
                    <span class="text-muted">{{ role_group.grouper.name }}:</span>
                    {% for gamerole in role_group.list %}
                        <a href="{% url 'entity:creator_detail' gamerole.creator.id %}">{{ gamerole.creator.name }}</a>
                        {% if not forloop.last %}/{% endif %}
                    {% endfor %}
                </li>
            {% empty %}
                <li>No staff for this game yet.</li>
            {% endfor %}
        </ul>
        <div class="fs-4">Cast</div>
        <ul>
            {% for gamecast in gamecasts %}
                <li>
                    <a href="{% url 'entity:creator_detail' gamecast.creator.id %}">{{ gamecast.creator.name }}</a>
                    as
                    {{ gamecast.character_name }}
                </li>
            {% empty %}
                <li>No cast for this game yet.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
