{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 left-column">
                <h2>
                    {{ platform.name }}
                </h2>
                {% if platform.other_names %}
                    <div class="text-muted">
                        {{ platform.other_names }}
                    </div>
                {% endif %}
                {% if platform.notes %}
                    <div class="mt-3">
                        {{ platform.notes }}
                    </div>
                {% endif %}
                {% if sorted_games %}
                    <h3>Game releases</h3>
                    <ul>
                        {% for game in sorted_games %}
                            <li>
                                <a href="{% url 'play:game_detail' game.id %}">{{ game.title }}</a>
                                ({% if game.earliest_release_date %}{{ game.earliest_release_date }}{% endif %})

                            </li>
                        {% empty %}
                            <li>No games have been released on this platform.</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No games have been released on this platform.</p>
                {% endif %}
            </div>

            <div class="d-flex flex-column col-sm-4">
                <!--Related Work / Edit -->
                {% if user.is_authenticated  and not object.locked %}
                <div class="bg-light p-3 mb-3 order-2 order-sm-1">
                    <div>
                        <a href="{% url 'play:platform_update' object.pk %}" class='fs-6 text-secondary'>Edit Platform</a>
                    </div>
                </div>
                {% endif %}
    
                {% if object.wikipedia %}
                <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                    <h5>Links</h5>
                    <div><a href="{{object.wikipedia}}">Wikipedia</a></div>
                </div>
                {% endif %}

                <div class="bg-light p-3 mb-3 order-1 order-sm-3">
                    <div class="d-flex justify-content-start">
                        <h5 class="me-1">Contributors</h5>
                        (<a href="{% url 'play:platform_history' object.pk %}" class="fs-6 text-secondary">Changelog</a>)
                    </div>
                    <div>
                        {% for contributor in contributors %}
                            <span>
                                <a href="{% url 'accounts:detail' contributor.username %}">
                                    {{ contributor.display_name|default:contributor.username }}
                                </a>
                            </span>
                            {% if not forloop.last %} / {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
