{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 left-column">
                <h2>
                    {{ platform.name }}
                </h2>
                {% if object.other_names %}
                <div class="text-muted">
                    {{ object.other_names}}
                </div>
                {% endif %}
                {% if platform.games.count != 0 %}
                    <h3>Game releases</h3>
                    <ul>
                        {% for game in platform.games.all %}
                            <li>
                                <a href="{% url 'play:game_detail' game.id %}">{{ game.title }}</a>
                                (Released on {{ platform.name }},
                                {{ game.release_date }})
                            </li>
                        {% empty %}
                            <li>No games have been released on this platform.</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
