{% extends "base.html" %}
{% block title %}Play{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class='col-12 col-md-8'>
                {% if trending_games %}
                    <div class="mb-3">
                        <h2>Trending</h2>
                        <div class="row ps-2 pe-2">
                            {% for game in trending_games %}
                                <div class="col-3 col-sm-3 col-md-2 col-lg-2 mb-4 p-1">
                                    <a href="{% url 'play:game_detail' game.pk %}">
                                        {% if user.pure_text_mode %}
                                            <div class="cover-placeholder bg-light">{{ game.title }}{% if game.subtitle %}: {{game.subtitle}}{% endif %}</div>
                                        {% else %}
                                            {% if game.cover %}
                                                {% if game.cover_sens %}
                                                    <img src="{{ game.cover.url }}"
                                                            alt="{{ game.title }} cover"
                                                            class="img-fluid blur cover-border"
                                                            onclick="this.classList.toggle('blur')">
                                                {% else %}
                                                    <img src="{{ game.cover.url }}"
                                                            alt="{{ game.title }}"
                                                            class="img-fluid cover-border"
                                                            onerror="this.onerror=null; this.parentNode.innerHTML='<div class=\'cover-placeholder\'>{{ game.title }}{% if game.subtitle %}: {{game.subtitle}}{% endif %}</div>';">
                                                {% endif %}
                                            {% else %}
                                                <div class="cover-placeholder bg-light">{{ game.title }}{% if game.subtitle %}: {{game.subtitle}}{% endif %}</div>
                                            {% endif %}
                                        {% endif %}
                                    </a>
                                </div>
                            {% empty %}
                                <p>No trending games to display.</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <h2>Recently Added</h2>
                <div class="row ps-2 pe-2">
                    {% for game in recent_games %}
                        <div class="col-3 col-sm-3 col-md-2 col-lg-2 mb-4 p-1">
                            <a href="{% url 'play:game_detail' game.pk %}">
                                {% if user.pure_text_mode %}
                                    <div class="cover-placeholder bg-light">{{ game.title }}{% if game.subtitle %}: {{game.subtitle}}{% endif %}</div>
                                {% else %}
                                    {% if game.cover %}
                                        {% if game.cover_sens %}
                                            <img src="{{ game.cover.url }}"
                                                    alt="{{ game.title }} cover"
                                                    class="img-fluid blur cover-border"
                                                    onclick="this.classList.toggle('blur')">
                                        {% else %}
                                            <img src="{{ game.cover.url }}"
                                                    alt="{{ game.title }}"
                                                    class="img-fluid cover-border"
                                                    onerror="this.onerror=null; this.parentNode.innerHTML='<div class=\'cover-placeholder\'>{{ game.title }}{% if game.subtitle %}: {{game.subtitle}}{% endif %}</div>';">
                                        {% endif %}
                                    {% else %}
                                        <div class="cover-placeholder bg-light">{{ game.title }}{% if game.subtitle %}: {{game.subtitle}}{% endif %}</div>
                                    {% endif %}
                                {% endif %}
                            </a>
                        </div>
                    {% empty %}
                        <p>No recent games to display.</p>
                    {% endfor %}
                </div>
            </div>
            <div class='col-12 col-md-4'>
                <div class="bg-light p-3 mb-3">
                    <div class="fs-5">Add New</div>
                    <div>
                        <a href="{% url "play:work_create" %}" class="text-muted">Work</a>
                    </div>
                    <div>
                        <a href="{% url "play:game_create" %}" class="text-muted">Game</a>
                    </div>
                    <div>
                        <a href="{% url "play:series_create" %}" class="text-muted">Game Series</a>
                    </div>
                </div>
                <div class="bg-light p-3 mb-3">
                    <div class="fs-5">Statistics</div>
                    <div>
                        <span class="text-muted">Works</span>: {{ works_count }}
                    </div>
                    <div>
                        <span class="text-muted">Games</span>: {{ games_count }}
                    </div>
                </div>
                {% if genres %}
                    <div class="bg-light p-3 mb-3">
                        <div class="fs-5">Genres</div>
                        <div class='d-flex flex-wrap'>
                            {% for genre in genres %}
                                <a href="{% url 'play:genre_detail' genre.slug %}" class="me-2">{{ genre.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
