{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class='col-8'>
                <h2>Recently Added</h2>
                <div class="row">
                    {% for game in games %}
                        <div class="col-md-2 col-sm-6 mb-4">
                            <a href="{% url 'play:game_detail' game.pk %}">
                                {% if game.cover %}
                                    {% if game.cover_sens %}
                                        <img src="{{ game.cover.url }}" alt="{{ game.title }} cover" class="img-fluid blur" onclick="this.classList.toggle('blur')">
                                    {% else %}
                                        <img src="{{ game.cover.url }}" alt="{{ game.title }}" class="img-fluid">
                                    {% endif %}
                                {% else %}
                                    <div class="cover-placeholder" style="background: grey; width: 100%; padding-top: 100%;"></div>
                                {% endif %}
                            </a>
                        </div>
                    {% empty %}
                        <p>No recent games to display.</p>
                    {% endfor %}
                </div>
            </div>
                <div class='col-4'>
                    <div class="bg-light p-3">
                        <h5>Add New</h5>
                        <div>
                            <a href="{% url "play:game_create" %}" class="text-muted">Game</a>
                        </div>
                        <div>
                            <a href="{% url "play:series_create" %}" class="text-muted">Series</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
