{% load crispy_forms_tags %}
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">
            {{ form.title|as_crispy_field }} 
        </div>
    </div>
    <h2>Games in Series</h2>
    {{ games.management_form }}
    <div id="gameInSeriesDiv">
    {% for form in games %}
        {{ form.id }}
        <div class="row{% if forloop.last %} empty-form{% endif %}" {% if forloop.last %}style="display: none;"{% endif %}>
            <div class="col-md-8">
                {{ form.game_url|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.order|as_crispy_field }}
            </div>
        </div>
    {% endfor %}
    </div>
    <button id="addMore" type="button" class="btn btn-sm btn-outline-dark">+</button>
    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let formsetNum = {{ games|length }};
        let emptyForm = document.querySelector('.empty-form').cloneNode(true);
    
        document.querySelector('#addMore').addEventListener('click', function(e) {
            e.preventDefault();
            
            let newForm = emptyForm.cloneNode(true);
            newForm.classList.remove('empty-form');
            newForm.style.display = '';
    
            newForm.innerHTML = newForm.innerHTML.replace(/__prefix__/g, formsetNum);
    
            document.querySelector('#gameInSeriesDiv').appendChild(newForm);
            
            formsetNum++;
            document.querySelector('#id_gameinseries_set-TOTAL_FORMS').value = formsetNum;
        });
    });
    </script>
    