{% extends "base.html" %}
{% load markdownify %}
{% block title %}{{ object.title }}{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class='col-12 col-md-8'>
                <h2>{{ object.title }}</h2>
                {% if object.other_titles %}
                <p class="text-muted">
                    {{ object.other_titles }}
                </p>
                {% endif %}
                {% if object.notes %}
                <div class="mb-3">{{ object.notes|markdownify }}</div>
                {% endif %}
                <div class='mt-3'>
                    {% for game_in_series in object.gameinseries_set.all %}
                        <!--Game Series Item-->
                        <div class="bg-light p-3 mb-3">
                            <span class="sticky-note">{{ game_in_series.order }}</span>
                            <div class="bg-white p-3 d-flex">
                                <div class="mb-3 mb-md-0 flex-shrink-0 checkin-cover">
                                    {% if game_in_series.game.cover %}
                                        <img src="{{ game_in_series.game.cover.url }}"
                                             alt="{{ game_in_series.game.title }} cover"
                                             style="width: 100%"
                                             class="img-fluid">
                                    {% else %}
                                        <div class="no-cover-text">No Cover</div>
                                    {% endif %}
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <a href="{% url 'play:game_detail' game_in_series.game.pk %}"
                                       class="text-decoration-none hover-username">
                                        <h5>{{ game_in_series.game.title }}</h5>
                                    </a>
                                    {% if game_in_series.game.subtitle %}
                                        <div class="mb-2 text-muted">{{ game_in_series.game.subtitle }}</div>
                                    {% endif %}
                                    {% if game_in_series.game.other_titles %}
                                        <div class="mb-2 text-muted">{{ game_in_series.game.other_titles }}</div>
                                    {% endif %}
                                    {% regroup game_in_series.game.gameroles.all by role as roles_list %}
                                    {% for role in roles_list %}
                                        <div>
                                            {{ role.grouper }}{% if role.list|length > 1 %}s{% endif %}:
                                            {% for game_role in role.list %}
                                                {% if not forloop.first %}, {% endif %}
                                                <a href="{% url 'entity:creator_detail' game_role.person.id %}">
                                                    {{ game_role.alt_name | default:game_role.person.name }}
                                                </a>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                    <!-- Display Developers -->
                                    {% if game_in_series.game.developers.all %}
                                    <div>
                                        Developers: 
                                        {% for developer in game_in_series.game.developers.all %}
                                            {% if not forloop.first %}, {% endif %}
                                            <a href="{% url 'entity:company_detail' developer.id %}">
                                                {{ developer.name }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                    {% if game_in_series.game.region_release_dates.all %}
                                    <div>
                                        <span class="text-muted">Release Date:</span>
                                        {% for release_date in game_in_series.game.region_release_dates.all %}                                           
                                            {{ release_date.release_date }} ({{ release_date.region }})
                                            {% if not forloop.last %}/{% endif %}
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="bg-light p-3 mb-3">
                            <div class="bg-white p-3">
                                <div class="flex-grow-1">
                                    <p>No games in this series yet.</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
            <div class="col-12 col-md-4">
                {% if user.is_authenticated %}
                    <div class="bg-light p-3 mb-3">
                        <a href="{% url 'play:series_update' object.id %}"
                           class='fs-6 text-secondary'>Edit Game Series</a>
                    </div>
                {% endif %}

                {% if object.wikipedia %}
                    <div class="bg-light p-3 mb-3">
                        <h5>Links</h5>
                        <div>
                            <a href="{{ object.wikipedia }}">Wikipedia</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <style>
    .sticky-note {
        position: relative;
        top: -1em;
        display: inline-block;
        padding: 0 10px;
        background: #e3e3e3;
        color: #a1a1a1;
        line-height: 18px;
        border-radius: 0 0 4px 4px;
      }
    .no-cover-text {
        width: 100%;
        height: 100%;
        background-color: #ddd;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
{% endblock %}
