{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-7 left-column">
            <h2>Create a new Work entry</h2>
            {% include "play/work_form.html" %}
        </div>
        <!--Instruction-->
        <div class="col-12 col-md-5 right column">
            <div class="bg-light p-3">
                <div class="fs-4">Guide</div>
                <p>
                    You are creating a <strong>Work</strong> entry of a game.
                </p>
                <p>
                    A <strong>Work</strong> entry is used for creating better linkage between different releases of the same game. It's not a must.
                </p>
                <div class="fs-4">Examples</div>
                <p>
                    The visual novel <a href="https://luvdb.com/play/work/1/">WHITE ALBUM2</a> was first released in two parts: <a href="https://luvdb.com/play/game/1/">introductory chapter</a> and <a href="https://luvdb.com/play/game/2/">closing chapter</a>, and later was ported to <a href="https://luvdb.com/play/game/3/">PS3</a> in one volume. All three are the same games but different releases, so we need a Work entry to group them together.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
