{% extends "base.html" %}
{% load util_filters %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <!--Left columns-->
        <div class="col-sm-8">
            <h2>{{ object.title }}</h2>
            {% if object.subtitle or object.other_titles %}
                <p class='d-flex'>
                    <span class='text-secondary'>
                        {% if object.subtitle %}{{ object.subtitle }}{% endif %}
                        {% if object.subtitle and object.other_titles %}
                            / 
                        {% endif %}
                        {{ object.other_titles }}
                    </span>
                </p>
            {% endif %}
            {% for role, persons_altname_tuples in grouped_roles.items %}
                <div>
                    <span class="text-muted">{{ role }}:</span>
                    {% for creator, name in persons_altname_tuples %}
                        <a href="{% url 'entity:creator_detail' creator.id %}">{{ name }}</a>
                        {% if not forloop.last %} / {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
            {% if object.developers.count != 0 %}
                <div class="mb-1">
                    <span class="text-muted">Developer{% if object.developers.count > 1 %}s{% endif %}:</span>
                    {% for developer in object.developers.all %}
                        <a href="{% url 'entity:company_detail' developer.id %}">{{ developer.name }}</a>
                        {% if not forloop.last %}/{% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if object.genres.count != 0 %}
                <div class="mb-1">
                    <span class="text-muted">Genres:</span>
                    {% for genre in object.genres.all %}
                        <a href="{% url "play:genre_detail" genre.slug %}">{{ genre.name }}</a>
                        {% if not forloop.last %} / {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if object.based_on_litworks.count != 0 or object.based_on_games.count != 0 or object.based_on_movies.count != 0 or object.based_on_series.count != 0 %}
                <div class="mb-1">
                    <span class="text-muted">Based on:</span> 
                    <ul class='mb-0'>
                    {% if object.based_on_litworks.count != 0 %}
                        <li>Publication{% if object.based_on_litworks.count > 1 %}s{% endif %}: 
                        {% for litwork in object.based_on_litworks.all %}
                            <a href="{% url "read:work_detail" litwork.id %}">{{ litwork.title }}</a> ({{ litwork.publication_date|extract_year }})
                            {% if not forloop.last %} / {% endif %}
                        {% endfor %}
                        </li>
                    {% endif %}
                    {% if object.based_on_games.count != 0 %}
                        <li>Game{% if object.based_on_games.count > 1 %}s{% endif %}: 
                        {% for game in object.based_on_games.all %}
                            <a href="{% url "play:work_detail" game.id %}">{{ game.title }}</a> ({{ game.first_release_date|extract_year }})
                            {% if not forloop.last %} / {% endif %}
                        {% endfor %}
                        </li>
                    {% endif %}
                    {% if object.based_on_movies.count != 0 %}
                        <li>Movie{% if object.based_on_movies.count > 1 %}s{% endif %}: 
                        {% for movie in object.based_on_movies.all %}
                            <a href="{% url "watch:movie_detail" movie.id %}">{{ movie.title }}</a> ({{ movie.earliest_release_date|extract_year }})
                            {% if not forloop.last %} / {% endif %}
                        {% endfor %}
                        </li>
                    {% endif %}
                    {% if object.based_on_series.count != 0 %}
                        <li>Series: 
                        {% for series in object.based_on_series.all %}
                            <a href="{% url "watch:series_detail" series.id %}">{{ series.title }}</a> ({{ series.release_date|extract_year }})
                            {% if not forloop.last %} / {% endif %}
                        {% endfor %}
                        </li>
                    {% endif %}
                    </ul>
                </div>
            {% endif %}
            {% if setting_locations_with_parents %}
            <div class="mb-1">
                {# djlint:off #}
                <span class="text-muted">Setting Location{% if setting_locations_with_parents.count > 1 %}s{% endif %}:</span>
                {# djlint:on #}
                <ul class="mb-0">
                    {% for location, parents in setting_locations_with_parents %}
                        <li class="mb-0">
                            {% if parents %}
                                {% for parent in parents %}
                                    <a href="{% url 'visit:location_detail' parent.id %}">{{ parent.name }}</a> > 
                                {% endfor %}
                            {% endif %}
                            <a href="{% url 'visit:location_detail' location.id %}">{{ location.name }}</a> 
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if object.first_release_date %}
                <div>
                    <span class="text-muted">First release date: </span>
                    {{ object.first_release_date }}
                </div>
            {% endif %}
            <h3 class='mt-3'>Releases</h3>
            <ul>
            {% for game in games %}
                <li>
                    <a href="{% url "play:game_detail" game.id %}">{{ game.title }}</a>{% if game.subtitle %}: {{game.subtitle}}{% endif %}
                    ({% if game.platforms %}{% for platform in game.platforms.all %}{{ platform.name }}{% if not forloop.last %} / {% endif %}{% endfor %}{% endif %},
                    {% if game.earliest_release_date %}{{ game.earliest_release_date }}{% endif %})
                </li>
            {% endfor %}
            </ul>
        </div>

        <!--Right columns-->
        <div class="d-flex flex-column col-sm-4">
            <!--Related Work / Edit -->
            {% if user.is_authenticated and not object.locked %}
            <div class="bg-light p-3 mb-3 order-2 order-sm-1">
                <div>
                    <a href="{% url 'play:work_update' object.pk %}" class='fs-6 text-secondary'>Edit Work</a>
                </div>
                <div>
                    <a href="{% url 'play:game_create_with_work' object.pk %}" class='fs-6 text-secondary'>Add Game Release</a>
                </div>
            </div>
            {% endif %}

            {% if object.wikipedia %}
            <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                <div class="fs-5">Links</div>
                <div><a href="{{object.wikipedia}}">Wikipedia</a></div>
            </div>
            {% endif %}

            <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                <div class="d-flex justify-content-start align-items-center flex-wrap">
                    <div class="me-1 fs-5">Contributors</div>
                    (<a href="{% url 'play:work_history' object.pk %}" class="fs-6 text-secondary">Changelog</a>)
                </div>
                <div>
                    {% for contributor in contributors %}
                        <span>
                            <a href="{% url 'accounts:detail' contributor.username %}">
                                {{ contributor.display_name|default:contributor.username }}
                            </a>
                        </span>
                        {% if not forloop.last %} / {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
