.select2-container .select2-selection--single {
    height: calc(1.5em + .75rem + 2px) !important;
    border: 1px solid #ced4da !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: calc(1.5em + .75rem + 2px) !important;
}

.select2-selection__choice {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/* https://github.com/yourlabs/django-autocomplete-light/issues/1055#issuecomment-610613743  */

.add-book-work,
.add-book-role,
.add-book-instance,
.add-instance-role,
.add-work-role,
.add-issue-instance,
.add-instance-work,
.add-game-role,
.add-track-role,
.add-release-track,
.add-release-role,
.add-game-cast,
.add-movie-role,
.add-movie-cast,
.add-region-release-date {
    height: 38px !important;
    /* Adjust this value to your liking */
    width: 100% !important;
}

blockquote {
    font: 16px/22px normal helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 0;
    padding-left: 15px;
    border-left: 3px solid #ccc;
}

a {
    text-decoration: none;
}

p:last-child,
blockquote:last-child,
ol:last-child,
li:last-child {
    margin-bottom: 0;
}


/* dal bootstrap css fix */
.select2-container {
    width: 100% !important;
    min-width: 10em !important;
}

.read-cover-box,
.watch-cover-box,
.game-cover-box,
.listen-cover-box {
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    /* sets the maximum width */
    /* background-color: #f0f0f0; */
    /* light gray */
    display: inline-flex;
    /* changed from flex to inline-flex */
    align-items: start;
    justify-content: center;
    overflow: hidden;
    /* padding: 2px; */
    /* creates the gray border effect */
}

.cover-image {
    max-width: 100%;
    /* the image will fit into the padded parent */
    height: auto;
}

.cover-border {
    border: 2px solid #ddd;
}

.cover-border-to_listen,
.cover-border-to_watch,
.cover-border-to_play,
.cover-border-to_read {
    border-color: #0dcaf0 !important;
    border-width: 0.2em !important;
}

.cover-border-listened,
.cover-border-relistened,
.cover-border-watched,
.cover-border-rewatched,
.cover-border-played,
.cover-border-replayed,
.cover-border-afterthought,
.cover-border-finished_reading,
.cover-border-reread {
    border-color: #198754 !important;
    border-width: 0.2em !important;
}

.cover-border-looping,
.cover-border-listening,
.cover-border-relistening,
.cover-border-watching,
.cover-border-rewatching,
.cover-border-playing,
.cover-border-replaying,
.cover-border-reading,
.cover-border-rereading,
.cover-border-sampled {
    border-color: #0d6efd !important;
    border-width: 0.2em !important;
}

.cover-border-paused {
    border-color: #ffc107 !important; 
    border-width: 0.2em !important;
}

.cover-border-abandoned {
    border-color: #dc3545 !important; 
    border-width: 0.2em !important;
}

.listen-cover-placeholder {
    border: 2px solid #ddd;
    background-color: #eee;
    width: 100%;
    /* height: 100%; */
    text-align: center;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.em;
    font-weight: bold;
    color: var(--text-default);
    overflow: hidden;
}

.cover-placeholder {
    border: 2px solid #ddd;
    background-color: #eee;
    width: 100%;
    /* height: 100%; */
    text-align: center;
    aspect-ratio: 1 / 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.em;
    font-weight: bold;
    color: var(--text-default);
    overflow: hidden;
}

[data-bs-theme="dark"] .cover-placeholder {
    border: 2px solid #ddd;
    /* background-color: #aaaaaa; */
    color: var(--text-default);
}

@media screen and (max-width: 768px) {

    /* adjust '768px' according to your requirement */
    .cover-image {
        width: 75%;
        /* or any size you want on mobile */
    }

    .listen-cover-placeholder {
        border: 2px solid #ddd;
        background-color: #eee;
        width: 100%;
        /* height: 100%; */
        text-align: center;
        aspect-ratio: 1 / 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1em;
        font-weight: bold;
        color: var(--text-default);
        overflow: hidden;
        margin-right: 0;
    }

    .cover-placeholder {
        border: 2px solid #ddd;
        background-color: #eee;
        width: 100%;
        /* height: 100%; */
        text-align: center;
        aspect-ratio: 1 / 1.5;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1em;
        font-weight: bold;
        color: var(--text-default);
        overflow: hidden;
    }
}

.select2-selection__clear {
    margin-top: 0 !important;
}

.select2-selection__rendered {
    line-height: normal !important;
    margin-bottom: 0.6em !important;
    padding: 0.6em 1.5em 0em 0.8em !important;
    vertical-align: middle !important;
    color: var(--text-default) !important;
}


.activity-filter.selected {
    background-color: #979797 !important;
    color: #fff !important;
}

/* Dark Mode */
[data-bs-theme='dark'] .activity-filter.selected {
    background-color: rgb(51, 51, 51) !important;
    color: white !important;
}

.notification-default {
    display: flex;
    flex-wrap: wrap;
}

.notification-delete {
    display: block;
}


/* spoiler */
a[href$="/spoiler"],
a[href$="/s"] {
    position: relative;
    display: inline-block;
    color: inherit;
    line-height: 1.5;
    vertical-align: bottom;
    overflow: hidden;
}

a[href$="/spoiler"]::after,
a[href$="/s"]::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

a[href$="/spoiler"].revealed::after,
a[href$="/s"].revealed::after {
    opacity: 0;
}

a[href$="/spoiler"].revealed,
a[href$="/s"].revealed {
    color: inherit;
    text-decoration: none;
    left: 0;
    top: 0;
    height: 100%;
    background: #fff;
}


[data-bs-theme="dark"] a[href$="/spoiler"].revealed,
[data-bs-theme="dark"] a[href$="/s"].revealed {
    color: inherit;
    text-decoration: none;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--bs-body-bg);
}

/* popup footnote */
sup {
    line-height: normal !important;
}

.popupnote-parent {
    position: relative;
    display: inline-block;
    text-align: left;
}

.popupnote {
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    color: #333;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 1em;
    font-size: 1em;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 250px;
    max-width: calc(100vw - 20px);
    height: auto;
    white-space: normal;
    overflow: auto;
    box-sizing: border-box;
}

.popupnote blockquote {
    font-size: 1em;
}

[data-bs-theme="dark"] .popupnote {
    background-color: var(--bs-body-bg);
    color: var(--text-default);
    border: 1px solid var(--bg-highlight);
}

@media screen and (max-width: 600px) {
    .popupnote {
        max-width: calc(100vw - 20px);
        left: 50%;
        transform: translateX(-50%);
    }
}

.popupnote-parent:hover .popupnote {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: start;
}

.footnote {
    display: none;
}

/* citation */

cite {
    font-style: normal;
    font-weight: lighter;
    font-size: 1em;
    color: darkgreen;
}

cite>a {
    color: darkgreen;
}

pre {
    padding: 1em;
}

@media (max-width: 768px) {
    .checkin-cover {
        width: 85px;
    }
}

@media (min-width: 768px) {
    .checkin-cover {
        width: 150px;
    }
}

.blur {
    filter: blur(5px);
}

p img {
    max-width: 49%;
    height: auto;
    transition: max-width 0.3s ease;
}

p:hover img,
p img:focus {
    max-width: 100%;
}

a img {
    border: 1px solid #ddd;
}

iframe {
    max-width: 100%;
    width: 100%;
}

a {
    word-wrap: break-word;
    overflow-wrap: break-word;
}


/* For Chrome */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    margin-left: -35px;
}

#autocomplete-dropdown {
    background-color: white;
    border: 1px solid #ccc;
    max-height: 125px;
    /* Assuming each item is 25px tall */
    overflow-y: auto;
    width: 300px;
    /* Set a fixed width, or make it dynamic */
}


/* Light / dark Mode */

:root {
    --bg-default: #f8f9f9; 
    --bg-highlight: #eceeee; 
    --text-default: #000;
    --text-contrast: #6c757d;
    --bs-body-bg: var(--bg-default); 
}
  
[data-bs-theme="dark"] {
    --bg-default: #2B3035;
    --bg-highlight: #2B3035;
    --text-default: #c3c1c1;
    --text-contrast: #6e6e6e;
    --bs-body-bg: #18191A;
}

.bg-light {
    background-color: var(--bg-highlight) !important;
}

[data-bs-theme="dark"] .bg-light {
    background-color: var(--bg-default) !important;
    --bg-highlight: #434d58 !important;
    --text-default: #ffffff !important;
    --bs-btn-border-color: #2B3035 !important;
}


[data-bs-theme="dark"] .btn-light {
    background-color: var(--bg-default) !important;
    --bg-highlight: #2B3035;
    color: #a09e9e !important;
    --bs-btn-border-color: #2B3035 !important;

}

.selected-button {
    background-color: rgb(51, 51, 51) !important;
    color: white !important;
}

[data-bs-theme="dark"] .selected-button {
    background-color: rgb(51, 51, 51) !important;
    color: white !important;
}

.navbar {
    padding-top: env(safe-area-inset-top, 0);
    width: 100%;
    top: 0;
}

.bg-white {
    background-color: var(--bg-default) !important;
}

[data-bs-theme='dark'] .bg-white {
    background-color: var(--bs-body-bg) !important;
    ;
}

.select2-container--default .select2-selection {
    background-color: var(--bs-body-bg) !important;
    border: var(--bs-border-width) solid var(--bs-border-color) !important;
}

[data-bs-theme='dark'] .select2-container--default .select2-selection,
[data-bs-theme='dark'] .select2-container--default .select2-search--dropdown .select2-search__field,
[data-bs-theme='dark'] .select2-container--default .select2-search--inline .select2-search__field {
    background-color: var(--bs-body-bg) !important;
    border-color: rgb(73, 80, 87) !important;
    color: #adb5bd !important;
}

[data-bs-theme='dark'] .select2-container--default .select2-dropdown,
[data-bs-theme='dark'] .select2-search--dropdown,
[data-bs-theme='dark'] .select2-container--default .select2-results>.select2-results__options {
    background-color: var(--bs-body-bg) !important;
    border-color: rgb(73, 80, 87) !important;
}

[data-bs-theme='dark'] .select2-selection__rendered {
    line-height: normal !important;
    margin-bottom: 0.6em !important;
    padding: 0.6em 1.5em 0em 0.8em !important;
    vertical-align: middle !important;
    color: darkgray !important;
}

[data-bs-theme='dark'] .select2-container--default .select2-results__option[aria-selected="true"] {
    color: var(--bg-highlight) !important;
}

.select2-search__field {
    margin-top: 0 !important;
}

[data-bs-theme='dark'] .select2-search__field {
    margin-top: 0 !important;
}

[data-bs-theme='dark'] .select2-selection__choice {
    background-color: rgb(51, 51, 51) !important;
    border-color: rgb(51, 51, 51) !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/* Tab style starts here */
.tabbed-set {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;
    border-radius: 0.1rem;
}

.tabbed-set > input {
    display: none;
}

.tabbed-set label {
    width: auto;
    padding: 0.9375em 1.25em 0.78125em;
    font-weight: 700;
    font-size: 0.84em;
    white-space: nowrap;
    border-bottom: 0.15rem solid transparent;
    border-top-left-radius: 0.1rem;
    border-top-right-radius: 0.1rem;
    cursor: pointer;
    transition: background-color 250ms, color 250ms;
    color: var(--text-contrast);
}

.tabbed-set .tabbed-content {
    width: 100%;
    display: none;
    box-shadow: 0 -.05rem #ddd;
}

.tabbed-set input {
    position: absolute;
    opacity: 0;
}

.tabbed-set input:checked:nth-child(n+1) + label {
    color: var(--text-default);
    border-color: var(--text-default);
    border-width: 0.25rem;
}

@media screen {
    .tabbed-set input:nth-child(n+1):checked + label + .tabbed-content {
        order: 99;
        display: block;
    }
}

@media print {
    .tabbed-content {
        display: contents;
    }
}

.media-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    background-color: var(--bg-highlight);
}

.bg-light .media-card {
    background-color: var(--bs-body-bg) !important; /* Apply white background color */
}

table {
    max-width: 80%; /* Set max-width of table */
    margin: 0 auto; /* Center the table */
    border-collapse: collapse;
    font-size: .95em;
    background-color: var(--bg-default);
    color: var(--text-default);
}

table, th, td {
    border: 1px solid var(--text-contrast);
}

th, td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: var(--bg-highlight);
}

tbody tr:nth-child(odd) {
    background-color: var(--bg-highlight);
}

tbody tr:nth-child(even) {
    background-color: var(--bg-default);
}

tbody tr:hover {
    background-color: var(--text-contrast);
}

strong {
    color: var(--text-default);
}

em {
    font-style: italic;
    color: var(--text-contrast);
}