.select2-container .select2-selection--single {
    height: calc(1.5em + .75rem + 2px) !important;
    border: 1px solid #ced4da !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: calc(1.5em + .75rem + 2px) !important;
}

.select2-selection__choice {
    margin-bottom: .75em !important;
}

/* https://github.com/yourlabs/django-autocomplete-light/issues/1055#issuecomment-610613743  */

.add-book-work,
.add-book-role,
.add-book-instance,
.add-instance-role,
.add-work-role,
.add-issue-instance,
.add-instance-work,
.add-game-role,
.add-track-role,
.add-release-track,
.add-release-role,
.add-game-cast,
.add-movie-role,
.add-movie-cast {
    height: 38px !important;
    /* Adjust this value to your liking */
    width: 100% !important;
}

blockquote {
    font: 16px/22px normal helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 0;
    padding-left: 15px;
    border-left: 3px solid #ccc;
}

a {
    text-decoration: none;
}

p:last-child,
blockquote:last-child {
    margin-bottom: 0;
}

/* dal bootstrap css fix */
.select2-container {
    width: 100% !important;
    min-width: 10em !important;
}

.read-cover-box,
.watch-cover-box,
.game-cover-box,
.listen-cover-box {
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    /* sets the maximum width */
    background-color: #f0f0f0;
    /* light gray */
    display: inline-flex;
    /* changed from flex to inline-flex */
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 5px;
    /* creates the gray border effect */
}

.cover-image {
    max-width: 100%;
    /* the image will fit into the padded parent */
    height: auto;
}

@media screen and (max-width: 768px) {

    /* adjust '768px' according to your requirement */
    .cover-image {
        width: 75%;
        /* or any size you want on mobile */
    }
}

.no-cover-text {
    color: #888;
    /* dark gray */
    font-size: 1.2em;
}

.select2-selection__rendered {
    line-height: normal !important;
    padding: 0.6em 1.5em 0em 0.8em !important;
    vertical-align: middle !important;
}

.activity-filter.selected {
    background-color: #777777;
    color: #fff;
}

.notification-default {
    display: flex;
    flex-wrap: wrap;
}

.notification-delete {
    display: block;
}

.hover-username {
    position: relative;
}

.hover-username .username {
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 2px 2px;
    font-size: 0.8em;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -50px;
    width: 100px;
}

.hover-username:hover .username {
    display: block;
}

/* spoiler */
a[href$="/spoiler"],
a[href$="/s"] {
    position: relative;
    display: inline-block;
    color: inherit;
    line-height: 1.5;
    vertical-align: bottom;
    overflow: hidden;
}

a[href$="/spoiler"]::after,
a[href$="/s"]::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

a[href$="/spoiler"].revealed::after,
a[href$="/s"].revealed::after {
    opacity: 0;
}

a[href$="/spoiler"].revealed,
a[href$="/s"].revealed {
    color: inherit;
    text-decoration: none;
    left: 0;
    top: 0;
    height: 100%;
    background: #dddddd;
}

/* popup footnote */
sup {
    line-height: normal !important;
}

.popupnote-parent {
    position: relative;
    display: inline-block;
}

.popupnote {
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    color: #333;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 1em 0.5em;
    font-size: 1em;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 250px;
    max-width: calc(100vw - 20px);
    height: auto;
    white-space: normal;
    overflow: auto;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .popupnote {
        max-width: calc(100vw - 20px);
        left: 50%;
        transform: translateX(-50%);
    }
}

.popupnote-parent:hover .popupnote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footnote {
    display: none;
}



cite {
    font-style: normal;
    font-weight: lighter;
    font-size: 1em;
    color: darkgreen;
}

cite>a {
    color: darkgreen;
}

pre {
    padding: 1em;
}

@media (max-width: 768px) {
    .checkin-cover {
        width: 85px;
    }
}

@media (min-width: 768px) {
    .checkin-cover {
        width: 150px;
    }
}

.blur {
    filter: blur(5px);
}

p img {
    max-width: 49%;
    height: auto;
    transition: max-width 0.3s ease;
}

p:hover img {
    max-width: 100%;
}

iframe {
    max-width: 100%;
    width: 100%;
}