{% extends "base.html" %}
{% load url_filters %}
{% block title %}Discover Pins{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            {% include "discover/discover_nav.html" %}  
            {% include "discover/discover_explain.html" %}
            <!-- Pins -->
            <div class="row mt-3">
                <!-- Pins -->
                <div class="col-12">
                    <h3>Pins</h3>
                    <ol start="{{ start_index }}">
                        {% for pin in pins %}
                            <li>
                                <div class="d-flex align-items-start">
                                    <div>
                                        <a href="{% url 'write:pin_detail' pin.user.username pin.id %}">{{pin.title}}</a>
                                        <a href="{% url 'write:pins_from_url' pin.url|root_url %}" class="link-secondary text-break">({{ pin.url|root_url }})</a>
                                        <span class="d-flex">
                                            <p class="me-2 text-muted">
                                                by <a href="{% url 'accounts:detail' pin.user.username %}">{{ pin.user.display_name|default:pin.user.username }}</a>
                                            </p>
                                            <p class="me-2 text-muted">{{ pin.timestamp|timesince }} ago</p>
                                        </span>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
            {% include "discover/discover_pages.html" %}
        </div>
    </div>
</div>
{% endblock content %}