{% extends "base.html" %}
{% load url_filters %}
{% block title %}Discover{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            {% include "discover/discover_nav.html" %}

                        
            <!-- Pins -->
            <div class="row mt-3">
                <!-- Pins -->
                <div class="col-12">
                    <h3>Pins</h3>
                    <ol>
                        {% for pin in pins %}
                            <li>
                                <div class="d-flex align-items-start">
                                    <div>
                                        {% if pin.user != user %}
                                            <a href="{% url 'discover:vote' 'pin' pin.id 'up' %}" class="me-1 text-muted">▲</a><br>
                                            <a href="{% url 'discover:vote' 'pin' pin.id 'down' %}" class="me-1 text-muted">▼</a>
                                        {% endif %}
                                    </div>
                                    <div>
                                        <a href="{% url 'write:pin_detail' pin.id %}">{{pin.title}}</a>
                                        <a href="{% url 'write:pins_from_url' pin.url|root_url %}" class="link-secondary">({{ pin.url|root_url }})</a>
                                        <span class="d-flex">
                                            <p class="me-2 text-muted">{{pin.get_votes}} vote{% if pin.get_votes > 1 %}s{% endif %}</p>
                                            <p class="me-2 text-muted">
                                                by <a href="{% url 'accounts:detail' pin.user.username %}">{{ pin.user.username }}</a>
                                            </p>
                                            <p class="me-2 text-muted">{{ pin.timestamp|timesince }} ago</p>
                                        </span>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
            {% include "discover/discover_explain.html" %}
            {% include "discover/discover_pages.html" %}
        </div>
    </div>
</div>
{% endblock content %}