{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <!--left column-->
            <div class="col-12 col-md-7">
                <h1>Create Company</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Create" class="btn btn-primary">
                </form>
            </div>

            <!--right column-->
            <div class="col-12 col-md-5 right-column">
                <div class="bg-light p-3">
                    <div class="fs-4 mb-2">Import</div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="wikiUrl" class="form-label">Wikipedia URL</label>
                            <input type="text" class="form-control" id="wikiUrl" name="wiki_url" placeholder="Enter Wikipedia URL">
                            <p class="text-muted mt-1">Only pages with an infobox can be imported. The imported data may not always be accurate; please edit it accordingly.</p>
                        </div>
                        <button type="submit" class="btn btn-secondary">Import</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
