{% extends "base.html" %}
{% load markdownify %}
{% block title %}{{ object.name }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 left-column">
                <h2>
                    {{ object.name }}
                </h2>
                {% if object.other_names %}<div class="text-muted">{{ object.other_names }}</div>{% endif %}
                <span class="text-secondary">
                    {% if object.founded_date %}
                        {{ object.founded_date }}
                        {% if object.location %}(<a href="{% url 'visit:location_detail' object.location.id %}">{% if location_label %}{{ location_label }}{% else %}{{ object.location.name }}, {{ object.location.parent.name }}{% endif %}</a>){% endif %}
                        -
                    {% endif %}
                    {% if object.defunct_date %}{{ object.defunct_date }}{% endif %}
                </span>
                {% if object.notes %}
                <div class="text-muted">
                    {{ object.notes | markdownify }}
                </div>
                {% endif %}
                <!-- read -->
                {% if object.books.count != 0 or object.audiobooks.count != 0%}
                <div class="row mt-3">
                    <div class="mb-0 fs-4">As Book Publisher</div>
                    {% if object.books.count != 0 %}
                    <div class="col-md-6 mt-2">
                        <div class="fs-5">Books</div>
                        <ul>
                            {% for book in object.books.all %}
                                <li>
                                    <a href="{% url 'read:book_detail' book.pk %}">{{ book.title }}</a> 
                                    ({% if book.format %}{{ book.format }},{% endif %}
                                    {{ book.publication_date }})
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}                    
    
                    {% if object.audiobooks.count != 0 %}
                    <div class="col-md-6 mt-2">
                        <div class="fs-5">Audiobooks</div>
                        <ul>
                            {% for audiobook in object.audiobooks.all %}
                                <li>
                                    <a href="{% url 'listen:audiobook_detail' audiobook.pk %}">{{ audiobook.title }}</a>
                                    ({{ audiobook.release_date }})
                                </li>
                            {% empty %}
                                <li>This publisher has no audiobooks.</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
                <!-- watch 1-->
                {% if movies_as_production_company or  series_as_production_company%}
                <div class="row mt-3">
                    <div class="mb-0 fs-4">As Production Company</div>
                    {% if movies_as_production_company.count != 0 %}
                    <div class="col-md-6 mt-2">
                        <div class="fs-5">Movies</div>
                        <ul>
                            {% for movie in movies_as_production_company %}
                                <li>
                                    <a href="{% url 'watch:movie_detail' movie.pk %}">{{ movie.title }}</a> 
                                    ({{ movie.earliest_release_date }})
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}                    
    
                    {% if series_as_production_company.count != 0 %}
                    <div class="col-md-6 mt-2">
                        <div class="fs-5">Series</div>
                        <ul>
                            {% for serie in series_as_production_company %}
                                <li>
                                    <a href="{% url 'watch:series_detail' serie.pk %}">{{ serie.title }}</a>
                                    ({{ serie.release_date }})
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
                {% endif %}

                {% if movies_as_distributor or  series_as_distributor%}
                <div class="row mt-3">
                    <div class="mb-0 fs-4">As Distribution Company</div>
                    {% if movies_as_distributor.count != 0 %}
                    <div class="col-md-6 mt-2">
                        <div class="fs-5">Movies</div>
                        <ul>
                            {% for movie in movies_as_distributor %}
                                <li>
                                    <a href="{% url 'watch:movie_detail' movie.pk %}">{{ movie.title }}</a> 
                                    ({{ movie.earliest_release_date }})
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}                    
    
                    {% if series_as_distributor.count != 0 %}
                    <div class="col-md-6 mt-2">
                        <div class="fs-5">Series</div>
                        <ul>
                            {% for serie in series_as_distributor %}
                                <li>
                                    <a href="{% url 'watch:series_detail' serie.pk %}">{{ serie.title }}</a>
                                    ({{ serie.release_date }})
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
                {% endif %}

                <!-- listen 1-->
                {% if singles or EPs or LPs or boxsets %}
                <div class="row mt-3">
                    <div class="mb-0 fs-4">As Record Label</div>
                    {% if singles or EPs %}
                    <div class="row">
                        {% if singles.count != 0 %}
                        <div class="col-md-6 mt-2">
                            <div class="fs-5">Singles</div>
                            <ul>
                                {% for single in singles.all %}
                                    <li>
                                        <a href="{% url 'listen:release_detail' single.pk %}">{{ single.title }}</a> 
                                        ({{ single.release_date }})
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}                    
        
                        {% if EPs.count != 0 %}
                        <div class="col-md-6 mt-2">
                            <div class="fs-5">EPs</div>
                            <ul>
                                {% for EP in EPs.all %}
                                    <li>
                                        <a href="{% url 'listen:release_detail' EP.pk %}">{{ EP.title }}</a> 
                                        ({{ EP.release_date }})
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %} 
                    </div>
                    {% endif %}
                    {% if LPs or boxsets %}
                    <!-- listen 2-->
                    <div class="row">
                        {% if LPs.count != 0 %}
                        <div class="col-md-6 mt-2">
                            <div class="fs-5">LPs</div>
                            <ul>
                                {% for LP in LPs.all %}
                                    <li>
                                        <a href="{% url 'listen:release_detail' LP.pk %}">{{ LP.title }}</a> 
                                        ({{ LP.release_date }})
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}                    
        
                        {% if boxsets.count != 0 %}
                        <div class="col-md-6 mt-2">
                            <div class="fs-5">Box Sets</div>
                            <ul>
                                {% for boxset in boxsets.all %}
                                    <li>
                                        <a href="{% url 'listen:release_detail' boxset.pk %}">{{ boxset.title }}</a> 
                                        ({{ boxset.release_date }})
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %} 
                    </div>
                    {% endif %}
                </div>
                {% endif %}
                <!-- play -->
                {% if games_as_developer or games_as_publisher%}
                <div class="row mt-3">
                    {% if games_as_developer.count != 0 %}
                    <div class="col-md-6">
                        <div class="fs-5">As Game Developer</div>
                        <ul>
                            {% for game in games_as_developer %}
                                <li>
                                    <a href="{% url 'play:game_detail' game.id %}">{{ game.title }}</a>
                                    ({% for platform in game.platforms.all %}{{ platform }}{% if not forloop.last %}/{% endif %}{% endfor %},
                                    {% if game.earliest_release_date %}{{ game.earliest_release_date }}{% endif %})
                                </li>
                            {% empty %}
                                <li>This company has not developed any games.</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}   
                    {% if games_as_publisher.count != 0 %}
                    <div class="col-md-6">
                        <div class="fs-5">As Game Publisher</div>
                        <ul>
                            {% for game in games_as_publisher %}
                                <li>
                                    <a href="{% url 'play:game_detail' game.id %}">{{ game.title }}</a>
                                    ({% for platform in game.platforms.all %}{{ platform }}{% if not forloop.last %}/{% endif %}{% endfor %},
                                    {% if game.earliest_release_date %}{{ game.earliest_release_date }}{% endif %})
                                </li>
                            {% empty %}
                                <li>This company has not published any games.</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}                 
                </div>
                {% endif %}
            </div>
            <!-- manage entry -->
            <div class="d-flex flex-column col-sm-4">
                {% if user.is_authenticated and not object.locked%}
                <div class="bg-light p-3 mb-3 order-2 order-sm-1">
                    <a href="{% url 'entity:company_update' object.pk %}"
                           class='fs-6 text-secondary'>Edit Company</a>
                </div>
                {% endif %}

                {% if object.parent or object.children.exist or object.successor or object.predecessor.exist %}
                <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                    <div class="fs-5">Relationship</div>
                    {% if object.parent %}
                    <div>
                        <span class="text-muted">Parent:</span>
                        <a href="{% url 'entity:company_detail' object.parent.id %}">{{ object.parent.name }}</a>
                    </div>
                    {% endif %}
                    {% if object.children.count != 0 %}
                    <div>
                        {% if object.children.count == 1 %}
                            <span class="text-muted">Child:</span>
                        {% else %}
                            <span class="text-muted">Children:</span>
                        {% endif %}
                        {% for child in object.children.all %}
                            <a href="{% url 'entity:company_detail' child.id %}">{{ child.name }}</a>
                            {% if not forloop.last %} / {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}                    
                    {% if object.successor %}
                    <div>
                        <span class="text-muted">Successor:</span>
                        <a href="{% url 'entity:company_detail' object.successor.id %}">{{ object.successor.name }}</a>
                    </div>      
                    {% endif %}  
                    {% if object.predecessor.count != 0 %}
                    <div>
                        <span class="text-muted">Predecessors:</span>
                        {% for predecessor in object.predecessor.all %}
                            <a href="{% url 'entity:company_detail' predecessor.id %}">{{ predecessor.name }}</a>
                            {% if not forloop.last %} / {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}             
                </div>
                {% endif %}

                {% if object.wikipedia or object.website %}
                <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                    <div class="fs-5">Link</div>
                    {% if object.wikipedia %}
                        <div>
                            <a href="{{ object.wikipedia }}" target="_blank">Wikipedia</a>
                        </div>
                    {% endif %}
                    {% if object.website %}
                        <div>
                            <a href="{{ object.website }}" target="_blank">Official Website</a>
                        </div>
                    {% endif %}
                </div>
                {% endif %}

                <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                    <div class="d-flex justify-content-start align-items-center flex-wrap">
                        <div class="me-1 fs-5">Contributors</div>
                        <div>(<a href="{% url 'entity:company_history' object.pk %}" class="fs-6 text-secondary">Changelog</a>)</div>
                    </div>
                    <div>
                        {% for contributor in contributors %}
                            <span>
                                <a href="{% url 'accounts:detail' contributor.username %}">
                                    {% if contributor == contributors.0 %}
                                        <b>         
                                            {{ contributor.display_name|default:contributor.username }}
                                        </b>
                                    {% else %}
                                        {{ contributor.display_name|default:contributor.username }}
                                    {% endif %}
                                </a>
                            </span>
                            {% if not forloop.last %} / {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
