{% extends "base.html" %}
{% load markdownify %}
{% block title %}{{ object.name }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <!--meta-->
            <div class="col-12 col-md-8">
                <span class='d-flex align-items-start'>
                    <h2>{{ object.name }}</h2>
                </span>
                <!--Other names in muted text in a line-->
                {% if object.other_names %}<div class="text-muted">{{ object.other_names }}</div>{% endif %}
                <span class="text-secondary">
                    {% if object.birth_date %}
                        {{ object.birth_date }}
                        {% if object.birth_location %}(<a href="{% url 'visit:location_detail' object.birth_location.id %}">{{ object.birth_location.name }}, {{ object.birth_location.parent.name }}</a>){% endif %}
                        -
                    {% endif %}
                    {% if object.death_date %}{{ object.death_date }}{% endif %}
                    {% if object.death_location %}(<a href="{% url 'visit:location_detail' object.death_location.id %}">{{ object.death_location.name }}, {{ object.death_location.parent.name }}</a>){% endif %}
                </span>
                {% if object.notes %}
                <div class="text-muted">
                    {{ object.notes | markdownify }}
                </div>
                {% endif %}
                <!--Read-->
                {% if lit_works or books_as_author or books_as_translator or books_as_editor or books_as_annotator or books_as_introduction or books_as_forword or books_as_afterword or audiobook_as_narrator %}
                    <h3 class="mt-2">Bibliography</h3>
                    {% if lit_works %}
                        <div class="row">
                            <div class="col-12">
                                <div class="fs-4">Works</div>
                                <ul>
                                    {% for work in lit_works %}
                                        <li>
                                            <a href="{% url 'read:work_detail' work.pk %}">{{ work.title }}</a> ({{work.get_work_type_display}}, {{ work.publication_date }})
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    {% if books_as_author or books_as_translator or books_as_editor or books_as_annotator or books_as_introduction or books_as_forword or books_as_afterword or audiobook_as_narrator %}
                        <div class="row">
                            <div class="fs-4">Books</div>
                            {% if books_as_author %}
                                <div class="col-md-6">
                                    <div class="fs-5">As Author</div>
                                    <ul>
                                        {% for item in books_as_author %}
                                            <li>
                                                {% if item.model_name == "Instance" %}
                                                    <a href="{% url 'read:instance_detail' item.pk %}">{{ item.title }}</a> ({{ item.publication_date }})
                                                {% elif item.model_name == "Book" %}
                                                    <a href="{% url 'read:book_detail' item.pk %}">{{ item.title }}</a> ({% if item.format %}{{item.format}}, {% endif %}{{ item.publication_date }})
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if books_as_translator %}
                                <div class="col-md-6">
                                    <div class="fs-5">As Translator</div>
                                    <ul>
                                        {% for item in books_as_translator %}
                                            <li>
                                                {% if item.model_name == "Instance" %}
                                                    <a href="{% url 'read:instance_detail' item.pk %}">{{ item.title }}</a> ({{ item.publication_date }})
                                                {% elif item.model_name == "Book" %}
                                                    <a href="{% url 'read:book_detail' item.pk %}">{{ item.title }}</a> ({{ item.publication_date }})
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if books_as_introduction %}
                                <div class="col-md-6">
                                    <div class="fs-5">Introduction</div>
                                    <ul>
                                        {% for item in books_as_introduction %}
                                            <li>
                                                {% if item.model_name == "Instance" %}
                                                    <a href="{% url 'read:instance_detail' item.pk %}">{{ item.title }}</a> ({{ item.publication_date }})
                                                {% elif item.model_name == "Book" %}
                                                    <a href="{% url 'read:book_detail' item.pk %}">{{ item.title }}</a> ({{ item.publication_date }})
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if books_as_foreword %}
                                <div class="col-md-6">
                                    <div class="fs-5">Foreword</div>
                                    <ul>
                                        {% for item in books_as_foreword %}
                                            <li>
                                                {% if item.model_name == "Instance" %}
                                                    <a href="{% url 'read:instance_detail' item.pk %}">{{ item.title }}</a> ({{ item.publication_date }})
                                                {% elif item.model_name == "Book" %}
                                                    <a href="{% url 'read:book_detail' item.pk %}">{{ item.title }}</a> ({{ item.publication_date }})
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if books_as_afterword %}
                                <div class="col-md-6">
                                    <div class="fs-5">Afterword</div>
                                    <ul>
                                        {% for item in books_as_afterword %}
                                            <li>
                                                {% if item.model_name == "Instance" %}
                                                    <a href="{% url 'read:instance_detail' item.pk %}">{{ item.title }}</a> ({{ item.publication_date }})
                                                {% elif item.model_name == "Book" %}
                                                    <a href="{% url 'read:book_detail' item.pk %}">{{ item.title }}</a> ({{ item.publication_date }})
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if books_as_editor %}
                                <div class="col-md-6">
                                    <div class="fs-5">As Editor</div>
                                    <ul>
                                        {% for item in books_as_editor %}
                                            <li>
                                                {% if item.model_name == "Instance" %}
                                                    <a href="{% url 'read:instance_detail' item.pk %}">{{ item.title }}</a> ({{ item.publication_date }})
                                                {% elif item.model_name == "Book" %}
                                                    <a href="{% url 'read:book_detail' item.pk %}">{{ item.title }}</a> ({{ item.publication_date }})
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if books_as_annotator %}
                                <div class="col-md-6">
                                    <div class="fs-5">As Annotator</div>
                                    <ul>
                                        {% for item in books_as_annotator %}
                                            <li>
                                                {% if item.model_name == "Instance" %}
                                                    <a href="{% url 'read:instance_detail' item.pk %}">{{ item.title }}</a> ({{ item.publication_date }})
                                                {% elif item.model_name == "Book" %}
                                                    <a href="{% url 'read:book_detail' item.pk %}">{{ item.title }}</a> ({{ item.publication_date }})
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if audiobook_as_narrator %}
                                <div class="col-md-6">
                                    <div class="fs-4">As Narrator</div>
                                    {% for item in audiobook_as_narrator %}
                                        <li>
                                            <a href="{% url 'listen:audiobook_detail' item.pk %}">{{ item.title }}</a> ({{ item.release_date }})
                                        </li>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
                <!--Listen-->
                {% if LPs_as_performer or EPs_as_performer or singles_as_performer or works_as_lyricist or works_as_composer or tracks_as_singer or  tracks_as_arranger or tracks_as_producer or releases_as_liner_notes_writer or releases_as_compiler %}
                    <h3 class="mt-2">Discography</h3>
                    {% if LPs_as_performer or EPs_as_performer or singles_as_performer %}
                        <div class="row">
                            {% if singles_as_performer %}
                                <div class="col-md-4 mt-2">
                                    <div class="fs-4">Single</div>
                                    <ul>
                                        {% for single in singles_as_performer %}
                                            <li>
                                                {% if single.release_group.exists %}
                                                    <a href="{% url 'listen:releasegroup_detail' single.release_group.first.id %}">{{ single.title }}</a>
                                                {% else %}
                                                    <a href="{% url 'listen:release_detail' single.pk %}">{{ single.title }}</a>
                                                {% endif %}
                                                ({{ single.release_date }})
                                            </li>
                                        {% empty %}
                                            <li>This person has no singles.</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if EPs_as_performer %}
                                <div class="col-md-4 mt-2">
                                    <div class="fs-4">EP</div>
                                    <ul>
                                        {% for ep in EPs_as_performer %}
                                            <li>
                                                {% if ep.release_group.exists %}
                                                    <a href="{% url 'listen:releasegroup_detail' ep.release_group.first.id %}">{{ ep.title }}</a>
                                                {% else %}
                                                    <a href="{% url 'listen:release_detail' ep.pk %}">{{ ep.title }}</a>
                                                {% endif %}
                                                ({{ ep.release_date }})
                                            </li>
                                        {% empty %}
                                            <li>This person has no EPs.</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if LPs_as_performer %}
                                <div class="col-md-4 mt-2">
                                    <div class="fs-4">LP</div>
                                    <ul>
                                        {% for lp in LPs_as_performer %}
                                            <li>
                                                {% if lp.release_group.exists %}
                                                    <a href="{% url 'listen:releasegroup_detail' lp.release_group.first.id %}">{{ lp.title }}</a>
                                                {% else %}
                                                    <a href="{% url 'listen:release_detail' lp.pk %}">{{ lp.title }}</a>
                                                {% endif %}
                                                ({{ lp.release_date }})
                                            </li>
                                        {% empty %}
                                            <li>This person has no LPs.</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                
                    {% if works_as_lyricist or works_as_composer %}
                        <div class='row'>
                            <div class="mt-2 fs-4">Works</div>
                            {% if works_as_lyricist.count != 0 %}
                                <div class="col-md-4">
                                    <div class="fs-5">As Lyricist</div>
                                    <ul>
                                        {% for work in works_as_lyricist %}
                                            <li>
                                                <a href="{% url 'listen:work_detail' work.pk %}">{{ work.title }}</a> ({{ work.release_date }})
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %} 
                            {% if works_as_composer.count != 0 %}
                                <div class="col-md-4">
                                    <div class="fs-5">As Composer</div>
                                    <ul>
                                        {% for work in works_as_composer %}
                                            <li>
                                                <a href="{% url 'listen:work_detail' work.pk %}">{{ work.title }}</a> ({{ work.release_date }})
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if tracks_as_singer or  tracks_as_arranger or tracks_as_producer %}
                        <div class="row">
                            <div class="fs-4">Tracks</div>
                            {% if tracks_as_singer.count != 0 %}
                                <div class="col-md-4">
                                    <div class="fs-5">As Singer</div>
                                    <ul>
                                        {% for track in tracks_as_singer %}
                                            <li>
                                                <a href="{% url 'listen:track_detail' track.pk %}">{{ track.title }}</a> ({{ track.release_date }})
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if tracks_as_arranger.count != 0 %}
                                <div class="col-md-4">
                                    <div class="fs-5">As Arranger</div>
                                    <ul>
                                        {% for track in tracks_as_arranger %}
                                            <li>
                                                <a href="{% url 'listen:track_detail' track.pk %}">{{ track.title }}</a> ({{ track.release_date }})
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if tracks_as_producer.count != 0 %}
                                <div class="col-md-4">
                                    <div class="fs-5">As Producer</div>
                                    <ul>
                                        {% for track in tracks_as_producer %}
                                            <li>
                                                <a href="{% url 'listen:track_detail' track.pk %}">{{ track.title }}</a> ({{ track.release_date }})
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if releases_as_liner_notes_writer or releases_as_compiler %}
                        <div class="row">
                            <div class="fs-4">Releases</div>
                            {% if releases_as_liner_notes_writer %}
                                <div class="col-md-4">
                                    <div class="fs-5">Liner Notes</div>
                                    <ul>
                                        {% for release in releases_as_liner_notes_writer %}
                                            <li>
                                                <a href="{% url 'listen:release_detail' release.pk %}">{{ release.title }}</a> ({{ release.release_date }})
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}

                            {% if releases_as_compiler %}
                                <div class="col-md-42">
                                    <div class="fs-5">As Compiler</div>
                                    <ul>
                                        {% for release in releases_as_compiler %}
                                            <li>
                                                {% if release.release_group.exists %}
                                                    <a href="{% url 'listen:releasegroup_detail' release.release_group.first.id %}">{{ release.title }}</a>
                                                {% else %}
                                                    <a href="{% url 'listen:release_detail' release.pk %}">{{ release.title }}</a>
                                                {% endif %}
                                                ({{ release.release_date }})
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
                <!--Watch-->
                {% if movies or series or movies_as_director or series_as_director or movies_as_writer or series_as_writer %}
                    <h3 class="mt-2">Filmography</h3>
                    <div class="row">
                        <!--As cast-->
                        {% if movies.count != 0 or series.count != 0 %}
                            <div class="mt-2 fs-4">As Cast</div>
                            {% if movies.count != 0 %}
                                <div class="col-md-6">
                                    <div class="fs-5">Movies</div>
                                    <ul>
                                        {% for movie in movies %}
                                            <li>
                                                <a href="{% url 'watch:movie_detail' movie.id %}">{{ movie.title }}</a> ({{ movie.earliest_release_date }})
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if series.count != 0 %}
                                <div class="col-md-6">
                                    <div class="fs-5">Series</div>
                                    <ul>
                                        {% for serie in series %}
                                            <li>
                                                <a href="{% url 'watch:series_detail' serie.id %}">{{ serie.title }}</a> ({{ serie.release_date }}) <span class="text-muted">({{ serie.episode_count }} episodes)</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endif %}
                        <!--As Director-->
                        {% if movies_as_director.count != 0 or series_as_director %}
                            <div class="fs-4">As Director</div>
                            {% if movies_as_director.count != 0 %}
                                <div class="col-md-6">
                                    <div class="fs-5">Movies</div>
                                    <ul>
                                        {% for movie in movies_as_director %}
                                            <li>
                                                <a href="{% url 'watch:movie_detail' movie.id %}">{{ movie.title }}</a> ({{ movie.earliest_release_date }})
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if series_as_director %}
                                <div class="col-md-6">
                                    <div class="fs-5">Series</div>
                                    <ul>
                                        {% for entry in series_as_director %}
                                            <li>
                                                <a href="{% url 'watch:series_detail' entry.series.id %}">{{ entry.series.title }}</a> ({{ entry.series.release_date }})
                                                {% if entry.episode_count %}<span class="text-muted">({{ entry.episode_count }} episodes)</span>{% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endif %}
                        <!--As Screenwriter-->
                        {% if movies_as_writer.count != 0 or series_as_writer %}
                            <div class="fs-4">As Screenwriter</div>
                            {% if movies_as_writer.count != 0 %}
                                <div class="col-md-6">
                                    <div class="fs-5">Movies</div>
                                    <ul>
                                        {% for movie in movies_as_writer %}
                                            <li>
                                                <a href="{% url 'watch:movie_detail' movie.id %}">{{ movie.title }}</a> ({{ movie.earliest_release_date }})
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if series_as_writer %}
                                <div class="col-md-6">
                                    <div class="fs-5">Series</div>
                                    <ul>
                                        {% for entry in series_as_writer %}
                                            <li>
                                                <a href="{% url 'watch:series_detail' entry.series.id %}">{{ entry.series.title }}</a> ({{ entry.series.release_date }})
                                                {% if entry.episode_count %}({{ entry.episode_count }} episodes){% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}
                <!--Play-->
                {% if games_as_writer or games_as_artist or games_as_musician or games_as_producer or games_as_director or games_as_designer or games_as_programmer or games_as_cast%}
                    <h3 class="mt-2">Gameography</h3>
                    <div class="row">
                        {% if games_as_writer %}
                        <div class="col-sm-6">
                            <div class="fs-4">As Writer</div>
                            <ul>
                                {% for item in games_as_writer %}
                                <li>
                                    {% if item.model_name == "GameWork" %}
                                        <!-- This is a GameWork -->
                                        <a href="{% url 'play:work_detail' item.pk %}">{{ item.title }}</a> ({{ item.first_release_date }})
                                    {% else %}
                                        <!-- This is a Game -->
                                        <a href="{% url 'play:game_detail' item.pk %}">{{ item.title }}</a> ({{ item.region_release_dates.first.release_date }})
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        {% if games_as_artist %}
                        <div class="col-sm-6">
                            <div class="fs-4">As Artist</div>
                            <ul>
                                {% for item in games_as_artist %}
                                <li>
                                    {% if item.model_name == "GameWork" %}
                                        <!-- This is a GameWork -->
                                        <a href="{% url 'play:work_detail' item.pk %}">{{ item.title }}</a> ({{ item.first_release_date }})
                                    {% else %}
                                        <!-- This is a Game -->
                                        <a href="{% url 'play:game_detail' item.pk %}">{{ item.title }}</a> ({{ item.region_release_dates.first.release_date }})
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        {% if games_as_musician %}
                        <div class="col-sm-6">
                            <div class="fs-4">As Musician</div>
                            <ul>
                                {% for item in games_as_musician %}
                                <li>
                                    {% if item.model_name == "GameWork" %}
                                        <!-- This is a GameWork -->
                                        <a href="{% url 'play:work_detail' item.pk %}">{{ item.title }}</a> ({{ item.first_release_date }})
                                    {% else %}
                                        <!-- This is a Game -->
                                        <a href="{% url 'play:game_detail' item.pk %}">{{ item.title }}</a> ({{ item.region_release_dates.first.release_date }})
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        {% if games_as_producer %}
                        <div class="col-sm-6">
                            <div class="fs-4">As Producer</div>
                            <ul>
                                {% for item in games_as_producer %}
                                <li>
                                    {% if item.model_name == "GameWork" %}
                                        <!-- This is a GameWork -->
                                        <a href="{% url 'play:work_detail' item.pk %}">{{ item.title }}</a> ({{ item.first_release_date }})
                                    {% else %}
                                        <!-- This is a Game -->
                                        <a href="{% url 'play:game_detail' item.pk %}">{{ item.title }}</a> ({{ item.region_release_dates.first.release_date }})
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        {% if games_as_director %}
                        <div class="col-sm-6">
                            <div class="fs-4">As Diretor</div>
                            <ul>
                                {% for item in games_as_director %}
                                <li>
                                    {% if item.model_name == "GameWork" %}
                                        <!-- This is a GameWork -->
                                        <a href="{% url 'play:work_detail' item.pk %}">{{ item.title }}</a> ({{ item.first_release_date }})
                                    {% else %}
                                        <!-- This is a Game -->
                                        <a href="{% url 'play:game_detail' item.pk %}">{{ item.title }}</a> ({{ item.region_release_dates.first.release_date }})
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        {% if games_as_designer %}
                        <div class="col-sm-6">
                            <div class="fs-4">As Designer</div>
                            <ul>
                                {% for item in games_as_designer %}
                                <li>
                                    {% if item.model_name == "GameWork" %}
                                        <!-- This is a GameWork -->
                                        <a href="{% url 'play:work_detail' item.pk %}">{{ item.title }}</a> ({{ item.first_release_date }})
                                    {% else %}
                                        <!-- This is a Game -->
                                        <a href="{% url 'play:game_detail' item.pk %}">{{ item.title }}</a> ({{ item.region_release_dates.first.release_date }})
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        {% if games_as_programmer %}
                        <div class="col-sm-6">
                            <div class="fs-4">As Programmer</div>
                            <ul>
                                {% for item in games_as_programmer %}
                                <li>
                                    {% if item.model_name == "GameWork" %}
                                        <!-- This is a GameWork -->
                                        <a href="{% url 'play:work_detail' item.pk %}">{{ item.title }}</a> ({{ item.first_release_date }})
                                    {% else %}
                                        <!-- This is a Game -->
                                        <a href="{% url 'play:game_detail' item.pk %}">{{ item.title }}</a> ({{ item.region_release_dates.first.release_date }})
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        {% if games_as_cast %}
                        <div class="col-sm-6">
                            <div class="fs-4">As Cast</div>
                            <ul>
                                {% for game in games_as_cast %}
                                    <li>
                                        <a href="{% url 'play:game_detail' game.pk %}">{{ game.title }}</a> ({{ game.earliest_release_date }})
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <!--manage entry-->
            <div class="d-flex flex-column col-12 col-md-4 ">
                {% if user.is_authenticated and not object.locked %}
                    <div class="bg-light p-3 mb-3 order-2 order-sm-1">
                        <a href="{% url 'entity:creator_update' object.pk %}"
                           class='fs-6 text-secondary'>Edit Creator</a>
                    </div>
                {% endif %}
                {% if object.wikipedia or object.website%}
                <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                    <div class="fs-5">Link</div>
                    {% if object.wikipedia %}
                        <div>
                            <a href="{{ object.wikipedia }}" target="_blank">Wikipedia</a>
                        </div>
                    {% endif %}
                    {% if object.website %}
                        <div>
                            <a href="{{ object.website }}" target="_blank">Official Website</a>
                        </div>
                    {% endif %}
                </div>
                {% endif %}

                <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                    <div class="fs-5">Statistics</div>
                    {% if litworks_count != 0 or litinstances_count != 0 or books_count != 0 %}
                    <div class="mt-2">
                        <div class="fs-6">Read</div>
                        {% if litworks_count != 0 %}
                        <div>
                            <span class="text-muted">Works</span>: {{ litworks_count }}
                        </div>
                        {% endif %}
                        {% if litinstances_count != 0 %}
                        <div>
                            <span class="text-muted">Instances</span>: {{ litinstances_count }}
                        </div>
                        {% endif %}
                        {% if books_count != 0 %}
                        <div>
                            <span class="text-muted">Books</span>: {{ books_count }}
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if movies_count != 0 or series_count != 0%}
                    <div class="mt-2">
                        <div class="fs-6">Watch</div>
                        {% if movies_count != 0 %}
                        <div>
                            <span class="text-muted">Movies</span>: {{ movies_count }}
                        </div>
                        {% endif %}
                        {% if series_count != 0 %}
                        <div>
                            <span class="text-muted">Series</span>: {{ series_count }}
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if listenworks_count != 0 or tracks_count != 0 or releases_count != 0 or audiobooks_count != 0%}
                    <div class="mt-2">
                        <div class="fs-6">Listen</div>
                        {% if listenworks_count != 0 %}
                        <div>
                            <span class="text-muted">Works</span>: {{ listenworks_count }}
                        </div>
                        {% endif %}
                        {% if tracks_count != 0 %}
                        <div>
                            <span class="text-muted">Tracks</span>: {{ tracks_count }}
                        </div>
                        {% endif %}
                        {% if releases_count != 0 %}
                        <div>
                            <span class="text-muted">Releases</span>: {{ releases_count }}
                        </div>
                        {% endif %}
                        {% if audiobooks_count != 0%}
                        <div>
                            <span class="text-muted">Audiobooks</span>: {{ audiobooks_count }}
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if games_count != 0 or games_count != 0%}
                    <div class="mt-2 order-1 order-sm-2">
                        <div class="fs-6">Play</div>
                        {% if games_count != 0 %}
                        <div>
                            <span class="text-muted">Works</span>: {{ games_count }}
                        </div>
                        {% endif %}
                        {% if games_count != 0 %}
                        <div>
                            <span class="text-muted">Games</span>: {{ games_count }}
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>

                <div class="bg-light p-3 mb-3 order-1 order-sm-2">
                    <div class="d-flex justify-content-start align-items-center flex-wrap">
                        <div class="me-1 fs-5">Contributors</div>
                        <div>(<a href="{% url 'entity:creator_history' object.pk %}" class="fs-6 text-secondary">Changelog</a>)</div>
                    </div>
                    <div>
                        {% for contributor in contributors %}
                            <span>
                                <a href="{% url 'accounts:detail' contributor.username %}">
                                    {% if contributor == contributors.0 %}
                                        <b>         
                                            {{ contributor.display_name|default:contributor.username }}
                                        </b>
                                    {% else %}
                                        {{ contributor.display_name|default:contributor.username }}
                                    {% endif %}
                                </a>
                            </span>
                            {% if not forloop.last %} / {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}