{% load static %}
{% load crispy_forms_tags %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.name|as_crispy_field }}
    {{ form.other_names|as_crispy_field }}
    {{ form.creator_type|as_crispy_field}}
    <div class="bg-light p-3 mb-2" id="person-fields">
        <strong>Person Info</strong>
        <div class="row">
            <div class="col-md-4">{{ form.birth_date|as_crispy_field}}</div>
            <div class="col-md-8">{{ form.birth_location|as_crispy_field}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">{{ form.death_date|as_crispy_field}}</div>
            <div class="col-md-8">{{ form.death_location|as_crispy_field}}</div>
        </div>
    </div> 
    <div class="bg-light p-3 mb-2" id="group-fields">
        <strong>Group Info</strong>
        <div class="row">
            <div class="col-md-4">{{ form.active_years|as_crispy_field}}</div>
            <div class="col-md-8">{{ form.origin_location|as_crispy_field}}</div>
        </div>
    </div> 
    {{ memberof.management_form|crispy }}
    <div id="memberof-formset" class="bg-light p-3 mb-2">
        <strong>Member of</strong>
        <div id="member_of">
            {% for form in memberof %}
                <div class="form-wrapper row" data-existing-record>
                    {{ form.id }}
                    {% for error in form.non_field_errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
                    <div class="col-md-4 mb-3">{{ form.group | as_crispy_field }}</div>
                    <div class="col-md-4 mb-3">{{ form.notes | as_crispy_field }}</div>
                    <div class="col-md-2 mb-3">{{ form.start_date | as_crispy_field }}</div>
                    <div class="col-md-2 mb-3">{{ form.end_date | as_crispy_field }}</div>
                </div>
            {% endfor %}
        </div>
        <button type="button" id="add-memberof-formset" class="btn btn-secondary">Add More</button>
    </div>
    {{ form.website|as_crispy_field}}
    {{ form.wikipedia|as_crispy_field }}
    {{ form.notes|as_crispy_field}}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% if form.errors %}
    <div class="alert alert-danger mt-5">
        <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}<li>{{ field }}: {{ error }}</li>{% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
<script type="text/javascript"
    src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript"
    src="{% static 'js/FormsetHandler.js' %}"></script>
<script>
    initFormset('add-memberof-formset', 'member_of');
</script>
{{ form.media }}
<script>
document.addEventListener('DOMContentLoaded', function() {
    function toggleFields() {
        var creatorType = document.getElementById('id_creator_type').value;
        var personFields = document.getElementById('person-fields');
        var groupFields = document.getElementById('group-fields');
        var memberOfFields = document.getElementById('memberof-formset');

        if (creatorType === 'person') {
            personFields.style.display = '';
            memberOfFields.style.display = '';
            groupFields.style.display = 'none';
        } else if (creatorType === 'group') {
            personFields.style.display = 'none';
            memberOfFields.style.display = 'none';
            groupFields.style.display = '';
        }
    }

    // Initial toggle on page load
    toggleFields();

    // Add change event listener to the creator_type field
    document.getElementById('id_creator_type').addEventListener('change', toggleFields);
});
</script>
