{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-7 left-column">
    
            <span class='d-flex align-items-start'>
                <h2>
                    {{ object.name }}
                    {% if object.romanized_name %} / {{ object.romanized_name }} {% endif %}
                </h2> 
                {% if user.is_authenticated %}
                <a href="{% url 'entity:person_update' object.pk %}" class='fs-6 text-secondary'>Edit Person</a>
                {% endif %}
            </span>
            <span class="text-secondary">
                {% if object.birth_date %}{{ object.birth_date }}-{% endif %}{% if object.death_date %}{{ object.death_date }}{% endif %}
            </span>
            {% if object.bio %}
                <p>{{ object.bio }}</p>
            {% endif %}

            {% if object.works.count != 0 %}
                <h3>Bibliography</h3>
                <ul>
                {% for work in works %}
                    <li>
                        {% if work.work_type == 'NO' %}
                            <a href="{% url 'read:work_detail' work.pk %}" style="font-weight: bold;">{{ work.title }}</a> ({{ work.publication_date}})
                        {% else %}
                            <a href="{% url 'read:work_detail' work.pk %}">{{ work.title }}</a> ({{ work.publication_date}})
                        {% endif %}
                    </li>
                {% empty %}
                    <li>This person has no books.</li>
                {% endfor %}
                </ul>
            {% endif %}

            {% if books %}
                <h3>Publications</h3>
                {% if books.count > 10 %}
                    {% regroup books by get_language_display as books_grouped %}
                    {% for language_books in books_grouped %}
                        <h4>{{ language_books.grouper }}</h4>
                        <div class="row">
                        {% for book in language_books.list %}
                            <div class="col-sm-3">
                                {% if book.cover %}
                                    {% if book.cover_sens %}
                                        <a href="{% url 'read:book_detail' book.pk %}">
                                            <img src="{{ book.cover.url }}" alt="{{ book.title }}" class="img-fluid blur">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'read:book_detail' book.pk %}">
                                            <img src="{{ book.cover.url }}" alt="{{ book.title }}" class="img-fluid">
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <div class="cover-placeholder" style="background: grey; width: 100%; padding-top: 100%;"></div>
                                {% endif %}
                                {% if book.publication_date %}
                                    <p class="text-center">({{ book.publication_date }})</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="row">
                    {% for book in books %}
                        <div class="col-sm-3">
                            {% if book.cover %}
                                {% if book.cover_sens %}
                                    <a href="{% url 'read:book_detail' book.pk %}">
                                        <img src="{{ book.cover.url }}" alt="{{ book.title }}" class="img-fluid blur">
                                    </a>
                                {% else %}
                                    <a href="{% url 'read:book_detail' book.pk %}">
                                        <img src="{{ book.cover.url }}" alt="{{ book.title }}" class="img-fluid">
                                    </a>
                                {% endif %}
                            {% else %}
                                <div class="cover-placeholder" style="background: grey; width: 100%; padding-top: 100%;"></div>
                            {% endif %}
                            {% if book.publication_date %}
                                <p class="text-center">({{ book.publication_date }})</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            {% endif %}

            {% if roles %}
                {% for role, entities in roles.items %}
                    <h4>As {{ role }}</h4>
                    <ul>
                    {% for entity in entities %}
                        <li><a href="{{ entity.url }}">{{ entity.title }} ({{ entity.publication_date }})</a></li>
                    {% endfor %}
                    </ul>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
